.form-label {
    font-weight: 400;
}

.appIcons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .625rem;
    width: 18.75rem;

    .appIcon {

        &.blurredIcon {
            filter: blur(.125rem);
        }

        .appBox {
            height: 5.625rem;
            width: 5.625rem;
            background: #ebebeb;
            border-radius: .625rem;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: .625rem;
            }

            .appMask {
                height: 100%;
                width: 100%;
                border-radius: .625rem;
                display: flex;
                justify-content: center;
                align-items: center;
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                background: #ebebeb;
            }

            input {
                height: 100%;
                width: 100%;
                border-radius: .625rem;
            }
        }

        p {
            margin: 5px 0 0 0;
            text-align: center;
            font-size: 12px;
            line-height: 12px;
        }
    }
}

.deviceWrapper {
    width: 308px;
}

.androidDevice {
    width: 308px;
    height: 616px;
    border-radius: 2.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 5px solid #111111;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        height: 14px;
        width: 14px;
        border-radius: 7px;
        background: #111111;
    }

    &.appScreen {
        align-items: flex-start;

        .appIcons {
            margin: 30px 0 0 0;
        }
    }

    .splashIcon {
        height: 140px;
        width: 140px;
        border-radius: 8px;
        position: relative;

        .splashMask {
            height: 100%;
            width: 100%;
            border-radius: 8px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;

            img {
                height: 100%;
                width: 100%;
                border-radius: 8px;
                object-fit: contain;
                color: #ffffff;
            }
        }

        input {
            height: 100%;
            width: 100%;
            border-radius: 8px;
            opacity: 0;
            cursor: pointer;
        }


    }
}

.iosDevice {
    width: 308px;
    height: 616px;
    border-radius: 2.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 5px solid #111111;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        height: 18px;
        width: 88px;
        border-radius: 9px;
        background: #111111;
    }

    &.appScreen {
        align-items: flex-start;

        .appIcons {
            margin: 30px 0 0 0;
        }
    }

    .splashIcon {
        height: 140px;
        width: 140px;
        border-radius: 8px;
        position: relative;

        .splashMask {
            height: 100%;
            width: 100%;
            border-radius: 8px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;

            img {
                height: 100%;
                width: 100%;
                border-radius: 8px;
                object-fit: contain;
                color: #ffffff;
            }
        }

        input {
            height: 100%;
            width: 100%;
            border-radius: 8px;
            opacity: 0;
            cursor: pointer;
        }


    }
}