<div class="brand-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Layouts</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex flex-row justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.layout.LAYOUT_LIST }}">Layouts</a>
               </li>
            </ul>
            <button class="btn btn-primary cursor-pointer fs-6" color="primary"
               routerLink="{{ appRoute.layout.ADD_LAYOUT }}" style="width: 200px;">
               Add Layouts
            </button>
         </div>
      </div>
   </div>
   <div class="row" ng>
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <!-- <div style="display: none"> {{layoutsData.length}}</div> -->
               <div class="table-responsive" *ngIf="displayTable">
                  <table datatable [dtOptions]="dtOptions"
                     class="datatable table table-borderless table-center table-row-dashed mb-0">
                     <thead class="thead">
                        <tr class="fs-7 text-uppercase">
                           <th class="text-gray-400 col-md-2">Sl No.</th>
                           <th class="text-gray-400 col-md-2">Title</th>
                           <th class="text-gray-400 col-md-2">Valid From</th>
                           <th class="text-gray-400 col-md-2">Valid To</th>
                           <th class="text-gray-400 col-md-2">Status</th>
                           <th class="text-gray-400 col-md-2">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let layout of layoutsData; let i = index">
                           <td>
                              <h2 class="table-avatar">{{ i + 1 }}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar fs-6">{{ layout?.title }}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar fs-6">{{ layout?.validFrom }}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar fs-6">{{ layout?.validTo }}</h2>
                           </td>
                           <td>
                              <ng-container *ngIf="layout?.isActive == true">
                                 <div class="active-text-view"><span class="active-text">active</span></div>
                              </ng-container>
                              <ng-container *ngIf="layout?.isActive == false">
                                 <div class="inactive-text-view"><span class="inactive-text">inactive</span></div>
                              </ng-container>
                           </td>
                           <td>
                              <a class="fs-6 h-100 cursor-pointer table-avatar text-darker"
                                 routerLink="{{ appRoute.layout.UPDATE_LAYOUT }}"
                                 [queryParams]="{ layout: layout?.slug }">
                                 <i class="bi bi-pen"></i> Edit
                              </a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
