<div class="brand-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Layouts</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex flex-row justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.layout.LAYOUT_LIST }}">Layouts</a>
               </li>
            </ul>
            <button class="btn btn-primary cursor-pointer fs-6" color="primary"
               routerLink="{{ appRoute.layout.ADD_LAYOUT }}" style="width: 200px;">
               Add Layouts
            </button>
         </div>
      </div>
   </div>
</div>