$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20BDAB40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

label,
input[type=button] {
   font-weight: normal !important;
   width: 100%;
}

.filteringWrapper {
   .filtering {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 8px;

      span {
         color: #8B909A;
         line-height: 18px;
      }

      select {
         border: 1px solid #E8E8E8;
         border-radius: 6px;
         padding: 5px;

         &:focus {
            outline: none;
         }
      }
   }

   .pagination {
      display: flex;
      align-items: center;
      justify-content: center;

      .paginationBefore,
      .paginationNext {
         height: 30px;
         width: 30px;
         border-radius: 15px;
         display: grid;
         place-items: center;
         background: $background;
         cursor: pointer;

         &.disabled {
            opacity: 0.5;
            pointer-events: none;
         }
      }

      .paginationPage {
         margin: 0 10px;
      }
   }

}

.emptyNote {
   margin: 0 0 20px 0;
   display: grid;
   place-items: center;

   .note {
      font-weight: normal;
   }
}

.table-responsive {
   border-radius: 10px;

   .common_thead {
      background: #E4E7F4;

      th {
         font-weight: 600;
         font-size: 14px;
         line-height: 15px;
         text-transform: capitalize;
         color: #000;
      }
   }

   tr {
      border-bottom: 1px solid #E8E8E8;
   }

   tbody {
      background: #ffff;
      tr {
         td {
            svg {
               cursor: pointer;
            }
         }
      }
   }
}

.btns-sx{
   position: relative;
}

.toolTip {
   position: absolute;
   
   top: 0;
   left: -100%;
   font-size: 13px;
   background: #fff;
   color: #00bdab;
   border-radius: 3px;
   padding: 5px 8px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   opacity: 0;
   pointer-events: none;
   border-radius: 4px;
   transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   -ms-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
   width: max-content;
   z-index: 100;
}

.btns-sx:hover .toolTip {
   top: -35px;
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
}