<div class="brand-page-container">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Cart</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.cart.CART_LIST }}">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top-form-container">
    <form action="" [formGroup]="cartForm">
      <div class="row align-items-end">
        <div class="col-12 col-sm-2 align-items-center justify-content-evenly  fs-5">
          <label class="col-sm-2 form-title">Customer</label>
          <div class="form-group">
            <ng-select [items]="customers" bindLabel="name" bindValue="_id" [(ngModel)]="customer"
              placeholder="--Select customer--" [multiple]=false [ngModelOptions]="{standalone: true}"
              (change)="seachCart()">
            </ng-select>
          </div>
        </div>
        <div class="col-12 col-sm-2 align-items-center justify-content-evenly fs-5">
          <label class="col-sm-2 form-title">Product</label>
          <ng-select [items]="products" bindLabel="name" bindValue="_id" [(ngModel)]="product"
            placeholder="--Select product--" [multiple]=false [ngModelOptions]="{standalone: true}"
            (change)="seachCart()">
          </ng-select>
        </div>
        <div class="col-12 col-sm-2 align-items-center justify-content-evenly">
          <label class="col-sm-2 form-title">Status</label>
          <div class="form-group">
            <select class="form-select fs-5" [formControl]="status" (change)="seachCart()">
              <option value="" disabled>-- Select status --</option>
              <option value="Ordered">Ordered</option>
              <option value="Unordered">Unrdered</option>
              <option value="Deleted">Deleted</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-2">
          <a (click)="reloadPage()" class=" btn btn-secondary fs-5 text-dark" style="width: 200px; margin-right: 20px;">
            Clear
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-borderless table-center mb-0">
              <thead class="thead mt-100">
                <tr class="fs-5">
                  <th class="text-gray-400 col-md-2">Sl No.</th>
                  <th class="text-gray-400 col-md-2">Order No.</th>
                  <th class="text-gray-400 col-md-2">Customer</th>
                  <th class="text-gray-400 col-md-2">Product</th>
                  <th class="text-gray-400 col-md-2">Quantity</th>
                  <th class="text-gray-400 col-md-2">Grand Total</th>
                  <th class="text-gray-400 col-md-2">Carrier</th>
                  <th class="text-gray-400 col-md-2">Status</th>
                  <th class="text-gray-400 col-md-2">Date</th>
                  <th class="text-gray-400 col-md-2">Purchased Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cart of carts; let i = index">
                  <td>
                    <h2 class="table-avatar">{{ i + 1 }}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar">{{ cart?.order?.id?.orderNo }}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar">{{ cart?.customer?.id?.name }} <br>{{ cart?.customer?.id?.mobile }}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar">{{ cart?.product }}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar">{{cart?.products}}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar">{{ cart?.total }}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar">{{ cart?.carrier }}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar">{{ cart?.status }}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar">{{ cart?.added }}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar">{{ cart?.purchased }}</h2>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>