<div>
  <div class="page-header d-flex align-items-start justify-content-between">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">Cart</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.cart.CART_LIST }}">Cart</a>
        </li>
      </ul>
    </div>
    <button class="btn bg-white text-primary border border-primary me-1 " (click)="exportCart()">
      Export Cart
      <svg height="18" width="18" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5">
        </path>
      </svg>
    </button>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <div class="row d-flex justify-content-end align-items-end">
        <div class="col-lg-2">
          <input type="date" class="form-control fs-6 text-dark" [formControl]="fromDate" (change)="getCarts()" />
        </div>
        <div class="col-lg-2">
          <input type="date" class="form-control fs-6 text-dark" [formControl]="toDate" (change)="getCarts()" />
        </div>
        <div class="col-lg-2">
          <select class="form-select fs-6 text-dark" [formControl]="type" (change)="getCarts()">
            <option value="" disabled>Status</option>
            <option value="0">Guest</option>
            <option value="1">Customer</option>
          </select>
        </div>
        <div class="col-lg-2">
          <input type="button" class="btn w-100 btn-secondary" value="Clear filters" (click)="clearFilter()" />
        </div>
        <div class="col-lg-4">
          <input type="text" class="form-control" placeholder="Search carts here" [formControl]="keyword"
            (ngModelChange)="getCarts()" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Products</th>
          <th>Total</th>
          <th>Date</th>
          <th>Type</th>
          <th>Source</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="fs-6">
        <ng-container *ngFor="let cart of carts; let i = index">
          <tr>
            <td>{{ cart?.customer?.name }}</td>
            <td>{{ cart?.products }}</td>
            <td>{{ cart?.total }}</td>
            <td>{{ cart?.date | date: 'hh:mm:ss dd-MM-yyyy a' }}</td>
            <td>
              <span class="guest fs-6" [ngClass]="{ customer: cart?.type == '1' }">
                {{ cart?.type == "0" ? "Guest" : "Customer" }}
              </span>
            </td>
            <td>{{cart?.source}}</td>
            <td>
              <div class="d-flex align-items-center gap-2 justify-content-start">
                <div class="ms-1 btns-sx p-2 cursor-pointer" style="border: 1px solid #E8E8E8; border-radius: 5px;"
                  (click)="openProducts(cartProducts, cart, '')">
                  <svg height="20px" width="20px" fill="none" stroke="currentColor" stroke-width="1.5"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z">
                    </path>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                  </svg>
                  <div class="toolTip">View products</div>
                </div>
                <div *ngIf="cart?.notifications?.count > 0" class="notification-flag"
                  title="{{cart?.notifications?.latest?.title}} sent on {{cart?.notifications?.latest?.sentAt}}">
                  <span class="badge bg-success rounded-pill">
                    <svg height="16px" width="16px" fill="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z">
                      </path>
                    </svg>
                    {{cart?.notifications?.count}}
                  </span>
                </div>
                <div>
                  <app-module-notification [query]="cart?.refid" [type]="'cart'" [customerId]="cart?.customer?._id"
                    (notificationTriggered)="onNotificationTriggered()"></app-module-notification>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="carts.length == 0">
          <td colspan="6">
            <app-no-results></app-no-results>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="my-4">
    <app-pagination (pageTrigger)="onPageTriggered($event)" [pageIndex]="page" [totalResults]="totalResults"
      [totalPages]="totalPages" [pageSize]="limit"></app-pagination>
  </div>
</div>

<ng-template #cartProducts>
  <div class="modal-header pb-0">
    <div class="pull-left">
      <div class="fs-3 fw-bold">Carted products</div>
      <div class="my-3 fs-5">
        <div class="fs-6 mb-2">
          Name : {{ cartDetails?.customer?.id?.name }}
        </div>
        <div class="d-flex align-items-center justify-content-start gap-2 mb-2 fs-6">
          <div>Mobile Number : </div>
          <div>
            {{ cartDetails?.customer?.id?.countryCode }}
            {{ cartDetails?.customer?.id?.mobile }}
          </div>
        </div>
        <div class="fs-6 mb-2">
          <div>Email : {{ cartDetails?.customer?.id?.email }}</div>
        </div>
        <div class="fs-6">
          <div>Total : {{ cartDetails?.formattedProductsSellingTotal }}</div>
        </div>
      </div>
    </div>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeProducts()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="cartProducts">
      <table class="table table-bordered">
        <thead>
          <th class="p-2">Product</th>
          <th class="p-2">Quantity</th>
          <th class="p-2">Total</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartDetails?.products">
            <td>
              <div class="d-flex align-items-center gap-2">
                <img src="{{base + item.product?.thumbnail}}" height="60" width="60" alt="{{item.product?.name}}">
                <div>{{item.product?.name}}</div>
              </div>
            </td>
            <td>{{item.quantity}}</td>
            <td>{{settings?.currency}} {{getTotal(item.quantity, item.product?.price?.selling)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-2 d-flex align-items-center justify-content-between">
      <div>
        <div class="alert alert-success" *ngIf="cartDetails?.coupon">
          <svg height="20px" width="20px" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z">
            </path>
          </svg>
          {{ cartDetails?.coupon?.code }} has been applied
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #notification>
  <div class="modal-header">
    <h4 class="fs-2 fw-bold pull-left">Notify {{ cart?.customer?.name }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeNotify()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group mb-3">
        <label for="title" class="form-label required">Title</label>
        <input type="text" placeholder="Title" name="title" id="title" formControlName="title" class="form-control"
          [ngClass]="{
            'is-invalid':
              (formControls.title.touched || isSubmitted) &&
              formControls.title.errors?.required
          }" />
      </div>
      <div class="form-group mb-3">
        <label for="message" class="form-label required">Message</label>
        <input type="text" placeholder="Message" name="message" id="message" formControlName="message"
          class="form-control" [ngClass]="{
            'is-invalid':
              (formControls.message.touched || isSubmitted) &&
              formControls.message.errors?.required
          }" />
      </div>
      <div class="row mb-3">
        <div class="col-lg-9 form-group">
          <label for="coupon" class="form-label">Special coupon code</label>
          <input type="text" placeholder="Coupon code" name="coupon" id="coupon" formControlName="couponCode"
            class="form-control" />
        </div>
        <div class="col-lg-3">
          <label for="create" class="form-label">&nbsp;</label>
          <input type="button" value="Create coupon" name="create" id="create" class="btn btn-dark form-control"
            (click)="openCoupon(coupon)" />
        </div>
      </div>
      <p>This coupon can be only availed by {{ cart?.customer?.name }}</p>
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-secondary" (click)="closeNotify()">
          Cancel
        </button>
        <button class="btn btn-primary" (click)="sendPush()">Continue</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #coupon>
  <div class="modal-header">
    <h4 class="fs-2 fw-bold pull-left">Coupon Details</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeCoupon()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="couponForm">
      <div class="form-group mb-3">
        <label for="title" class="form-label required">Title</label>
        <input type="text" placeholder="Title" name="title" id="title" formControlName="title" class="form-control"
          [ngClass]="{
            'is-invalid':
              (couponControls.title.touched || isInvalid) &&
              couponControls.title.errors?.required
          }" />
      </div>
      <div class="form-group mb-3">
        <label for="code" class="form-label required">Coupon code</label>
        <input type="text" placeholder="Coupon code" name="code" id="code" formControlName="code" class="form-control"
          [ngClass]="{
            'is-invalid':
              (couponControls.code.touched || isInvalid) &&
              couponControls.code.errors?.required
          }" />
      </div>
      <div class="row mb-3">
        <div class="col-lg-6 form-group">
          <label for="type" class="form-label">Type</label>
          <select class="form-select" formControlName="type" name="type" id="type" [ngClass]="{
              'is-invalid':
                (couponControls.type.touched || isInvalid) &&
                couponControls.type.errors?.required
            }">
            <option value="" disabled>-- Select an option --</option>
            <option value="percent">Percentage</option>
            <option value="amount">Fixed amount</option>
          </select>
        </div>
        <div class="col-lg-6 form-group">
          <label for="value" class="form-label">Coupon value</label>
          <input type="text" placeholder="Coupon value" name="value" id="value" formControlName="value"
            class="form-control" [ngClass]="{
              'is-invalid':
                (couponControls.value.touched || isInvalid) &&
                couponControls.value.errors?.required
            }" />
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-secondary" (click)="closeCoupon()">
          Cancel
        </button>
        <button class="btn btn-primary" (click)="addCoupon()">Continue</button>
      </div>
    </form>
  </div>
</ng-template>