<div class="category-page-container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">Products</li>
        </ul>
        <button
          class="btn btn-primary cursor-pointer"
          color="primary"
          routerLink="{{ appRoute.product.ADD_PRODUCT }}"
        >
          Add Product
        </button>
      </div>
    </div>
  </div>
</div>
