<div class="product-page-container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bold">Products</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.product.PRODUCT_LIST }}">Products</a>
          </li>
        </ul>
        <button class="btn btn-primary cursor-pointer fs-5" color="primary"
          routerLink="{{ appRoute.product.ADD_PRODUCT }}" style="width: 200px">
          Add Product
        </button>
      </div>
    </div>
  </div>
  <!-- Page Header -->
  <!-- Page Content -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div style="display: none"> {{productData.length}}</div>
          <div class="table-responsive" *ngIf="displayTable">
            <table datatable [dtOptions]="dtOptions"
              class="datatable table table-borderless table-center table-row-dashed mb-0">
              <thead class="thead mt-100">
                <tr class="fs-7 text-uppercase">
                  <th class="text-gray-400 col-md-2">Sl No.</th>
                  <th class="text-gray-400 col-md-2">SKU</th>
                  <th class="text-gray-400 col-md-2">Product</th>
                  <th class="text-gray-400 col-md-2">Type</th>
                  <th class="text-gray-400 col-md-2">Price</th>
                  <th class="text-gray-400 col-md-2">Offer Price</th>
                  <th class="text-gray-400 col-md-2">Stock</th>
                  <th class="text-gray-400 col-md-2">Image</th>
                  <th class="text-gray-400 col-md-2">Variants</th>
                  <th class="text-gray-400 col-md-2">Status</th>
                  <th class="text-gray-400 col-md-2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of productData; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <h2 class="table-avatar fs-5">{{ product?.sku }}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar fs-5">{{ product?.name }}</h2>
                  </td>
                  <td>
                    <h2 class="table-avatar fs-5">
                      <ng-container *ngIf="product?.isSingle == true">
                        <h2 class="table-avatar fw-b fs-5">
                          Single
                        </h2>
                      </ng-container>
                      <ng-container *ngIf="product?.isSingle == false">
                        <h2 class="table-avatar fw-b fs-5">
                          Configurable
                        </h2>
                      </ng-container>
                    </h2>
                  </td>
                  <td>
                    <ng-container *ngIf="product?.isSingle == true">
                      <h2 class="table-avatar fs-5">{{ product?.mrpPrice }}</h2>
                    </ng-container>
                  </td>
                  <td>
                    <ng-container *ngIf="product?.isSingle == true">
                      <h2 class="table-avatar fs-5">{{ product?.offerPrice }}</h2>
                    </ng-container>
                  </td>
                  <td>
                    <ng-container *ngIf="product?.isSingle == true">
                      <h2 class="table-avatar fs-5">{{ product?.stock }}</h2>
                    </ng-container>
                  </td>
                  <td>
                    <img class="product-logo" src="https://ccapi.previewbay.com/{{product?.file}}" alt="product" />
                  </td>
                  <td>
                    <ng-container *ngIf="product?.isSingle == false">
                      <a routerLink="{{
                          appRoute.variantProduct.VARIANT_PRODUCT_LIST
                        }}" [queryParams]="{ product: product?.slug }" class="fs-5 cursor-pointer text-darker">View</a>
                    </ng-container>
                  </td>
                  <td>
                    <ng-container *ngIf="product?.isActive == true">
                      <div class="active-text-view">
                        <span class="active-text">
                          active
                        </span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="product?.isActive == false">
                      <div class="inactive-text-view">
                        <span class="inactive-text">
                          inactive
                        </span>
                      </div>
                    </ng-container>
                  </td>
                  <td>
                    <a routerLink="{{ appRoute.product.UPDATE_PRODUCT }}" [queryParams]="{ product: product?.slug }"
                      class="fs-5 cursor-pointer text-darker">
                      Edit
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Content -->
</div>