<div class="product-page-container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Products</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.product.PRODUCT_LIST}}">Products</a>
          </li>
        </ul>
        <button
          class="btn btn-primary cursor-pointer"
          color="primary"
          routerLink="{{ appRoute.product.ADD_PRODUCT }}"
        >
        <i class="bi bi-plus-square"></i> Add Product
        </button>
      </div>
    </div>
  </div>
  <!-- Page Header -->
  <!-- Page Content -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="table table-center table-striped mb-0 datatable"
            >
              <thead class="thead">
                <tr>
                  <th class="text-dark fw-bolder fs-4">Sl No.</th>
                  <th class="text-dark fw-bolder fs-4">SKU</th>
                  <th class="text-dark fw-bolder fs-4">Product</th>
                  <th class="text-dark fw-bolder fs-4">Type</th>
                  <th class="text-dark fw-bolder fs-4">Category</th>
                  <th class="text-dark fw-bolder fs-4">Price</th>
                  <th class="text-dark fw-bolder fs-4">Stock</th>
                  <th class="text-dark fw-bolder fs-4">Image</th>
                  <th class="text-dark fw-bolder fs-4">Status</th>
                  <th class="text-dark fw-bolder fs-4">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let product of productData; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <h2 class="table-avatar fs-5">{{ product?.name }}</h2>
                  </td>
                  <ng-container *ngIf="product?.rootId">
                    <td>
                      <h2 class="table-avatar fs-5">{{ product?.rootId.name }}</h2>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="product?.parentId">
                    <td>
                      <h2 class="table-avatar fs-5">{{ product?.parentId.name }}</h2>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="!product?.rootId">
                    <td>
                      <h2 class="table-avatar fs-5">-</h2>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="!product?.parentId">
                    <td>
                      <h2 class="table-avatar fs-5">-</h2>
                    </td>
                  </ng-container>
                  <td>
                    <img
                      class="product-logo"
                      src="{{product?.logo}}"
                      alt="product Logo"
                    />
                  </td>
                  <td>
                    <a routerLink="{{ appRoute.attribute.ATTRIBUTE_LIST }}" [queryParams]="{product: product?.slug}" class="fs-5 cursor-pointer text-darker">Attributes</a>
                  </td>
                  <td>
                    <ng-container *ngIf="product?.isActive == true">
                      <h2 class="table-avatar fs-5">Active</h2>
                    </ng-container>
                  </td>
                  <td>
                    <a class="fs-5 cursor-pointer text-darker"> Edit </a>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Content -->
</div>
