<div class="forgotPasswordWrapper">
    <!-- <img class="mb-5" alt="CommerceCastle" width="160px" src="../../../assets/images/CommerceCastle.png" /> -->
    <img alt="Logo" src="../../../assets/media/logos/cc-logo.png" />
    <div class="form">
        <h2 class="fw-bolder mt-4 mb-3">Reset Password</h2>
        <form [formGroup]="form">
            <div class="row">
                <div class="mb-3">
                    <div class="form-group">
                        <input type="password" placeholder="Password" formControlName="password" name="password"
                            id="password" class="form-control" [ngClass]="{
                                'is-invalid':
                                (formControls.password.touched || isSubmitted) &&
                                formControls.password.errors?.required
                              }">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <input type="password" placeholder="Confirm password" formControlName="confirmPassword"
                            name="confirmPassword" id="confirmPassword" class="form-control" [ngClass]="{
                                'is-invalid':
                                (formControls.confirmPassword.touched || isSubmitted) &&
                                formControls.confirmPassword.errors?.required
                              }">
                    </div>
                </div>
                <div class="mt-4">
                    <button class="w-100 btn btn-primary" (click)="reset()"
                        [ngClass]="{'disabled': isDisabled}">Continue</button>
                    <button class="w-100 btn btn-link" routerLink="{{authRoute.LOGIN}}">Back to login</button>
                </div>
            </div>
        </form>
    </div>
</div>