<div class="forgotPasswordWrapper">
    <div class="form">
        <form [formGroup]="form">
            <div class="row">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" placeholder="Enter your password" formControlName="password" name="password"
                            id="password" class="form-control" [ngClass]="{
                                'is-invalid':
                                (formControls.password.touched || isSubmitted) &&
                                formControls.password.errors?.required
                              }">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="text" placeholder="Enter your password again" formControlName="confirmPassword" name="confirmPassword"
                            id="confirmPassword" class="form-control" [ngClass]="{
                                'is-invalid':
                                (formControls.confirmPassword.touched || isSubmitted) &&
                                formControls.confirmPassword.errors?.required
                              }">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary" (click)="reset()">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>