<div>
  <div class="page-header d-flex align-items-start justify-content-between">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">{{ uploadDetails && uploadDetails.title }}</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.bulk.import }}">Bulk Imports</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.bulk.import + '/' + uploadId }}">Bulk Import Details</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body fs-5">
      <div class="row">
        <div class="col-lg-4">
          <label class="fs-5 mb-1 text-muted fw-normal" for="startTime">Start Time</label>
          <div id="startTime">
            {{formatDate(uploadDetails && uploadDetails.startTime)}}
            {{formatTime(uploadDetails && uploadDetails.startTime)}}
          </div>
        </div>
        <div class="col-lg-4">
          <label class="fs-5 mb-1 text-muted fw-normal" for="endTime">End Time</label>
          <div id="endTime">
            {{uploadDetails && uploadDetails.endTime && formatDate(uploadDetails && uploadDetails.endTime)}}
            {{uploadDetails && uploadDetails.endTime && formatTime(uploadDetails && uploadDetails.endTime)}}</div>
        </div>
        <div class="col-lg-4">
          <label class="fs-5 mb-1 text-muted fw-normal" for="initiator">Initiator</label>
          <div id="initiator">
            {{uploadDetails && uploadDetails.createdBy.firstname}}
            {{uploadDetails && uploadDetails.createdBy.lastname}}</div>
        </div>
      </div>
      <div class="line-separator my-8"></div>
      <div>
        <label class="fs-5 mb-1 text-muted fw-normal" for="status">Status</label>
        <div id="status" class="bg-secondary py-1 px-3 rounded-pill">
          {{ uploadDetails && formatStatus(uploadDetails.status) }}</div>
      </div>
      <div class="line-separator my-8"></div>
      <div class="row">
        <div class="col-lg-4">
          <label class="fs-5 mb-1 text-muted fw-normal" for="totalRecords">Total Records</label>
          <div id="totalRecords">{{ uploadDetails && uploadDetails.totalRecords }}</div>
        </div>
        <!-- <div class="col-lg-4">
          <label class="fs-5 mb-1 text-muted fw-normal" for="processedRecords">Processed Records</label>
          <div id="processedRecords">{{ uploadDetails && uploadDetails.processedRecords }}</div>
        </div>
        <div class="col-lg-4">
          <label class="fs-5 mb-1 text-muted fw-normal" for="skippedRecords">Skipped Records</label>
          <div id="skippedRecords">{{ uploadDetails && uploadDetails.skippedRecords }}</div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <div class="row align-items-center fs-4">
        <div class="col-lg-2 text-muted">File</div>
        <div class="col-lg-10">
          <a class="btn btn-secondary d-flex align-items-center justify-content-center gap-2"
            href="{{ uploadDetails && uploadDetails.file }}">
            <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3">
              </path>
            </svg>
            Download File
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <div>
        <div class="col-lg-3 fs-4">Logs</div>
        <div id="logContainer" class="mt-4">
          <div *ngFor="let log of logs; let i = index" class="logMessage row"
            [ngClass]="{'error': log.level == 'error'}">
            <strong class="col-lg-1"> {{ (i + 1) }} </strong>
            <div class="col-lg-2" style="font-size: 12px;">
              {{ formatDate(log.timestamp)}} {{formatTime(log.timestamp)}} </div>
            <div class="col-lg-9" style="font-size: 13px;"> {{ log.message }}</div>
          </div>
          <div *ngIf="logs.length == 0">
            <div class="row">
              <div class="text-white"> No logs found </div>
            </div>
          </div>
        </div>
        <div>
          <app-pagination [totalResults]="totalResults" [totalPages]="totalPages" [pageIndex]="pageIndex"
            [pageSize]="pageSize" (pageTrigger)="onPageTriggered($event)">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>