.completed {
  color: #22b55d;
}

.progress{
  color: #f3bb43;
}

.awaiting {
  color: #f3bb43;
}

.failed {
  color: #d62f2f;
}

.line-separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0));
}

.btn{
  width: max-content;
  font-weight: 400 !important;
}

#logContainer {
  width: 100%;
  overflow-y: auto;
  background-color: #232f3e;
  border: 1px solid #ddd;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  font-family: monaco;
}

.logMessage {
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 24px;
  gap: 16px;

  &.error {
    color: #f83737;
  }

  strong {
    color: #879596;
    background: #293648;
    width: 60px;
  }

  .timestamp {
    color: #879596;
    background: #293648;
    width: 240px;
  }
}