<div class="form-group">
    <input type="text" placeholder="Search for categories" class="form-control" [formControl]="searchKeyword"
        (ngModelChange)="getCategories()">
    <div class="position-relative" *ngIf="categories.length > 0">
        <div class="position-absolute bg-white p-2 shadow-sm categories-wrapper">
            <ng-container *ngFor="let category of categories">
                <div (click)="categoryClicked(category)"
                    class="p-2 cursor-pointer d-flex align-items-center justify-content-start gap-3">
                    <div class="checkbox"></div>
                    <div>{{category.name}}</div>
                </div>
            </ng-container>
        </div>
        <ng-container *ngIf="categories.length == 0 && searchKeyword.value">
            <div class="my-4"> Create category <span class="cursor-pointer text-primary"
                    (click)="createCategory()">{{searchKeyword.value}}</span></div>
        </ng-container>
    </div>
</div>