<div class="coupon-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Social Media</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex align-items-start justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.socialMedia.SOCIAL_MEDIA_LIST}}">Social media links</a>
               </li>
            </ul>
            <button *ngIf="!isData" class="btn btn-primary btn-sm cursor-pointer fs-6" color="primary"
               routerLink="{{ appRoute.socialMedia.ADD_SOCIAL_MEDIA_LIST }}">
               Add
            </button>
            <button class="btn btn-primary btn-sm cursor-pointer fs-6" *ngIf="isData" color="primary"
               routerLink="{{ appRoute.socialMedia.UPDATE_SOCIAL_MEDIA_LIST }}">Edit</button>
         </div>
      </div>
   </div>
   <div class="row mt-10">
      <div class="social-card">
         <div class="social-card-title fs-6">Facebook</div>
         <div class="social-card-link">
            <a href="{{data?.facebook}}" target="_blank" class="fs-6 card-link">{{data?.facebook}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Instagram</div>
         <div class="social-card-link">
            <a href="{{data?.instagram}}" target="_blank" class="fs-6 card-link">{{data?.instagram}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Linkedin</div>
         <div class="social-card-link">
            <a href="{{data?.linkedin}}" target="_blank" class="fs-6 card-link">{{data?.linkedin}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Whatsapp</div>
         <div class="social-card-link">
            <a href="{{data?.whatsapp}}" target="_blank" class="fs-6 card-link">{{data?.whatsapp}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Twitter</div>
         <div class="social-card-link">
            <a href="{{data?.twitter}}" target="_blank" class="fs-6 card-link">{{data?.twitter}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Youtube</div>
         <div class="social-card-link">
            <a href="{{data?.youtube}}" target="_blank" class="fs-6 card-link">{{data?.youtube}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Behance</div>
         <div class="social-card-link">
            <a href="{{data?.behance}}" target="_blank" class="fs-6 card-link">{{data?.behance}}</a>
         </div>
      </div>
   </div>
</div>