<div>
   <div class="page-header d-flex align-items-start justify-content-between">
      <div>
         <div class="page-title">
            <h1 class="fw-bold">Social Media</h1>
         </div>
         <ul class="breadcrumb">
            <li class="breadcrumb-item fs-6">
               <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active fs-6">
               <a routerLink="{{ appRoute.socialMedia.SOCIAL_MEDIA_LIST}}">Social media links</a>
            </li>
         </ul>
      </div>
      <div class="gap-2 d-flex align-items-start justify-content-end">
         <button *ngIf="!isData" class="btn btn-primary" routerLink="{{ appRoute.socialMedia.ADD_SOCIAL_MEDIA_LIST }}">
            Add links
         </button>
         <button *ngIf="isData" class="btn btn-primary" routerLink="{{ appRoute.socialMedia.UPDATE_SOCIAL_MEDIA_LIST }}">
            Edit links
         </button>
      </div>
   </div>

   <div class="row my-4">
      <div class="social-card">
         <div class="social-card-title fs-6">Facebook</div>
         <div class="social-card-link">
            <a href="{{data?.facebook}}" target="_blank" class="fs-6 card-link">{{data?.facebook}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Instagram</div>
         <div class="social-card-link">
            <a href="{{data?.instagram}}" target="_blank" class="fs-6 card-link">{{data?.instagram}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Linkedin</div>
         <div class="social-card-link">
            <a href="{{data?.linkedin}}" target="_blank" class="fs-6 card-link">{{data?.linkedin}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Whatsapp</div>
         <div class="social-card-link">
            <a href="{{data?.whatsapp}}" target="_blank" class="fs-6 card-link">{{data?.whatsapp}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Tiktok</div>
         <div class="social-card-link">
            <a href="{{data?.tiktok}}" target="_blank" class="fs-6 card-link">{{data?.tiktok}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Twitter</div>
         <div class="social-card-link">
            <a href="{{data?.twitter}}" target="_blank" class="fs-6 card-link">{{data?.twitter}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Youtube</div>
         <div class="social-card-link">
            <a href="{{data?.youtube}}" target="_blank" class="fs-6 card-link">{{data?.youtube}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Pinterest</div>
         <div class="social-card-link">
            <a href="{{data?.pinterest}}" target="_blank" class="fs-6 card-link">{{data?.pinterest}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Behance</div>
         <div class="social-card-link">
            <a href="{{data?.behance}}" target="_blank" class="fs-6 card-link">{{data?.behance}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Snapchat</div>
         <div class="social-card-link">
            <a href="{{data?.snapchat}}" target="_blank" class="fs-6 card-link">{{data?.snapchat}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">App Store</div>
         <div class="social-card-link">
            <a href="{{data?.appStore}}" target="_blank" class="fs-6 card-link">{{data?.appStore}}</a>
         </div>
      </div>
      <div class="social-card">
         <div class="social-card-title fs-6">Play Store</div>
         <div class="social-card-link">
            <a href="{{data?.googlePlay}}" target="_blank" class="fs-6 card-link">{{data?.googlePlay}}</a>
         </div>
      </div>
   </div>
</div>