.btn,
label {
    font-weight: 400 !important;
}

//Table designs
.table {
    background: #ffffff;
    font-size: 15px;

    tbody {
        tr {
            td {
                vertical-align: middle;
            }
        }
    }

    thead {
        tr {
            th {
                font-weight: 400 !important;
            }
        }

        background: #E4E7F4;
    }
}

//Table designs

.sent {
    width: 90px;
    display: grid;
    place-items: center;
    color: #4CAF50;
    background: #4CAF5010;
}

.pending {
    width: 90px;
    display: grid;
    place-items: center;
    color: #FFC107;
    background: #FFC10710;
}

.failed,
.rejected {
    width: 90px;
    display: grid;
    place-items: center;
    color: #F44336;
    background: #F4433610;
}

.sms {
    width: 90px;
    display: grid;
    place-items: center;
    color: #2196F3;
    background: #2196F310;
}

.email {
    width: 90px;
    display: grid;
    place-items: center;
    color: #FF5722;
    background: #FF572210;
}

.push {
    width: 90px;
    display: grid;
    place-items: center;
    color: #9C27B0;
    background: #9C27B010;
}

.app {
    width: 90px;
    display: grid;
    place-items: center;
    color: #00BCD4;
    background: #00BCD410;
}

.instant {
    width: 90px;
    display: grid;
    place-items: center;
    color: #FF5722;
    background: #FF572210;
}

.scheduled {
    width: 90px;
    display: grid;
    place-items: center;
    color: #9C27B0;
    background: #9C27B010;
}