$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20BDAB40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

label,
input[type=button] {
  font-weight: normal !important;
}

.countsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .countWrapper {
    background: $white;
    padding: 20px 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: grid;
    place-items: center;
    border: 1px solid #E4E6EF;
  }
}

.notificationWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .notificationCard {
    padding: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background: $white;
    cursor: pointer;
    position: relative;

    .notificationStatus {
      position: absolute;
      content: '';
      top: 10px;
      right: 10px;
      background: $activeBackground;
      color: $activeState;
      padding: 5px;
      border-radius: 5px;
    }

    .imageWrapper {
      height: 80px;
      width: 80px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.filteringWrapper {
  .filtering {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    span {
      color: #8B909A;
      line-height: 18px;
    }

    select {
      border: 1px solid #E8E8E8;
      border-radius: 6px;
      padding: 5px;

      &:focus {
        outline: none;
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    .paginationBefore,
    .paginationNext {
      height: 30px;
      width: 30px;
      border-radius: 15px;
      display: grid;
      place-items: center;
      background: $background;
      cursor: pointer;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .paginationPage {
      margin: 0 10px;
    }
  }
}