.page-settings-container{
   margin: 50px 0 0 0;
}

.page-settings-view-card {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.page-settings {
   width: 48%;
   align-items: center;
   justify-content: flex-start;
  margin: 10px 4px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 10px;
}

.page-settings-details {
   display: flex;
   align-content: center;
   justify-content: flex-start;
   align-items: center;
}

.page-settings-title{
   margin: 20px 0 10px 0;
}

.page-settings-name{
   margin: 0 0 0 10px;
}