@import "../../../../assets/sass/branding";

.switch-box {
    height: 1.5rem;
    width: 2.3125rem;
    border-radius: 3.125rem;
    background: #D9D9D9;
    position: relative;
    transition: 0.3s all ease-in-out;

    &.on-state {
        background: var(--brand-primary, var(--brand-primary, #00BDAB));
    }

    .switch-off {
        position: absolute;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: .125rem;
        background: #ffffff;
    }

    .switch-on {
        position: absolute;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        right: .125rem;
        background: #ffffff;
    }
}