<div class="testimonials-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Testimonials</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex flex-row justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.testimonial.TESTIMONIAL_LIST}}">Testimonials</a>
               </li>
            </ul>
            <button class="btn btn-primary btn-sm cursor-pointer fs-6" color="primary" style="width: 200px"
               routerLink="{{ appRoute.testimonial.ADD_TESTIMONIAL }}">
               Add Testimonial
            </button>
         </div>
      </div>
   </div>
   <div class="testimonials-container">
      <div style="display: none;">{{testimonialsData.length}}</div>
      <ng-container *ngFor="let testimonial of testimonialsData">
         <div class="testimonial-card {{testimonial?.isActive}}">
            <div class="person">
               <div class="person-image"><img src="http://localhost:3000/{{testimonial?.file}}" alt=""></div>
               <div class=" person-name">{{testimonial?.name}}</div>
            </div>
            <div class="testimonial">
               <div class="person-message">{{testimonial?.message}}</div>
            </div>
            <div class="person-profession">{{testimonial?.details?.profession}}</div>
            <div class="person-details">
               <div class="person-firm">{{testimonial?.details?.firmName}}</div>
               <div class="person-firm">,</div>
               <div class="person-place">{{testimonial?.details?.place}}</div>
            </div>
            <button class="edit-btn btn btn-primary btn-sm fs-6 text-white"
               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; width: 200px;"
               routerLink="{{ appRoute.testimonial.UPDATE_TESTIMONIAL}}"
               [queryParams]="{slug: testimonial?.slug}">Edit</button>
         </div>
      </ng-container>
   </div>
</div>