<div class="testimonials-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Testimonials</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex flex-row justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-5">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-5">
                  <a routerLink="{{ appRoute.testimonial.TESTIMONIAL_LIST}}">Testimonials</a>
               </li>
            </ul>
            <button class="btn btn-primary btn-sm cursor-pointer fs-5" color="primary" style="width: 200px"
               routerLink="{{ appRoute.testimonial.ADD_TESTIMONIAL }}">
               Add Testimonial
            </button>
         </div>
      </div>
   </div>
   <div class="testimonials-container">
      <ng-container *ngFor="let testimonial of testimonialsData">
         <div class="testimonial-card {{testimonial?.isActive}} card-hover">
            <div class="testimonial">
               <div class="person-message">{{testimonial?.message}}</div>
            </div>
            <div class="person">
               <div class="person-image"><img src="{{base}}/{{testimonial?.file}}" alt=""></div>
               <div class=" person-name">{{testimonial?.name}} <div class="person-profession">
                     {{testimonial?.profession}}</div>
                  <div class="person-details">
                     <div class="person-firm">{{testimonial?.business}}, {{testimonial?.place}}</div>
                  </div>
               </div>
            </div>
            <button class="edit-btn btn btn-secondary btn-sm fs-5 text-dark"
               routerLink="{{ appRoute.testimonial.UPDATE_TESTIMONIAL}}"
               [queryParams]="{slug: testimonial?.slug}">Edit</button>
         </div>
      </ng-container>
   </div>
</div>