<div>
   <div class="page-header d-flex align-items-start justify-content-between">
      <div>
         <div class="page-title">
            <h1 class="fw-bold">Testimonials</h1>
         </div>
         <ul class="breadcrumb">
            <li class="breadcrumb-item fs-6">
               <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active fs-6">
               <a routerLink="{{ appRoute.testimonial.TESTIMONIAL_LIST}}">Testimonials</a>
            </li>
         </ul>
      </div>
      <button class="btn btn-primary" routerLink="{{ appRoute.testimonial.ADD_TESTIMONIAL }}">
         Add Testimonial
      </button>
   </div>

   <div class="my-4">
      <table class="table table-bordered">
         <thead>
            <tr>
               <th>Name</th>
               <th>Place</th>
               <th>Created At</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let testimonial of testimonials">
               <td>{{testimonial?.name}}</td>
               <td>{{testimonial?.place}}</td>
               <td>{{formatDate(testimonial?.createdAt)}}</td>
               <td>
                  <div class="cursor-pointer" routerLink="{{ appRoute.testimonial.UPDATE_TESTIMONIAL }}"
                     [queryParams]="{'id': testimonial?._id}">
                     <svg height="20" width="20" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                           d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z">
                        </path>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z">
                        </path>
                     </svg>
                  </div>
               </td>
            </tr>
            <tr *ngIf="testimonials.length == 0">
               <td colspan="3" class="text-center">No testimonials found</td>
            </tr>
         </tbody>
      </table>
   </div>
   <app-pagination [totalPages]="totalPages" [totalResults]="totalResults"
      (pageTrigger)="onPageTriggered($event)"></app-pagination>
</div>