<div class="coupon-page-container">
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bolder">Mailer subscriptions</h1>
        </div>
        <div class="row align-items-center">
            <div class="col d-flex flex-row justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.mailerSubscriptions }}">Mailer subscriptions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-4 card">
        <div class="card-body">
            <p>Subscribe to channels to recieve updates!</p>
        </div>
    </div>
</div>