<div>
    <div class="page-header d-flex flex-row justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Service Warranty</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoutes.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoutes.serviceWarranty }}">Service Warranty</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-body">
            <div class="form-group">
                <angular-editor (click)="isHidden = false" class="form-control fs-6" [formControl]="serviceWarranty"
                    [config]="editorConfig">
                </angular-editor>
            </div>
            <div *ngIf="!isHidden" class="my-2 gap-2 d-flex justify-content-end align-items-center">
                <button (click)="manage()" class="btn btn-secondary fs-6">
                    Cancel
                </button>
                <button (click)="manage()" class="btn btn-primary fs-6">
                    Save changes
                </button>
            </div>
        </div>
    </div>

</div>