<ng-container *ngIf="title$ | async as title">
  <ng-container *ngIf="showTitle">
    <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">{{ title }}</h1>
  </ng-container>
  <ng-container *ngIf="showBC">
    <ng-container *ngIf="bc$ | async as _bc">
      <ng-container *ngIf="_bc.length > 0">
        <ng-container *ngIf="pageTitleDirection === 'row'">
          <span class="h-20px border-gray-400 border-start mx-4"></span>
        </ng-container>
        <ul class="breadcrumb breadcrumb-separatorless my-1">
          <li
            *ngFor="let bc of _bc"
            class="breadcrumb-item"
            [ngClass]="!bc.isSeparator && bc.isActive ? 'text-dark' : ''"
            [ngClass]="!bc.isSeparator && !bc.isActive ? 'text-muted' : ''"
          >
            <ng-container *ngIf="!bc.isSeparator">
              <p class="d-flex align-items-center my-1 fs-5">{{ bc.title }}</p>
            </ng-container>
            <ng-container *ngIf="bc.isSeparator">
              <i class="bi bi-chevron-right"></i>
            </ng-container>
          </li>
          <li class="breadcrumb-item">
            <p class="d-flex align-items-center text-muted my-1 fs-5">{{ title }}</p>
          </li>
        </ul>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>