.mobile-banner-title .preview-section,
.web-banner-title .preview-section {
   margin: 40px 0 0 0;
}

.page-title {
   margin: 0;
}

.col-12 {
   margin: 0;
}

.form-check-label {
   font-size: 1.15rem;
}

.bannerTypeExample {
   margin: 0 0 0 20px;

   .singleBanner {
      .singleBanner-1 {
         height: 120px;
         width: 300px;
         background: #f1f1f1;
         border-radius: 10px;
      }
   }

   .doubleBanner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: max-content;

      .doubleBanner-1 {
         height: 120px;
         width: 120px;
         background: #f1f1f1;
         border-radius: 10px;
      }
   }
}

.bannerExampleInfo {
   margin: 0 0 15px 20px;
   font-weight: 600;
   font-size: 1.15rem;
}

.bannerType {
   margin: 10px 0 0 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
}

.bannerUploadImages {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   width: max-content;
}

.dividerNote {
   font-size: 14px;
   font-weight: 600;
   margin: 20px 0;
   display: flex;
   align-items: center;
   justify-content: center;
}


.draftBanners {
   margin: 30px 0 10px 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;

   img {
      height: 200px;
      width: 100%;
   }
}

.draftTitle {
   margin: 30px 0 0 0;
}

.uploadedBanners {
   width: 50%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;

   .bannerImage {
      height: 150px;
      width: 100%;

      img {
         height: 100%;
         width: 100%;
      }
   }
}