<div>
   <div class="page-header">
      <div>
         <div class="page-title">
            <h1 class="fw-bold">Add Customers</h1>
         </div>
         <ul class="breadcrumb">
            <li class="breadcrumb-item fs-6">
               <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item fs-6">
               <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST }}">Customers</a>
            </li>
            <li class="breadcrumb-item active fs-6">
               <a routerLink="{{ appRoute.customers.ADD_CUSTOMERS_LIST }}">
                  Add Customers
               </a>
            </li>
         </ul>
      </div>
   </div>

   <div class="my-4 card">
      <div class="card-body">
         <form [formGroup]="form">
            <div class="row">

               <div class="col-lg-6">
                  <div class="form-group mb-3">
                     <label class="fs-6 mb-3 required">Name</label>
                     <input type="text" class="form-control fs-5" formControlName="name" [ngClass]="{
                              'is-invalid': (formControls.name.touched || isSubmitted) && formControls.name.errors?.required
                            }" />
                  </div>
               </div>

               <div class="col-lg-6">
                  <div class="form-group mb-3">
                     <label class="fs-6 mb-3 required"> Email</label>
                     <input type="email" class="form-control fs-5" formControlName="email"
                        [ngClass]="{
                              'is-invalid': (formControls.email.touched || isSubmitted) &&  formControls.email.errors?.required }"  />
                  </div>
                  <div class="alert p-2 mt-1 fw-normal alert-danger" *ngIf="formControls.email.errors?.pattern">
                     Enter valid email address
                  </div>
               </div>

               <div class="col-lg-6">
                  <div class="form-group mb-3">
                     <label class="fs-6 mb-3 required">Country Code</label>
                     <select class="form-select mb-3" formControlName="countryCode" (change)="handleMobilePattern()">
                        <option value="" disabled>-- Select an option --</option>
                        <option value="+91">+91</option>
                        <option value="+971">+971</option>
                        <option value="+964">+964</option>
                     </select>
                  </div>
               </div>

               <div class="col-lg-6">
                  <div class="form-group mb-3">
                     <label class="fs-6 mb-3 required"> Phone No.</label>
                     <input type="number" class="form-control fs-5" formControlName="mobile"
                        [ngClass]="{'is-invalid': (formControls.mobile.touched || isSubmitted) && formControls.mobile.errors?.required }" />
                  </div>
                  <div class="alert p-2 mt-1 fw-normal alert-danger" *ngIf="formControls.mobile.errors?.pattern">
                     Enter valid phone number
                  </div>
               </div>

               <div class="col-lg-6">
                  <div class="form-group mb-3">
                     <label class="fs-6 mb-3">Active Customer?</label>
                     <select class="form-select" formControlName="isActive">
                        <option value="" disabled>-- Select an option --</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                     </select>
                  </div>
               </div>

               
            </div>
         </form>
      </div>
   </div>
   <div class="d-flex align-items-center justify-content-end gap-4 my-4">
      <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST}}" class="btn btn-secondary">
         Cancel
      </a>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">
         Save changes
      </button>
   </div>
</div>