<div>
    <div class="page-header d-flex align-items-start justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Pickup Locations</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoute.pickupLocations }}">Pickup Locations</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary" routerLink="{{ appRoute.pickupLocations.create }}">
            Add location
        </button>
    </div>
</div>