.storedesign-wrapper {
    height: calc(100vh - 70px);
    margin: 70px 0 0 70px;
    overflow-y: auto;
}

.form-label,
.btn-primary {
    font-weight: 400 !important;
}

.remove-thumbnail {
    top: 10px;
    left: 10px;
    z-index: 10;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.remove-feature,
.remove-legacy {
    top: 10px;
    right: 10px;
    z-index: 10;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.story-thumbnail{
    background: #ffffff;

    img{
        object-fit: contain;
    }
}