<div>
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bold">Delivery slots</h1>
    </div>
    <div class="d-flex align-items-start justify-content-between">
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.deliverySlots }}">Delivery slots</a>
        </li>
      </ul>
      <div class="row justify-content-end">
        <div class="col-lg-5 d-flex align-items-center justify-content-start gap-2">
          <div class="fs-5">Enabled delivery slots</div>
          <div class="checkbox" [ngClass]="{'checked': settings?.isDeliverySlots == true}" (click)="toggleDelivery()">
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-start gap-2">
          <div class="fs-5">Delivery available in future days</div>
          <select [formControl]="futureDays" class="form-select" style="width: 80px">
            <option value="" disabled>-- Select an option --</option>
            <option *ngFor="let day of [3, 7, 9, 12]" value="{{day}}">{{day}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let slot of slots; let i = index">
    <div class="card my-3">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3 justify-content-between">
          <div class="fs-4 fw-bold">{{slot.day}} slots</div>
          <div (click)="open(template, slot.day)"
            class="p-2 cursor-pointer border border-secondary rounded d-flex align-items-center justify-content-center gap-2">
            <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10">
              </path>
            </svg>
            Edit slots
          </div>
        </div>

        <div class="delivery-slots">
          <ng-container *ngFor="let slotItem of slot?.slots; let j = index">
            <div class="p-2 rounded border border-secondary d-flex align-items-center justify-content-between">
              <div class="fs-5">{{slotItem.from}} - {{slotItem.to}}</div>
              <div class="checkbox" [ngClass]="{'checked': slotItem?.isActive == true}" (click)="toggleSlot(slotItem?.refid, slotItem?.isActive)">
              </div>
            </div>
          </ng-container>
        </div>

        <ng-container *ngIf="!slot?.slots || slot?.slots?.length == 0">
          <div class="fs-5 text-muted">No time slots found</div>
        </ng-container>

      </div>
    </div>
  </ng-container>

</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Slot details</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  </div>
</ng-template>

<ng-template #confirmation>
  <div class="modal-body text-center">
    <p>Do you want to delete?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>