<div class="brand-page-container">

  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Reviews</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.review.REVIEW_LIST }}">Reviews</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="pb-5">
            <div class="row d-flex justify-content-end align-items-end">
              <div class="col-lg-4">
                <label class="form-label">&nbsp;</label>
                <input type="text" class="form-control" placeholder="Search reviews here" [formControl]="keyword"
                  (ngModelChange)="getReviews()">
              </div>
              <div class="col-2">
                <label class="fs-6 mb-1">Status</label>
                <select class="form-select fs-6 text-dark" [formControl]="isActive" (change)="getReviews()">
                  <option value="" disabled>-- Select an option --</option>
                  <option value=false>Inactive</option>
                  <option value=true>Active</option>
                </select>
              </div>
              <div class="col-lg-2">
                <label class="fs-6 mb-1">From</label>
                <input type="date" class="form-control fs-6 text-dark" [formControl]="fromDate" (change)="getReviews()">
              </div>
              <div class="col-lg-2">
                <label class="fs-6 mb-1">To</label>
                <input type="date" class="form-control fs-6 text-dark" [formControl]="toDate" (change)="getReviews()">
              </div>
              <div class="col-lg-2">
                <label class="fs-6 mb-1">&nbsp;</label>
                <input type="button" class="btn btn-secondary" value="Clear filters" (click)="clearFilters()">
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-head-custom table-vertical-center table-head-bg table-borderless"
              *ngIf="reviews.length > 0">
              <thead class="common_thead">
                <tr class="text-left fs-6 text-gray-400">
                  <th style="min-width: 120px">&nbsp;</th>
                  <th style="min-width: 120px">Customer</th>
                  <th style="min-width: 100px">Order</th>
                  <th style="min-width: 100px">Product</th>
                  <th style="min-width: 100px">Review</th>
                  <th style="min-width: 100px">Date</th>
                  <th style="min-width: 100px">Action</th>
                </tr>
              </thead>
              <tbody class="fs-6">
                <ng-container *ngFor="let review of reviews; let i = index">
                  <tr>
                    <td>{{i+1}}</td>
                    <td>{{review?.customer?.id?.name}}</td>
                    <td>{{review?.order?.id?.orderNo}}</td>
                    <td class="product-name">{{review?.product?.id?.name}}</td>
                    <td>
                      <div class="fs-6 viewText text-muted fw-bolder" data-bs-toggle="modal"
                        data-bs-target="#reviewModal" (click)="selectReview(review)">View</div>
                    </td>
                    <td>{{review?.created}} </td>
                    <td>
                      <div class="manageButton">
                        <div (click)="updateReview(review?.refid)" *ngIf="review?.isActive">
                          <img src="../../../../../assets/icons/visibility.svg" alt="Icon">
                        </div>
                        <div (click)="updateReview(review?.refid)" *ngIf="!review?.isActive">
                          <img src="../../../../../assets/icons/visibilityOff.svg" alt="Icon">
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>

            <div *ngIf="reviews.length == 0">
              <div class="emptyNote">
                <img src="../../../../../../assets/icons/empty.gif" alt="Icon">
                <div class="fs-3 fw-bolder">No result found</div>
                <div class="fs-5 note">We couldn't find any item based on your search.</div>
              </div>
            </div>

            <div class="filteringWrapper d-flex align-items-center justify-content-between col-12"
              *ngIf="reviews.length > 0">
              <div class="filtering">
                <span class="fs-6 text-dark">Show</span>
                <select [formControl]="limit" (change)="getReviews()">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                </select>
                <span class="fs-6 text-dark">entries</span>
              </div>
              <div class="pagination">
                <div class="paginationBefore" [ngClass]="{'disabled': page == 1}" (click)="getPreviousPage()">
                  <img src="../../../../../assets/icons/navigateBefore.svg" alt="Icon">
                </div>
                <div class="paginationPage">{{page}}</div>
                <div class="paginationNext" [ngClass]="{'disabled': isLastPage}" (click)="getNextPage()">
                  <img src="../../../../../assets/icons/navigateNext.svg" alt="Icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Review details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="reviewDetails">
          <div class="fs-6 mb-3">Review by {{data?.customer?.id?.name}} on {{data?.created}}</div>
          <div class="reviewMessage fs-6"> {{data?.message}}</div>
          <div class="mt-5">
            <app-star-rating [rating]="data?.rating"></app-star-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>