<div class="brand-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Reviews</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex flex-row justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-5">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-5">
                  <a routerLink="{{ appRoute.review.REVIEW_LIST }}">Reviews</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                     class="datatable table table-borderless table-center mb-0">
                     <thead class="thead mt-100">
                        <tr class="fs-5">
                           <th class="text-gray-400">Sl No.</th>
                           <th class="text-gray-400">Order No.</th>
                           <th class="text-gray-400 col-md-2">Product</th>
                           <th class="text-gray-400">Rating</th>
                           <th class="text-gray-400">Review</th>
                           <th class="text-gray-400">Date</th>
                           <th class="text-gray-400">Action</th>
                        </tr>
                     </thead>
                     <tbody class="fs-5">
                        <tr *ngFor="let review of reviews; let i = index">
                           <td>
                              <h2 class="table-avatar">{{ i + 1 }}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar">{{ review?.order?.refid }}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar">{{review?.product?.id?.name}}</h2>
                           </td>
                           <td style="flex-wrap: wrap !important;">
                              <h2 class="table-avatar fw-700" style="flex-wrap: wrap !important;">{{ review?.rating }}
                              </h2>
                              <!-- <i class="bi bi-star-fill rating-icon"></i> -->
                           </td>
                           <td>
                              <h2 class="table-avatar">{{review?.message}}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar">{{ review?.created }}</h2>
                           </td>
                           <td>
                              <ng-container *ngIf="review?.isActive == true">
                                 <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox"
                                       (change)="reviewAction($event.target, review?.refid)" id="flexSwitchCheckDefault"
                                       checked>
                                 </div>
                              </ng-container>
                              <ng-container *ngIf="review?.isActive == false">
                                 <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox"
                                       (change)="reviewAction($event.target, review?.refid)"
                                       id=" flexSwitchCheckDefault">
                                 </div>
                              </ng-container>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>