$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: var(--brand-primary, #00BDAB);
$primaryBackground: var(--brand-primary-light, #20BDAB)40;
$activeBackground: var(--brand-primary, #00BDAB)20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

label,
input[type=button] {
   font-weight: normal !important;
   width: 100%;
}

.viewButton {
   cursor: pointer;
}

.productReview {
   border-radius: 10px;
   background: #ffffff;
   border: 1px solid #E4E6EF;

   .userIcon {
      height: 34px;
      width: 34px;
      display: grid;
      place-items: center;
   }
}

.product-name {
   max-width: 250px;
   width: 250px;
   overflow: hidden;
}

.viewText {
   cursor: pointer;
}

label,
.btn {
    font-weight: 400 !important;
}

//Table designs
.table {
    background: #ffffff;
    font-size: 15px;
 
    tbody{
 
       tr{
 
          td{
             vertical-align: middle;
          }
       }
    }
 
    thead {
 
       tr{
 
          th{
             font-weight: 400 !important;
          }
       }
       background: #E4E7F4;
    }
    
    button{
        width: 120px;
    }

    img{
        height: 60px;
        width: 60px;
        object-fit: contain;
    }
 }
 //Table designs