<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title fw-bolder fs-2">
               {{ editMode ? "Update Page Limits" : "Add Page Limits" }}
            </h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.pageLimits.PAGE_LIMITS_LIST }}">Page Limits</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.pageLimits.UPDATE_PAGE_LIMITS }}" [queryParams]="{id: slug}">
                     {{ editMode ? "Update Page Limits" : "Add Page Limits"}}
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="page-container">
      <div class="col-sm-12 fs-6 mt-10">
         <div class="card">
            <div class="card-body">
               <form [formGroup]="pagelimitform">
                  <div class="row">
                     <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button fs-4 fw-bolder" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                 Brands details
                              </button>
                           </h2>
                           <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <!-- Brand settings -->
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="fs-6 mb-3"> Brand limit</label>
                                       <input type="number" class="form-control fs-6" formControlName="brandlimit"
                                          min="1" />
                                    </div>
                                 </div>
                                 <label class="fs-6 mb-3 mt-10">Select default brand</label>
                                 <div class="list-view-container">
                                    <ng-container *ngFor="let brand of brands">
                                       <div *ngIf="brand?._id != selectedBrand" class="clickable-card"
                                          (click)="selectedItem('brand', brand?._id)">
                                          <div class="list-card">
                                             <div class="lidt-card-image"><img src="{{base}}/{{brand?.file}}" alt=""
                                                   style="height: 40px; width: 40px; border-radius: 5px;"></div>
                                             <div class="list-card-name fs-6 fw-bolder">{{brand?.name}}</div>
                                          </div>
                                       </div>
                                       <div *ngIf="brand?._id == selectedBrand" class="clickable-card"
                                          (click)="selectedItem('brand', brand?._id)">
                                          <div class="list-card card-selected">
                                             <div class="lidt-card-image"><img src="{{base}}/{{brand?.file}}" alt=""
                                                   style="height: 40px; width: 40px; border-radius: 5px;"></div>
                                             <div class="list-card-name fs-6 fw-bolder">{{brand?.name}}</div>
                                          </div>
                                       </div>
                                    </ng-container>
                                 </div>
                                 <!-- Brand settings -->
                              </div>
                           </div>
                        </div>
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="headingTwo">
                              <button class="accordion-button fs-4 fw-bolder" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                 Category details
                              </button>
                           </h2>
                           <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <!-- Category settings -->
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="fs-6 mb-3"> Category limit</label>
                                       <input type="number" class="form-control fs-6" formControlName="categorylimit"
                                          min="1" />
                                    </div>
                                 </div>
                                 <label class="fs-6 mb-3 mt-10">Select default category</label>
                                 <div class="list-view-container">
                                    <ng-container *ngFor="let category of categories">
                                       <div *ngIf="category?._id != selectedCategory" class="clickable-card"
                                          (click)="selectedItem('category', category?._id)">
                                          <div class="list-card">
                                             <div class="lidt-card-image"><img src="{{base}}/{{category?.file}}" alt=""
                                                   style="height: 40px; width: 40px; border-radius: 5px;"></div>
                                             <div class="list-card-name fs-6 fw-bolder">{{category?.name}}</div>
                                          </div>
                                       </div>
                                       <div *ngIf="category?._id == selectedCategory" class="clickable-card"
                                          (click)="selectedItem('category', category?._id)">
                                          <div class="list-card card-selected">
                                             <div class="lidt-card-image"><img src="{{base}}/{{category?.file}}" alt=""
                                                   style="height: 40px; width: 40px; border-radius: 5px;"></div>
                                             <div class="list-card-name fs-6 fw-bolder">{{category?.name}}</div>
                                          </div>
                                       </div>
                                    </ng-container>
                                 </div>
                                 <!-- Category settings -->
                              </div>
                           </div>
                        </div>
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="headingThree">
                              <button class="accordion-button fs-4 fw-bolder" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                 Collection details
                              </button>
                           </h2>
                           <div id="collapseThree" class="accordion-collapse collapse show"
                              aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <!-- Collection settings -->
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="fs-6 mb-3"> Collection limit</label>
                                       <input type="number" class="form-control fs-6" formControlName="collectionlimit"
                                          min="1" />
                                    </div>
                                 </div>
                                 <label class="fs-6 mb-3 mt-10">Select default collection</label>
                                 <div class="list-view-container">
                                    <ng-container *ngFor="let collection of collections">
                                       <div *ngIf="collection?._id != selectedCollection" class="clickable-card"
                                          (click)="selectedItem('collection', collection?._id)">
                                          <div class="list-card">
                                             <div class="lidt-card-image"><img src="{{base}}/{{collection?.file}}"
                                                   alt="" style="height: 40px; width: 40px; border-radius: 5px;"></div>
                                             <div class="list-card-name fs-6 fw-bolder">{{collection?.name}}</div>
                                          </div>
                                       </div>
                                       <div *ngIf="collection?._id == selectedCollection" class="clickable-card"
                                          (click)="selectedItem('collection', collection?._id)">
                                          <div class="list-card card-selected">
                                             <div class="lidt-card-image"><img src="{{base}}/{{collection?.file}}"
                                                   alt="" style="height: 40px; width: 40px; border-radius: 5px;"></div>
                                             <div class="list-card-name fs-6 fw-bolder">{{collection?.name}}</div>
                                          </div>
                                       </div>
                                    </ng-container>
                                 </div>
                                 <!-- Collection settings -->
                              </div>
                           </div>
                        </div>
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="headingFour">
                              <button class="accordion-button fs-4 fw-bolder" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                 Product details
                              </button>
                           </h2>
                           <div id="collapseFour" class="accordion-collapse collapse show"
                              aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <!-- Product settings -->
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="fs-6 mb-3"> Product limit</label>
                                       <input type="number" class="form-control fs-6" formControlName="productlimit"
                                          min="1" />
                                    </div>
                                 </div>
                                 <label class="fs-6 mb-3 mt-10">Select default product</label>
                                 <div class="list-view-container">
                                    <ng-container *ngFor="let product of products">
                                       <div *ngIf="product?._id != selectedProduct" class="clickable-card"
                                          (click)="selectedItem('product', product?._id)">
                                          <div class="list-card">
                                             <div class="lidt-card-image"><img src="{{base}}/{{product?.file}}" alt=""
                                                   style="height: 40px; width: 40px; border-radius: 5px;"></div>
                                             <div class="list-card-name fs-6 fw-bolder">{{product?.name}}</div>
                                          </div>
                                       </div>
                                       <div *ngIf="product?._id == selectedProduct" class="clickable-card"
                                          (click)="selectedItem('product', product?._id)">
                                          <div class="list-card card-selected">
                                             <div class="lidt-card-image"><img src="{{base}}/{{product?.file}}" alt=""
                                                   style="height: 40px; width: 40px; border-radius: 5px;"></div>
                                             <div class="list-card-name fs-6 fw-bolder">{{product?.name}}</div>
                                          </div>
                                       </div>
                                    </ng-container>
                                 </div>
                                 <!-- Product settings -->
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-12">
                        <a routerLink="{{ appRoute.pageLimits.PAGE_LIMITS_LIST}}"
                           class=" btn btn-secondary btn-sm fs-6 text-dark" style="width: 200px; margin-right: 20px;">
                           Cancel
                        </a>
                        <button type="submit" class="btn btn-primary btn-sm fs-5" style="width: 200px"
                           (click)="onSubmit()">
                           Update
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>