<div>
    <div class="page-header">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Payment Policy</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoutes.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoutes.paymentPolicy }}">Payment Policy</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-body">
            <div class="form-group">
                <angular-editor (click)="isHidden = false" class="form-control fs-6" [formControl]="paymentPolicy"
                    [config]="editorConfig">
                </angular-editor>
            </div>
            <div *ngIf="!isHidden" class="d-flex justify-content-end my-2 align-items-center gap-2">
                <button class="btn btn-secondary" (click)="cancel()">
                    Cancel
                </button>
                <button (click)="manage()" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>

</div>