<div class="coupon-page-container">
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bolder">Payment Policy</h1>
        </div>
        <div class="row align-items-center">
            <div class="col d-flex flex-row justify-content-between">
                <ul class="breadcrumb fw-bolder">
                    <li class="breadcrumb-item fs-5">
                        <a routerLink="{{ appRoutes.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active fs-5">
                        <a routerLink="{{ appRoutes.paymentPolicy }}">Payment Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <angular-editor class="form-control fs-6" [formControl]="paymentPolicy" [config]="editorConfig">
                    </angular-editor>
                </div>
                <div class="col-12 d-flex justify-content-end align-items-center">
                    <button (click)="manage()" class="btn btn-primary fs-6" style="width: 200px">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>