<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-1 fw-bolder">
          {{ editMode ? "Update Collection" : "Add Collection" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.collection.COLLECTION_LIST }}">Collections</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.collection.ADD_COLLECTION }}">{{
              editMode ? "Update Collection" : "Add Collection"
              }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card" ngForm>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="collectionForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Collection Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Name</label>
                  <input type="text" class="form-control fs-5" formControlName="name" [ngClass]="{
                      'is-invalid':
                      (cf.name.touched || isSubmitted) &&
                      cf.name.errors?.required
                    }" />
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (cf.name.touched || isSubmitted) &&
                      cf.name.errors?.required
                    ">Name is required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Products</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="products" (change)="tagInput()" [ngClass]="{
                      'is-invalid':
                      (cf.products.touched || isSubmitted) &&
                      cf.products.errors?.required
                    }">
                    <option value="example" disabled>
                      -- Select a product --
                    </option>
                    <option *ngFor="let product of productArray" value="{{ product?._id }}">
                      {{ product?.name }}
                    </option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                    (cf.products.touched || isSubmitted) &&
                    cf.products.errors?.required
                  ">Products are required</span>
                </div>
                <div class="tag-inputs col-12">
                  <ng-container *ngFor="let name of productNames">
                    <span class="tag-input bg-primary">{{ name }}
                      <i class="bi bi-x" (click)="tagRemove(name)"></i>
                    </span>
                  </ng-container>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Featured Collection ?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isFeatured">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Status</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="false" selected>Inactive</option>
                    <option value="true">Active</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Collection Image</label>
                  <input type="file" class="form-control fs-5" name="image" accept="image/*"
                    (change)="handleInputChange($event)"
                    onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"
                    required>
                  <div class="uploads uploaded">
                    <img class="plus" style="background-color:#f6f6f6; border: none !important;" id="preview">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary fs-4">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>