.cover {
  height: 340px;
}

label,
.btn-secondary,
.btn-primary {
   font-weight: normal !important;
}

.default-banner{
   height: 240px;
}

.searchProductsContainer {
  max-height: 400px;
  overflow: scroll;
  margin: 20px 0 0 0;

  button {
    width: 120px;
  }

  img {
    height: 50px;
    width: 50px;
  }
}

.wraperBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 15px;

  label {
    font-size: 0.95rem;
    font-weight: 400;
  }
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #00BDAB;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

label,
.btn-secondary,
.btn-primary {
  font-weight: 400 !important;
}

//Table designs
.table {
  background: #ffffff;
  font-size: 15px;

  tbody {

    tr {

      td {
        vertical-align: middle;
      }
    }
  }

  thead {

    tr {

      th {
        font-weight: 400 !important;
      }
    }

    background: #E4E7F4;
  }
}

//Table designs

.icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;

  .icon {
    position: relative;

    img {
      height: auto;
      width: 100%;
    }

    .remove {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      display: grid;
      place-items: center;
      color: #ffffff;
      background: #e53838;
      border-radius: 5px;
    }
  }
}

.example-list {
  max-height: 400px;
  height: max-content;
  overflow-y: scroll;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
//Drag and Drop style