<div>
  <div class="page-header">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">Add Collection</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.collection.COLLECTION_LIST }}">Collections</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.collection.ADD_COLLECTION }}">Add Collection</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="my-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (keydown.Enter)="$event.preventDefault()">

          <div>
            <div>
              <label class="fs-6 mb-3">Cover</label>
              <div class="ratio ratio-21x9 position-relative">
                <app-assets [previewDetails]="cover" (mediaClicked)="handleCollectionCover($event)"></app-assets>
                <div *ngIf="cover">
                  <div class="position-absolute bottom-0 end-0 m-4">
                    <button class="btn btn-danger" (click)="onRemove('cover')">Remove</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row my-3">
              <div class="col-lg-2">
                <label class="fs-6 mb-3">Thumbnail</label>
                <div class="ratio ratio-1x1">
                  <app-assets [previewDetails]="thumbnail"
                    (mediaClicked)="handleCollectionThumbnail($event)"></app-assets>
                </div>
                <div *ngIf="thumbnail">
                  <button class="btn mt-2 btn-danger w-100" (click)="onRemove('thumbnail')">Remove</button>
                </div>
              </div>
              <div class="col-lg-10">

                <div class="form-group">
                  <label class="fs-6 mb-3 required">Title</label>
                  <input type="text" class="form-control fs-6" formControlName="name"
                    [ngClass]="{
                        'is-invalid': (formControls.name.touched || isSubmitted) && formControls.name.errors?.required }" />
                </div>

                <div class="form-group my-3">
                  <label class="fs-6 mb-3">Description</label>
                  <input type="text" class="form-control fs-6" formControlName="description" />
                </div>

                <div class="form-group mb-3">
                  <label class="fs-6 mb-3">Meta Title</label>
                  <input type="text" class="form-control fs-6" formControlName="metaTitle" />
                </div>

                <div class="form-group mb-3">
                  <label class="fs-6 mb-3">Meta Description</label>
                  <textarea type="text" class="form-control fs-6" formControlName="metaDescription"></textarea>
                </div>

                <div class="form-group mb-3">
                  <label class="fs-6 mb-3">Meta Keywords</label>
                  <input type="text" class="form-control fs-6" formControlName="metaKeywords" />
                </div>

                <div>
                  <div>
                    <label class="fs-6 required">Products</label>
                    <div class="text-muted fs-7 mb-3">Selected products will be under this collection</div>
                    <div class="wraperBox">
                      <div class="productAddMethod">
                        <input type="radio" id="Autocomplete" name="Autocomplete" checked
                          (click)="toggleProductMethod(true)">
                        <label class="fs-6" for="Autocomplete">Autocomplete</label>
                      </div>
                      <div class="productAddMethod">
                        <input type="radio" id="SKU" name="Autocomplete" (click)="toggleProductMethod(false)">
                        <label class="fs-6" for="SKU">SKU</label>
                      </div>
                    </div>
                    <input type="text" class="form-control fs-6" [formControl]="productSku"
                      placeholder="Enter SKU1,SKU2,SKU3 etc" *ngIf="!isAutoCompleteEnabled" class="form-control fs-6" />
                    <input type="search" class="form-control fs-6" [formControl]="product"
                      (ngModelChange)="getProducts()" placeholder="Search product" *ngIf="isAutoCompleteEnabled"
                      class="form-control fs-6" />
                  </div>
                  <ng-container *ngIf="searchProducts.length > 0">
                    <div class="searchProductsContainer" *ngIf="isAutoCompleteEnabled">
                      <table class="table">
                        <thead>
                          <tr class="fs-6">
                            <th>&nbsp;</th>
                            <th>Name</th>
                            <th>Stock</th>
                            <th>SKU</th>
                            <th>&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let product of searchProducts; let i = index;">
                            <tr>
                              <td>
                                <img class="rounded border border-secondary" src="{{base}}{{product?.thumbnail}}"
                                  alt="{{product?.name}}">
                              </td>
                              <td>
                                {{product?.name}}
                              </td>
                              <td>
                                {{product?.stock}}
                              </td>
                              <td>
                                {{product?.sku}}
                              </td>
                              <td>
                                <div *ngIf="!productIds.includes(product?._id)" (click)="addProductSku(product)">
                                  <button class="p-1 btn-primary btn">Add</button>
                                </div>
                                <div *ngIf="productIds.includes(product?._id)" (click)="addProductSku(product)">
                                  <button class="p-1 btn-secondary btn">Remove</button>
                                </div>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="productDetails.length > 0">
                    <div class="fs-7 my-3">Drag the products to rearrange there order in the collection.</div>
                    <div class="addedProductsWrapper">
                      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let product of productDetails" cdkDrag>
                          <div class="addedProductCard">
                            <div class="close" (click)="addProductSku(product)">
                              <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                              </svg>
                            </div>
                            <div>
                              <img class="product-image" src="{{base}}{{product?.thumbnail}}" alt="{{product?.name}}">
                            </div>
                            <div class="name fs-6">{{product?.name}}</div>
                            <div class="sku rounded-pill px-1 bg-secondary">{{product?.sku}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>

                <div class="my-3">
                  <div class="form-group">
                    <label class="fs-6 mb-3">Status</label>
                    <select class="form-select mb-3" formControlName="isActive">
                      <option value="" disabled>-- Select an option --</option>
                      <option value="false">Inactive</option>
                      <option value="true">Active</option>
                    </select>
                  </div>
                </div>

                <div>
                  <div class="fs-6 mb-3">Icons</div>
                  <div class="icons">
                    <div *ngFor="let icon of form.get('icons')?.value" class="icon">
                      <img src="{{base}}{{icon}}" alt="Icon" class="rounded border border-secondary">
                      <div class="remove" (click)="removeIcon(icon)">
                        <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="icon">
                      <div class="ratio ratio-1x1">
                        <app-assets [previewEnabled]="false" (mediaClicked)="addIcon($event)"></app-assets>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-center justify-content-end gap-2">
              <a routerLink="{{ appRoute.collection.COLLECTION_LIST}}" class=" btn btn-secondary">
                Cancel
              </a>
              <button type="submit" (click)="onSubmit()" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>