.form-label,
.btn-primary,
.btn-secondary {
  font-weight: 400 !important;
}

.cover {
  height: 340px;
}

.page-title {
  margin: 0px;
}

label {
  font-weight: normal !important;
}

#previewBanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.searchProductsContainer {
  max-height: 400px;
  overflow: scroll;
  margin: 20px 0 0 0;

  button {
    width: 120px;
  }

  img {
    height: 50px;
    width: 50px;
  }
}

.wraperBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 15px;

  label {
    font-size: 0.95rem;
    font-weight: 400;
  }
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #00BDAB;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

label,
.btn-secondary,
.btn-primary {
  font-weight: 400 !important;
}

//Table designs
.table {
  background: #ffffff;
  font-size: 15px;

  tbody {

    tr {

      td {
        vertical-align: middle;
      }
    }
  }

  thead {

    tr {

      th {
        font-weight: 400 !important;
      }
    }

    background: #E4E7F4;
  }
}

//Table designs

.addedProductsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .375rem;
  overflow-x: scroll;

  .addedProductCard {
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      display: grid;
      place-items: center;
      color: #ffffff;
      background: #e53838;
      border-radius: 5px;
    }

    .product-image {
      height: auto;
      aspect-ratio: 1;
      width: 100%;
      object-fit: cover;
    }

    .name {
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin: 5px 0;
    }
  }
}

.icons{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  
  .icon{
    position: relative;

    img{
      height: auto;
      width: 100%;
    }
  
    .remove{
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      display: grid;
      place-items: center;
      color: #ffffff;
      background: #e53838;
      border-radius: 5px;
    }
  }
}


//Drag and Drop style
.example-list {
  max-width: 100%;
  min-height: 60px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    color: #ffffff;
    background: #e53838;
    border-radius: 5px;
  }

  .product-image {
    height: auto;
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
  }

  .name {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 5px 0;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  .name {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 5px 0;
  }
}

h3.page-title.fw-bolder.fs-2 {
  font-weight: 700 !important;
}

//Drag and Drop style



.mediaWrapper {
  position: relative;
  padding: 0 0 6.25rem 0;

  .coverImageWrapper {
    height: 400px;
    width: 100%;
    position: relative;

    input {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      object-fit: cover;
      border-radius: 10px;
    }

    .removeCover {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 40px;
      width: 40px;
      border-radius: 10px;
      display: grid;
      place-items: center;
      background: #d43333;
      cursor: pointer;
    }
  }

  .mediaImageWrapper {
    position: absolute;
    top: 60%;
    left: 4.25rem;
    height: 12.5rem;
    width: 12.5rem;
    background: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 0.625rem;

    .editMediaButton {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 99;
      background: #E4E6EF;
      border-radius: 0.625rem;
      padding: 0.625rem;
      cursor: pointer;
    }

    input {
      height: 100%;
      width: 100%;
      border-radius: 0.625rem;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 0.625rem;
    }
  }
}

.formWrapper {
  padding: 0 4.25rem;
}

.mediaModal {
  .mediaWrapper {
    height: 31.25rem;
    object-fit: contain;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.optionModal {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .optionCard {
    display: flex;
    height: 8.125rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    background: #e7e7e7;
    border: 1px solid #e7e7e7;
    position: relative;
    width: calc(50% - 5px);
    cursor: pointer;

    input {
      height: 100%;
      width: 100%;
    }

    .optionMask {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #e7e7e7;
      border-radius: 0.625rem;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.625rem;
      text-align: center;
    }
  }
}

.existingModal {
  .postedImages {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1.25rem;
    height: 37.5rem;
    overflow-y: scroll;

    .postedImage {
      background: #ffffff;
      border: 0.0625rem solid #E4E6EF;
      border-radius: 0.9375rem;
      padding: 0.625rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        position: absolute;
        top: 10%;
        left: 10%;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}