<div>
    <div class="page-header">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Refund Policy</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoutes.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoutes.shippingPolicy }}">Refund Policy</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="my-4">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <angular-editor (click)="isHidden = true" class="form-control fs-6" [formControl]="refundPolicy" [config]="editorConfig">
                    </angular-editor>
                </div>
                <div class="d-flex my-3 justify-content-end align-items-center gap-2">
                    <button *ngIf="isHidden" class="btn btn-secondary" (click)="cancel()">
                        Cancel
                    </button>
                    <button (click)="manage()" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>