.btn,
label {
  font-weight: 400 !important;
}

.table-cell{
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

//Table designs
.table {
  background: #ffffff;
  font-size: 15px;

  tbody {

    tr {

      td {
        vertical-align: middle;
      }
    }
  }

  thead {

    tr {

      th {
        font-weight: 400 !important;
      }
    }

    background: #E4E7F4;
  }
}

//Table designs