<div class="offer-page-container">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Offers</h1>
    </div>
    <div class="row">
      <div class="col d-flex align-items-start justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.offer.OFFER_LIST }}">Offers</a>
          </li>
        </ul>
        <button class="btn btn-primary cursor-pointer fs-6" color="primary"
          routerLink="{{ appRoute.offer.ADD_OFFER }}">Add offer</button>
      </div>
    </div>
  </div>

  <div class="offer-form-container">
    <form [formGroup]="form">
      <div class="row d-flex align-items-end justify-content-between">
        <div class="search-input col-2">
          <label class="fs-6">&nbsp;</label>
          <input type="text" placeholder="Search for offers here" class="form-control fs-6" formControlName="name"
            (ngModelChange)="getOffers()">
        </div>
        <div class="search-status col-2">
          <label class="fs-6">Status</label>
          <select name="isActive" id="isActive" class="form-select fs-6" formControlName="isActive"
            (change)="getOffers()">
            <option value="" disabled>-- Select an option --</option>
            <option value=true>Active</option>
            <option value=false>Inactive</option>
          </select>
        </div>
        <div class="search-featured col-2">
          <label class="fs-6 form-title">Featured</label>
          <select name="isFeatured" id="isFeatured" class="form-select fs-6" formControlName="isFeatured"
            (change)="getOffers()">
            <option value="" disabled>-- Select an option --</option>
            <option value=true>Featured</option>
            <option value=false>Non featured</option>
          </select>
        </div>
        <div class="search-featured col-2">
          <label class="fs-6 form-title">Start Date</label>
          <input type="date" class="form-control fs-6" formControlName="fromDate" (change)="getOffers()">
        </div>
        <div class="search-featured col-2">
          <label class="fs-6 form-title">End Date</label>
          <input type="date" class="form-control fs-6" formControlName="lastDate" (change)="getOffers()">
        </div>
        <div class="search-input col-2">
          <label class="fs-6 mb-1">&nbsp;</label>
          <input type="button" class="form-control btn-secondary fs-6 text-dark" value="Clear filters"
            (click)="clearFilters()">
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 d-flex justify-content-between">
    <div class="total-count-container col-sm-3 bg-dark">
      <h4 class="text-white fs-6">Total {{offers.length > 0 ? offers.length : 0}} offers</h4>
    </div>
  </div>

  <div class="offer-card-container view-container row col-12">
    <ng-container *ngFor="let offer of offers">
      <div class="offer-card card-hover">

        <div class="editButton">
          <div routerLink="{{ appRoute.offer.UPDATE_OFFER }}" [queryParams]="{ offer: offer?.offerid }">
            <img src="../../../../../assets/icons/editPen.svg" alt="Icon">
          </div>
        </div>

        <div class="offer-card-top">
          <div class="offer-image">
            <img src='{{base}}/{{offer?.file}}' alt="Image" />
          </div>

          <div class="offer-details">
            <div class="fw-bolder mb-1 fs-4">{{offer?.name}}</div>
            <div class="d-flex align-items-center justify-content-start">
              <div class="fs-6 offer-status" [ngClass]="{'active': offer?.isActive}">
                {{offer?.isActive ? 'Active' : 'Inactive'}}
              </div>
              <div class="div-separator"> . </div>
              <div class="fs-6 offer-featured" [ngClass]="{'featured': offer?.isFeatured}">
                {{offer?.isFeatured ? 'Featured' : 'Not featured'}}
              </div>
            </div>
            <div class="offer-value fs-4 fw-bolder mt-2">
              {{offer?.type == 'Flat' ? 'Flat' : '%'}} {{offer?.value}}
            </div>
          </div>
        </div>

        <div class="fs-6 text-muted">
          Offer valid from <span class="fw-bolder text-dark">{{offer?.fromDate}}</span> to <span
            class="fw-bolder text-dark">{{offer?.lastDate}}</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="offers.length == 0">
      <div class="emptyNote">
        <div class="fs-3 fw-bolder">No result found</div>
        <div class="fs-6 note">We couldn't find any item based on your search</div>
      </div>
    </ng-container>
  </div>

  <div class="filteringWrapper d-flex align-items-center justify-content-between col-12">
    <div class="filtering">
      <span class="fs-6 text-dark">Show</span>
      <select [formControl]="limit" (change)="getOffers()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
      </select>
      <span class="fs-6 text-dark">entries</span>
    </div>
    <div class="pagination">
      <div class="paginationBefore" [ngClass]="{'disabled': page == 1}" (click)="getPreviousPage()">
        <img src="../../../../../assets/icons/navigateBefore.svg" alt="Icon">
      </div>
      <div class="paginationPage">{{page}}</div>
      <div class="paginationNext" [ngClass]="{'disabled': lastPage}" (click)="getNextPage()">
        <img src="../../../../../assets/icons/navigateNext.svg" alt="Icon">
      </div>
    </div>
  </div>

</div>