<div>
  <div class="page-header d-flex align-items-start justify-content-between">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">Offers</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.offer.OFFER_LIST }}">Offers</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-primary cursor-pointer fs-6" routerLink="{{ appRoute.offer.ADD_OFFER }}">
      Add offer
    </button>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-lg-2">
            <input type="date" class="form-control fs-6" formControlName="fromDate" (change)="getOffers()" />
          </div>
          <div class="col-lg-2">
            <input type="date" class="form-control fs-6" formControlName="lastDate" (change)="getOffers()" />
          </div>
          <div class="col-lg-2">
            <select name="isActive" id="isActive" class="form-select fs-6" formControlName="isActive"
              (change)="getOffers()">
              <option value="" disabled>Status</option>
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
          </div>
          <div class="col-lg-2">
            <input type="button" class="form-control fs-6" style="color: #00bcaa; border: #00bcaa 1px solid"
              value="Clear filters" (click)="clearFilters()" />
          </div>
          <div class="col-lg-4">
            <input type="text" placeholder="Search offers" class="form-control fs-6" formControlName="name"
              (ngModelChange)="getOffers()" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div>
    <table class="table table-bordered">
      <thead>
        <th class="p-2">Name</th>
        <th class="p-2">Type</th>
        <th class="p-2">Value</th>
        <th class="p-2">Start Date</th>
        <th class="p-2">End Date</th>
        <th class="p-2">Status</th>
        <th class="p-2">Created At</th>
        <th class="p-2">Updated At</th>
        <th class="p-2">Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let offer of offers">
          <td>
            <div title="{{ offer?.title }}" class="table-cell">
              {{ offer?.title }}
            </div>
          </td>
          <td>{{ formatWord(offer?.type) }}</td>
          <td>{{ offer?.value }}</td>
          <td>
            <div title="{{ offer?.startDate | date:'dd-MM-yy HH:mm:ss' }}" class="table-cell">
              {{ offer?.startDate | date:'dd-MM-yy HH:mm:ss' }}
            </div>
          </td>
          <td>
            <div title="{{ offer?.endDate | date:'dd-MM-yy HH:mm:ss' }}" class="table-cell">
              {{ offer?.endDate | date:'dd-MM-yy HH:mm:ss' }}
            </div>
          </td>
          <td>
            <app-switch (switchToggled)="switchToggled($event)" [switchId]="offer.slug"
              [isToggledProps]="offer.isActive"></app-switch>
          </td>
          <td>
            <div title="{{ offer?.createdAt | date:'dd-MM-yy HH:mm:ss' }}" class="table-cell">
              {{ offer?.createdAt | date:'dd-MM-yy HH:mm:ss' }}
            </div>
          </td>
          <td>
            <div title="{{ offer?.updatedAt | date:'dd-MM-yy HH:mm:ss' }}" class="table-cell">
              {{ offer?.updatedAt | date:'dd-MM-yy HH:mm:ss' }}
            </div>
          </td>
          <td>
            <div class="d-flex gap-2">
              <a class="btn btn-secondary px-3 py-1"
                routerLink="{{ appRoute.offer.UPDATE_OFFER + '/' + offer?.slug }}">Edit</a>
              <button class="btn btn-danger px-3 py-1" (click)="deleteOffer(offer.slug, offer.isActive)">Delete</button>
            </div>
          </td>
        </tr>
        <tr *ngIf="offers.length == 0">
          <td colspan="7">
            <app-no-results></app-no-results>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card my-3">
    <div class="card-body py-2 px-1">
      <app-pagination (pageTrigger)="onPageTriggered($event)" [pageSize]="limit" [pageIndex]="page"
        [totalPages]="totalPages" [totalResults]="totalResults"></app-pagination>
    </div>
  </div>
</div>