<div>
  <div class="page-header d-flex align-items-start justify-content-between">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">Blogs ({{totalResults}})</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.blogs.list }}">Blogs</a>
        </li>
      </ul>
    </div>
    <div class="d-flex gap-2">
      <button class="btn btn-secondary" (click)="openCategoryModal(categoryModal)">
        Create Category
      </button>
      <button class="btn btn-primary" routerLink="{{ appRoute.blogs.create }}">
        Create blog
      </button>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <div class="row justify-content-end">
        <div class="col-lg-6">
          <input type="search" placeholder="Search blogs here" [formControl]="keyword" class="form-control"
            (ngModelChange)="getBlogs()">
        </div>
        <div class="col-lg-3">
          <input id="date" name="date" type="text" placeholder="Select blog date" class="form-control" bsDatepicker
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-green' }"
            [(ngModel)]="date" (ngModelChange)="getBlogs()">
        </div>
        <div class="col-lg-3">
          <input type="button" value="Clear filters" class="btn btn-secondary w-100" (click)="clear()">
        </div>
      </div>
      <div class="blogs my-6" *ngIf="blogs.length > 0">
        <ng-container *ngFor="let blog of blogs">
          <a class="blog" [routerLink]="[appRoute.blogs.update]" [queryParams]="{ slug: blog.slug }">
            <img src="{{blog?.thumbnail}}" alt="{{blog?.title}}" class="rounded"
              onerror="this.src = 'assets/images/default.png'">
            <div class="mt-4">
              <div>{{blog?.category}}</div>
              <div class="fs-5 title">{{blog?.title}}</div>
              <div class="text-muted">{{blog?.createdAt}}</div>
            </div>
          </a>

        </ng-container>
      </div>

      <div *ngIf="blogs.length == 0">
        <app-no-results></app-no-results>
      </div>

      <app-pagination (pageTrigger)="onPageTriggered($event)" [totalResults]="totalResults" [totalPages]="totalPages"
        [pageIndex]="page" [pageSize]="limit"></app-pagination>
    </div>
  </div>
</div>



<!-- Add this at the bottom of the file -->
<ng-template #categoryModal>
  <div class="modal-header">
    <h4 class="modal-title">Create Category</h4>
    <button type="button" class="btn-close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <div class="mb-3">
        <label class="form-label required">Title</label>
        <input type="text" class="form-control" formControlName="title">
      </div>
      <div class="mb-3">
        <label class="form-label required">Thumbnail</label>
        <div id="thumbnail" class="default-banner position-relative">
          <app-assets [previewDetails]="categoryThumbnail" (mediaClicked)="handleCategoryThumbnail($event)">
          </app-assets>

          <div *ngIf="categoryThumbnail">
            <div class="position-absolute bottom-0 end-0 m-4">
              <button class="btn btn-danger" (click)="removeCategoryThumbnail()">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-primary" (click)="createCategory()">Create</button>
  </div>
</ng-template>