<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-1 fw-bolder">
          {{ editMode ? "Update Collection" : "Add Collection" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.collection.COLLECTION_LIST }}">Collections</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.collection.UPDATE_COLLECTION }}" [queryParams]="{ collection: collection }">{{
              editMode ? "Update Collection" : "Add Collection" }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card" ngForm>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="collectionForm" (keydown.Enter)="$event.preventDefault()">
            <div class="row archieved-{{collectionData?.isArchive}}">
              <div class="col-12">
                <h3 class="form-title"><span>Collection Details</span></h3>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required">Name</label>
                  <input type="text" class="form-control fs-5" formControlName="name" [ngClass]="{
                      'is-invalid':
                      (cf.name.touched || isSubmitted) &&
                      cf.name.errors?.required
                    }" />
                  <div class="fs-7 mt-3">A collection name is required and recommended to be unique.</div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required">Sub Title</label>
                  <input type="text" class="form-control fs-5" formControlName="subname" [ngClass]="{
                      'is-invalid':
                      (cf.name.touched || isSubmitted) &&
                      cf.name.errors?.required
                    }" />
                  <div class="fs-7 mt-3">A collection name is required and recommended to be unique.</div>
                </div>
              </div>
              <div class="col-12">
                <div class="col-sm-6">
                  <label class="fs-5 mb-3 required">Products</label>
                  <ng-select [items]="products" bindLabel="name" bindValue="_id" [(ngModel)]="selectedProducts"
                    placeholder="Select products" [multiple]=true [ngModelOptions]="{standalone: true}"
                    [compareWith]="compareFn">
                  </ng-select>
                  <div class="fs-7 mt-3">Selected products will be under this collection</div>
                </div>

              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title">Featured Collection?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isFeatured" (change)="checkFeatured($event.target)">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6" *ngIf="featured">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title">Visibility Type?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" formControlName="type"
                    (change)="checkGrid($event.target)">
                    <option value="grid" selected>Grid</option>
                    <option value="slider">Slider</option>
                  </select>
                  <div class="fs-7 mt-3">Products will be visibile as selected type</div>
                </div>
              </div>
              <div class="col-12 col-sm-6" *ngIf="grid">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title">Grid Count?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" formControlName="count">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                  <div class="fs-7 mt-3">No. of products per row. Recommended are 2 or 3</div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title">Active Collection?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title">Archive Collection?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isArchive">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Collection Styles</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Background</label>
                  <input type="color" placeholder="Category name" class="form-control fs-5" style="height: 50px;"
                    formControlName="background" (change)="getColors('background', $event.target)" />
                  <span>{{background}}</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Border</label>
                  <input type="color" placeholder="Category name" class="form-control fs-5" formControlName="border"
                    style="height: 50px;" (change)="getColors('border', $event.target)" />
                  <span>{{border}}</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Border Radius</label>
                  <input type="number" placeholder="2" class="form-control fs-5" formControlName="radius" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Color</label>
                  <input type="color" placeholder="Category name" class="form-control fs-5" style="height: 50px;"
                    formControlName="color" (change)="getColors('color', $event.target)" />
                  <span>{{color}}</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Font Weight</label>
                  <input type="number" placeholder="400" class="form-control fs-5" formControlName="fontWeight" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Font Size ( in px )</label>
                  <input type="number" placeholder="14" class="form-control fs-5" formControlName="fontSize" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="col-12">
                  <h3 class="form-title required"><span>Media</span></h3>
                </div>
                <div class="form-group col-12">
                  <div class="image-upload col-sm-6">
                    <input type="file" class="form-control fs-5" name="image" accept="image/*"
                      (change)="handleInputChange($event)"
                      onchange="document.getElementById('previewImage').src = window.URL.createObjectURL(this.files[0])"
                      style="height: 100px;" required>
                    <div class="image-upload-div">
                      <div class="left-img"><img src="../../../../../assets/media/svg/files/upload.svg" alt=""
                          srcset=""></div>
                      <div class="right-text d-flex flex-column">
                        <span class="right-text-title fs-4 fw-bolder">Click to upload</span>
                        <span class="right-text-note fs-7 text-gray-400">Upload up to 1 file</span>
                      </div>
                    </div>
                  </div>
                  <div class="uploaded-image col-sm-6 mt-5">
                    <img src="{{base}}/{{uploadedimg}}" alt="" style="width: 150px; height: 150px">
                  </div>
                </div>
                <ng-container *ngIf=" loadImage">
                  <div class="col-12 preview-section">
                    <div class="crop-image col-sm-6">
                      <image-cropper class="crop-section" [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true" [aspectRatio]="3 / 3" [cropperMaxWidth]="1600"
                        [cropperMaxHeight]="1600" format="png" (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()">
                      </image-cropper>
                    </div>
                    <div class="uploads uploaded col-sm-6">
                      <div class="close-icon">
                        <i class="bi bi-x-lg text-white" (click)="removeImage()"></i>
                      </div>
                      <img class="preview-img" id="previewImage" [src]="croppedImage">
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-12 d-flex align-items-center justify-content-end">
                <a routerLink="{{ appRoute.collection.COLLECTION_LIST}}"
                  class=" btn btn-secondary btn-sm fs-5 text-dark" style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button type="submit" class="btn btn-primary btn-sm fs-5" style="width: 200px">
                  Update
                </button>
              </div>
            </div>
          </form>
          <div class="restore-container">
            <ng-container *ngIf="isArchived">
              <div class="col-12">
                <div class="form-group col-sm-6">
                  <label class="fs-5 mb-3">Restore Collection?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" [formControl]="restore">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <a routerLink="{{ appRoute.collection.ARCHIVED_COLLECTION}}"
                  class=" btn btn-secondary btn-sm fs-5 text-dark" style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button type="submit" class="btn btn-dark btn-sm fs-5" style="width: 200px"
                  (click)="restoreCollection()">Restore</button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>