.tag-inputs{
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.tag-input{
    width: auto;
    margin: 0 10px 10px 0 ;
    padding: 5px 10px;
    border-radius: 5px;
    background: #117d54;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}