<div class="category-page-container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Categories</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row align-items-start justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.category.CATEGORY_LIST }}">Categories</a>
          </li>
        </ul>
        <button class="btn btn-primary cursor-pointer fs-6" color="primary"
          routerLink="{{ appRoute.category.ADD_CATEGORY }}">
          Add Category
        </button>
      </div>
    </div>
  </div>

  <form [formGroup]="categoryform">
    <div class="col-12 row align-items-end justify-content-end">
      <div class="search-input col-sm-4" style="padding: 0;">
        <input type="text" placeholder="Search for category here..." class="form-control fs-6" formControlName="keyword"
          (ngModelChange)="getCategories()">
      </div>
      <div class="search-status col-sm-2">
        <label for="isActive" class="fs-6 mb-1">Status</label>
        <select name="isActive" id="isActive" class="form-select fs-6" formControlName="isActive"
          (change)="getCategories()">
          <option value="" disabled>-- Select an option --</option>
          <option value=true>Active</option>
          <option value=false>Inactive</option>
        </select>
      </div>
      <div class="search-featured col-sm-2">
        <label for="isFeatured" class="fs-6 mb-1">Featured</label>
        <select name="isFeatured" id="isFeatured" class="form-select fs-6" formControlName="isFeatured"
          (change)="getCategories()">
          <option value="" disabled>-- Select an option --</option>
          <option value=true>Featured</option>
          <option value=false>Non featured</option>
        </select>
      </div>
      <div class="search-submit col-sm-2">
        <label class="fs-6 mb-1">&nbsp;</label>
        <input type="button" class="form-control btn-secondary fs-6 text-dark" value="Clear filters"
          (click)="onReload()" />
      </div>
    </div>
  </form>

  <div class="col-12 d-flex justify-content-between">
    <div class="total-count-container col-sm-3 bg-dark">
      <h4 class="text-white fs-6">Total {{totalCount}} categories</h4>
    </div>
    <div>
      <button class="btn btn-secondary cursor-pointer fs-6 fw-bolder" color="primary"
        routerLink="{{ appRoute.category.ARCHIVED_CATEGORY }}">Archived Categories</button>
    </div>
  </div>

  <div class="category-card-container view-container">
    <ng-container *ngFor="let category of categories">
      <div class="category-card card-hover">

        <div class="editButton">
          <div routerLink="{{ appRoute.category.UPDATE_CATEGORY }}" [queryParams]="{ category: category?.slug }">
            <img src="../../../../../assets/icons/editPen.svg" alt="Icon">
          </div>
        </div>

        <div class="category-image">
          <img src='{{base}}/{{category?.file}}' alt="category image" srcset="" />
        </div>

        <div class="category-details">
          <div class="category-name mb-3 fs-4">{{category?.name}}</div>
          <div class="categoryStatus">
            <div class="fs-6 category-featured-{{category?.isFeatured}}">
              {{category?.isFeatured ? 'Featured' : 'Not featured'}}
            </div>
            <div class="statusSeperator">.</div>
            <div class="fs-6 category-status-{{category?.isActive}}">
              {{category?.isActive ? 'Active' : 'Inactive'}}
            </div>
          </div>
          <div class="category-attribute fs-6"
            (click)="showAttributesContainer(category?.catid, category?.name, category?.slug)">
            View attributes
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="categories.length == 0">
      <div class="emptyNote">
        <div class="fs-3 fw-bolder">No result found</div>
        <div class="fs-6 note">We couldn't find any item based on your search</div>
      </div>
    </ng-container>
  </div>


  <div class="filteringWrapper d-flex align-items-center justify-content-between col-12">
    <div class="filtering">
      <span class="fs-6 text-dark">Show</span>
      <select [formControl]="limit" (change)="getCategories()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
      </select>
      <span class="fs-6 text-dark">entries</span>
    </div>
    <div class="pagination">
      <div class="paginationBefore" [ngClass]="{'disabled': page == 1}" (click)="getPreviousPage()">
        <img src="../../../../../assets/icons/navigateBefore.svg" alt="Icon">
      </div>
      <div class="paginationPage">{{page}}</div>
      <div class="paginationNext" [ngClass]="{'disabled': lastPage}" (click)="getNextPage()">
        <img src="../../../../../assets/icons/navigateNext.svg" alt="Icon">
      </div>
    </div>
  </div>

</div>

<div class="attributes-overlay" [ngClass]="{'show-variants': showAttributes, 'hide-variants': !showAttributes }">
</div>
<div class="attributes-container" [ngClass]="{'show-variants': showAttributes, 'hide-variants': !showAttributes }">
  <div class="attributes-header">
    <div class="attributes-header-left">
      Showing <span class="text-primary">{{categoryname}}</span> attributes
    </div>
    <div class="attributes-header-right">
      <div class="close-button" (click)="hideAttributesContainer()">
        <i class="bi bi-x-lg"></i>
      </div>
    </div>
  </div>

  <div class="attributes-result-container">
    <div class="attributes-result-header">
      <div class="total-count-container col-sm-3 bg-dark">
        <h4 class="attributes-count text-white fs-6" style="font-weight: 600; margin: 0;">
          Total {{attributeslength ? attributeslength : 0}} attributes
        </h4>
      </div>
      <div class="attributes-add">
        <button class="btn-secondary btn btn-sm fs-6 fw-bolder" (click)="navigateToUpdate()">Add
          Attributes</button>
      </div>
    </div>

    <div class="attributes-result-cards">
      <ng-container *ngFor="let attribute of attributes">
        <div class="attribute-card">

          <div class="attribute-card-header">
            <div class="attribute-details">
              <div class="attribute-name fs-5">Name : <span>{{attribute?.name}}</span></div>
              <div class="attribute-type fs-6">Type : <span>{{attribute?.type}}</span></div>
            </div>
            <div class="attribute-edit fw-bolder" (click)="showEditModal(attribute?.refid)">
              <img src="../../../../../assets/icons/editPen.svg" alt="Icon">
            </div>
          </div>

          <div class="attribute-status published" *ngIf="attribute?.isActive == true; else unpublished">
            <i class="bi bi-circle-fill"></i>
            <span class="fs-6">Published</span>
          </div>

          <ng-template #unpublished>
            <div class="attribute-status unpublished">
              <i class="bi bi-circle-fill"></i>
              <span class="fs-6">Unpublished</span>
            </div>
          </ng-template>

          <div class="attribute-filetered published" *ngIf="attribute?.isFilter == true; else unfiletered">
            <i class="bi bi-sort-alpha-down"></i>
            <span class="fs-6">Filter Attribute</span>
          </div>

          <ng-template #unfiletered>
            <div class=" attribute-status unpublished">
              <i class="bi bi-sort-alpha-down"></i>
              <span class="fs-6">Non filter Attribute</span>
            </div>
          </ng-template>

          <div class="attribute-card-values">
            <ng-container *ngFor="let value of attribute.values">
              <div class="attribute-color" *ngIf="attribute?.type == 'Color'" [ngStyle]="{'background': value.value}">
              </div>
              <div class="attribute-text" *ngIf="attribute?.type == 'Text'">{{value?.value}}</div>
              <div class="attribute-image" *ngIf="attribute?.type == 'File'">
                <img src="{{base}}/{{value?.value}}" alt="attribute">
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="attributeslength == 0">
      <div class="no-data-container">
        <div class="no-data-image"><img src="../../../../../assets/media/searching001.svg" alt="" srcset=""></div>
        <h2 class="fw-bolder">Sorry, we haven't found any data</h2>
      </div>
    </ng-container>
  </div>
</div>

<div class="modal-container-overlay" [ngClass]="{'show-overlay': showModal, 'hide-overlay': !showModal}"></div>
<div class="modal-container" [ngClass]="{'show-modal': showModal, 'hide-modal': !showModal}">
  <div class="modal-header">
    <div class="modal-title">Edit Attribute</div>
    <div class="modal-close-btn" (click)="hideEditModal()"><i class="bi bi-x-lg"></i></div>
  </div>
  <div class="modal-body">
    <form [formGroup]="attributeform" (keydown.Enter)="$event.preventDefault()">
      <div class="col-12 row">
        <div class="col-12 col-sm-6 form-group">
          <label class="fs-6 mb-3">Attribute Name</label>
          <input type="text" placeholder="Eg. Size" class="form-control fs-6" formControlName="attributeName" />
        </div>
        <div class="col-12 col-sm-6 form-group">
          <label class="fs-6 mb-3">Attribute Status?</label>
          <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
            formControlName="attributeStatus">
            <option value="false">Inactive</option>
            <option value="true">Active</option>
          </select>
        </div>
        <div class="col-12 col-sm-6 form-group">
          <label class="fs-6 mb-3">Filtered Attribute?</label>
          <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
            formControlName="attributeFiltered">
            <option value="false">No</option>
            <option value="true">Yes</option>
          </select>
        </div>
        <div class="col-12 form-group col-sm-6">
          <label class="fs-6 mb-3">Attribute Type</label>
          <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
            formControlName="attributeType" (change)="handleAttributeType($event.target)">
            <option value="" selected disabled>-- Select an attribute type --</option>
            <option value="Color">Color Picker</option>
            <option value="Text">Text</option>
            <option value="File">File</option>
          </select>
        </div>
        <div class="col-12" *ngIf="showColorPicker"> <!-- Attribute color picker -->
          <div class="form-group col-sm-6">
            <label class="fs-6 mb-3">Attribute Color</label>
            <input type="color" placeholder="Attribute color" class="form-control fs-6" style="height: 50px;"
              formControlName="attributeColor" (change)="handleAttrributeValues('color', $event.target)" />
          </div>
          <div class="col-12 attr-color-preview" *ngIf="attributecolors.length > 0">
            <ng-container *ngFor="let color of attributecolors">
              <div class="attr-color-preview-div" [ngStyle]="{'background': color.value}">
                <div class="attr-color-remove" (click)="removeAttributeValues('color', color.id)"><i
                    class="bi bi-x-lg"></i></div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-12" *ngIf="showTextInput"> <!-- Attribute text values -->
          <div class="form-group col-sm-6">
            <label class="fs-6 mb-3">Attribute Text</label>
            <input type="text" placeholder="Eg. Large" class="form-control fs-6" style="height: 50px;"
              formControlName="attributeText" (keydown.Enter)="handleAttrributeValues('text', $event.target)" />
            <div class="fs-6 mt-3">*Press Enter to add attribute text</div>
          </div>
          <div class="col-12 attr-text-preview" *ngIf="attributetexts.length > 0">
            <ng-container *ngFor="let text of attributetexts">
              <div class="attr-text bg-primary text-white">
                <div class="attr-text-value">{{text.value}}</div>
                <div class="attr-text-remove-icon" (click)="removeAttributeValues('text', text.id)"><i
                    class="bi bi-x-lg"></i></div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-12" *ngIf="showFileInput"> <!-- Attribute image values -->
          <div class="form-group col-sm-6">
            <div class="image-upload">
              <input type="file" class="form-control fs-6" name="image" accept="image/*"
                (change)="handleAttrInputChange($event)" style="height: 100px;" required>
              <div class="image-upload-div">
                <div class="left-img"><img src="../../../../../assets/media/svg/files/upload.svg" alt="" srcset="">
                </div>
                <div class="right-text d-flex flex-column">
                  <span class="right-text-title fs-4 fw-bolder">Click to upload</span>
                  <span class="right-text-note fs-7 text-gray-400" style="font-weight: 500">Upload up to 1
                    file</span>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="loadAttributeImage">
            <div class="col-12 preview-section  d-flex align-items-center justify-content-center">
              <div class="crop-image col-sm-6">
                <image-cropper class="crop-section" [imageChangedEvent]="attrImageChange" [maintainAspectRatio]="true"
                  [aspectRatio]="3 / 3" [cropperMaxWidth]="1600" [cropperMaxHeight]="1600" format="png"
                  (imageCropped)="attrImageCropped($event)" (imageLoaded)="attrImageLoaded()"
                  (cropperReady)="attrCropperReady()" (loadImageFailed)="loadAttrImageFailed()">
                </image-cropper>
              </div>
              <div class="uploads uploaded col-sm-6">
                <div class="close-icon">
                  <i class="bi bi-x-lg text-white" (click)="removeAttrImage()"></i>
                </div>
                <img class="preview-img" id="previewImage" [src]="attributecroppped">
                <button class="btn btn-sm fs-6 bg-dark text-white" style="width: 100%; margin: 10px 0 0 0 ;"
                  (click)="handleAttrributeValues('file', '')">Add Image</button>
              </div>
            </div>
          </ng-container>
          <div class="col-12 attr-image-preview">
            <ng-container *ngFor="let image of attributeimages">
              <div class="attr-image">
                <div class="attr-image-value"><img src="{{image.value}}" alt="attribute-image"></div>
                <div class="attr-image-remove-icon" (click)="removeAttributeValues('file', image.id)">
                  <i class="bi bi-x-lg"></i>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-end save-attribute-btn">
          <button class="btn bg-primary text-white fs-6" (click)="saveAttribute()">
            Save Attribute
          </button>
        </div>
      </div>
    </form>
  </div>
</div>