<div class="category-page-container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Categories</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.category.CATEGORY_LIST }}">Categories</a>
          </li>
        </ul>
        <button class="btn btn-primary cursor-pointer fs-5" color="primary"
          routerLink="{{ appRoute.category.ADD_CATEGORY }}" style="width: 200px">
          Add Category
        </button>
      </div>
    </div>
  </div>
  <hr class="horizontal-line">
  <form [formGroup]="categoryform">
    <div class="col-12 row" style="display: flex; align-items: flex-end;">
      <div class="search-input col-sm-4">
        <label class="fs-5">Search</label>
        <input type="text" placeholder="Search for category here..." class="form-control fs-5" formControlName="name"
          (ngModelChange)="searchCategory()">
      </div>
      <div class="search-status col-sm-2">
        <label class="fs-5">Status</label>
        <select name="" id="" class="form-select fs-5" formControlName="isActive" (change)="searchCategory()">
          <option value="" disabled>Select an option</option>
          <option value=true>Active</option>
          <option value=false>Inactive</option>
        </select>
      </div>
      <div class="search-featured col-sm-2">
        <label class="fs-5 form-title">Featured</label>
        <select name="" id="" class="form-select fs-5" formControlName="isFeatured" (change)="searchCategory()">
          <option value="" disabled>Select an option</option>
          <option value=true>Featured</option>
          <option value=false>Non featured</option>
        </select>
      </div>
      <div class="search-submit col-sm-2">
        <button type="button" class="form-control fs-5 bg-secondary text-dark" (click)="onReload()"
          style="outline: none; border: none;">Clear</button>
      </div>
    </div>
  </form>
  <hr class="horizontal-line">

  <div class="col-12 d-flex justify-content-between">
    <div class="total-count-container col-sm-3 bg-dark">
      <h4 class="text-white">Total {{totalcount ? totalcount : 0}} categories</h4>
    </div>
    <div>
      <button class="btn btn-secondary cursor-pointer fs-5" color="primary"
        routerLink="{{ appRoute.category.ARCHIVED_CATEGORY }}" style="width: 200px">Archived Categories</button>
    </div>
  </div>

  <!-- Card start -->
  <div class="category-card-container view-container">
    <ng-container *ngFor="let category of categories">
      <div class="category-card card-hover">
        <div class="category-details">
          <div class="category-image">
            <img src='{{base}}/{{category?.file}}' alt="category image" srcset="" />
          </div>
          <div class="flex-1">
            <div class="category-name fs-3">{{category?.name}}</div>
            <div class="category-featured-{{category?.isFeatured}}">
              <ng-container *ngIf="category?.isFeatured == true">Featured</ng-container>
              <ng-container *ngIf="category?.isFeatured == false">Not Featured</ng-container>
            </div>
          </div>
        </div>
        <div class="flex-21">
          <div class="category-status-{{category?.isActive}}">
            <ng-container *ngIf="category?.isActive == true">Active</ng-container>
            <ng-container *ngIf="category?.isActive == false">Inactive</ng-container>
          </div>
          <div class="card-edit-btn">
            <button routerLink="{{ appRoute.category.UPDATE_CATEGORY }}" [queryParams]="{ category: category?.slug }"
              class="fs-5 cursor-pointer bg-dark text-white text-darker">
              Attributes
            </button>
          </div>
          <div class="card-edit-btn">
            <button routerLink="{{ appRoute.category.UPDATE_CATEGORY }}" [queryParams]="{ category: category?.slug }"
              class="fs-5 cursor-pointer text-darker">
              Edit
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="count == 0">
      <div class="no-data-container">
        <div class="no-data-image"><img src="../../../../../assets/media/searching.svg" alt="" srcset=""></div>
        <h2>Sorry, we haven't found any data</h2>
      </div>
    </ng-container>
  </div>
  <!-- Card end -->
  <!-- Pagination start -->
  <nav aria-label="Page navigation example" *ngIf="count != 0">
    <ul class="pagination-container">
      <div class="page-change-icon" *ngIf="selectedpage != 1 &&  selectedpage > 0">
        <a class="page-link" (click)="loadPrevious()" aria-label="Previous">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
      </div>
      <div class="page-change-icon" *ngIf="selectedpage == 1">
        <a class="page-link page-link-disabled" aria-label="Previous">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
      </div>
      <li class="page-item" *ngFor="let key of pages">
        <a *ngIf="selectedpage != key" class="page-link" (click)="fetchBrand(key, limit)">{{key}}</a>
        <a *ngIf="selectedpage == key" class="page-link page-active" (click)="fetchBrand(key, limit)">{{key}}</a>
      </li>
      <div class="page-change-icon" *ngIf="selectedpage != totaldata">
        <a class="page-link" (click)="loadNext()" aria-label="Next">
          <i class="bi bi-arrow-right-circle"></i>
        </a>
      </div>
      <div class="page-change-icon" *ngIf="selectedpage == totaldata">
        <a class="page-link page-link-disabled" aria-label="Next">
          <i class="bi bi-arrow-right-circle"></i>
        </a>
      </div>
    </ul>
  </nav>
  <!-- Pagination end -->
</div>