<div>
    <div class="page-header d-flex align-items-start justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Banner images</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoute.bannerImages }}">Banner images</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary gap-2 d-flex align-items-center" (click)="openManage('add', manageTemplate)">
            <div>
                <svg height="18" width=18 data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                </svg>
            </div>
            <div>Create banner</div>
        </button>
    </div>
    <div class="card my-4">
        <div class="card-body">
            <div class="row">
                <ng-container *ngFor="let banner of bannerImages">
                    <div class="col-lg-6 banner mb-3 rounded">
                        <div class="h-auto w-100" style="aspect-ratio: 6/1;">
                            <img class="w-100 rounded h-100" src="{{base}}{{banner?.media?.path}}" alt="Banner Details">
                            <div class="d-flex my-3 align-items-center justify-content-between">
                                <div>{{banner?.createdAt}}</div>
                                <div class="details d-flex align-items-center justify-content-end">
                                    <div class="delete me-1" (click)="openDelete(deleteTemplate, banner)">
                                        <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5"
                                            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                            aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="ms-1 edit" (click)="openManage('update', manageTemplate, banner)">
                                        <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5"
                                            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                            aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z">
                                            </path>
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="bannerImages.length == 0">
                <app-no-results></app-no-results>
            </div>
        </div>
    </div>
</div>

<ng-template #manageTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Banner image details</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeManage()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group mb-3">
                <label for="type" class="form-label required">Type</label>
                <select formControlName="type" id="type" class="form-select" [ngClass]="{
                    'is-invalid':  (formControls.type.touched || isSubmitted) && formControls.type.errors?.required}">
                    <option value="" disabled>-- Select an option --</option>
                    <option *ngFor="let item of items" value="{{item.value}}">{{item.key}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="media" class="form-label mb-3 required">Media</label>
                <div id="media" class="w-100 h-auto" style="aspect-ratio: 6/1;"
                    [ngClass]="{
                    'border border-danger':  (formControls.media.touched || isSubmitted) && formControls.media.errors?.required}">
                    <app-assets (mediaClicked)="onMediaTriggered($event)" [image]="'cover'" [aspectRatio]="'6:1'"
                        [previewDetails]="previewDetails"></app-assets>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-end">
                <button class="btn btn-secondary me-1" (click)="closeManage()">Discard</button>
                <button class="btn btn-primary ms-1" (click)="submit()">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #duplicateTemplate>
    <div class="modal-body text-center">
        <p>Banner for this type already exists. Would you like to replace the existing one?</p>
        <button type="button" class="btn btn-default" (click)="update()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="closeDuplicate()">No</button>
    </div>
</ng-template>

<ng-template #deleteTemplate>
    <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>