.btn,
.form-label {
    font-weight: 400 !important;
}

.checkbox{
    height: 20px;
    width: 20px;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    position: relative;
    background: #ffffff;
    cursor: pointer;

    &.checked{

        &::after{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            height: 10px;
            width: 10px;
            background: #00bdab;
            border-radius: 2px;
        }
        
        border: 2px solid #00bdab;
    }
}