$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20BDAB40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

.about-textarea {
   width: 100%;
   resize: none;
}

.errorMessage {
   margin: 20px 0;
   color: #d81b1b;
   font-size: 16px;
   font-weight: 600;
}

label {
   font-weight: normal !important;
}

.heroImage {
   height: 200px;
   width: 266px;
   border-radius: 10px;
}

.features {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   margin: 30px 0;

   .featureCard {
      background: #ffffff;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      position: relative;

      .removeCard {
         position: absolute;
         top: 10px;
         right: 10px;
         height: 25px;
         width: 25px;
         border-radius: 5px;
         background: $background;
         display: grid;
         place-items: center;
         cursor: pointer;
      }

      .icon {
         img {
            border-radius: 5px;
            height: 40px;
            width: 40px;
         }
      }
   }
}