<div class="coupon-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">About us</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex flex-row justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.about.ABOUT }}">About us</a>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <div class="row mt-10">
      <div class="col-sm-12 fs-6">
         <div class="card">
            <div class="card-body">
               <div class="about-form-container">
                  <div class="col-12">
                     <form [formGroup]="form">

                        <div class="col-6 form-group mb-3">
                           <label for="detailed" class="fs-6 mb-3 required">Image</label>
                           <div class="image-upload">
                              <input type="file" class="form-control fs-6" name="image" accept="image/*"
                                 (change)="onInputChange($event, 'hero')" required style="height: 100px;">
                              <div class="image-upload-div">
                                 <div class="left-img">
                                    <img src="../../../../../assets/media/svg/files/upload.svg" alt="" srcset="">
                                 </div>
                                 <div class="right-text d-flex flex-column">
                                    <span class="right-text-title fs-4 fw-bolder">Select Files</span>
                                 </div>
                              </div>
                           </div>
                           <ng-container *ngIf="isFile">
                              <img src="{{previewFile}}" alt="About" class="heroImage mt-3">
                           </ng-container>
                        </div>

                        <div class="form-group mb-3">
                           <label for="detailed" class="fs-6 mb-3 required">Overview</label>
                           <angular-editor class="form-control fs-6 about-textarea" formControlName="overview"
                              [config]="editorConfig" (click)="showButton()"></angular-editor>
                           <div class="alert alert-danger mt-1" role="alert"
                              *ngIf="(af.overview.touched || isSubmitted) && af.overview.errors?.required">
                              Overview is required
                           </div>
                        </div>

                        <div class="featuresIcon">
                           <h2 class="fw-bolder">Add features</h2> 
                           <div class="col-6 form-group mb-3">
                              <label for="detailed" class="fs-6 mb-3 required">Icon</label>
                              <div class="image-upload">
                                 <input type="file" class="form-control fs-6" name="image" accept="image/*"
                                    (change)="onInputChange($event, 'icon')" required style="height: 100px;">
                                 <div class="image-upload-div">
                                    <div class="left-img">
                                       <img src="../../../../../assets/media/svg/files/upload.svg" alt="" srcset="">
                                    </div>
                                    <div class="right-text d-flex flex-column">
                                       <span class="right-text-title fs-4 fw-bolder">Select Files</span>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="col-6 mb-3">
                              <label for="detailed" class="fs-6 mb-3">Title</label>
                              <input type="text" class="form-control fs-6" [formControl]="title" />
                           </div>

                           <div class="col-6 mb-3">
                              <label for="detailed" class="fs-6 mb-3">Description</label>
                              <input type="text" class="form-control fs-6" [formControl]="note" />
                           </div>

                           <div class="col-12 d-flex align-items-center justify-content-end">
                              <a (click)="reloadPage()" class=" btn btn-secondary fs-6 text-dark"
                                 style="width: 200px; margin-right: 20px;">
                                 Discard
                              </a>
                              <button (click)="addFeature()" class="btn btn-info fs-6"
                                 style="width: 200px">Save changes</button>
                           </div>
                        </div>

                        <ng-container *ngIf="features.length > 0">
                           <div class="features">
                              <ng-container *ngFor="let feature of features">
                                 <div class="featureCard">
                                    <div class="icon">
                                       <img src="{{feature?.icon}}" alt="icon">
                                    </div>
                                    <div class="title fs-5 fw-bolder">{{feature?.title}}</div>
                                    <div class="note fs-6 text-muted">{{feature?.note}}</div>
                                 </div>
                              </ng-container>
                           </div>
                        </ng-container>

                        <div class="form-group mb-3">
                           <label for="detailed" class="fs-6 mb-3">Detailed Description</label>
                           <angular-editor class="form-control fs-6 about-textarea" formControlName="detailed"
                              [config]="editorConfig" (click)="showButton()"></angular-editor>
                        </div>

                        <ng-container *ngIf="!isHidden">
                           <div class="col-12 d-flex justify-content-end">
                              <a (click)="reloadPage()" class=" btn btn-secondary fs-6 text-dark"
                                 style="width: 200px; margin-right: 20px;">
                                 Cancel
                              </a>
                              <button (click)="onSubmit()" class="btn btn-primary  fs-6"
                                 style="width: 200px">Update</button>
                           </div>
                        </ng-container>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>