.about-textarea {
   width: 100%;
   resize: none;
}

.errorMessage {
   margin: 20px 0;
   color: #d81b1b;
   font-size: 16px;
   font-weight: 600;
}

label {
   font-weight: normal !important;
}

.heroImage{
   height: 150px;
   width: 200px;
   border-radius: 10px;
}