.about-textarea {
   width: 100%;
   resize: none;
}

.errorMessage {
   margin: 20px 0;
   color: #d81b1b;
   font-size: 16px;
   font-weight: 600;
}

label {
   font-weight: normal !important;
}

.heroImage {
   height: 150px;
   width: 200px;
   border-radius: 10px;
}

.features {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   margin: 30px 0;

   .featureCard {
      background: #ffffff;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

      .icon {
         img {
            height: 40px;
            width: 40px;
         }
      }
   }
}