<div class="coupon-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bold">Invoice settings</h1>
      </div>
      <ul class="breadcrumb">
         <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
         </li>
         <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.invoiceSettings.INVOICE_SETTINGS_LIST }}">Invoice settings</a>
         </li>
      </ul>
   </div>

   <div class="card my-4">
      <div class="card-body">
         <form (ngSubmit)="onSubmit()" [formGroup]="form">

            <div class="form-group mb-3">
               <label class="fs-6 mb-3 required"> Code</label>
               <input type="text" class="form-control fs-6" formControlName="code"
                  [ngClass]="{'is-invalid':(isf.code.touched || isSubmitted) &&isf.code.errors?.required}" />
            </div>

            <div class="form-group mb-3">
               <label class="fs-6 mb-3 required"> Starting range</label>
               <input type="text" class="form-control fs-6" formControlName="startingRange"
                  [ngClass]="{'is-invalid':(isf.startingRange.touched || isSubmitted) &&isf.startingRange.errors?.required}" />
            </div>

            <div class="gap-2 d-flex align-items-center justify-content-end">
               <button type="submit" class="btn btn-primary">
                  Save changes
               </button>
            </div>

         </form>
      </div>

   </div>
</div>