<div class="coupon-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Invoice settings</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex flex-row justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-5">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-5">
                  <a routerLink="{{ appRoute.invoiceSettings.INVOICE_SETTINGS_LIST }}">Invoice settings</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row mt-10">
      <div class="col-sm-12 fs-5">
         <div class="card">
            <div class="card-body">
               <form (ngSubmit)="onSubmit()" [formGroup]="invoiceSettingsForm">
                  <div class="row">
                     <div style="display: none;">{{invoiceSettingsData.length}}</div>
                     <div class="col-12">
                        <h5 class="form-title fs-4"><span>Invoice details</span></h5>
                     </div>
                     <div class="col-12">
                        <div class="form-group col-sm-6">
                           <label class="fs-5 mb-3 form-title required"> Code</label>
                           <input type="text" class="form-control fs-5" formControlName="code"
                              [ngClass]="{'is-invalid':(isf.code.touched || isSubmitted) &&isf.code.errors?.required}" />
                           <span class="text-danger error-msg fs-7"
                              *ngIf="(isf.code.touched || isSubmitted) && isf.code.errors?.required">
                              Code is required
                           </span>
                        </div>
                     </div>
                     <div class="col-12">
                        <div class="form-group col-sm-6">
                           <label class="fs-5 mb-3 form-title required"> Starting range</label>
                           <input type="text" class="form-control fs-5" formControlName="startingRange"
                              [ngClass]="{'is-invalid':(isf.startingRange.touched || isSubmitted) &&isf.startingRange.errors?.required}" />
                           <span class="text-danger error-msg fs-7"
                              *ngIf="(isf.startingRange.touched || isSubmitted) && isf.startingRange.errors?.required">
                              Starting required is required
                           </span>
                        </div>
                     </div>
                     <div class="col-12">
                        <button type="reset" class="btn btn-dark btn-sm fs-5" style="width: 200px;margin-right: 20px"
                           (change)="resetAll()">
                           Reset
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm fs-5" style="width: 200px">
                           Submit
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>