<div>
   <div class="page-header d-flex align-items-center justify-content-between">
      <div>
         <div class="page-title">
            <h1 class="fw-bold">Invoice settings</h1>
         </div>
         <ul class="breadcrumb">
            <li class="breadcrumb-item fs-6">
               <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active fs-6">
               <a routerLink="{{ appRoute.invoiceSettings.INVOICE_SETTINGS_LIST }}">Invoice settings</a>
            </li>
         </ul>
      </div>

      <button type="submit" class="btn btn-primary" (click)="onSubmit()">
         Save changes
      </button>
   </div>

   <div class="card my-4">
      <div class="card-body">
         <form [formGroup]="form">

            <div class="form-group mb-3">
               <label class="fs-6 mb-3 required"> Code</label>
               <input type="text" class="form-control fs-6" formControlName="code"
                  [ngClass]="{'is-invalid':(formControls.code.touched || isSubmitted) && formControls.code.errors?.required}" />
            </div>

            <div class="form-group mb-3">
               <label class="fs-6 mb-3 required"> Starting range</label>
               <input type="text" class="form-control fs-6" formControlName="startingRange"
                  [ngClass]="{'is-invalid':(formControls.startingRange.touched || isSubmitted) && formControls.startingRange.errors?.required}" />
            </div>

            <div class="form-group mb-3">
               <label class="fs-6 mb-3 required"> Order Starting range</label>
               <input type="text" class="form-control fs-6" formControlName="orderStartingRange"
                  [ngClass]="{'is-invalid':(formControls.orderStartingRange.touched || isSubmitted) && formControls.orderStartingRange.errors?.required}" />
            </div>

            <div class="form-group mb-3">
               <label class="fs-6 mb-3 required">Invoice Template</label>
               <ngx-monaco-editor style="height: 500px;" [options]="editorOptions" formControlName="invoiceTemplate"
                  [ngClass]="{'is-invalid': (formControls.invoiceTemplate.touched || isSubmitted) && formControls.invoiceTemplate.errors?.required}">
               </ngx-monaco-editor>
            </div>

            <div class="form-group mb-3">
               <label class="fs-6 mb-3 required">Packing Slip Template</label>
               <ngx-monaco-editor style="height: 500px;" [options]="editorOptions" formControlName="packingSlipTemplate"
                  [ngClass]="{'is-invalid': (formControls.packingSlipTemplate.touched || isSubmitted) && formControls.packingSlipTemplate.errors?.required}">
               </ngx-monaco-editor>
            </div>
         </form>
      </div>

   </div>
</div>