<div>
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bold">{{customerDetails?.name}}'s referral history</h1>
        </div>
        <div class="row align-items-center">
            <div class="col d-flex align-items-start justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST }}">Customers</a>
                    </li>
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.customers.UPDATE_CUSTOMERS_LIST + '/' + customerQuery }}">
                            Update customers
                        </a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.customers.referralHistory + '/' + customerQuery }}">
                            {{customerDetails?.name}}'s referral history
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-body">
            <div class="row justify-content-end">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="keyword" class="form-label">&nbsp;</label>
                        <input type="text" placeholder="Search customers here" [formControl]="keyword"
                            class="form-control" (ngModelChange)="getReferralHistory()">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="keyword" class="form-label">&nbsp;</label>
                        <input type="button" value="Clear filters" (click)="clear()"
                            class="btn btn-secondary form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-head-custom table-vertical-center table-head-bg table-borderless">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="fs-6">
            <ng-container *ngFor="let customer of customers; let i =index">
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{customer?.name}}</td>
                    <td>{{customer?.email}}</td>
                    <td>{{customer?.mobile}}</td>
                    <td>
                        <span class="alert alert-success p-1 fs-6" [ngClass]="{'alert-danger': !customer?.isActive}">
                            {{customer?.isActive ? 'Active' : 'Inactive'}}
                        </span>
                    </td>
                    <td routerLink="{{appRoute.customers.UPDATE_CUSTOMERS_LIST + '/' + customer?.userid}}">
                        <svg height="18px" width="18px" data-slot="icon" fill="none" stroke-width="1.5"
                            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                        </svg>
                    </td>
                </tr>
            </ng-container>

            <tr *ngIf="customers.length == 0">
                <td colspan="6">
                    <app-no-results></app-no-results>
                </td>
            </tr>
        </tbody>
    </table>

    <app-pagination (pageTrigger)="onPageTriggered($event)" [pageIndex]="page" [pageSize]="limit"
        [totalPages]="totalPages" [totalResults]="totalResults"></app-pagination>
</div>