$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00BDAB;
$primaryBackground: #20BDAB40;
$activeBackground: #00BDAB20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

.colorsWrapper {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;

   .colorCard {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      background: $white;

      .colorBox {
         height: 40px;
         width: 40px;
      }
   }
}