$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: var(--brand-primary, #00BDAB);
$primaryBackground: var(--brand-primary-light, #20BDAB)40;
$activeBackground: var(--brand-primary, #00BDAB)20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

.colorsWrapper {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;

   .colorCard {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      background: $white;

      .colorBox {
         height: 40px;
         width: 40px;
      }
   }
}