.app-settings-container {
   margin: 30px 0 0 0;

   .row {
      .color-container {
         width: 130px;
         height: 130px;
         border-radius: 65px;
         margin: 0 0 20px 0;
      }

      .primary-color,
      .secondary-color {
         font-size: 1.3rem;
         font-weight: 500;
      }

      .items-per-page,
      .font-family {
         font-size: 1.3rem;
         font-weight: 500;
      }
   }
}

button{
  position: absolute;
  right: 20px;
}
