.customers {
    height: max-content;
    max-height: 300px;
    overflow: scroll;
    z-index: 99;

    .customer {
        cursor: pointer;
    }
}

.btn-secondary {
    font-weight: 400 !important;
}

.voucher-image{
    height: auto;
    aspect-ratio: 4/1;
}

label,
.btn-primary {
    font-weight: normal !important;
}