<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fw-bolder">
          {{ editMode ? "Update Tax Class" : "Add Tax Class" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.taxClass.TAX_CLASS_LIST }}">Tax Class</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.taxClass.ADD_TAX_CLASS }}">{{
              editMode ? "Update Tax Class" : "Add Tax Class"
              }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-6">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="taxClassForm">
            <div class="row">
              <div class="col-12">
                <h3 class="form-title"><span>Tax Class Details</span></h3>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 form-title required">Name</label>
                  <input type="text" class="form-control fs-6" formControlName="name" [ngClass]="{
                      'is-invalid':
                      (tf.name.touched || isSubmitted) &&
                      tf.name.errors?.required
                    }" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Description</label>
                  <input type="text" class="form-control fs-6" formControlName="description" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 form-title required">Status</label>
                  <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="true" selected>Active</option>
                    <option value="false">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 form-title required">Tax Rule</label>
                  <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg" (change)="tagRule()"
                    formControlName="rule" [ngClass]="{
                      'is-invalid':
                      (tf.rule.touched || isSubmitted) &&
                      tf.rule.errors?.required
                    }">
                    <option selected value="select" disabled>
                      -- Select a tax rule --
                    </option>
                    <option *ngFor="let taxRule of taxRuleNames" value="{{ taxRule?._id }}">
                      {{ taxRule?.name }}
                    </option>
                  </select>
                </div>
                <div class="tag-inputs col-12">
                  <ng-container *ngFor="let name of rulesName">
                    <span class="tag-input">
                      <div class="tag-name">{{ name }}</div>
                      <i class="bi bi-x" (click)="tagRemove(name)"></i>
                    </span>
                  </ng-container>
                </div>
              </div>
              <div class="col-12">
                <a routerLink="{{ appRoute.taxClass.TAX_CLASS_LIST}}" class=" btn btn-secondary btn-sm fs-6 text-dark"
                  style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button type="submit" class="btn btn-primary btn-sm fs-6" style="width: 200px">
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>