<div>

    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bold">Add Orders</h1>
        </div>
        <div class="row">
            <div class="col d-flex align-items-start justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.orders.ORDERS_LIST}}">Orders</a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.orders.ADD_ORDER_LIST}}">Add Orders</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <ng-template #createUser>
        <div class="modal-header">
            <h4 class="fs-2 fw-bold pull-left">Create Customer</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeCreateCustomer()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userForm" (ngSubmit)="createCustomer()">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="userName" class="fs-6 mb-3">Name</label>
                        <input id="userName" type="text" placeholder="Name" formControlName="name" class="form-control">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="userEmail" class="fs-6 mb-3">Email</label>
                        <input id="userEmail" type="text" placeholder="Email" formControlName="email"
                            class="form-control">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="userCountry" class="fs-6 mb-3">Country Code</label>
                        <select class="form-select" formControlName="countryCode" id="userCountry"
                            (change)="handleUserMobilePattern()">
                            <option value="" disabled>-- Select an option --</option>
                            <option value="+91">+91</option>
                            <option value="+971">+971</option>
                        </select>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="userMobile" class="fs-6 mb-3">Mobile</label>
                        <input id="userMobile" type="text" placeholder="Mobile" formControlName="mobile"
                            class="form-control">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-end gap-2">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </ng-template>

    <form [formGroup]="orderForm">
        <div class="card my-4">
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10">
                            <label for="searchUsers" class="fs-6 mb-3 required">Customers</label>
                            <input id="searchUsers" type="search" placeholder="Search customers here"
                                class="form-control" [formControl]="customer"
                                [ngClass]="{ 'is-invalid': (of.customerId.touched || isSubmitted) && of.customerId.errors?.required}">
                        </div>
                        <div class="col-lg-2">
                            <label for="addNewUser" class="fs-6 mb-3">New Customer?</label>
                            <button id="addNewUser" class="w-100 btn btn-secondary"
                                (click)="openCreateCustomer(createUser)">
                                Add customer
                            </button>
                        </div>
                    </div>

                    <ng-container *ngIf="customers.length > 0">
                        <div class="customers mt-3">
                            <ng-container *ngFor="let customer of customers; let i = index">
                                <div class="customerCard p-2 d-flex align-items-center justify-content-between"
                                    (click)="getAddress(addressRef, customer)"
                                    [ngClass]="{'active': customerDetails?._id == customer?._id}">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="index me-3">{{i + 1}}</div>
                                        <div class="name">{{customer?.name}}</div>
                                        <div class="mobile ms-3">{{customer?.countryCode}} {{customer?.mobile}}
                                        </div>
                                    </div>
                                    <div class="name">{{customer?.email}}</div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>

                <div class="my-3" *ngIf="address">
                    <div class="fs-6 mb-3">Customer Address :</div>
                    <div class="addressCard">
                        <div class="addressHeader p-3 d-flex justify-content-between align-items-center">
                            <div class="type pe-2 ps-2">{{address?.type}}</div>
                            <div class="manageAddress p-1" (click)="openManage(manageRef)">
                                <svg height="18px" width="18px" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                </svg>
                            </div>
                        </div>
                        <div class="p-3">
                            <div class="details">{{address?.countryCode}} {{address?.mobile}}</div>
                            <div class="lane">
                                {{address?.firstlane}} {{address?.secondlane ? ', ' + address?.secondlane : ''}}
                            </div>
                            <div class="area">{{address?.area}} {{address?.landmark}}</div>
                            <div class="city">{{address?.city}} {{address?.state}} {{address?.pincode}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="my-3">
                    <ng-container *ngIf="cartItems.length == 0">
                        <div class="emptyCart-container">
                            <img src="assets/icons/emptyCart.gif" style="height: 150px;" alt="Icon">
                            <button type="button" class="mt-5 btn btn-primary" (click)="openProducts(productsRef)">
                                Add Products
                            </button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="cartItems.length > 0">
                        <div>
                            <div class="d-flex align-items-center mb-4 justify-content-end">
                                <button type="button" class="btn btn-primary" (click)="openProducts(productsRef)">
                                    Add Products
                                </button>
                            </div>

                            <table class="table table-bordered table-stripped ">
                                <thead>
                                    <th class="p-2">Product</th>
                                    <th class="p-2">Price</th>
                                    <th class="p-2">Quantity</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cart of cartItems; let  i = index">
                                        <td>
                                            <div class="d-flex align-items-center justify-content-start gap-2">
                                                <img class="rounded border border-secondary"
                                                    onerror="this.src = 'assets/images/default.png'"
                                                    src="{{base}}{{cart?.thumbnail}}" alt="{{cart?.name}}" height="36"
                                                    width="36">
                                                <div>{{cart?.name}}</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="fs-5 fw-bold">{{settings?.currency}} {{cart?.price?.selling}}
                                            </div>
                                            <div *ngIf="cart?.price?.mrp > cart?.price?.selling"
                                                class="fs-5 text-muted text-decoration-line-through">
                                                {{settings?.currency}} {{cart?.price?.mrp}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center justify-content-start gap-2">
                                                <div class="gap-2 d-flex align-items-center justify-content-between">
                                                    <div class="quantityBtn bg-secondary rounded cursor-pointer"
                                                        (click)="updateQuantity('decrement', cart)">
                                                        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg"
                                                            fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                            stroke="currentColor" class="w-6 h-6">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                d="M18 12H6" />
                                                        </svg>
                                                    </div>
                                                    <div>
                                                        <input class="form-control" type="number"
                                                            [value]="cart.quantity"
                                                            (blur)="updateQuantityWithInput($event, cart)"
                                                            [max]="cart.maxOrderQuantity"
                                                            style="width: 100px; height: 30px;" />
                                                    </div>
                                                    <div class="quantityBtn bg-secondary rounded cursor-pointer"
                                                        (click)="updateQuantity('increment', cart)">
                                                        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg"
                                                            fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                            stroke="currentColor" class="w-6 h-6">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                d="M12 4.5v15m7.5-7.5h-15" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="deleteBtn bg-danger rounded text-white cursor-pointer"
                                                    (click)="deleteProduct(cart)">
                                                    <svg height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"
                                                        fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                        stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-body">
                <div *ngIf="(settings?.isPickUp == true || settings?.isPickUp == true) && address">
                    <div class="form-group mb-3" *ngIf="settings?.isPickUp == true && address">
                        <label class="fs-6 mb-3">Choose a Pickup Location</label>
                        <select class="form-select fs-6" formControlName="pickUpLocation">
                            <option value="" disabled>-- Select an option --</option>
                            <ng-container *ngFor="let pickupLocation of pickupLocations; let i = index">
                                <option value="{{pickupLocation?._id}}">
                                    <div>{{pickupLocation?.name}}</div>
                                    <div>( {{pickupLocation?.city}} )</div>
                                </option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="mb-3" *ngIf="settings?.isDeliverySlots == true && address">
                        <label class="fs-6 mb-3">Select a delivery dates</label>
                        <div class="dates" *ngIf="dates.length > 0">
                            <ng-container *ngFor="let date of dates">
                                <div class="date" (click)="selectDeliveryDate(date)"
                                    [ngClass]="{'active': deliveryDate == date}">
                                    <div class="text-center">
                                        <div class="fs-5">{{formatDate(date, 'month')}}</div>
                                        <div class="fs-2 my-2 fw-bold">{{formatDate(date, 'dateNumber')}}</div>
                                        <div class="fs-5 text-primary">{{formatDate(date, 'day')}}</div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="orderForm.get('deliveryDate')?.value">
                        <label class="fs-6 mb-3">Available timeslots</label>
                        <div class="timeslots">
                            <ng-container *ngFor="let time of timeslots">
                                <div class="timeslot fs-5" (click)="selectDeliveryTime(time?.refid)"
                                    [ngClass]="{'active': deliveryTime == time?.refid, 'border border-danger': (of.deliverySlot.touched || isSubmitted) && of.deliverySlot.errors?.required}">
                                    <div> {{time?.from}} - {{time?.to}}</div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label class="fs-6 mb-3 required">Payment Method</label>
                        <select class="form-select mb-3 fs-6" formControlName="paymentMethod"
                            [ngClass]="{ 'is-invalid': (of.paymentMethod.touched || isSubmitted) && of.paymentMethod.errors?.required}">
                            <option value="" disabled>-- Select an option --</option>
                            <option value="COD">Cash On Delivery</option>
                            <option value="ONLINE">Online</option>
                        </select>
                    </div>

                    <div class="col-lg-4 form-group" *ngIf="orderForm.get('paymentMethod')?.value == 'ONLINE'">
                        <label class="fs-6 mb-3">Transaction ID</label>
                        <input type="text" formControlName="transactionId" class="form-control fs-6">
                    </div>

                    <div class="col-lg-4 form-group">
                        <label class="fs-6 mb-3">Additional Charge</label>
                        <input type="text" formControlName="additionalCharge" class="form-control fs-6">
                    </div>

                </div>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-body">
                <div class="mb-3">
                    <label for="orderNote" class="fs-6 mb-3">Order Note</label>
                    <input type="text" id="orderNote" formControlName="orderNote" class="form-control fs-6">
                </div>

                <div class="mb-3">
                    <label for="shippingNote" class="fs-6 mb-3">Shipping Note</label>
                    <input type="text" id="shippingNote" formControlName="shippingNote" class="form-control fs-6">
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-end gap-2">
            <button routerLink="{{ appRoute.orders.ORDERS_LIST}}" class="btn btn-secondary">
                Cancel
            </button>
            <button class="btn btn-primary" (click)="createOrder()">
                Place Order
            </button>
        </div>
    </form>
</div>

<ng-template #addressRef>
    <div class="modal-header pb-0">
        <h4 class="fs-2 fw-bold pull-left">Select Address</h4>
    </div>
    <div class="modal-body pt-4">
        <div class="addressWrapper">
            <ng-container *ngFor="let addressItem of addressDetails; let i = index">
                <div class="addressCard mb-3" (click)="selectAddress(addressItem)"
                    [ngClass]="{'active': addressItem?._id == address?._id}">
                    <div class="addressHeader p-3 d-flex justify-content-between align-items-center">
                        <div class="type pe-2 ps-2">{{addressItem?.type}}</div>
                    </div>
                    <div class="p-3">
                        <div class="details">{{addressItem?.countryCode}} {{addressItem?.mobile}}</div>
                        <div class="lane">{{addressItem?.firstlane}} {{addressItem?.secondlane ? ', ' +
                            addressItem?.secondlane :
                            ''}}
                        </div>
                        <div class="area">{{addressItem?.area}} {{addressItem?.landmark}}</div>
                        <div class="city">{{addressItem?.city}} {{addressItem?.state}} {{addressItem?.pincode}}</div>
                    </div>
                </div>
            </ng-container>
            <div class="addressCard" (click)="openManage(manageRef)">
                <div class="addAddress">
                    <svg height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <p>Add new address</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #productsRef>
    <div class="modal-header pb-0">
        <h4 class="fs-2 fw-bold pull-left">Products</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="productsModalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-2">
        <div class="form-group">
            <input type="text" placeholder="Search products here" [formControl]="keyword"
                (ngModelChange)="getProducts()" class="form-control">
        </div>

        <ng-container *ngIf="products.length > 0">
            <div class="products mt-3">
                <ng-container *ngFor="let product of products; let i = index">
                    <div class="productCard p-2 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="index me-2">{{i + 1}}</div>
                            <div class="image me-2">
                                <img height="30" width="30" src="{{base}}{{product?.thumbnail}}" alt={{product?.name}}
                                    onerror="this.src = 'assets/images/default.png'">
                            </div>
                            <div class="details">
                                <div class="name">{{product?.name}}</div>
                                <div class="name">SKU : {{product?.sku}}</div>
                                <div class="name">
                                    <ng-container *ngFor="let attribute of product?.attributes">
                                        <ng-container *ngIf="attribute?.value">
                                            <div>
                                                <span class="fw-bold">{{attribute?.title}}</span>: {{attribute?.value}}
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                                <div class="price">{{settings?.currency}} {{product?.price?.selling}}</div>
                                <div class="stock mt-1" [ngClass]="{'outOfStock': product?.stock == 0}">
                                    {{product?.stock > 0 ? 'In stock (' + product?.stock + ')' : 'Out of stock'}}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary" (click)="addToCart(product)" *ngIf="product?.stock > 0">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</ng-template>

<ng-template #manageRef>
    <div class="modal-header pb-0">
        <h4 class="fs-2 fw-bold pull-left">Address Details</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close"
            (click)="manageAddressModalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addressForm">
            <div class="row">
                <div class="col-lg-6 mb-3 form-group">
                    <label class="fs-6 mb-3 required">Address Type</label>
                    <select class="form-select fs-6" formControlName="type"
                        [ngClass]="{'is-invalid': (addressControls.type.touched || isAddressSubmitted) && addressControls.type.errors?.required }">
                        <option value="" disabled>-- Select an option --</option>
                        <option value="Home">Home</option>
                        <option value="Work">Work</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="col-lg-6 form-group mb-3">
                    <label class="fs-6 mb-3">Name</label>
                    <input type="text" class="form-control fs-6" formControlName="name" />
                </div>

                <div class="col-lg-6 form-group mb-3">
                    <label class="fs-6 mb-3">Country Code</label>
                    <select class="form-select" formControlName="countryCode" (change)="handleAddressMobilePattern()">
                        <option value="" disabled>-- Select an option --</option>
                        <option value="+91">+91</option>
                        <option value="+971">+971</option>
                    </select>
                </div>

                <div class="col-lg-6 form-group mb-3">
                    <label class="fs-6 mb-3">Mobile Number</label>
                    <input type="text" class="form-control fs-6" [ngClass]="{
                          'is-invalid': addressControls.mobile.errors?.pattern
                        }" formControlName="mobile" />
                    <div class="mt-2 p-2 alert alert-danger" *ngIf="addressControls.mobile.errors?.pattern">
                        Enter a valid mobile number
                    </div>
                </div>

                <div class="col-lg-6 form-group mb-3">
                    <label class="fs-6 mb-3 required">Apartment</label>
                    <input type="text" class="form-control fs-6" formControlName="firstlane"
                        [ngClass]="{'is-invalid': (addressControls.firstlane.touched || isAddressSubmitted) && addressControls.firstlane.errors?.required }" />
                </div>

                <div class="col-lg-6 form-group mb-3">
                    <label class="fs-6 mb-3 required">City / Area</label>
                    <input type="text" class="form-control fs-6" formControlName="city"
                        [ngClass]="{'is-invalid': (addressControls.city.touched || isAddressSubmitted) &&  addressControls.city.errors?.required}" />
                </div>

                <div class="col-lg-6 form-group mb-3">
                    <label class="fs-6 mb-3">Landmark</label>
                    <input type="text" class="form-control fs-6" formControlName="landmark" />
                </div>

                <div class="col-lg-6 mb-3">
                    <div class="form-group">
                        <label class="fs-6 mb-3">Pincode</label>
                        <input type="number" class="form-control fs-6" formControlName="pincode" />
                    </div>
                </div>

                <div class="col-lg-6 mb-3">
                    <div class="form-group">
                        <label class="fs-6 mb-3 required">State / Emirate</label>
                        <input type="text" class="form-control fs-6" formControlName="state"
                            [ngClass]="{'is-invalid': (addressControls.state.touched || isAddressSubmitted) && addressControls.state.errors?.required}" />
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary" (click)="manageAddress()">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>