$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00BDAB;
$primary: #00BDAB;
$activeBackground: #00BDAB20;
$border: #E4E6EF;
$grey: #888888;

.quantityBtn{
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteBtn{
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//Table designs
.table {
  border: 1px solid #E4E6EF;
  background: #ffffff;
  font-size: 15px;

  tbody{

     tr{

        td{
           vertical-align: middle;
        }
     }
  }

  thead {

     tr{

        th{
           font-weight: 400 !important;
        }
     }
     background: #E4E7F4;
  }
  
  button{
      width: 120px;
  }

  img{
      height: 60px;
      width: 60px;
      object-fit: contain;
  }
}
//Table designs

.modal-header {
  border-bottom: none !important;
}

.btn-secondary,
.btn-primary {
  width: 180px;
}

.deliverySlots {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.625rem;

  .deliverySlot {
    cursor: pointer;
  }
}

.btn-secondary,
.btn-primary,
label {
  font-weight: 400 !important;
}

.btn-link {
  color: $grey !important;

  &:hover {
    color: $grey !important;
  }
}

.customers {
  max-height: 25rem;
  height: 100%;
  overflow-y: scroll;

  .customerCard {
    margin: 0 0 0.625rem 0;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background: #00BDAB15;
    }

    &.active {
      background: #00BDAB;
      color: #ffffff;
    }
  }
}

.cartWrapper {

  .cartItemswrapper {

    .summaryWrapper {
      border-radius: 15px;
      width: 280px;
      height: 250px;
      padding: 2rem 1rem;
      border: 1px solid #E4E6EF;

      .summary {
        font-size: 16px;
      }
    }
  }

  .cartItem {
    margin: 0 0 25px 0;

    .deleteProduct {
      cursor: pointer;
    }

    .updateProduct {

      .decrementQuantity,
      .incrementQuantity {
        height: 30px;
        width: 30px;
        background: #E4E6EF;
        display: grid;
        place-items: center;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

.products {
  max-height: 25rem;
  height: 100%;
  overflow-y: scroll;

  .productCard {
    border: 1px solid #E4E6EF;
    border-radius: 0.475rem;
    font-size: 14px;
    margin: 0 0 0.625rem 0;

    .details {
      .stock {
        background: #00bd71;
        color: $white;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        width: max-content;

        &.outOfStock {
          background: #bd0900;
        }
      }
    }
  }
}

.addressCard {
  border: 1px solid #E4E6EF;
  border-radius: 10px;
  position: relative;
  font-size: 14px;
  min-height: 140px;

  .addressHeader {
    border-bottom: 1px solid #E4E6EF;
  }

  .type {
    color: $primary;
    font-weight: 600;
    font-size: 16px;
  }

  &.active {
    background: #00BDAB15;
    border: 1px solid #00BDAB;
  }
}

.modal-body {
  .addressWrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: space-between;
    align-items: flex-start;

    .addressCard {
      border: 1px solid #E4E6EF;
      border-radius: 10px;
      cursor: pointer;
      min-height: 140px;
      width: calc(50% - 15px);

      .addAddress {
        justify-content: center;
        display: flex;
        align-items: center;
        height: 140px;
        flex-direction: column;
      }

      .addressHeader {
        border-bottom: 1px solid #E4E6EF;
      }

      .type {
        color: $primary;
        font-weight: 600;
        font-size: 16px;
      }

      &.active {
        background: #00BDAB15;
        border: 1px solid #00BDAB;
      }
    }
  }
}

.timeslots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .timeslot {
    border-radius: 5px;
    border: 1px solid $border;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;

    img {
      margin: 0 5px 0 0;
    }
  }

  .active {
    color: $primary;
    border: 1px solid $primary;
  }
}

.dates {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;

  .date {
    border-radius: 5px;
    border: 1px solid $border;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
  }

  .active {
    border: 1px solid $primary;
    color: $primary;
  }
}

.deliveryTypeWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;

  .typeBox {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $border;
    cursor: pointer;

    .typeTitle {
      font-weight: 600;
    }
  }

  .active {
    border: 1px solid $primary;
  }
}

.cart-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .cart-item {
    height: 200px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;

    .cart-image {
      width: 40px;
      flex: 2;
      border-radius: 10px;
      margin: 0 10px 0 0;
    }

    .cart-details {
      flex: 8;
      width: 100%;

      .cart-brand {
        font-weight: 500;
        color: #666666;
      }

      .cart-product {
        font-weight: 700;
        overflow: hidden;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .cart-price {
        margin: 20px 0 0 0;
        display: flex;
        align-items: center;

        span.offer-price {
          font-weight: 600;
          margin: 0 10px 0 0;
        }

        span.mrp-price {
          text-decoration: line-through;
        }
      }

      .cart-bottom {
        margin: 20px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cart-quantity {
          display: flex;
          align-items: center;

          .quantity {
            margin: 0 10px;
            font-size: 1.33rem;
            color: #111111;
          }

          .qty-btn {
            height: 30px;
            width: 30px;
            background: #666666;
            color: #ffffff;
            border: none;
            outline: none;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              font-size: 1.66rem;
              color: #ffffff !important;
            }
          }
        }
      }
    }
  }
}

.modal-content {
  .modal-body {
    position: relative;

    .added-to-cart {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      transition: 0.4s all ease-in-out;

      img {
        opacity: 0;
        transition: 0.7s all ease-in-out;
      }

      .added-text {
        opacity: 0;
        transition: 0.7s all ease-in-out;
        font-size: 1.4rem;
        margin: 10px 0 0 0;
        font-weight: 600;
      }
    }
  }
}

.show-added {
  background: #ffffff !important;
  pointer-events: all;

  img {
    opacity: 1 !important;
  }

  .added-text {
    opacity: 1 !important;
  }
}

.emptyCart-container {
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-title {
  margin: 0;
  font-weight: 700;
}

.orderSummaryCard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 20px;
  margin: 5px 0 0 0;
  padding: 5px 0;
  background: $white;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 10px;
  padding: 15px 10px;

  .productDetails {
    flex: 1;

    .orderProductName {
      font-weight: 600;
    }
  }

  .orderProductPrice {
    display: flex;
    align-items: center;

    span.offer-price {
      font-weight: 600;
      margin: 0 10px 0 0;
    }

    span.mrp-price {
      text-decoration: line-through;
      color: #AAAAAA;
      font-weight: 600;
    }
  }

  .productQuantity {
    font-size: 1.2rem;
  }

  .orderTotal {
    font-size: 1.44rem;
    font-weight: 600;
  }
}


.subTotal {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .subTotalTitle {
    margin: 0 10px 0 0;
  }

  .subTotalAmount {
    font-size: 1.44rem;
    font-weight: 600;
  }
}

h3.page-title.fw-bold.fs-2 {
  font-weight: 700 !important;
}