.color-picker {
  height: 40px;
  width: 80px;
}

.color-div {
  position: relative;
  height: 40px;
  margin: 0 30px 0 0;
  border-radius: 5px;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  height: 30px;
  width: 30px;
  background: #d2d2d2;
  border-radius: 50px;
}

.preview-image-section {
  display: grid;
  grid-template-columns: auto auto auto;
}

.preview-image {
  margin: 10px 0;

  height: 100px;
  width: 80px;
  object-fit: contain;
}

.preview-image img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
