<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">
          {{ editMode ? "Update Attribute" : "Add Attribute" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.category.CATEGORY_LIST }}">Categories</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.attribute.ATTRIBUTE_LIST }}"
              [queryParams]="{ category: category }">Attributes</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.attribute.ADD_ATTRIBUTE }}" [queryParams]="{ category: category }">
              {{ editMode ? "Update Attribute" : "Add Attribute" }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="attributeForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Attributes Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3"> Name</label>
                  <input type="text" class="form-control fs-5" formControlName="name" />
                </div>
              </div>
              <div class="col-12 col-sm-6"></div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Value Type</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="valueType" (change)="changeValueType()">
                    <option value="check" disabled>
                      -- Select An Option --
                    </option>
                    <option value="text" selected>Text</option>
                    <option value="image">Image</option>
                    <option value="color">Color Picker</option>
                  </select>
                </div>
              </div>
              <ng-container *ngIf="textFlag">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3"> Text Value </label>
                    <input class="form-control fs-5 mb-10" formControlName="values" (keyup.Arrowright)="tagInput()" />
                    <div class="tag-inputs col-12">
                      <ng-container *ngFor="let value of textArray">
                        <span class="tag-input bg-primary">{{ value }}
                          <i class="bi bi-x" (click)="tagRemove(value)"></i></span>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="colorFlag">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3"> Color Value </label>
                    <input type="color" class="form-control color-picker fs-5 mb-10" formControlName="colorValue"
                      (keyup.Arrowright)="tagInput()" (change)="getColorCode()" />
                  </div>
                  <div class="color-inputs col-12">
                    <ng-container *ngFor="let color of colorArray">
                      <div class="color-div" [ngStyle]="{ backgroundColor: color }">
                        <i class="bi bi-x fs-1 text-dark close-btn" (click)="colorRemove(color)"></i>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="imageFlag">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3"> Image Value </label>
                    <input type="file" class="form-control fs-5 mb-10" (change)="handleInputChange($event)"
                      formControlName="imageValue" id="attributeImage" accept='image/*' multiple />
                  </div>
                  <div class="tag-inputs col-12">
                    <ng-container *ngFor="let image of imageArray">
                      <div class="preview-image">
                        <img src="{{ image.url }}" alt="preview" id="preview" />
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Active</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Filtered Attribute ?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isFiltered">
                    <option value="false">False</option>
                    <option value="true">True</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-submit fs-4">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
</script> -->