.color-picker {
  height: 80px;
  width: 200px;
  // border: none;
  outline: none;
  border-radius: 10px;
}

.color-div {
  position: relative;
  height: 80px;
  width: 80px;
  margin: 10px 30px 0 0;
  border-radius: 10px;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -15px;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border-radius: 10px;
}

.preview-image-section {
  display: grid;
  grid-template-columns: auto auto auto;
}

.preview-image {
  margin: 10px 0;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.preview-image img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.color-inputs {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: start;
  align-items: center;
}

.images-inputs {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: start;
  align-items: center;
}