<div class="brand-page-container">
     <div class="page-header">
          <div class="page-title">
               <h1 class="fw-bolder">Admin Users</h1>
          </div>
          <div class="row align-items-center">
               <div class="col d-flex flex-row justify-content-between">
                    <ul class="breadcrumb">
                         <li class="breadcrumb-item fs-5">
                              <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                         </li>
                         <li class="breadcrumb-item active fs-5">
                              <a routerLink="{{ appRoute.admin.ADMIN_USERS }}">Admin Users</a>
                         </li>
                    </ul>
                    <button class="btn btn-primary cursor-pointer fs-5" color="primary"
                         routerLink="{{ appRoute.admin.ADD_ADMIN_USERS }}">
                         Add Admin Users
                    </button>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-sm-12">
               <div class="card card-table">
                    <div class="card-body">
                         <div style="display: none"> {{adminUsersData.length}}</div>
                         <div class="table-responsive" *ngIf="displayTable">
                              <table datatable [dtOptions]="dtOptions"
                                   class="datatable table table-borderless table-row-dashed table-center mb-0">
                                   <thead class="thead mt-100">
                                        <tr class="fs-7 text-uppercase">
                                             <th class="text-gray-400 col-md-2">Sl No.</th>
                                             <th class="text-gray-400 col-md-2">Username</th>
                                             <th class="text-gray-400 col-md-2">Email</th>
                                             <th class="text-gray-400 col-md-2">Status</th>
                                             <th class="text-gray-400 col-md-2">Action</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <tr *ngFor="let user of adminUsersData; let i = index">
                                             <td>
                                                  <h2 class="table-avatar fs-5">{{ i + 1 }}</h2>
                                             </td>
                                             <td>
                                                  <h2 class="table-avatar fs-5">{{user.username}}</h2>
                                             </td>
                                             <td>
                                                  <h2 class="table-avatar fs-5">{{ user.email }}</h2>
                                             </td>
                                             <td>
                                                  <ng-container *ngIf="user?.isActive == true">
                                                       <div class="active-text-view">
                                                            <span class="active-text"> active </span>
                                                       </div>
                                                  </ng-container>
                                                  <ng-container *ngIf="user?.isActive == false">
                                                       <div class="inactive-text-view">
                                                            <span class="inactive-text"> inactive </span>
                                                       </div>
                                                  </ng-container>
                                             </td>
                                             <td>
                                                  <a routerLink="{{ appRoute.admin.UPDATE_ADMIN_USERS }}"
                                                       [queryParams]="{ admin: user?.slug }"
                                                       class="fs-5 cursor-pointer text-gray-400er">
                                                       <i class="bi bi-pen"></i>
                                                       Edit
                                                  </a>
                                             </td>
                                        </tr>
                                   </tbody>
                              </table>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>