<div>
    <div class="page-header d-flex align-items-start justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Guests</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoute.guestCustomers }}">Guests</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-body">
            <div class="form-group">
                <input type="search" placeholder="Search guests" (ngModelChange)="searchGuests()"
                    [formControl]="keyword" id="keyword" class="form-control">
            </div>
        </div>
    </div>

    <div>
        <table class="table table-head-custom table-vertical-center table-head-bg table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Created On</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let guest of guests; let i = index">
                    <tr>
                        <td>{{guest.name}}</td>
                        <td>{{guest.email}}</td>
                        <td>{{guest.countryCode}} {{guest.mobile}}</td>
                        <td>{{guest.status}}</td>
                        <td>{{guest.createdAt}}</td>
                    </tr>
                </ng-container>
                <tr *ngIf="guests.length == 0">
                    <td colspan="5">
                        <app-no-results></app-no-results>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="my-4">
        <app-pagination (pageTrigger)="onPageTriggered($event)" [pageSize]="limit" [pageIndex]="page"
            [totalPages]="totalPages" [totalResults]="totalResults"></app-pagination>
    </div>
</div>