$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: var(--brand-primary, #00BDAB);
$activeBackground: var(--brand-primary, #00BDAB)20;
$border: #cccccc;

label,
.btn-primary,
.btn-secondary {
    font-weight: normal !important;
}

.timeslots {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    .timeslot {
        border: 1px solid $border;
        padding: 10px;
        display: grid;
        place-items: center;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 0 5px 0 0;
        }
    }

    .selectedTime {
        border: 1px solid $activeState;
        background: $activeBackground;
    }
}

.w200 {
    width: 200px;
}

.mr-10 {
    margin-right: 10px;
}