<div class="storesContainer">
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bolder">Stores</h1>
        </div>
        <div class="row">
            <div class="col d-flex align-items-start justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.stores.STORE_LIST}}">Stores</a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.stores.UPDATE_STORE}}">Update Stores</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form">

                    <div>
                        <div class="fs-3 mb-3 fw-bold">Basic Details</div>
                        <div class="row">
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6 required">Name</label>
                                <input type="text" class="form-control" formControlName="name"
                                    [ngClass]="{ 'is-invalid':  (fc.name.touched || !isValid) && fc.name.errors?.required }" />
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6 required">Email</label>
                                <input type="text" class="form-control" formControlName="email"
                                    [ngClass]="{ 'is-invalid':  (fc.email.touched || !isValid) && fc.email.errors?.required }" />
                                <div class="alert alert-danger p-1 mt-1" *ngIf="fc.email.errors?.pattern">
                                    Please enter a valid email
                                </div>
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6 required">Country Code</label>
                                <select class="form-select form-select-lg mb-3 fs-6" formControlName="countryCode"
                                    (change)="handleMobilePattern()"
                                    [ngClass]="{'is-invalid':  (fc.countryCode.touched || !isValid) && fc.countryCode.errors?.required }">
                                    <option value='' disabled>-- Select an option --</option>
                                    <option value='+91'>+91</option>
                                    <option value='+971'>+971</option>
                                </select>
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6 required">Mobile number</label>
                                <input type="text" class="form-control" formControlName="mobile"
                                    [ngClass]="{ 'is-invalid':  (fc.mobile.touched || !isValid) && fc.mobile.errors?.required }" />
                                <div class="alert alert-danger p-1 mt-1" *ngIf="fc.mobile.errors?.pattern">
                                    Please enter a valid mobile number
                                </div>
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6">Telephone Number</label>
                                <input type="text" class="form-control" formControlName="tel"
                                    [ngClass]="{ 'is-invalid':  (fc.tel.touched || !isValid) && fc.tel.errors?.required }" />
                                <div class="alert alert-danger p-1 mt-1" *ngIf="fc.tel.errors?.pattern">
                                    Please enter a valid telephone number
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="fs-3 mb-3 fw-bold">Address Details</div>
                        <div class="row">
                            <div class="mb-3 col-lg-12">
                                <label class="mb-1 fs-6 required">Map location link </label>
                                <input type="text" class="form-control" formControlName="map"
                                    [ngClass]="{ 'is-invalid':  (fc.map.touched || !isValid) && fc.map.errors?.required }" />
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6">Latitude</label>
                                <input type="text" class="form-control" formControlName="lat" />
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6">Longitude</label>
                                <input type="text" class="form-control" formControlName="lng" />
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6 required">Firstlane</label>
                                <input type="text" class="form-control" formControlName="firstlane"
                                    [ngClass]="{ 'is-invalid':  (fc.firstlane.touched || !isValid) && fc.firstlane.errors?.required }" />
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6">Secondlane</label>
                                <input type="text" class="form-control" formControlName="secondlane" />
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6 ">Area</label>
                                <input type="text" class="form-control" formControlName="area" />
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6">Landmark</label>
                                <input type="text" class="form-control" formControlName="landmark" />
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6 required">City</label>
                                <input type="text" class="form-control" formControlName="city"
                                    [ngClass]="{ 'is-invalid':  (fc.city.touched || !isValid) && fc.city.errors?.required }" />
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="fs-3 mb-3 fw-bold">Operation Details</div>
                        <div class="row">
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6">Start Time</label>
                                <input type="text" class="form-control" formControlName="startTime" />
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label class="mb-1 fs-6">End Time</label>
                                <input type="text" class="form-control" formControlName="endTime" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-lg-6">
                            <label class="mb-1 fs-6">Status</label>
                            <select class="form-select form-select-lg mb-3 fs-6" formControlName="isActive">
                                <option value=true>Active</option>
                                <option value=false>Inactive</option>
                            </select>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label class="mb-1 fs-6">Featured</label>
                            <select class="form-select form-select-lg mb-3 fs-6" formControlName="isFeatured">
                                <option value=true>Yes</option>
                                <option value=false>No</option>
                            </select>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label class="mb-1 fs-6">Delivery point?</label>
                            <select class="form-select form-select-lg mb-3 fs-6" formControlName="isClickPoint">
                                <option value=true>Yes</option>
                                <option value=false>No</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-end">
                        <button routerLink="{{ appRoute.stores.STORE_LIST}}" class="btn btn-light text-dark w200 mr-10">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary w200" (click)="addDetails()">
                            Update Store
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>