$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20BDAB40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

label,
input[type=button] {
  font-weight: normal !important;
}

.brand-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.brand-card {
  padding: 10px;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  .editButton {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 20px;

    &:hover {
      background: $hover;
    }
  }

  .brand-image {
    height: 60px;
    width: 60px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }

  .brand-details {
    margin: 0 0 0 10px;

    .brand-status-true,
    .brand-featured-true {
      color: #00bdab;
      font-weight: 600;
    }

    .brand-status-false {
      color: #ce1626;
      font-weight: 600;
    }

    .brand-featured-false {
      color: #0087bd;
      font-weight: 600;
    }
  }
}


.filteringWrapper {
  .filtering {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    span {
      color: #8B909A;
      line-height: 18px;
    }

    select {
      border: 1px solid #E8E8E8;
      border-radius: 6px;
      padding: 5px;

      &:focus {
        outline: none;
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    .paginationBefore,
    .paginationNext {
      height: 30px;
      width: 30px;
      border-radius: 15px;
      display: grid;
      place-items: center;
      background: $background;
      cursor: pointer;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .paginationPage {
      margin: 0 10px;
    }
  }
}