<div class="brand-page-container">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Brands</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.brand.BRAND_LIST }}">Brands</a>
          </li>
        </ul>
        <button class="btn btn-primary cursor-pointer fs-6" color="primary" routerLink="{{ appRoute.brand.ADD_BRAND }}"
          style="width: 200px">Add Brand</button>
      </div>
    </div>
  </div>
  <div class="brand-form-container">
    <form [formGroup]="brandForm">
      <div class="col-12 row" style="display: flex; align-items: flex-end;">
        <div class="search-input col-sm-4">
          <label class="fs-6">Search</label>
          <input type="text" placeholder="Search for brands here..." class="form-control fs-6" formControlName="name">
        </div>
        <div class="search-status col-sm-2">
          <label class="fs-6">Status</label>
          <select name="" id="" class="form-select fs-6" formControlName="isActive">
            <option value="">-- Select an option --</option>
            <option value=true>Active</option>
            <option value=false>Inactive</option>
          </select>
        </div>
        <div class="search-featured col-sm-2">
          <label class="fs-6 form-title">Featured</label>
          <select name="" id="" class="form-select fs-6" formControlName="isFeatured">
            <option value="">-- Select an option --</option>
            <option value=true>Featured</option>
            <option value=false>Non featured</option>
          </select>
        </div>
        <div class="search-submit col-sm-2">
          <input type="reset" class="form-control fs-6 bg-secondary text-dark" (click)="onReload()"
            style="outline: none; border: none;">
        </div>
        <div class="search-submit col-sm-2">
          <input type="submit" class="form-control fs-6 bg-primary text-white" (click)="onSubmit()"
            style="outline: none; border: none;">
        </div>
      </div>
    </form>
  </div>
  <div class="brand-card-container">
    <div style="display: none;">{{brandData.length}}</div>
    <ng-container *ngFor="let brand of brandData">
      <div class="brand-card">
        <div class="brand-details">
          <div class="brand-image">
            <img src='{{base}}/{{brand?.file}}' alt="brand image" srcset="" />
          </div>
          <div class="flex-1">
            <div class="brand-name">{{brand?.name}}</div>
            <div class="brand-featured-{{brand?.isFeatured}}">
              <ng-container *ngIf="brand?.isFeatured == true">Featured</ng-container>
              <ng-container *ngIf="brand?.isFeatured == false">Not Featured</ng-container>
            </div>
          </div>
        </div>
        <div class="flex-21">
          <div class="brand-status-{{brand?.isActive}}">
            <ng-container *ngIf="brand?.isActive == true">Active</ng-container>
            <ng-container *ngIf="brand?.isActive == false">Inactive</ng-container>
          </div>
          <div class="card-edit-btn">
            <button routerLink="{{ appRoute.brand.UPDATE_BRAND }}" [queryParams]="{ brand: brand?.slug }"
              class="fs-5 cursor-pointer text-darker">
              Edit
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="len == 0">
      <div class="no-data-container">
        <h2>Sorry, we haven't found any data</h2>
      </div>
    </ng-container>
  </div>
</div>