.pending {
   height: 30px;
   padding: 10px 30px;
   background: rgb(62, 57, 113);
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   font-weight: 500;
}