.pending {
   width: 100px;
   background: #e8343480;
   color: #ffffff !important;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #111111;
   font-weight: 600;
   padding: .625rem 1.25rem;
   border-radius: .625rem;
}

.paymentStatus {
   font-weight: 600;
   padding: .625rem 1.25rem;
   border-radius: .625rem;
}

.paid {
   background: #2fe55c80;
}

.unpaid {
   background: #e52f2f80;
   color: #ffffff !important;
}