<div class="brand-page-container">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Pending Orders</h1>
    </div>
    <div class="row">
      <div class="col d-flex align-items-start justify-content-between">
        <ul class="breadcrumb fw-bolder">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.orders.PENDING_ORDERS_LIST }}">Pending Orders</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top-form-container">
    <form action="" [formGroup]="orderform">
      <div class="row align-items-end">
        <div class="col-12 col-sm-2 align-items-center justify-content-evenly">
          <label class="fs-5">From</label>
          <div class="form-group">
            <input type="date" class="form-control" formControlName="fdate" id="" (change)="searchPendingOrder()">
          </div>
        </div>
        <div class="col-12 col-sm-2 align-items-center justify-content-evenly">
          <label class="fs-5">To</label>
          <div class="form-group">
            <input type="date" class="form-control" formControlName="tdate" id="" (change)="searchPendingOrder()">
          </div>
        </div>
        <div class="col-12 col-sm-2 align-items-center justify-content-evenly">
          <!-- <label class="fs-5">Payment</label> -->
          <div class="form-group">
            <select class="form-select form-select-lg" aria-label=".form-select-lg" formControlName="paymentMethod"
              (change)="searchPendingOrder()">
              <option value="" disabled>Payment Method Filter</option>
              <option value="COD">COD</option>
              <option value="ONLINE">Online</option>
              <option value="CASH">Cash</option>
              <option value="UNPAID">Unpaid</option>
              <option value="SPLIT">Split</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-2">
          <a (click)="reloadPage()" class=" btn fw-bolder btn-secondary fs-5 text-dark"
            style="width: 200px; margin-right: 20px;">
            Clear
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table id=DataTables_Table_0 datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-center">
              <thead class="thead mt-100">
                <tr class="fs-5 text-gray-400">
                  <th scope="col" class="">Sl No</th>
                  <th scope="col">Order No.</th>
                  <th scope="col">Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Total</th>
                  <th scope="col">Payment Method</th>
                  <th scope="col">Payment Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders; let i = index" class="fs-5">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{order?.orderNo}}</td>
                  <td>{{order?.orderDate}} <br> {{order?.orderTime}}</td>
                  <td>
                    <span class="orderStatus {{order?.orderStatus.toLowerCase()}} fs-6">
                      {{order?.orderStatus}}
                    </span>
                  </td>
                  <td>{{order?.customerId?.name}} <br> {{order?.customerId?.mobile}}</td>
                  <td>Rs. {{order?.total}}</td>
                  <td>{{order?.paymentMethod}}</td>
                  <td><span
                      class="paymentStatus {{order?.paymentStatus.toLowerCase()}} fs-6">{{order?.paymentStatus}}</span>
                  </td>
                  <td>
                    <a class="fs-5 h-100 cursor-pointer table-avatar text-gray-400er"
                      routerLink="{{ appRoute.orders.UPDATE_ORDER_LIST }}" [queryParams]="{ order: order?.refid }">
                      <i class="bi bi-pen"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>