$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: var(--brand-primary, #00BDAB);
$primaryBackground: var(--brand-primary-light, #20BDAB)40;
$activeBackground: var(--brand-primary, #00BDAB)20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

.tabs {
    border-radius: 50px;
    background: $white;
    width: max-content;
    box-shadow: 0px 0px 42px -3px rgba(0, 0, 0, 0.09);

    .tabItem {
        width: 100px;

        a {
            color: #222222;
            background: $background;
            border-radius: 50px;
            padding: 10px;
        }

        &.activeTabItem {
            a {
                color: $white;
                background: $activeState;
                border-radius: 50px;
                padding: 10px;
            }
        }
    }
}