<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">
          {{ editMode ? "Update Category" : "Add Category" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.category.CATEGORY_LIST }}">Categories</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.category.UPDATE_CATEGORY }}" [queryParams]="{ category: category }">{{ editMode ?
              "Update Category" : "Add Category" }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-6">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Category Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Category Name</label>
                  <input type="text" placeholder="Category name" class="form-control fs-6" formControlName="name"
                    [ngClass]="{
                      'is-invalid':
                      (bf.name.touched || isSubmitted) &&
                      bf.name.errors?.required
                    }" />
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (bf.name.touched || isSubmitted) &&
                      bf.name.errors?.required
                    ">Category name is required</span>
                  <div class="fs-7 mt-3">A category name is required and recommended to be unique.</div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Root Category</label>
                  <select class="form-select" aria-label="-- select --" formControlName="isRoot"
                    (change)="handleCheckBox()" [ngClass]="{
                      'is-invalid':
                      (bf.isRoot.touched || isSubmitted) &&
                      bf.isRoot.errors?.required
                    }">
                    <option value="check">-- Select an option --</option>
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                  (bf.isRoot.touched || isSubmitted) &&
                  bf.isRoot.errors?.required
                ">Root category is required</span>
                  <div class="fs-7 mt-3">Kindly confirm whether this is a root category or not. </div>
                </div>
              </div>
              <ng-container *ngIf="isChecked == false">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3">Parent Category</label>
                    <select class="form-select" aria-label="-- select --" formControlName="parentId">
                      <option *ngFor="let category of categoryArray" value="{{ category }}">
                        {{ category }}
                      </option>
                    </select>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="isChecked == true">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3">Parent Category</label>
                    <select class="form-select" aria-label="-- select --" disabled>
                      <option selected>-- Select Parent Category --</option>
                    </select>
                  </div>
                </div>
              </ng-container>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Status</label>
                  <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="false" selected>Inactive</option>
                    <option value="true">Active</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Featured Category ?</label>
                  <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
                    formControlName="isFeatured">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6"></div>
              <div class="col-12 col-sm-6">
                <div class="col-12">
                  <h3 class="form-title required"><span>Media</span></h3>
                </div>
                <div class="form-group">
                  <div class="image-upload">
                    <input type="file" class="form-control fs-6" name="image" accept="image/*"
                      (change)="handleInputChange($event)"
                      onchange="document.getElementById('previewImage').src = window.URL.createObjectURL(this.files[0])"
                      style="height: 100px;" required>
                    <div class="image-upload-div">
                      <div class="left-img"><img src="../../../../../assets/media/svg/files/upload.svg" alt=""
                          srcset=""></div>
                      <div class="right-text d-flex flex-column"><span class="right-text-title fs-4 fw-bolder">Click to
                          upload</span> <span class="right-text-note fs-7 text-gray-400" style="font-weight: 500">Upload
                          up to 1
                          file</span></div>
                    </div>
                  </div>
                  <div class="uploads uploaded">
                    <img id="previewImage" src="http://localhost:3000/{{ categoryValues.file }}">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <a routerLink="{{ appRoute.category.CATEGORY_LIST}}" class=" btn btn-secondary btn-sm fs-6 text-dark"
                  style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button type="submit" class="btn btn-primary btn-sm fs-6" style="width: 200px">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>