$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20BDAB40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

.update,
.delete {
    cursor: pointer;
}

label,
input[type=button],
.btn-secondary {
    font-weight: normal !important;
    width: 100%;
}

.filteringWrapper {
    .filtering {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;

        span {
            color: #8B909A;
            line-height: 18px;
        }

        select {
            border: 1px solid #E8E8E8;
            border-radius: 6px;
            padding: 5px;

            &:focus {
                outline: none;
            }
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;

        .paginationBefore,
        .paginationNext {
            height: 30px;
            width: 30px;
            border-radius: 15px;
            display: grid;
            place-items: center;
            background: $background;
            cursor: pointer;

            &.disabled {
                opacity: 0.5;
                pointer-events: none;
            }
        }

        .paginationPage {
            margin: 0 10px;
        }
    }

}

.emptyNote {
    margin: 0 0 20px 0;
    display: grid;
    place-items: center;

    .note {
        font-weight: normal;
    }
}

.table-responsive {

    .common_thead {
        background: #20BDAB;

        th {
            font-weight: 600;
            font-size: 14px;
            line-height: 15px;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    }

    tr {
        border-bottom: 1px solid #E8E8E8;
    }

    tbody {
        tr {
            td {
                img {
                    cursor: pointer;
                }
            }
        }
    }
}

.modal-body {
    .btn {
        width: 120px;
    }
}