<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-1 fw-bolder">{{ editMode ? "Update Brand" : "Add Brand" }}</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.brand.BRAND_LIST }}">Brands</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.brand.UPDATE_BRAND }}" [queryParams]="{ brand: brand }">{{ editMode ? "Update Brand" : "Add Brand" }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page Header -->
  <!-- Page Body -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="brandForm">
            <div class="row">
              <div class="col-12"><h5 class="form-title fs-4"><span>Brand Details</span></h5></div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Name</label>
                  <input type="text" class="form-control fs-5" formControlName="name"/>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Logo</label>
                  <input type="file" class="form-control fs-5" (change)="handleInputChange($event)"/>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Status</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" formControlName="isActive">
                    <option value="true">True</option>
                    <option value="false">False</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Featured Brand ?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" formControlName="isFeatured">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary fs-4">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Body -->
</div>
