.checkbox {
    position: relative;
    height: 16px;
    width: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 0 5px 0 0;
    cursor: pointer;

    &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2px;
        height: 10px;
        width: 10px;
    }

    &.checked {

        &::after {
            background: #00bdab;
        }
    }
}

label,
input[type=button],
.btn {
  font-weight: normal !important;
}