<div>

  <div class="page-header d-flex align-items-center justify-content-start">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">Add Tax Rule</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.taxRules.TAX_RULES_LIST }}">Tax Rules</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.taxRules.ADD_TAX_RULES }}">
            Add Tax Rule
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row my-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-lg-6 mb-3">
              <div class="form-group">
                <label class="fs-6 mb-3 required"> Name</label>
                <input type="text" class="form-control fs-6" formControlName="name"
                  [ngClass]="{'is-invalid': (formControls.name.touched || isSubmitted) && formControls.name.errors?.required }" />
              </div>
            </div>

            <div class="col-lg-6 mb-3">
              <div class="form-group">
                <label class="fs-6 mb-3 required"> Rate</label>
                <input type="text" class="form-control fs-6" formControlName="rate"
                  [ngClass]="{'is-invalid': (formControls.rate.touched || isSubmitted) && (formControls.rate.errors?.required|| formControls.rate.errors?.pattern) }" />
              </div>
              <div class="mt-2 p-2 alert alert-danger" *ngIf="formControls.rate.errors?.pattern">
                Enter a valid tax rate
              </div>
            </div>

            <div class="col-lg-6 mb-3">
              <div class="form-group">
                <label class="fs-6 mb-3">Status</label>
                <select class="form-select mb-3 fs-6" formControlName="isActive">
                  <option value="" disabled>-- Select an option --</option>
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>
            </div>

            <div class="d-flex align-items-center justify-content-end gap-2">
              <a routerLink="{{ appRoute.taxRules.TAX_RULES_LIST}}" class="btn btn-secondary">
                Cancel
              </a>
              <button type="submit" class="btn btn-primary" (click)="add()">
                Save changes
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>