<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fw-bolder fs-2">
          {{ editMode ? "Update Admin Users" : "Add Admin Users" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.admin.ADMIN_USERS }}">Admin Users</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.admin.ADD_ADMIN_USERS }}">
              {{ editMode ? "Update Admin Users" : "Add Admin Users"}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="adminForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Admin User Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required"> First Name</label>
                  <input type="text" class="form-control fs-5" formControlName="firstname" [ngClass]="{
                      'is-invalid':
                      (af.firstname.touched || isSubmitted) &&
                      af.firstname.errors?.required
                    }" />
                  <span class="text-danger error-msg fs-5" *ngIf="
                      (af.firstname.touched || isSubmitted) &&
                      af.firstname.errors?.required
                  ">First name is required
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title "> Last Name</label>
                  <input type="text" class="form-control fs-5" formControlName="lastname"  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required"> Email</label>
                  <input type="text" class="form-control fs-5" formControlName="email" [ngClass]="{
                      'is-invalid':
                      (af.email.touched || isSubmitted) &&
                      af.email.errors?.required
                    }" (change)="checkEmail($event.target)" />
                  <span class="text-danger error-msg fs-5" *ngIf="
                      (af.email.touched || isSubmitted) &&
                      af.email.errors?.required
                  ">Email is required
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required"> Mobile No.</label>
                  <input type="text" class="form-control fs-5" formControlName="mobile" [ngClass]="{
                      'is-invalid':
                      (af.mobile.touched || isSubmitted) &&
                      af.mobile.errors?.required
                    }" />
                  <span class="text-danger error-msg fs-5" *ngIf="
                      (af.mobile.touched || isSubmitted) &&
                      af.mobile.errors?.required
                  ">Mobile is required
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required"> Username</label>
                  <input type="text" class="form-control fs-5" formControlName="username" [ngClass]="{
                      'is-invalid':
                      (af.username.touched || isSubmitted) &&
                      af.username.errors?.required
                    }" />
                  <span class="text-danger error-msg fs-5" *ngIf="
                      (af.username.touched || isSubmitted) &&
                      af.username.errors?.required
                  ">Username is required
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required">Role</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" formControlName="roleId"
                    [ngClass]="{
                    'is-invalid':
                    (af.roleId.touched || isSubmitted) &&
                    af.roleId.errors?.required
                  }">
                    <option value="" disabled>-- Select an option --</option>
                    <option *ngFor="let role of rolesData" value="{{ role?._id }}">
                      {{ role?.name }}
                    </option>
                  </select>
                  <span class="text-danger error-msg fs-5" *ngIf="
                  (af.roleId.touched || isSubmitted) &&
                  af.roleId.errors?.required
              ">Role is required
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required">Password</label>
                  <input type="password" class="form-control fs-5" formControlName="firstPwd" [ngClass]="{
                      'is-invalid':
                      (af.firstPwd.touched || isSubmitted) &&
                      af.firstPwd.errors?.required
                    }" />
                  <span class="text-danger error-msg fs-5" *ngIf="
                      (af.firstPwd.touched || isSubmitted) &&
                      af.firstPwd.errors?.required
                  ">Password is required
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required">Confirm Password</label>
                  <input type="password" class="form-control fs-5" formControlName="password" [ngClass]="{
                      'is-invalid':
                      (af.password.touched || isSubmitted) &&
                      af.password.errors?.required
                    }" />
                  <span class="text-danger error-msg fs-5" *ngIf="
                      (af.password.touched || isSubmitted) &&
                      af.password.errors?.required
                  ">Confirm password is required
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required">Status</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="" disabled>-- Select an option --</option>
                    <option value="false">Inactive</option>
                    <option value="true">Active</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <a routerLink="{{ appRoute.admin.ADMIN_USERS}}" class="btn btn-secondary btn-sm fs-5 text-dark"
                  style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button type="submit" class="btn btn-primary btn-sm fs-5" style="width: 200px">
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>