<div class="content container-fluid">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder"> {{ editMode ? "Update Admin Users" : "Add Admin Users"}}</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex align-items-start justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.admin.ADMIN_USERS }}">Admin Users</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.admin.ADD_ADMIN_USERS }}">
              {{ editMode ? "Update Admin Users" : "Add Admin Users"}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 fs-6">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="adminForm">
            <div class="row">

              <h2 class="fw-bolder">Admin User Details</h2>

              <div class="col-6 mb-3">
                <div class="form-group">
                  <label class="fs-6 mb-3 required"> First name</label>
                  <input type="text" class="form-control fs-6" formControlName="firstname" [ngClass]="{
                      'is-invalid':
                      (af.firstname.touched || isSubmitted) &&
                      af.firstname.errors?.required
                    }" />
                </div>
              </div>
              <div class="col-6 mb-3">
                <div class="form-group">
                  <label class="fs-6 mb-3"> Last name</label>
                  <input type="text" class="form-control fs-6" formControlName="lastname" />
                </div>
              </div>
              <div class="col-6 mb-3">
                <div class="form-group">
                  <label class="fs-6 mb-3 required"> Email</label>
                  <input type="text" class="form-control fs-6" formControlName="email" [ngClass]="{
                      'is-invalid':
                      (af.email.touched || isSubmitted) &&
                      af.email.errors?.required
                    }" (change)="checkEmail($event.target)" />
                </div>

                <div class="alert alert-danger fs-7 mt-1" role="alert" *ngIf="af.email.errors?.pattern">
                  Please, enter valid email address
                </div>
              </div>
              <div class="col-6 mb-3">
                <div class="form-group">
                  <label class="fs-6 mb-3 required"> Mobile No.</label>
                  <input type="text" class="form-control fs-6" formControlName="mobile" [ngClass]="{
                      'is-invalid':
                      (af.mobile.touched || isSubmitted) &&
                      af.mobile.errors?.required
                    }" />
                </div>

                <div class="alert alert-danger fs-7 mt-1" role="alert" *ngIf="af.mobile.errors?.pattern">
                  Please, enter valid mobile number
                </div>
              </div>
              <div class="col-6 mb-3">
                <div class="form-group">
                  <label class="fs-6 mb-3 required"> Username</label>
                  <input type="text" class="form-control fs-6" formControlName="username" [ngClass]="{
                      'is-invalid':
                      (af.username.touched || isSubmitted) &&
                      af.username.errors?.required
                    }" />
                </div>
              </div>
              <div class="col-6 mb-3">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Role</label>
                  <select class="form-select fs-6 mb-3" aria-label=".form-select-lg" formControlName="role" [ngClass]="{
                    'is-invalid':
                    (af.role.touched || isSubmitted) &&
                    af.role.errors?.required
                  }">
                    <option value="" disabled>-- Select an option --</option>
                    <option *ngFor="let role of rolesData" value="{{ role?._id }}">
                      {{ role?.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-6 mb-3">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Password</label>
                  <input type="password" class="form-control fs-6" formControlName="firstPwd" [ngClass]="{
                      'is-invalid':
                      (af.firstPwd.touched || isSubmitted) &&
                      af.firstPwd.errors?.required
                    }" />
                </div>
              </div>
              <div class="col-6 mb-3">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Confirm Password</label>
                  <input type="password" class="form-control fs-6" formControlName="password" [ngClass]="{
                      'is-invalid':
                      (af.password.touched || isSubmitted) &&
                      af.password.errors?.required
                    }" />
                </div>
              </div>
              <div class="col-6 mb-3">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Status</label>
                  <select class="form-select fs-6 mb-3" aria-label=".form-select-lg" formControlName="isActive">
                    <option value="" disabled>-- Select an option --</option>
                    <option value="false">Inactive</option>
                    <option value="true">Active</option>
                  </select>
                </div>
              </div>
              <div class="col-12 d-flex align-items-center justify-content-end">
                <a routerLink="{{ appRoute.admin.ADMIN_USERS}}" class="btn btn-secondary btn-sm fs-6 text-dark"
                  style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button type="submit" class="btn btn-primary btn-sm fs-6" style="width: 200px">
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>