<div>
  <div class="page-header">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">Add Admin</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.admin.ADMIN_USERS }}">Admin Users</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.admin.ADD_ADMIN_USERS }}">
            Add Admin
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="row">

          <div class="col-lg-6 mb-3">
            <div class="form-group">
              <label class="fs-6 mb-3 required">First name</label>
              <input type="text" class="form-control fs-6" formControlName="firstname"
                [ngClass]="{
                    'is-invalid': (formControls.firstname.touched || isSubmitted) && formControls.firstname.errors?.required }" />
            </div>
          </div>

          <div class="col-lg-6 mb-3">
            <div class="form-group">
              <label class="fs-6 mb-3">Last name</label>
              <input type="text" class="form-control fs-6" formControlName="lastname" />
            </div>
          </div>

          <div class="col-6 mb-3">
            <div class="form-group">
              <label class="fs-6 mb-3 required"> Email</label>
              <input type="text" class="form-control fs-6" formControlName="email"
                [ngClass]="{
                    'is-invalid': (formControls.email.touched || isSubmitted) && formControls.email.errors?.required || formControls.email.errors?.pattern }"
                (change)="verifyEmailAddress()" />
            </div>
          </div>

          <div class="col-lg-6 mb-3">
            <div class="form-group">
              <label class="fs-6 mb-3 required">Country Code</label>
              <select class="form-select mb-3" formControlName="countryCode" (change)="handleMobilePattern()"
                [ngClass]="{
                'is-invalid': (formControls.countryCode.touched || isSubmitted) && formControls.countryCode.errors?.required }">
                <option value="" disabled>-- Select an option --</option>
                <option value="+91">+91</option>
                <option value="+971">+971</option>
              </select>
            </div>
          </div>

          <div class="col-lg-6 mb-3">
            <div class="form-group">
              <label class="fs-6 mb-3 required"> Mobile Number</label>
              <input type="text" class="form-control fs-6" formControlName="mobile" [ngClass]="{
                    'is-invalid': formControls.mobile.errors?.pattern}" />
            </div>
          </div>

          <div class="col-6 mb-3">
            <div class="form-group">
              <label class="fs-6 mb-3 required">Role</label>
              <select class="form-select fs-6 mb-3" formControlName="role" [ngClass]="{
                  'is-invalid': (formControls.role.touched || isSubmitted) && formControls.role.errors?.required }">
                <option value="" disabled>-- Select an option --</option>
                <option *ngFor="let role of rolesData" value="{{ role?._id }}">
                  {{ role?.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-lg-9">
              <div class="form-group">
                <label for="password" class="fs-6 mb-3 required">Password</label>
                <input type="{{showPassword ? 'text' : 'password'}}" placeholder="Password" formControlName="password"
                  class="form-control"
                  [ngClass]="{
                      'is-invalid': (formControls.password.touched || isSubmitted) && formControls.password.errors?.required }">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="showPassword" class="fs-6 mb-3">&nbsp;</label>
                <input type="button" value="{{!showPassword ? 'Show' : 'Hide'}}" id="showPassword"
                  (click)="togglePassword()" class="btn w-100 btn-secondary">
              </div>
            </div>
          </div>

          <div class="col-6 mb-3">
            <div class="form-group">
              <label class="fs-6 mb-3">Status</label>
              <select class="form-select fs-6 mb-3" formControlName="isActive">
                <option value="" disabled>-- Select an option --</option>
                <option value="false">Inactive</option>
                <option value="true">Active</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-end gap-2">
    <button routerLink="{{ appRoute.admin.ADMIN_USERS}}" class="btn btn-secondary">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
      Save changes
    </button>
  </div>
</div>