<div id="printBtn" *ngIf="orders.length > 0" class="noPrint btn btn-primary" onclick="print('printWrapper')">
    Print packing slips
</div>
<div class="order-container printWrapper" *ngFor="let orderDetails of orders; let i = index">
    <div class="order-details">
        <div class="printWrapper">
            <div class="a4--frame">
                <div class="card">
                    <div class="card-body">
                        <div class="fs-5"> {{date}} </div>

                        <div class="d-flex justify-content-between" style="border-bottom: 1px dashed #dbdbdb;">
                            <div class="shippmentAddress">
                                <div class="text-muted fs-5 fw-bolder">Ship to:</div>
                                <div class="fs-5">
                                    <div>{{orderDetails?.address?.firstlane}} {{orderDetails?.address?.secondlane}}</div>
                                    <div>{{orderDetails?.address?.city}}</div>
                                    <div>{{orderDetails?.address?.landmark}}</div>
                                    <div>{{orderDetails?.address?.pincode}} {{orderDetails?.address?.state}}</div>
                                </div>
                            </div>
                            <div>
                                <p class="fs-5 fw-bolder">Phone : <span class="fw-normal">
                                        {{orderDetails?.customerId?.countryCode}}
                                        {{orderDetails?.customerId?.mobile}} </span></p>
                                <p class="fs-5 fw-bolder">Payment Method : <span class="fw-normal">
                                        {{orderDetails?.paymentMethod}}</span></p>
                            </div>
                        </div>
        
                        <div class="orderDetails">
                            <h4 class="orderId">Order ID: <span>#{{order}}</span></h4>
                            <div class="my-2">Thank you for buying from {{settings?.name}}</div>
        
                            <table class="table fs-5 table-bordered twocolumn-table">
                                <thead>
                                    <tr>
                                        <th>
                                            Delivery Address
                                        </th>
                                        <th>
                                            Order Details
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{orderDetails?.address?.firstlane}} {{orderDetails?.address?.secondlane}}
                                            {{orderDetails?.address?.area}} {{orderDetails?.address?.city}}
                                            {{orderDetails?.address?.landmark}} {{orderDetails?.address?.state}}
                                            {{orderDetails?.address?.pincode}}
                                        </td>
                                        <td>
                                            <div class="flexWraper">
                                                <span class="label fw-bold"> Order Date:</span>
                                                <span>{{orderDetails?.orderDate}}</span>
                                            </div>
                                            <div class="flexWraper my-2">
                                                <span class="label fw-bold"> Shipping Service:</span>
                                                <span> Standard</span>
                                            </div>
                                            <div class="flexWraper">
                                                <span class="label fw-bold"> Buyer Name:</span>
                                                <span> {{orderDetails?.customerId?.name}}</span>
                                            </div>
                                            <div class="flexWraper my-2">
                                                <span class="label fw-bold"> Shipping Slot:</span>
                                                <span> {{orderDetails?.deliverySlot?.from}} -
                                                    {{orderDetails?.deliverySlot?.to}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered orderDetails-Table">
                                <thead>
                                    <tr>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Product Details
                                        </th>
                                        <th>
                                            Unit Price
                                        </th>
                                        <th>
                                            Item subtotal
                                        </th>
                                        <th>
                                            Tax
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let product of orderDetails?.products; let i = index">
                                        <tr>
                                            <td>
                                                {{product?.quantity}}
                                            </td>
                                            <td>
                                                {{product?.productId?.name}}
                                                SKU: {{product?.productId?.sku}}
                                            </td>
                                            <td>
                                                {{settings?.currency}} {{product?.pricePerUnit}}
                                            </td>
                                            <td>
                                                {{settings?.currency}} {{product?.total}}
                                            </td>
                                            <td>
                                                {{settings?.currency}} {{product?.taxTotal}}
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            Delivery Charges
                                        </td>
                                        <td colspan="2">
                                            {{settings?.currency}} {{orderDetails?.shippingCost}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            Grand Total
                                        </td>
                                        <td colspan="2">
                                            {{settings?.currency}} {{orderDetails?.total}}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
        
                            <div class="my-2 orderDetails-Captions" [innerHTML]="settings?.notes?.packingSlip">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>