<div>
  <div class="page-header d-flex align-items-start justify-content-between">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">Enquires</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.enquires.ENQUIRY_LIST }}">Enquires</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="my-4 card">
    <div class="card-body">
      <div class="form-group">
        <input type="search" placeholder="Search enquiries here" [formControl]="keyword" class="form-control" (ngModelChange)="getEnquiries()">
      </div>
    </div>
  </div>

  <div class="resultsContainer">
    <ng-container *ngFor="let enquiry of enquires">
      <div class="enquiryCard cursor-pointer" (click)="open(template, enquiry)">
        <div class="d-flex gap-2">
          <p class="text-muted">Name:</p>
          <span class="fs-6">{{ enquiry?.firstname }} {{ enquiry?.lastname }}</span>
        </div>
        <div class="d-flex gap-2">
          <p class="text-muted">Phone Number:</p>
          <span class="fs-6">{{ enquiry?.countryCode }} {{ enquiry?.mobile }}</span>
        </div>
        <div class="d-flex gap-2">
          <p class="text-muted">Mail Id:</p>
          <span class="fs-6"> {{ enquiry?.email }}</span>
        </div>
        <div class="d-flex gap-2">
          <p class="text-muted">Date and Time:</p>
          <span> {{ enquiry?.date }}</span>
        </div>
      </div>
    </ng-container>

    <div *ngIf="enquires.length == 0">
      <app-no-results></app-no-results>
    </div>
  </div>

  <div>
    <app-pagination (pageTrigger)="onPageTriggered($event)" [pageSize]="limit" [pageIndex]="page"
      [totalPages]="totalPages" [totalResults]="totalResults"></app-pagination>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Enquiry Details</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-6 mb-3 form-group">
        <label class="form-label">Name</label>
        <input class="form-control" value="{{enquiry.firstname + ' ' + (enquiry.lastname ? enquiry.lastname : '')}}" />
      </div>
      <div class="col-lg-6 mb-3 form-group">
        <label class="form-label">Phone</label>
        <input class="form-control" value="{{enquiry.countryCode + ' ' + enquiry.mobile}}" />
      </div>
      <div class="col-lg-6 mb-3 form-group">
        <label class="form-label">Mail Id</label>
        <input class="form-control" value="{{enquiry.email}}" />
      </div>
      <div class="col-lg-6 mb-3 form-group">
        <label class="form-label">Date and Time</label>
        <input class="form-control" value="{{enquiry.date}}" />
      </div>
      <div class="col-lg-12 form-group">
        <label for="message" class="form-label">Message</label>
        <textarea name="message" id="message" value={{enquiry.message}} rows="10" class="form-control"></textarea>
      </div>
    </div>
  </div>
</ng-template>