$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primary: #00bdab;
$activeBackground: #00bdab20;
$border: #cccccc;
$hover: #e3e3e3;
$grey: #888888;

label,
input[type=button] {
    font-weight: normal !important;
}

.filteringWrapper {
    .filtering {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;

        span {
            color: #8B909A;
            line-height: 18px;
        }

        select {
            border: 1px solid #E8E8E8;
            border-radius: 6px;
            padding: 5px;

            &:focus {
                outline: none;
            }
        }
    }
}

.enquiresContainer {

    .resultsContainer {
        margin: 20px 0 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .enquiryCard {
            background: $white;
            border-radius: 10px;
            padding: 10px;
            position: relative;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

            .editButton {
                position: absolute;
                right: 10px;
                top: 10px;
                height: 40px;
                width: 40px;
                display: grid;
                place-items: center;
                cursor: pointer;
                border-radius: 20px;

                &:hover {
                    background: $hover;
                }
            }

            .name,
            .mobile,
            .email,
            .date {
                margin: 0 0 5px 0;

                img {
                    margin: 0 5px 0 0;
                }
            }
        }
    }
}