$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20bdab40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #f1416c;

label,
input[type="button"] {
  font-weight: normal !important;
}

.resultsContainer {
  margin: 20px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  .enquiryCard {
    background: $white;
    border-radius: 10px;
    padding: 10px;
    position: relative;

    .editButton {
      position: absolute;
      right: 10px;
      top: 10px;
      height: 40px;
      width: 40px;
      display: grid;
      place-items: center;

      border-radius: 20px;
    }

    .editButton {
      img {
        border: 1px solid #dcdcdc;
        padding: 3px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: $hover;
        }
      }

    }
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        .enquiryData {
          img {
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .paginationBefore,
  .paginationNext {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: grid;
    place-items: center;
    background: $background;
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .paginationPage {
    margin: 0 10px;
  }
}

.search {
  input[type="button"] {
    width: 100%;
  }
}

.emptyNote {
  margin: 0 0 20px 0;

  .note {
    font-weight: normal;
  }
}