$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: var(--brand-primary, #00BDAB);
$primaryBackground: var(--brand-primary-light, #20BDAB)40;
$activeBackground: var(--brand-primary, #00BDAB)20;
$border: #cccccc;
$background: #e5e5e5;
$error: #f1416c;

label,
input[type="button"] {
  font-weight: normal !important;
}

//Table designs
.table {
  background: #ffffff;
  font-size: 15px;

  tbody{

     tr{

        td{
           vertical-align: middle;
        }
     }
  }

  thead {

     tr{

        th{
           font-weight: 400 !important;
        }
     }
     background: #E4E7F4;
  }
  
  button{
      width: 120px;
  }

  img{
      height: 60px;
      width: 60px;
      object-fit: contain;
  }
}
//Table designs

.modal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        .enquiryData {
          img {
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}