<div class="timeSlotsContainer">
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bolder">Enquires</h1>
        </div>
        <div class="row">
            <div class="col d-flex align-items-start justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.enquires.ENQUIRY_LIST}}">Enquires</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>