$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20BDAB40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

.order-cards {
  .card-body {
    background: $white;
  }
}


.top-form-container {
  margin: 0 0 30px 0;
}

.orderStatus {
  font-weight: 600;
  padding: .625rem 1.25rem;
  border-radius: .625rem;
}

.placed {
  background: #2f6fe580;
  color: #ffffff !important;
}

.accepted {
  background: #2fe59080;
}

.delivered {
  background: #662fe580;
  color: #ffffff !important;
}

.cancelled {
  background: #e52f2f80;
  color: #ffffff !important;
}

.refunded {
  background: #e52f8480;
  color: #ffffff !important;
}

.packed {
  background: #2fd3e580;
}

.shipped {
  background: #5177c880;
  color: #ffffff !important;
}

.paymentStatus {
  font-weight: 600;
  padding: .625rem 1.25rem;
  border-radius: .625rem;
}

.top-form-container {
  margin-top: 30px;
}

.fw-bolder.fs-2.mb-2.mt-5.text-inverse-white {
  margin: 0 !important;
}

.paymentmethd {
  background-color: #28C76F;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  text-transform: capitalize;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  outline: none;
}

.common_thead {
  background: #20BDAB;

  th {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-transform: capitalize;
    color: #FFFFFF;
  }
}

.calender_form {
  padding: 35px 25px 20px 25px;
}

.outline_btn {
  background: #FFFFFF !important;
  border: 1px solid #00BDAB !important;
  border-radius: 4px;
  color: #00BDAB !important;
}

.form-control {
  color: #8B909A;
}

.form-select {
  color: #8B909A;
}

.filtering {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 16px 0;

  span {
    color: #8B909A;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }

  select {
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    padding: 5px;

    &:focus {
      outline: none;
    }
  }
}

.table-responsive {
  padding: 0 25px;

  tr {
    border-bottom: 1px solid #E8E8E8;
  }

  tbody {
    tr {
      td {

        &:nth-child(2n) {
          background: #f0f8f7;
        }

        img {
          cursor: pointer;
        }
      }
    }
  }
}

.search-input {
  input[type=button] {
    font-weight: 400 !important;
  }
}

.paid {
  background: $activeState;
  padding: 3px 5px;
  border-radius: 5px;
  color: $white;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.unpaid {
    background: $inactiveState;
    color: $white;
    
  }
}

.search_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #23272E;

  &.active {
    color: #20BDAB;
    background: none;
    border: none;
    position: relative;
    padding: 0.5rem .3rem;


    &:before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      background-color: #20BDAB;
      height: 3px;
      bottom: -5px;
    }
  }
}

.nav-tabs {
  gap: 30px;
  padding-right: 35px;
}

.nav_row {
  margin-top: 30px;
  padding: 0 25px;
}

.search_input {
  position: relative;

  input {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #8B909A;
    padding: 8px 30px 8px 14px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    margin-left: auto;
  }
}

.arrow_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.nav_arrow {
  display: flex;
  align-items: center;

  .arrow_right {
    margin-right: 10px;
  }
}


.nav_btn {
  background: white;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #23272E;

  &.active {
    color: #20BDAB;
    background: #20BDAB40;
    border-radius: 5px;
    position: relative;
  }
}

.swiper-button-next {
  &:after {
    color: black !important;
  }
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: black;
}

label {
  font-weight: normal !important;
}

.emptyNote {
  margin: 0 0 20px 0;
  .note {
    font-weight: normal;
  }
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .paginationBefore,
  .paginationNext {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: grid;
    place-items: center;
    background: $background;
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .paginationPage {
    margin: 0 10px;
  }
}