.order-cards {
   margin: 30px 0;
}

.top-form-container {
   margin: 0 0 30px 0;
}

.order-status {
   width: 100px;
}

.placed {
   // height: 30px;
   padding: 10px 30px;
   background: rgb(15, 93, 160);
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   font-weight: 500;
}

.accepted {
   // height: 30px;
   padding: 10px 30px;
   background: rgb(25, 181, 80);
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   font-weight: 500;
}

.cancelled {
   // height: 30px;
   padding: 10px 30px;
   background: #9d0208;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   font-weight: 500;
}

.packed {
   // height: 30px;
   padding: 10px 30px;
   background: #0285dc;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   font-weight: 500;
}

.failed {
   // height: 30px;
   padding: 10px 30px;
   background: #d00000;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   font-weight: 500;
}

.shipped {
   // height: 30px;
   padding: 10px 30px;
   background: #280637;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   font-weight: 500;
}

.delivered {
   // height: 30px;
   padding: 10px 30px;
   background: #faa307;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(0, 0, 0);
   font-weight: 500;
}

.partial {
   // height: 30px;
   padding: 10px 30px;
   background: #f48c06;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   font-weight: 500;
}

.refunded {
   // height: 30px;
   padding: 10px 30px;
   background: #03071e;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   font-weight: 500;
}

.pending {
   // height: 30px;
   padding: 10px 30px;
   background: rgb(62, 57, 113);
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
   font-weight: 500;
}