<div class="brand-page-container">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Placed Orders</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.orders.ORDERS_LIST }}">Placed Orders</a>
          </li>
        </ul>
        <button class="btn btn-primary cursor-pointer fs-5" color="primary"
          routerLink="{{ appRoute.orders.ADD_ORDER_LIST }}" style="width: 200px">
          Add Orders
        </button>
      </div>
    </div>
  </div>
  <div class="top-form-container">
    <div class="row order-cards">
      <div class="col-lg-3">
        <app-stats-widget5 svgIcon="./assets/media/icons/duotune/ecommerce/ecm008.svg"
          class="card bg-white hoverable card-xl-stretch mb-xl-5" color="white" iconColor="primary" title="{{count}}"
          description="Total Orders">
        </app-stats-widget5>
      </div>
      <div class="col-lg-3">
        <app-stats-widget5 svgIcon="./assets/media/icons/duotune/finance/fin008.svg"
          class="card bg-white hoverable card-xl-stretch mb-xl-5" color="white" iconColor="primary"
          title="Rs. {{totalrevenues}}" description="Total Revenue">
        </app-stats-widget5>
      </div>
      <div class="col-lg-3">
        <app-stats-widget5 svgIcon="./assets/media/icons/duotune/finance/fin001.svg"
          class="card bg-white hoverable card-xl-stretch mb-xl-5" color="white" iconColor="primary"
          title="Rs. {{averagesales}}" description="Average Sales">
        </app-stats-widget5>
      </div>
    </div>
    <form [formGroup]="orderform">
      <div class="col-12 row" style="display: flex; align-items: flex-end;">
        <div class="search-input col-sm-2">
          <label class="fs-5">From</label>
          <input type="date" class="form-control" formControlName="fdate" (change)="searchOrder()">
        </div>
        <div class="search-input col-sm-2">
          <label class="fs-5">To</label>
          <input type="date" class="form-control" formControlName="tdate" (change)="searchOrder()">
        </div>
        <div class="search-status col-sm-2">
          <label class="fs-5">Status</label>
          <select name="" id="" class="form-select fs-5" formControlName="orderStatus" (change)="searchOrder()">
            <option value="" disabled>Select an option</option>
            <option value="PLACED">Placed</option>
            <option value="ACCEPTED">Accepted</option>
            <option value="CANCELLED">Cancelled</option>
            <option value="PACKED">Packed</option>
            <option value="SHIPPED">Shipped</option>
            <option value="DELIVERED">Delivered</option>
            <option value="FAILURE">Failure</option>
            <option value="REFUNDED">Refunded</option>
          </select>
        </div>
        <div class="search-featured col-sm-2">
          <label class="fs-5 form-title">Payment</label>
          <select name="" id="" class="form-select fs-5" formControlName="paymentMethod" (change)="searchOrder()">
            <option value="" disabled> Select An Option</option>
            <option value="COD">Cash On Delivery</option>
            <option value="ONLINE">Online</option>
            <option value="UNPAID">Unpaid</option>
            <option value="SPLIT">Split</option>
            <option value="CARD">Card</option>
          </select>
        </div>
        <div class="search-submit col-sm-2">
          <button type="button" class="form-control fs-5 bg-secondary text-dark" (click)="onReload()"
            style="outline: none; border: none;">Clear</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table id=DataTables_Table_0 datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-center">
              <thead>
                <tr class="fs-5 text-gray-400">
                  <th scope="col" class="">Sl No</th>
                  <th scope="col">Order No.</th>
                  <th scope="col">Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Vendor</th>
                  <th scope="col">Total</th>
                  <th scope="col">Payment Method</th>
                  <th scope="col">Payment Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders; let i = index" class="fs-5">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{order?.orderNo}}</td>
                  <td>{{order?.orderDate}} <br> {{order?.orderTime}}</td>
                  <td>
                    <span class="orderStatus {{order?.orderStatus.toLowerCase()}} fs-6">
                      {{order?.orderStatus}}
                    </span>
                  </td>
                  <td>{{order?.customerId?.name}} <br> {{order?.customerId?.mobile}}</td>
                  <td>-</td>
                  <td>Rs. {{order?.total}}</td>
                  <td>{{order?.paymentMethod}}</td>
                  <td>{{order?.paymentStatus}}</td>
                  <td>
                    <a class="fs-5 h-100 cursor-pointer table-avatar text-gray-400er"
                      routerLink="{{ appRoute.orders.UPDATE_ORDER_LIST }}" [queryParams]="{ order: order?.refid }">
                      <i class="bi bi-pen"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
