<div class="brand-page-container">
  <div class="page-header d-flex align-items-start justify-content-between">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">Orders</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.orders.ORDERS_LIST }}">Orders</a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-start justify-content-end gap-2">
      <button class="btn bg-white text-primary border border-primary me-1" (click)="exportOrders()">
        Export orders
        <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5">
          </path>
        </svg>
      </button>
      <button class="btn btn-primary ms-1" routerLink="{{ appRoute.orders.ADD_ORDER_LIST }}">
        Add Orders
        <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="row mt-3 order-statitics">
    <div class="col-lg-4">
      <div class="bg-white order-stats rounded w-100 h-100 d-flex align-items-center gap-3 justify-content-start">
        <div class="stats-icon d-flex align-items-center justify-content-center">
          <img src="assets/orders/total-orders.png" alt="TotalOrders">
        </div>
        <div>
          <div class="fs-6 mb-2">Total orders</div>
          <div class="fs-3 fw-bolder">{{ totalOrders }}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bg-white order-stats rounded w-100 h-100 d-flex align-items-center gap-3 justify-content-start">
        <div class="stats-icon d-flex align-items-center justify-content-center">
          <img src="assets/orders/revenue.png" alt="TotalRevenues">
        </div>
        <div>
          <div class="fs-6 mb-2">Total revenue</div>
          <div class="fs-3 fw-bolder">{{ totalRevenues }}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bg-white order-stats rounded w-100 h-100 d-flex align-items-center gap-3 justify-content-start">
        <div class="stats-icon d-flex align-items-center justify-content-center">
          <img src="assets/orders/average-sales.png" alt="AverageSales">
        </div>
        <div>
          <div class="fs-6 mb-2">Average sales</div>
          <div class="fs-3 fw-bolder">{{ averageSales }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body py-0 px-5">
      <div class="border-bottom py-5 border-secondary status-list">
        <swiper [config]="swiperConfig">
          <ng-container *ngFor="let status of orderStatus">
            <ng-template swiperSlide>
              <div class="cursor-pointer" [ngClass]="{'text-primary': status?.status == activeStatus}"
                (click)="getStatus(status)">
                {{status?.status}}
                <span class="p-2 rounded" [ngClass]="{'bg-primary text-white': status?.status == activeStatus, 
                  'bg-secondary': status?.status != activeStatus}">
                  {{status?.count}}
                </span>
              </div>
            </ng-template>
          </ng-container>
        </swiper>
      </div>
      <div class="py-5">
        <div class="row">
          <div class="col-lg-10">
            <form [formGroup]="orderForm">
              <div class="d-flex align-items-center gap-3 justify-content-between">
                <div>
                  <input type="date" class="form-control fs-6 text-dark" formControlName="fromDate"
                    (change)="getOrders()" placeholder="From date">
                </div>
                <div>
                  <input type="date" class="form-control fs-6 text-dark" formControlName="toDate"
                    (change)="getOrders()">
                </div>
                <div>
                  <select class="form-select fs-6 text-dark" formControlName="paymentMethod" (change)="getOrders()">
                    <option value="" disabled>-- Payment method --</option>
                    <option value="COD">Cash On Delivery</option>
                    <option value="ONLINE">Online</option>
                  </select>
                </div>
                <div>
                  <select class="form-select fs-6 text-dark" formControlName="paymentStatus" (change)="getOrders()">
                    <option value="" disabled>-- Payment status --</option>
                    <option value="REJECTED">Rejected</option>
                    <option value="PAID">Paid</option>
                    <option value="PENDING">Pending</option>
                  </select>
                </div>
                <div>
                  <select class="form-select fs-6 text-dark" formControlName="source" (change)="getOrders()">
                    <option value="" disabled>-- Source --</option>
                    <option value="WEB">Website</option>
                    <option value="ADMIN">Admin</option>
                    <option value="APP">App</option>
                  </select>
                </div>
                <div>
                  <input type="button" class="form-control btn-secondary p-1 fs-6 text-dark" value="Clear filters"
                    (click)="onReload()">
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-2">
            <div class="search_input">
              <input type="text" class="fs-6 form-control text-dark" placeholder="Search orders" [formControl]="keyword"
                (ngModelChange)="getOrders()">
              <img src="assets/icons/Search.svg" alt="">
            </div>
          </div>
        </div>
        <div class="d-flex mt-5 flex-wrap align-items-center justify-content-end">
          <div class="d-flex gap-3 me-auto" *ngIf="toggledOrders.length > 0">
            <button class="btn p-2 bg-white text-primary border border-primary" (click)="bulkPrintInvoice()">
              Bulk invoice
              <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5">
                </path>
              </svg>
            </button>
            <button class="btn p-2 bg-white text-primary border border-primary" (click)="bulkPrintPackingSlips()">
              Bulk packing slip
              <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5">
                </path>
              </svg>
            </button>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr class="text-left">
        <th>
          <div class="d-flex align-items-center justify-content-start">
            <div class="checkbox" (click)="toggleOrders()"
              [ngClass]="{'checked': (toggledOrders.length == orders.length) && orders.length > 0}"></div>
          </div>
        </th>
        <th>Order</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Store</th>
        <th>Total</th>
        <th>Source</th>
        <th>Tags</th>
        <th>Method</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders; let i = index">
        <tr>
          <td>
            <div class="checkbox" (click)="toggleOrders({order: order?.orderNo, status: order?.orderStatus})"
              [ngClass]="{'checked': toggledOrders.includes(order?.orderNo.split('#')[1])}"></div>
          </td>
          <td>{{order?.orderNo}}</td>
          <td>
            {{getLocaleDateFormat(order?.orderDate)}}
            <br>
            {{getLocaleTimeFormat(order?.orderDate)}}
          </td>
          <td>
            <div>{{order?.customerId ? order?.customerId?.name : order?.guestId?.name}}</div>
            <div
              class="rounded border border-secondary customer-type p-1 my-1 d-flex align-items-center justify-content-center">
              {{order?.customerType}}</div>
          </td>
          <td>
            <div *ngIf="order?.pickUpLocation">{{order?.pickUpLocation?.name + ", " + order?.pickUpLocation?.city}}
            </div>
            <div *ngIf="order?.clickPoint">{{order?.clickPoint?.address?.city}}</div>
            <div *ngIf="order?.deliverySlot">
              {{convertTimeFormat(order?.deliverySlot?.from + ' - ' + order?.deliverySlot?.to)}}
            </div>
            <div *ngIf="order?.deliveryDate">{{convertDate(order?.deliveryDate)}}</div>
          </td>
          <td>{{order?.total}}</td>
          <td>{{order?.source}}</td>
          <td>
            <div class="tags">
              <div class="addTag p-1 border border-secondary rounded" (click)="openTag(tagTemplate, order.orderNo)">
                Add tag
                <span>
                  <svg height="14px" width="14px" fill="none" stroke="currentColor" stroke-width="1.5"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                  </svg>
                </span>
              </div>
              <ng-container *ngFor="let tag of order?.tags; let tagIndex = index">
                <div class="p-1 bg-secondary rounded tag d-flex align-items-center justify-content-center"
                  (click)="removeTag(order.orderNo, tagIndex)">
                  {{tag}}
                  <div class="ms-1">
                    <svg height="15px" width="15px" data-slot="icon" fill="none" stroke-width="1.5"
                      stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                    </svg>
                  </div>
                </div>
              </ng-container>
            </div>
          </td>
          <td>
            <div>
              <div>{{order?.paymentMethod}}</div>
              <div class="ellipsis text-primary fs-5 fw-bold">{{order?.paymentGateway}}</div>
            </div>
          </td>
          <td>
            <div class="rounded d-flex align-items-center justify-content-center p-1" [ngClass]="{'success-orders': successOrders.includes(order?.orderStatus), 
              'accepted-orders': acceptedOrders.includes(order?.orderStatus), 
              'cancelled-orders': cancelledOrders.includes(order?.orderStatus)}">
              {{formatOrderStatus(order?.orderStatus)}}
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-start gap-3">
              <div
                class="cursor-pointer rounded action-button d-flex align-items-center justify-content-center border border-secondary"
                routerLink="{{appRoute.orders.UPDATE_ORDER_LIST}}" [queryParams]="{'order': order?.orderNo}">
                <img src="assets/icons/eye.svg" alt="View order details">
              </div>
              <a *ngIf="!checkStatusList.includes(order?.orderStatus)"
                href="generate-invoice?order={{order?.orderNo?.split('#')[1]}}" target="_blank"
                class="cursor-pointer rounded d-flex align-items-center justify-content-center border border-secondary action-button">
                <img src="assets/icons/print.svg" alt="Genarete Invoice">
              </a>
            </div>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="orders.length == 0">
        <td colspan="11">
          <app-no-results></app-no-results>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="card" *ngIf="orders.length == 0">
    <div class="card-body">
      <div class="my-8 d-flex flex-column align-items-center justify-content-center">
        <div class="fs-4 fw-bold">No orders found</div>
        <p class="text-muted">We couldn't find any item based on your search</p>
      </div>
    </div>
  </div> -->

  <div *ngIf="orders.length > 0">
    <app-pagination [pageIndex]="page" [pageSize]="limit" [totalResults]="totalResults" [totalPages]="totalPages"
      (pageTrigger)="onPageTriggered($event)"></app-pagination>
  </div>
</div>

<ng-template #tagTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Order tag for {{tagOrder}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeTag()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="form-group">
        <label for="tag" class="form-label required">Tag</label>
        <input type="text" placeholder="Eg. processed" [formControl]="tag" class="text-dark p-2 form-control"
          maxLength="10"
          [ngClass]="{'is-invalid': (tag.touched || isTagSubmitted) && (tag.errors?.required || tag.errors?.maxLength)}">
        <div class="text-danger" *ngIf="tag.errors?.maxLength">
          The word you entered exceeds the maximum allowed length of 10 letters.
          Please enter a word with 10 letters or fewer.
        </div>
      </div>
    </div>
    <div class="mt-4 d-flex align-items-center justify-content-end">
      <button class="btn btn-primary" (click)="addTag()">Continue</button>
    </div>
  </div>
</ng-template>