<div>
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bold">
        Update FAQs
      </h1>
    </div>
    <ul class="breadcrumb">
      <li class="breadcrumb-item fs-6">
        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
      </li>
      <li class="breadcrumb-item fs-6">
        <a routerLink="{{ appRoute.faq.FAQ_LIST }}">FAQ</a>
      </li>
      <li class="breadcrumb-item active fs-6">
        <a routerLink="{{ appRoute.faq.ADD_FAQ }}">Update FAQ</a>
      </li>
    </ul>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="row">

          <div class="form-group col-lg-6 mb-3">
            <label class="fs-6 mb-3 required">Subject</label>
            <select class="form-select fs-6" formControlName="subject">
              <option value="" disabled>-- Select an option --</option>
              <option value="GENERAL">General</option>
              <option value="PAYMENT">Payment</option>
              <option value="CART">Cart</option>
              <option value="SHIPPING">Shipping</option>
              <option value="REFERRAL">Referral</option>
              <option value="ORDERS&SHIPPING">Orders & Shipping</option>
              <option value="RETURNS&REFUNDS">Returns & Refunds</option>
              <option value="PRODUCT&MATERIALS">Product & Materials</option>
              <option value="ASSEMBLY&INSATALLATION">Assembly & Installation</option>
            </select>
          </div>

          <div class="form-group col-lg-6">
            <label class="fs-6 mb-3">Status</label>
            <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
              formControlName="isActive">
              <option value="" disabled>-- Select an option --</option>
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label class="fs-6 mb-3 required"> Question</label>
            <input type="question" class="form-control fs-6" formControlName="question"
              [ngClass]="{'is-invalid':(formControls.question.touched || isSubmitted) && formControls.question.errors?.required}" />
          </div>

          <div class="form-group mb-3">
            <label class="fs-6 mb-3 required required">Answer</label>
            <angular-editor
              [ngClass]="{'is-invalid':(formControls.answer.touched || isSubmitted) && formControls.answer.errors?.required}"
              class="form-control fs-6" formControlName="answer" [config]="editorConfig"></angular-editor>
          </div>

          <div class="gap-2 d-flex align-items-center justify-content-end">
            <a routerLink="{{ appRoute.faq.FAQ_LIST}}" class=" btn btn-secondary">
              Cancel
            </a>
            <button type="submit" class="btn btn-primary">
              Save changes
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>