.emptyNote {
    margin: 0 0 20px 0;
    display: grid;
    place-items: center;

    .note {
        font-weight: normal;
    }
}

.btn-secondary{
    font-weight: 400 !important;
}

.table-responsive {

    .common_thead {
        background: #20BDAB;

        th {
            font-weight: 600;
            font-size: 16px;
            line-height: 15px;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    }

    tr {
        border-bottom: 1px solid #E8E8E8;
    }

    tbody {
        tr {
            td {
                img {
                    cursor: pointer;
                }
            }
        }
    }
}