<div>
    <div class="page-header d-flex align-items-start justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Newsletter subscribers</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST }}">Customers</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoute.customers.newsletterSubscribers }}">
                        Newsletter subscribers
                    </a>
                </li>
            </ul>
        </div>
        <a class="btn btn-secondary" href="{{exportUrl}}">
            Export subscribers
            <span>
                <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25">
                    </path>
                </svg>
            </span>
        </a>
    </div>

    <div class="my-4 card">
        <div class="card-body">
            <div class="row d-flex justify-content-end align-items-center">
                <div class="col-lg-10">
                    <div class="form-group">
                        <input type="text" id="keyword" placeholder="Search subscribers" [formControl]="keyword"
                            class="form-control" (ngModelChange)="getSubscribers()">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <input type="button" id="clear" value="Clear filters" class="w-100 btn btn-secondary"
                            (click)="clear()">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Verified</th>
                    <th>Subscribed</th>
                </tr>
            </thead>
            <tbody class="fs-6">
                <ng-container *ngFor="let email of emails; let i =index">
                    <tr>
                        <td>{{email?.email}}</td>
                        <td>
                            <span class="{{email?.isVerified == true ? 'verified' : 'unverified'}} p-1 mw-100 rounded">
                                {{email?.isVerified == true ? 'Verified' : 'Not verified'}}
                            </span>
                        </td>
                        <td>{{email?.createdAt}}</td>
                    </tr>
                </ng-container>
                <tr *ngIf="emails.length == 0">
                    <td colspan="4">
                        <app-no-results></app-no-results>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="my-4">
        <app-pagination (pageTrigger)="onPageTriggered($event)" [pageSize]="limit" [pageIndex]="page"
            [totalResults]="totalResults" [totalPages]="totalPages"></app-pagination>
    </div>
</div>