label,
.btn-secondary,
.btn-primary {
    font-weight: 400 !important;
}

.verified{
    background: #219f6a;
    color: #ffffff;
}

.unverified{
    background: #e94c4c;
    color: #ffffff;
}

//Table designs
.table {
    background: #ffffff;
    font-size: 15px;

    tbody {

        tr {

            td {
                vertical-align: middle;
            }
        }
    }

    thead {

        tr {

            th {
                font-weight: 400 !important;
            }
        }

        background: #E4E7F4;
    }
}
//Table designs