<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title fw-bolder fs-2">
               {{ editMode ? "Update FAQ" : "Add FAQ" }}
            </h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.faq.FAQ_LIST }}">FAQs</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.faq.ADD_FAQ}}">
                     {{ editMode ? "Update FAQ" : "Add FAQ"}}
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>