<div *ngIf="!disablePrompt" class="overlay">
  <div *ngIf="!nextStep" class="permission-container p-5">
    <div class="image_block">
      <img src="../../../../../assets/icons/bell.gif" width="100px" />
      <div class="text-center fs-6 mt-4">
        Get quick desktop updates about orders and other important messages by
        Commerce Castle
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button (click)="disposePrompt()" class="fs-6 btn btn-secondary mx-2">
        Deny
      </button>
      <button (click)="allowPrompt()" class="fs-6 btn btn-primary mx-2">
        Allow
      </button>
    </div>
  </div>

  <div *ngIf="nextStep" class="allow-container text-center">
    <div>
      <img src="../../../../../assets/icons/webpusharrow.svg" class="_3SGhvp" />
    </div>
    <span class="d-block">Almost there!</span><span>Please click on 'Allow' to enable Desktop Notifications</span>
  </div>
</div>