$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: #0000001a;
$inactiveState: #ce1626;
$activeState: var(--brand-primary, #00BDAB);
$primaryBackground: var(--brand-primary-light, #20BDAB)40;
$activeBackground: var(--brand-primary, #00BDAB)20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

.computed {
  height: 300px;
  width: 400px;
  position: relative;

  input {
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    background: #ffffff;
  }

  .margin {
    height: 100%;
    width: 100%;
    background: #ffdfd3;
    position: relative;

    .OuterrWrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;

      input {
        &:first-child {
          position: absolute;
          left: 50%;
          top: 6px;
          transform: translateX(-50%);
        }

        &:nth-child(2) {
          position: absolute;
          top: 50%;
          right: 6px;
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          position: absolute;
          left: 50%;
          bottom: 6px;
          transform: translateX(-50%);
        }

        &:last-child {
          position: absolute;
          top: 50%;
          left: 6px;
          transform: translateY(-50%);
        }
      }
    }

    .styles {
      position: relative;


    }
  }

  .padding {
    height: 200px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d4ffd3;

    .OuterrWrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;

      input {
        &:first-child {
          position: absolute;
          left: 50%;
          top: 6px;
          transform: translateX(-50%);
        }

        &:nth-child(2) {
          position: absolute;
          top: 50%;
          right: 6px;
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          position: absolute;
          left: 50%;
          bottom: 6px;
          transform: translateX(-50%);
        }

        &:last-child {
          position: absolute;
          top: 50%;
          left: 6px;
          transform: translateY(-50%);
        }
      }
    }
  }

  .element {
    height: 100px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d3e4ff;
  }
}

.widgetTooltip {
  background: $background;
}

.form-label,
.btn-primary,
.btn-secondary,
.btn-dark {
  font-weight: 400 !important;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;

  .widget {
    cursor: pointer;
    min-width: 12.5rem;
    border: 1px solid #ececec;

    &.active-widget {
      border: 1px solid var(--brand-primary, #00BDAB);
      color: var(--brand-primary, #00BDAB);
      background: var(--brand-primary, #00BDAB)05;
    }

    &:hover {
      color: var(--brand-primary, #00BDAB);
    }
  }
}

.products {
  height: 100%;
  max-height: 16.5rem;
  overflow-y: scroll;

  .product {
    cursor: pointer;

    img {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}

.catalog-items {

  .catalog-item {
    background: #ffffff;
    cursor: pointer;
    margin: 0 0 .625rem 0;
    padding: .625rem;
    border-radius: .375rem;
    position: relative;
    border-bottom: 1px solid #ececec;

    .remove {
      position: absolute;
      top: 0.625rem;
      right: 0.625rem;
    }
  }
}