$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: #0000001a;
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20BDAB40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

.computed {
  height: 300px;
  width: 400px;
  position: relative;

  input {
      height: 40px;
      width: 40px;
      outline: none;
      border: none;
      background: #ffffff;
  }

  .margin {
      height: 100%;
      width: 100%;
      background: #ffdfd3;

      .styles {

          &:first-child {
              position: absolute;
              top: 50%;
              left: 6px;
              transform: translateY(-50%);
          }

          &:nth-child(2) {
              position: absolute;
              top: 6px;
              left: 50%;
              transform: translateX(-50%);
          }

          &:nth-child(3) {
              position: absolute;
              top: 50%;
              right: 6px;
              transform: translateY(-50%);
          }

          &:last-child {
              position: absolute;
              left: 50%;
              bottom: 6px;
              transform: translateX(-50%);
          }
      }
  }

  .padding {
      height: 200px;
      width: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #d4ffd3;

      .styles {

          &:first-child {
              position: absolute;
              top: 50%;
              left: 6px;
              transform: translateY(-50%);
          }

          &:nth-child(2) {
              position: absolute;
              top: 6px;
              left: 50%;
              transform: translateX(-50%);
          }

          &:nth-child(3) {
              position: absolute;
              top: 50%;
              right: 6px;
              transform: translateY(-50%);
          }

          &:last-child {
              position: absolute;
              left: 50%;
              bottom: 6px;
              transform: translateX(-50%);
          }
      }
  }

  .element {
      height: 100px;
      width: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #d3e4ff;
  }
}

.widgetTooltip {
  background: $background;
}

.form-label,
.btn-primary,
.btn-secondary,
.btn-dark {
  font-weight: 400 !important;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;

  .widget {
    cursor: pointer;
    min-width: 12.5rem;
    border: 1px solid #ececec;

    &.active-widget {
      border: 1px solid #00bdab;
      color: #00bdab;
      background: #00bdab05;
    }

    &:hover {
      color: #00bdab;
    }
  }
}

.products {
  height: 100%;
  max-height: 16.5rem;
  overflow-y: scroll;

  .product {
    cursor: pointer;

    img {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}

.catalog-items {

  .catalog-item {
    background: #ffffff;
    cursor: pointer;
    margin: 0 0 .625rem 0;
    padding: .625rem;
    border-radius: .375rem;
    position: relative;
    border-bottom: 1px solid #ececec;

    .remove {
      position: absolute;
      top: 0.625rem;
      right: 0.625rem;
    }
  }
}