<div class="product-page-container" [ngClass]="{'hide-product-page': showVariants}">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Product Head</h1>
      </div>
      <div class="row">
         <div class="col d-flex align-items-start justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.product.PRODUCT_LIST }}">Product Head </a>
               </li>
            </ul>
            <button class="btn btn-primary cursor-pointer fs-6" color="primary"
               routerLink="{{ appRoute.product.ADD_PRODUCT }}" style="width: 200px">
               Add Product
            </button>
         </div>
      </div>
   </div>

   <div class="col-12 d-flex justify-content-between">
      <div class="total-count-container col-sm-3 bg-dark">
         <h4 class="text-white fs-6">Total {{products.length > 0 ? products.length : 0}} product head</h4>
      </div>
   </div>

   <div class="row mt-3 d-flex align-items-center justify-content-end">
      <div class="search-input col-3">
         <label class="fs-6">&nbsp;</label>
         <input type="text" placeholder="Search for products here" class="form-control fs-6" [formControl]="keyword"
            (ngModelChange)="getHeads()">
      </div>
      <div class="search-status col-2">
         <label class="fs-6">Status</label>
         <select class="form-select fs-6" [formControl]="isActive" (change)="getHeads()">
            <option value="" disabled>Select an option</option>
            <option value=true>Active</option>
            <option value=false>Inactive</option>
         </select>
      </div>
      <div class="search-status col-2">
         <label class="fs-6">Categories</label>
         <select class="form-select fs-6" [formControl]="category" (change)="getHeads()">
            <option value="" disabled>Select an option</option>
            <ng-container *ngFor="let category of categories">
               <option value={{category?.catid}}>{{category?.name}}</option>
            </ng-container>
         </select>
      </div>
      <div class="search-input col-2">
         <label class="fs-6 mb-1">&nbsp;</label>
         <input type="button" class="form-control btn-secondary fs-6 text-dark" value="Clear filters"
            (click)="clearFilters()">
      </div>
   </div>

   <div class="product-card-container view-container col-12">
      <ng-container *ngFor="let product of products">
         <div class="product-card card-hover">
            <div class="editButton">
               <div (click)="openModal(product?.prodid)">
                  <img src="../../../../../assets/icons/editPen.svg" alt="Icon">
               </div>
            </div>
            <div class="viewButton">
               <div (click)="getProducts(product?.name, product?.prodid)">
                  <img src="../../../../../assets/icons/view.svg" alt="Icon">
               </div>
            </div>
            <div class="product-image">
               <img src='{{base}}/{{product?.file}}' alt="Product" />
            </div>
            <div class="product-details">
               <div class="product-details-head">
                  <div class="product-brand mb-1" *ngIf="product?.brand">
                     <img src="{{base}}/{{product?.brand?.file}}" alt="Brand">
                  </div>
                  <div class="product-name fs-4 mb-3">{{product?.name}}</div>
                  <div class="product-status-{{product?.isActive}} fs-6">
                     {{product?.isActive ? 'Active' : 'Inactive'}}
                  </div>
               </div>
            </div>
         </div>
      </ng-container>
      <ng-container *ngIf="products.length == 0">
         <div class="emptyNote">
            <div class="fs-3 fw-bolder">No result found</div>
            <div class="fs-5 note">We couldn't find any item based on your search.</div>
         </div>
      </ng-container>
   </div>

   <div class="filteringWrapper d-flex align-items-center justify-content-between col-12">
      <div class="filtering">
         <span class="fs-6 text-dark">Show</span>
         <select [formControl]="limit" (change)="getHeads()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
         </select>
         <span class="fs-6 text-dark">entries</span>
      </div>
      <div class="pagination">
         <div class="paginationBefore" [ngClass]="{'disabled': page == 1}" (click)="getPreviousPage()">
            <img src="../../../../../assets/icons/navigateBefore.svg" alt="Icon">
         </div>
         <div class="paginationPage">{{page}}</div>
         <div class="paginationNext" [ngClass]="{'disabled': lastPage}" (click)="getNextPage()">
            <img src="../../../../../assets/icons/navigateNext.svg" alt="Icon">
         </div>
      </div>
   </div>
</div>

<div class="variant-products-overlay" [ngClass]="{'show-variants': showVariants, 'hide-variants': !showVariants }">
</div>
<div class="variant-products-container" [ngClass]="{'show-variants': showVariants, 'hide-variants': !showVariants }">

   <div class="variant-products-header">
      <div class="variant-products-header-left fs-2">
         Products under <span>{{productName}}</span> product head
      </div>
      <div class="variant-products-header-right">
         <div class="close-button" (click)="hideVariantProducts()">
            <i class="bi bi-x-lg"></i>
         </div>
      </div>
   </div>

   <div class="variant-product-filters col-12">
      <form [formGroup]="variantProductform">
         <div class="row align-items-end justify-content-end">
            <div class="search-input col-2" style="padding: 0;">
               <label class="fs-6 mb-1">&nbsp;</label>
               <input type="text" placeholder="Search products here..." class="form-control fs-6" formControlName="name"
                  (ngModelChange)="searchProducts()">
            </div>
            <div class="search-status col-2">
               <label class="fs-6 mb-1">Status</label>
               <select class="form-select fs-6" formControlName="isActive" (change)="searchProducts()">
                  <option value="" disabled>-- Select an option --</option>
                  <option value=true>Active</option>
                  <option value=false>Inactive</option>
               </select>
            </div>
            <div class="search-featured col-2">
               <label class="fs-6 mb-1">Featured</label>
               <select class="form-select fs-6" formControlName="isFeatured" (change)="searchProducts()">
                  <option value="" disabled>-- Select an option --</option>
                  <option value=true>Featured</option>
                  <option value=false>Normal</option>
               </select>
            </div>
            <div class="search-submit col-2">
               <input type="button" class="form-control btn-secondary fs-6 text-dark" value="Clear filters"
                  (click)="clearVariantFilters()">
            </div>
         </div>
      </form>
   </div>

   <div class="d-flex justify-content-between" style="margin: 20px 0;">
      <div class="total-count-container bg-dark col-2">
         <h4 class="text-white fs-6">Total {{variantTotalCount ? variantTotalCount : 0}} products</h4>
      </div>
      <div class="total-count-buttons">
         <button class="btn btn-primary fs-6" (click)="navigateToAdd()" style="width: 200px;">
            Add Products
         </button>
      </div>
   </div>

   <div class="productsWrapper">
      <ng-container *ngFor="let product of variantProducts">
         <div class="product-card card-hover" (click)="navigateToUpdate(product?.prodid)">
            <div class="product-image">
               <img src='{{base}}/{{product?.thumbnail}}' alt="product image" srcset="" />
            </div>
            <div class="product-details">
               <div class="product-status-{{product?.isActive}}">
                  {{product?.isActive ? 'Active' : 'Inactive'}}
               </div>
               <div class="product-offer">
                  {{product?.message?.text}}
               </div>
               <div class="product-out-stock" *ngIf="product?.stock == 0">
                  Out of Stock
               </div>
               <div class="product-limited-stock" *ngIf="product?.stock <= 5 && product?.stock > 0">
                  Limited stock
               </div>
               <div class="product-brand">{{product?.brand?.name}}</div>
               <div class="product-name fs-5">{{product?.name}}</div>
               <div class="product-price">
                  <div class="d-flex">
                     <div class="product-offerprice fs-6" *ngIf="product?.price?.offer != product?.price?.mrp">
                        {{settings?.currency}}
                        {{product?.price?.offer}}</div>
                     <div class="product-offerprice fs-6" *ngIf="product?.price?.offer == product?.price?.mrp">
                        {{settings?.currency}}
                        {{product?.price?.mrp}}
                     </div>
                     <div class="product-mrpprice" *ngIf="product?.price?.offer != product?.price?.mrp"
                        [ngClass]="{'strike-price fs-6': product?.price?.mrp > product?.price?.offer}">
                        {{settings?.currency}} {{product?.price?.mrp}}</div>
                  </div>
               </div>
               <div class="product-stock" *ngIf="product?.stock > 5">{{product?.stock}} left in stock</div>
               <div class="product-sku">SKU : {{product?.sku}}</div>
            </div>
         </div>
      </ng-container>

      <ng-container *ngIf="variantProducts.length == 0">
         <div class="emptyNote">
            <div class="fs-3 fw-bolder">No result found</div>
            <div class="fs-5 note">We couldn't find any item based on your search.</div>
         </div>
      </ng-container>
   </div>

   <div class="filteringWrapper d-flex align-items-center justify-content-between col-12">
      <div class="filtering">
         <span class="fs-6 text-dark">Show</span>
         <select [formControl]="variantPageLimit" (change)="searchProducts()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
         </select>
         <span class="fs-6 text-dark">entries</span>
      </div>
      <div class="pagination">
         <div class="paginationBefore" [ngClass]="{'disabled': variantPage == 1}" (click)="getVariantPreviousPage()">
            <img src="../../../../../assets/icons/navigateBefore.svg" alt="Icon">
         </div>
         <div class="paginationPage">{{variantPage}}</div>
         <div class="paginationNext" [ngClass]="{'disabled': variantLastPage}" (click)="getVariantNextPage()">
            <img src="../../../../../assets/icons/navigateNext.svg" alt="Icon">
         </div>
      </div>
   </div>
</div>

<ng-container *ngIf="isUpdateModal">
   <app-update-head (close)="closeEventHandler($event)" [prodid]='sendId'></app-update-head>
</ng-container>