label,
.btn-primary,
.btn-secondary {
   font-weight: normal !important;
}

//Table designs
.table {
   background: #ffffff;
   font-size: 15px;

   tbody {

      tr {

         td {
            vertical-align: middle;
         }
      }
   }

   thead {

      tr {

         th {
            font-weight: 400 !important;
         }
      }

      background: #E4E7F4;
   }

   .checkbox {
      height: 20px;
      width: 20px;
      border: 2px solid #cacaca;
      border-radius: 4px;
      position: relative;
      background: #ffffff;
      cursor: pointer;

      &.checked {

         &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            height: 10px;
            width: 10px;
            background: var(--brand-primary, #00BDAB);
            border-radius: 2px;
         }

         border: 2px solid var(--brand-primary, #00BDAB);
      }
   }
}

//Table designs

.h-20,
.w-20 {
   height: 32px;
   width: 32px;
}