.product-card-container {
   display: flex;
   flex-wrap: wrap;
   margin: 40px 0 0 0;
}

.product-card {
   width: calc(33.33% - 20px);
   margin: 10px 10px;
   height: 400px;
   padding: 20px;
   background: #ffffff;
   box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.product-image {
   height: 130px;
   width: 130px;
}

.product-image img {
   height: 100%;
   width: 100%;
}

.product-details {
   width: 100%;
}

.product-name {
   font-size: 1.2rem;
   font-weight: 600;
}

.product-type {
   margin: 10px 0;
   background: #F5FCFB;
   color: #00bdab;
   font-weight: 600;
   font-size: 1.1rem;
   padding: 5px;
   border-radius: 5px;
}

.product-mrpprice,
.product-offerprice {
   font-size: 1.1rem;
}

.product-status-true {
   width: 150px;
   background: #3f8e5f;
   color: #ffffff;
   padding: 5px;
   font-size: 1.1rem;
   margin: 5px 0;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
}

.product-status-false {
   width: 150px;
   background: #c64a54;
   color: #ffffff;
   padding: 5px;
   font-size: 1.1rem;
   margin: 5px 0;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
}

.product-stock {
   margin: 10px 0;
   font-size: 1.1rem;
   font-weight: 500;
}

.product-card-bottom {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between
}