$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20BDAB40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

label,
input[type=button] {
   font-weight: normal !important;
   width: 100%;
}


.product-page-container {

   .product-card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 10px 0 0 0;
   }

   .product-card {
      margin: 10px 10px;
      padding: 10px;
      background: #ffffff;
      box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
      border-radius: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;

      .editButton {
         position: absolute;
         right: 10px;
         top: 10px;
         height: 40px;
         width: 40px;
         display: grid;
         place-items: center;
         cursor: pointer;
         border-radius: 20px;

         &:hover {
            background: $hover;
         }
      }

      .viewButton {
         position: absolute;
         right: 10px;
         top: 50px;
         height: 40px;
         width: 40px;
         display: grid;
         place-items: center;
         cursor: pointer;
         border-radius: 20px;

         &:hover {
            background: $hover;
         }
      }

      .product-image {
         height: 100px;
         width: 100px;

         img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            border-radius: 10px;
         }
      }

      .product-details {
         width: calc(100% - 100px);
         margin: 0 0 0 10px;

         .product-details-head {
            .product-brand {
               img {
                  height: 40px;
                  width: 40px;
                  border-radius: 50px;
                  box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
               }
            }

            .product-name {
               font-weight: 600;
            }

            .product-status-true {
               color: $activeState;
               font-weight: 600;
            }

            .product-status-false {
               color: $inactiveState;
               font-weight: 600;
            }
         }
      }
   }

   .product-categories {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: scroll;

      .product-category {
         width: 100%;
      }
   }

   .product-type {
      color: #00bdab;
      font-weight: 600;
      font-size: 1.2rem;
      padding: 5px 0;
      border-radius: 5px;
   }


   .product-offerprice {
      font-size: 1.3rem;
      font-weight: 600;
      color: #000000;
      margin: 0 0.5rem 0 0;
   }

   .product-mrpprice {
      font-size: 1.3rem;
      color: #555555;
   }

   .product-offerprice span,
   .product-mrpprice span {
      font-size: 1rem;
      color: #555555;
      font-weight: 400;
   }

   .product-stock {
      margin: 10px 0 0 0;
      font-size: 1.1rem;
      font-weight: 500;
   }

   .product-card-bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .product-delivery {
      margin: 0 0 10px 0;
      font-size: 1.1rem;
   }

   .view-variant-button {
      margin: 10px 10px 0 0;
      width: 100%;

      button {
         width: 100%;
         height: 40px;
         outline: none;
         border: none;
         font-size: 1.2rem;
         font-weight: 600;
         background: #0087bd;
         color: #ffffff;
         border-radius: 5px;
      }
   }

   .card-edit-btn {
      margin: 10px 0 0 10px;
      width: 100%;

      button {
         width: 100%;
         height: 40px;
      }
   }
}

.variant-products-container {
   background-color: #F5FCFB;
   width: 100%;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0%;
   left: auto;
   overflow: auto;
   z-index: 99999;
   -webkit-transform: translateX(100%);
   transform: translateX(100%);
   -webkit-transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.6s;
   transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.6s;
   visibility: hidden;
   padding: 2rem 2rem 0 2rem;

   &.show-variants {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      visibility: visible;
   }

   @media(min-width:768px) {
      width: calc(100% - 400px)
   }

   .variant-products-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .variant-products-header-left {
         font-weight: 700;

         span {
            color: #0087bd;
         }
      }

      .variant-products-header-right {
         .close-button {
            cursor: pointer;

            i {
               font-size: 1.4rem;
               color: #000000;
            }
         }
      }
   }

   .variant-product-filters {
      margin: 3rem 0 1rem 0;
   }

   .productsWrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      .product-card {
         display: flex;
         align-items: flex-start;
         justify-content: flex-start;
         padding: 10px;
         border-radius: 10px;
         cursor: pointer;

         &:hover {
            background: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

            img {
               transform: scale(1.05);
            }
         }

         img {
            transition: 0.3s all ease-in-out;
         }

         .product-image {
            height: 100px;
            width: 100px;

            img {
               height: 100%;
               width: 100%;
               border-radius: 10px;
            }
         }


         .product-details {
            width: calc(100% - 100px);
            margin: 0 0 0 10px;

            .product-name {
               font-weight: 700;
               overflow: hidden;
               -o-text-overflow: ellipsis;
               text-overflow: ellipsis;
               display: -webkit-box;
               -webkit-line-clamp: 1;
               -webkit-box-orient: vertical;
            }

            .product-offerprice {
               font-weight: 600;
               color: #000000;
               margin: 0 0.5rem 0 0;
            }

            .product-mrpprice {
               color: #555555;

               &.strike-price {
                  text-decoration: line-through;
               }
            }

            .product-rating {
               margin: 0.625rem 0;

               i {
                  color: #ffbb00;
                  font-size: 1.3rem;
               }
            }

            .product-status-true {
               color: $activeState;
               font-weight: 600;
            }

            .product-status-false {
               color: $inactiveState;
               font-weight: 600;
            }
         }
      }
   }
}

.variant-products-overlay {
   position: fixed;
   background: rgba(0, 0, 0, 0.5);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   opacity: 0;
   display: none;
   transition: all 0.3s ease-in-out;

   &.show-variants {
      opacity: 1;
      display: block;
   }
}

.variant-product-result-container {
   position: relative;

   .card-edit-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;

      button {
         background: #eff2f5;
         color: #000000;
         width: 100%;
         height: 30px;
      }
   }

   .product-card-container {
      display: flex;
      flex-wrap: wrap;
      margin: 40px 0 0 0;
   }

   .product-card {
      position: relative;
      margin: 10px 10px 10px 0;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .product-image {
         height: 100px;
         width: 100px;

         img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            border-radius: 10px;
         }
      }

      &:hover {
         background: #ffffff;
         box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
      }

      .product-price {
         display: flex;
         align-items: center;
         justify-content: space-between;

         .strike-price {
            text-decoration: line-through;
         }
      }
   }

   .product-details {
      height: 40%;
      width: 100%;
      // background: #f6f6f6;
      border-radius: 15px 15px 0 0;
      padding: 10px 20px;
   }

   .product-brand {
      font-size: 1.3rem;
      font-weight: 600;
   }

   .product-name {
      font-size: 1.2rem;
      font-weight: 600;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
   }

   .product-type {
      color: #00bdab;
      font-weight: 600;
      font-size: 1.2rem;
      padding: 5px 0;
      border-radius: 5px;
   }

   .product-offerprice {
      font-size: 1.3rem;
      font-weight: 600;
      color: #000000;
      margin: 0 0.5rem 0 0;
   }

   .product-mrpprice {
      font-size: 1.3rem;
      color: #555555;
   }

   .product-rating {
      font-size: 1.3rem;
      margin: 0.625rem 0;
      font-weight: 500;

      i {
         color: #ffbb00;
         font-size: 1.3rem;
      }
   }

   .product-offerprice span,
   .product-mrpprice span {
      font-size: 1rem;
      color: #555555;
      font-weight: 400;
   }

   .product-status-true {
      position: absolute;
      right: 5%;
      top: 5%;
      width: 27%;
      height: 2rem;
      background: #00bdab;
      color: #ffffff;
      padding: 0.3125rem;
      font-size: 1.2rem;
      border-radius: 3.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
   }

   .product-status-false {
      position: absolute;
      right: 5%;
      top: 5%;
      width: 27%;
      height: 2rem;
      background: #c64a54;
      color: #ffffff;
      padding: 0.3125rem;
      font-size: 1.2rem;
      border-radius: 3.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
   }

   .product-offer {
      position: absolute;
      font-size: 1.2rem;
      left: 5%;
      top: 5%;
      width: 27%;
      height: 2rem;
      background: #7962a3;
      color: #ffffff;
      border-radius: 3.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
   }

   .product-out-stock {
      position: absolute;
      font-size: 1.2rem;
      left: 5%;
      bottom: 5%;
      width: max-content;
      padding: 0 3px;
      height: 2rem;
      background: #c52525;
      color: #ffffff;
      border-radius: 3.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
   }

   .product-limited-stock {
      position: absolute;
      font-size: 1.2rem;
      left: 5%;
      bottom: 5%;
      width: max-content;
      padding: 0 5px;
      height: 2rem;
      background: #d9601b;
      color: #ffffff;
      border-radius: 3.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
   }

   .product-stock {
      font-size: 1.1rem;
      font-weight: 500;
   }

   .product-card-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .card-edit-btn {
         position: absolute;
         right: 5%;
         bottom: 5%;
         margin: 0;
         width: 27% !important;
         height: 2rem;

         button {
            border-radius: 3.125rem;
            margin: 0 !important;
         }
      }
   }

   .product-delivery {
      margin: 0 0 10px 0;
      font-size: 1.1rem;
   }

   .view-variant-button {
      margin: 10px 0;
      width: 100%;

      button {
         width: 100%;
         height: 40px;
         outline: none;
         border: none;
         font-size: 1.1rem;
         font-weight: 500;
         background: #39295b;
         color: #ffffff;
         border-radius: 5px;
      }
   }
}

.filters-overlay {
   position: fixed;
   background: rgba(0, 0, 0, 0.5);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
   opacity: 0;
   display: none;
   transition: all 0.3s ease-in-out;

   &.show-filters {
      opacity: 1;
      display: block;
   }
}

.filters-container {
   position: fixed;
   top: 0;
   right: 0;
   height: 100%;
   width: 30rem;
   background: #ffffff;
   z-index: 1000;
   opacity: 0;
   overflow-y: scroll;
   transform: translateX(100%);
   transition: 0.2s all ease-in-out;

   &.show-filters {
      opacity: 1;
      transform: translateX(0);
   }

   .filters-head {
      padding: 0 1.25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .filters-container-title {
         margin: 1.25rem 0;
         font-size: 1.5rem;
         font-weight: 600;
      }
   }

   .filters {
      .product-form-container {
         padding: 0 0.625rem;

         .category-checkbox-container {
            display: flex;
            flex-wrap: wrap;
            margin: 0.625rem 0;

            .category-checkbox {
               width: 50%;
               margin: 0.3125rem 0;

               .form-check {

                  .form-check-label {
                     overflow: hidden;
                     -o-text-overflow: ellipsis;
                     text-overflow: ellipsis;
                     display: -webkit-box;
                     -webkit-line-clamp: 1;
                     -webkit-box-orient: vertical;
                  }
               }
            }
         }
      }
   }
}

.left-buttons {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.emptyNote {
   margin: 0 0 20px 0;

   .note {
      font-weight: normal;
   }
}

.filteringWrapper {
   .filtering {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 8px;

      span {
         color: #8B909A;
         line-height: 18px;
      }

      select {
         border: 1px solid #E8E8E8;
         border-radius: 6px;
         padding: 5px;

         &:focus {
            outline: none;
         }
      }
   }

   .pagination {
      display: flex;
      align-items: center;
      justify-content: center;

      .paginationBefore,
      .paginationNext {
         height: 30px;
         width: 30px;
         border-radius: 15px;
         display: grid;
         place-items: center;
         background: $background;
         cursor: pointer;

         &.disabled {
            opacity: 0.5;
            pointer-events: none;
         }
      }

      .paginationPage {
         margin: 0 10px;
      }
   }

}