<div class="product-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Products</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex flex-row justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.product.PRODUCT_LIST }}">Products</a>
               </li>
            </ul>
            <button class="btn btn-primary cursor-pointer fs-6" color="primary"
               routerLink="{{ appRoute.product.ADD_PRODUCT }}" style="width: 200px">
               Add Product
            </button>
         </div>
      </div>
   </div>
   <div class="product-form-container">
      <form [formGroup]="productForm">
         <div class="col-12 row" style="display: flex; align-items: flex-end;">
            <div class="search-input col-sm-4">
               <label class="fs-6">Search</label>
               <input type="text" placeholder="Search for products here..." class="form-control fs-6"
                  formControlName="name" (ngModelChange)="onChange()">
            </div>
            <div class="search-status col-sm-2">
               <label class="fs-6">Status</label>
               <select name="" id="" class="form-select fs-6" formControlName="isActive">
                  <option value="">-- Select an option --</option>
                  <option value=true>Active</option>
                  <option value=false>Inactive</option>
               </select>
            </div>
            <div class="search-featured col-sm-2">
               <label class="fs-6 form-title">Featured</label>
               <select name="" id="" class="form-select fs-6" formControlName="isFeatured">
                  <option value="">-- Select an option --</option>
                  <option value=true>Featured</option>
                  <option value=false>Non featured</option>
               </select>
            </div>
            <div class="search-submit col-sm-2">
               <input type="reset" class="form-control fs-6 bg-secondary text-dark" (click)="onReload()"
                  style="outline: none; border: none;">
            </div>
         </div>
      </form>
   </div>
   <div class="product-card-container view-container">
      <ng-container *ngFor="let product of products">
         <div class="product-card">
            <div class="product-image"><img src='{{base}}/{{product?.file}}' alt="product image" srcset="" /></div>
            <div class="product-details">
               <div class="product-name">{{product?.name}}</div>
               <div class="product-type">
                  <ng-container *ngIf="product?.isSingle == true">
                     Single
                  </ng-container>
                  <ng-container *ngIf="product?.isSingle == false">
                     Configurable
                  </ng-container>
               </div>
               <div class="product-mrpprice">MRP Rs. {{product?.mrpPrice}}</div>
               <div class="product-offerprice">Offer Rs. {{product?.offerPrice}}</div>
               <div class="product-stock">{{product?.stock}} products left</div>
               <div class="product-card-bottom">
                  <div class="product-status-{{product?.isActive}}">
                     <ng-container *ngIf="product?.isActive == true">
                        Active
                     </ng-container>
                     <ng-container *ngIf="product?.isActive == false">
                        Inactive
                     </ng-container>
                  </div>
                  <div class="card-edit-btn">
                     <button routerLink="{{ appRoute.product.UPDATE_PRODUCT }}"
                        [queryParams]="{ product: product?.slug }" class="fs-5 cursor-pointer text-darker">
                        Edit
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </ng-container>
   </div>
   <div class="pagination-conatiner col-12" *ngIf="isData">
      <ul class="pagination justify-content-end">
         <ng-container *ngFor="let key of pages">
            <li *ngIf="selectedPage == key.key" class="page-item active" (click)="fetchByPage(key.key)">{{key.key}}</li>
            <li *ngIf="selectedPage != key.key" class="page-item" (click)="fetchByPage(key.key)">{{key.key}}</li>
         </ng-container>
      </ul>
   </div>
</div>
