<div class="coupon-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Coupons</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex flex-row justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-5">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-5">
                  <a routerLink="{{ appRoute.coupons.COUPONS_LIST }}">Coupons</a>
               </li>
            </ul>
            <button class="btn btn-primary cursor-pointer fs-5" color="primary" style="width: 200px;"
               routerLink="{{ appRoute.coupons.ADD_COUPONS_LIST }}" style="width: 200px">
               Add Coupon
            </button>
         </div>
      </div>
   </div>

   <hr class="horizontal-line">
   <div class="coupon-form-container">
      <form [formGroup]="couponform">
         <div class="col-12 row" style="display: flex; align-items: flex-end;">
            <div class="search-input col-sm-2">
               <label class="fs-5">Search</label>
               <input type="text" placeholder="Search for coupons here..." class="form-control fs-5"
                  formControlName="title" (ngModelChange)="searchCoupon()">
            </div>
            <div class="search-status col-sm-2">
               <label class="fs-5">Status</label>
               <select name="" id="" class="form-select fs-5" formControlName="isActive" (change)="searchCoupon()">
                  <option value="" disabled>Select an option</option>
                  <option value=true>Active</option>
                  <option value=false>Inactive</option>
               </select>
            </div>
            <div class="search-featured col-sm-2">
               <label class="fs-5 form-title">From Date</label>
               <input type="date" class="form-control fs-5" formControlName="fromDate" (change)="searchCoupon()">
            </div>
            <div class="search-featured col-sm-2">
               <label class="fs-5 form-title">To Date</label>
               <input type="date" class="form-control fs-5" formControlName="lastDate" (change)="searchCoupon()">
            </div>
            <div class="search-submit col-sm-2">
               <button type="button" class="form-control fs-5 bg-secondary text-dark" (click)="onReload()"
                  style="outline: none; border: none;">Clear</button>
            </div>
         </div>
      </form>
   </div>
   <hr class="horizontal-line">

   <div class="col-12 d-flex justify-content-between">
      <div class="total-count-container col-sm-3 bg-dark">
         <h4 class="text-white">Total {{totalcount ? totalcount : 0}} coupons</h4>
      </div>
      <div class="page-limit-container d-flex justify-content-between">
         <label class="fs-5">Page Length</label>
         <select class="form-select" [formControl]="pageLimit" (change)="changeLimit($event.target)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="30">30</option>
         </select>
      </div>
   </div>

   <div class="coupon-card-container view-container col-12">
      <ng-container *ngFor="let coupon of coupons">
         <div class="col-sm-6">
            <div class="coupon-card card-hover">
               <div class="coupon-details">
                  <div class="inner-coupon-details">
                     <div class="coupon-image">
                        <img src='{{base}}/{{coupon?.file}}' alt="coupon image" srcset="" />
                     </div>
                     <div class="coupon-name-details">
                        <div class="coupon-name">{{coupon?.title}}</div>
                        <div class="coupon-discount">{{coupon?.type}} <span>{{coupon?.value}}</span></div>
                        <div class="coupon-from-date">From : <span class="fs-3">{{coupon?.fromDate}}</span></div>
                        <div class="coupon-last-date">To : <span class="fs-3">{{coupon?.lastDate}}</span></div>
                     </div>
                  </div>
               </div>
               <div class="coupon-card-right">
                  <div class="inner-coupon-card-right">
                     <div class="coupon-code fs-5">
                        <span>{{coupon?.code}}</span>
                     </div>
                     <div class="coupon-status-{{coupon?.isActive}}">
                        <ng-container *ngIf="coupon?.isActive == true">Active</ng-container>
                        <ng-container *ngIf="coupon?.isActive == false">Inactive</ng-container>
                     </div>
                     <div class="card-edit-btn coupon-edit-btn">
                        <button routerLink="{{ appRoute.coupons.UPDATE_COUPONS_LIST }}"
                           [queryParams]="{ coupon: coupon?.couponid }" class="fs-5 cursor-pointer text-darker">
                           Edit
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </ng-container>
      <ng-container *ngIf="count == 0">
         <div class="no-data-container">
            <div class="no-data-image"><img src="../../../../../assets/media/searching.svg" alt="" srcset=""></div>
            <h2>Sorry, we haven't found any data</h2>
         </div>
      </ng-container>
   </div>
   <!-- Pagination start -->
   <nav aria-label="Page navigation example" *ngIf="count != 0">
      <ul class="pagination-container">
         <div class="page-change-icon" *ngIf="selectedpage != 1 &&  selectedpage > 0">
            <a class="page-link" (click)="loadPrevious()" aria-label="Previous">
               <i class="bi bi-arrow-left-circle"></i>
            </a>
         </div>
         <div class="page-change-icon" *ngIf="selectedpage == 1">
            <a class="page-link page-link-disabled" aria-label="Previous">
               <i class="bi bi-arrow-left-circle"></i>
            </a>
         </div>
         <li class="page-item" *ngFor="let key of pages">
            <a *ngIf="selectedpage != key" class="page-link" (click)="fetchCoupon(key, limit)">{{key}}</a>
            <a *ngIf="selectedpage == key" class="page-link page-active" (click)="fetchCoupon(key, limit)">{{key}}</a>
         </li>
         <div class="page-change-icon" *ngIf="selectedpage != totaldata">
            <a class="page-link" (click)="loadNext()" aria-label="Next">
               <i class="bi bi-arrow-right-circle"></i>
            </a>
         </div>
         <div class="page-change-icon" *ngIf="selectedpage == totaldata">
            <a class="page-link page-link-disabled" aria-label="Next">
               <i class="bi bi-arrow-right-circle"></i>
            </a>
         </div>
      </ul>
   </nav>
   <!-- Pagination end -->
</div>