.btn,
label {
  font-weight: 400 !important;
}

.actionBtn{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//Table designs
.table {
  background: #ffffff;
  font-size: 15px;

  tbody {

    tr {

      td {
        vertical-align: middle;
      }
    }
  }

  thead {

    tr {

      th {
        font-weight: 400 !important;
      }
    }

    background: #E4E7F4;
  }
}

//Table designs