.coupon-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
  width: 100%;
}

.coupon-card {
  // width: calc(50% - 20px);
  margin: 10px 10px 10px 0;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coupon-details {
  background: #1c1421;
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 10px;
  border-radius: 15px;
}

.inner-coupon-details {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px 0 20px 10px;
}

.coupon-card-right {
  width: 35%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffba3c;
  padding: 10px 0 10px 0;
}

.inner-coupon-card-right {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.coupon-image {
  height: 140px;
  width: 140px;
}

.coupon-image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.coupon-name-details {
  margin: 0 0 0 20px;
}

.coupon-name {
  font-size: 1.2rem;
  color: #ffffff;
}

.coupon-discount {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
}

.coupon-discount span {
  font-size: 2.2rem;
}

.coupon-status-true {
  width: 100%;
  background: #00bdab;
  color: #ffffff;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coupon-status-false {
  width: 100%;
  background: #c64a54;
  color: #ffffff;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coupon-edit-btn button {
  width: 100%;
}

.coupon-featured-true {
  color: #00bdab;
  font-weight: 600;
  font-size: 1.1rem;
}

.coupon-featured-false {
  color: #0087bd;
  font-weight: 600;
  font-size: 1.1rem;
}

.coupon-from-date,
.coupon-last-date {
  font-size: 1.1rem;
  color: #ffffff;
}

.coupon-from-date span,
.coupon-last-date span {
  font-size: 1.1rem;
  font-weight: 600;
}

.coupon-code {
  display: flex;
  color: #1c1421;
}

.coupon-code span {
  margin: 5px 0;
  font-size: 1.8rem;
  font-weight: 800;
  border-radius: 5px;
}
