<div>
  <div class="page-header d-flex align-items-start justify-content-between">
    <div>
      <div class="page-title">
        <h1 class="fw-bolder">Coupons</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.coupons.COUPONS_LIST }}">Coupons</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-primary cursor-pointer fs-6" color="primary"
      routerLink="{{ appRoute.coupons.ADD_COUPONS_LIST }}">
      Add Coupon
    </button>
  </div>

  <div class="card my-3">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-lg-2">
            <input type="date" class="form-control fs-6" formControlName="fromDate" (change)="getCoupons()" />
          </div>
          <div class="col-lg-2">
            <input type="date" class="form-control fs-6" formControlName="lastDate" (change)="getCoupons()" />
          </div>
          <div class="col-lg-2">
            <select name="isActive" id="isActive" class="form-select fs-6" formControlName="isActive"
              (change)="getCoupons()">
              <option value="" disabled>Status</option>
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
          </div>
          <div class="col-lg-2">
            <input type="button" class="form-control text-primary border border-primary fs-6" value="Clear filters"
              (click)="clearFilters()" />
          </div>
          <div class="col-lg-4">
            <input type="text" placeholder="Search coupons here" class="form-control fs-6" formControlName="title"
              (ngModelChange)="getCoupons()" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="offer-cards my-3">
    <ng-container *ngFor="let offer of coupons">
      <div class="p-3 rounded bg-white cursor-pointer d-flex align-items-start justify-content-between bg-white">
        <div routerLink="{{ appRoute.coupons.UPDATE_COUPONS_LIST }}" [queryParams]="{ coupon: offer?.refid }"
          class="w-80">
          <img src="" onerror="this.src = 'assets/images/default.png'" class="w-100 rounded h-100"
            alt="{{offer.title}}">
        </div>
        <div class="w-calc d-flex align-items-start justify-content-between">
          <div routerLink="{{ appRoute.coupons.UPDATE_COUPONS_LIST }}" [queryParams]="{ coupon: offer?.refid }"
            class="w-calc37">
            <div class="fs-5 fw-bold">{{ offer?.code }}</div>
            <div class="message">{{offer?.message}}</div>
            <div class="message">{{offer?.type}}</div>
          </div>

          <div class="w-37">
            <app-switch (switchToggled)="switchToggled($event)" [switchId]="offer.refid"
              [isToggledProps]="offer.isActive"></app-switch>
            <div class="cursor-pointer" (click)="deleteOffer(offer.refid)">
              <svg height="20" width="20" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0">
                </path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="coupons.length == 0">
    <app-no-results></app-no-results>
  </ng-container>

  <div class="card my-3">
    <div class="card-body py-2 px-1">
      <app-pagination (pageTrigger)="onPageTriggered($event)" [pageSize]="limit" [pageIndex]="page"
        [totalPages]="totalPages" [totalResults]="totalResults"></app-pagination>
    </div>
  </div>
</div>