.main-accordion {
  margin: 0;
  padding: 0 0 15px 0;
}

.btn {
  font-weight: normal !important;
}

.logout-btn {
  width: 100%;
}

.menu-item {

  .menu-link {

    .menu-title {
      font-size: 15px !important;
    }
  }
}

.menu-sub-accordion {
  .menu-item {
    .menu-link {
      padding-left: 32px !important;
    }

    .menu-sub {
      .menu-link {
        padding-left: 40px !important;
      }
    }
  }
}