<div class="menu-item">
  <a class="menu-link without-sub" routerLink="{{ appRoute.DASHBOARD }}" routerLinkActive="active">
    <span class="menu-icon">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17.97 7.70543L12.637 3.56125C11.6742 2.81292 10.3258 2.81292 9.363 3.56125L4.029 7.70543C3.3794 8.21013 2.99961 8.98634 3 9.80848V17.0018C3 18.1054 3.89543 19 5 19H17C18.1046 19 19 18.1054 19 17.0018V9.80848C19 8.98624 18.62 8.20996 17.97 7.70543"
          stroke="#8B909A" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M15 14C12.79 15.333 9.208 15.333 7 14" stroke="#8B909A" stroke-width="1.75" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>

    </span>
    <span class="menu-title fw-bold">Dashboard</span>
  </a>
</div>

<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="bi bi-people fs-4"></i>
    </span>
    <span class="menu-title" data-link="/crafted/account">Users</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.customers.CUSTOMERS_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Customers</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active"
        routerLink="{{ appRoute.subscribers.SUBSCRIBERS_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">User alerts</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.review.REVIEW_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Reviews</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.enquires.ENQUIRY_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Enquires</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.cart.CART_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Cart</span>
      </a>
    </div>


    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.wishlist.LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Wishlist</span>
      </a>
    </div>
  </div>
</div>

<div class="menu-item">
  <a class="menu-link without-sub" routerLink="{{ appRoute.orders.ORDERS_LIST }}" routerLinkActive="active">
    <span class="menu-icon">
      <i class="bi bi-clipboard-data fs-4"></i>
    </span>
    <span class="menu-title fw-bold">Orders</span>
  </a>
</div>



<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="bi bi-box-seam fs-4"></i>
    </span>
    <span class="menu-title" data-link="/crafted/account">Catalog</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.brand.BRAND_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Brands</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.category.CATEGORY_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Categories</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.product.PRODUCT_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Product Head</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.product.ALL_PRODUCTS }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Products</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.collection.COLLECTION_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Collections</span>
      </a>
    </div>
  </div>
</div>

<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="bi bi-megaphone fs-4"></i>
    </span>
    <span class="menu-title" data-link="/crafted/account">Marketing</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.offer.OFFER_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Offers</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.coupons.COUPONS_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Coupons</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.banner.BANNER_LIST}}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Banners</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active"
        routerLink="{{ appRoute.notification.NOTIFICATION_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Notifications</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.feeds.LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Feeds</span>
      </a>
    </div>
  </div>
</div>

<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="bi bi-book fs-4"></i>
    </span>
    <span class="menu-title" data-link="/crafted/account">Pages</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.helpcenter.HELPCENTER}}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Help Center</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.about.ABOUT}}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">About us</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active"
        routerLink="{{ appRoute.termsconditions.TERMSCONDITIONS}}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Terms and Condition</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.privacypolicy.PRIVACYPOLICY}}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Privacy Policy</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.paymentPolicy}}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Payment Policy</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.serviceWarranty }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Service Warranty</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.shippingPolicy }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Shipping Policy</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.refundPolicy }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Refund Policy</span>
      </a>
    </div>
  </div>
</div>

<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="bi bi-brush fs-4"></i>
    </span>
    <span class="menu-title" data-link="/crafted/account">Store Design</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/app/home-settings/web">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Page Customization</span>
      </a>
    </div>
  </div>

  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{appRoute.navigation}}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Navigation Menu</span>
      </a>
    </div>
  </div>
</div>

<div class="menu-item">
  <a class="menu-link without-sub" routerLink="{{ appRoute.storeSettings.STORE_SETTINGS }}" routerLinkActive="active">
    <span class="menu-icon">
      <i class="bi bi-gear"></i>
    </span>
    <span class="menu-title">Store Settings</span>
  </a>
</div>

<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="bi bi-list-nested"></i>
    </span>
    <span class="menu-title" data-link="/crafted/account">Store Preferences</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.analytics.LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Analytics</span>
      </a>
    </div>


    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active"
        routerLink="{{ appRoute.socialMedia.SOCIAL_MEDIA_LIST }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Social Links</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{appRoute.seo.SEO_DETAILS}}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">SEO</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{appRoute.mobileApps}}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Apps</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{appRoute.DYNAMIC_SCRIPTS.LIST}}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Dynamic Scripts</span>
      </a>
    </div>
  </div>
</div>

<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="bi bi-sliders fs-4"></i>
    </span>
    <span class="menu-title">Settings</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item menu-accordion" routerLinkActive="here show" data-kt-menu-trigger="click">
      <span class="menu-link">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title" data-link="/crafted/pages/profile">General</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.contacts.CONTACTS_LIST }}">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Contact</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active"
            routerLink="{{ appRoute.invoiceSettings.INVOICE_SETTINGS_LIST }}">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Invoice Settings</span>
          </a>
        </div>



        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.faq.FAQ_LIST }}">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">FAQs</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.mailerSubscriptions }}">
            <span class="menu-bullet">
              <svg height="16px" width="16px" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path>
              </svg>
            </span>
            <span class="menu-title">Mailer subscriptions</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active"
            routerLink="{{ appRoute.testimonial.TESTIMONIAL_LIST }}">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Testimonials</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active"
            routerLink="{{ appRoute.pageLimits.PAGE_LIMITS_LIST }}">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Page Limits</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/app/bulk-upload">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Bulk Uploads</span>
          </a>
        </div>

      </div>

      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item menu-accordion" routerLinkActive="here show" data-kt-menu-trigger="click">
          <span class="menu-link">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" data-link="/crafted/pages/profile">Tax</span>
            <span class="menu-arrow"></span>
          </span>
          <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active"
                routerLink="{{ appRoute.taxRules.TAX_RULES_LIST }}">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Tax Rules</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active"
                routerLink="{{ appRoute.taxClass.TAX_CLASS_LIST }}">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Tax Class</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item menu-accordion" routerLinkActive="here show" data-kt-menu-trigger="click">
      <span class="menu-link">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title" data-link="/crafted/pages/profile">Click and Collect</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.timeslots.TIME_SLOTS }}">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Time Slots</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.stores.STORE_LIST }}">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Stores</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="menu-item">
  <a class="menu-link without-sub" routerLink="{{ appRoute.reports.LIST }}" routerLinkActive="active">
    <span class="menu-icon">
      <i class="bi bi-journal-bookmark fs-4"></i>
    </span>
    <span class="menu-title">Reports</span>
  </a>
</div>

<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="bi bi-people fs-4"></i>
    </span>
    <span class="menu-title" data-link="/crafted/account">Admins</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="{{ appRoute.admin.ADMIN_USERS }}">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Admin Users</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="{{ appRoute.roles.ROLES_LIST }}" routerLinkActive="active">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Roles</span>
      </a>
    </div>
  </div>
</div>