label,
.btn-secondary,
.btn-primary {
    font-weight: 400 !important;
}

//Table designs
.table {
    background: #ffffff;
    font-size: 15px;

    tbody {

        tr {

            td {
                vertical-align: middle;
            }
        }
    }

    thead {

        tr {

            th {
                font-weight: 400 !important;
            }
        }

        background: #E4E7F4;
    }
}

//Table designs
.product {
  max-width: 300px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

//Status styles
.status{
  color: #ffffff;
  width: max-content;
}

.requested{
  background: #2a75b3;
}

.initiated{
  background: #00bcaa;
}

.replaced{
  background: #2b9b4e;
}

.rejected{
  background: #ca3030;
}
//Status styles