<div>
    <div class="page-header d-flex align-items-start justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Static Pages</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6"><a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a></li>
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoute.staticPages.list}}">Static Pages</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoute.staticPages.update}}" [queryParams]="{'id': staticPageId}">
                        Update Static Pages
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="my-4 card">
        <div class="card-body">

            <form [formGroup]="form">
                <div class="form-group mb-3">
                    <label for="title" class="mb-3 fs-6 required">Title</label>
                    <input type="text" id="title" placeholder="About Us" formControlName="title" class="form-control"
                        [ngClass]="{
                        'is-invalid':  (formControls.title.touched || isSubmitted) && formControls.title.errors?.required}">
                </div>

                <div class="form-group mb-3">
                    <label for="slug" class="mb-3 fs-6">Slug</label>
                    <input type="text" id="slug" placeholder="about-us" formControlName="slug" class="form-control">
                </div>

                <div class="form-group mb-3">
                    <label for="description" class="fs-6 mb-3 required">Description</label>
                        <textarea type="text" id="message" class="form-control"
                            formControlName="description" rows="20" [ngClass]="{
                                'is-invalid':  (formControls.description.touched || isSubmitted) && formControls.description.errors?.required}"></textarea>
                </div>

                <div class="row mb-3">

                    <div class="col-lg-3">
                        <app-assets (mediaClicked)="onMediaClicked($event)" [previewDetails]="metaThumbnail"></app-assets>
                    </div>

                    <div class="col-lg-9">
                        <div class="form-group mb-3">
                            <label for="metaTitle" class="mb-3 fs-6">Meta Title</label>
                            <input type="text" id="metaTitle" formControlName="metaTitle" class="form-control">
                        </div>

                        <div class="form-group mb-3">
                            <label for="metaDescription" class="mb-3 fs-6">Meta Description</label>
                            <input type="text" id="metaDescription" formControlName="metaDescription"
                                class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="metaKeywords" class="mb-3 fs-6">Meta Keywords</label>
                            <input type="text" id="metaKeywords" formControlName="metaKeywords" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="d-flex align-items-center justify-content-between">
                    <button type="button" class="btn btn-danger" (click)="onDelete(template)">Delete page</button>

                    <div class="d-flex align-items-center gap-2 justify-content-end">
                        <button class="btn btn-secondary" routerLink="{{appRoute.staticPages.list}}">Cancel</button>
                        <button type="button" (click)="onSubmit()" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Do you want to delete this page?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>