$border: #f7f7f7;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.05);
$primary: #00bdab;
$primaryBackground: #00bdab20;
$background: #e5e5e5;
$error: #F1416C;

label,
input[type=button],
.btn-secondary {
  font-weight: normal !important;
  width: 100%;
}

.permissionsWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;

  .permissionCard {
    background: $white;
    box-shadow: 0 10px 25px $boxShadow;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid $border;

    &.selected {
      background: $primaryBackground;
      color: $primary;
      border: 1px solid $primary;
    }
  }
}

.permissionBtns {
  .btn {
    width: 120px;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}