$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00BDAB;
$primaryBackground: #20BDAB40;
$activeBackground: #00BDAB20;
$border: #ebebeb;
$background: #f1f1f1;
$error: #F1416C;
$black: #000000;

.icon{
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.store-facility{

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

textarea {
    resize: none;
}

.menuboxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    gap: 10px;
}

.remove-submenu{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

//Custom classes
.w-min {
    min-width: max-content;
}

//Custom classes

.scroll-transition {
    transition: all 0.7s ease;
    /* Adjust duration and timing function as needed */
}

@keyframes scroll-left {
    from {
        scroll-behavior: smooth;
        scroll-left: 0;
    }

    to {
        scroll-behavior: smooth;
        scroll-left: 100px;
        /* Adjust the scroll amount */
    }
}


label,
.btn-secondary,
.btn-primary {
    font-weight: normal !important;
}


.layoutWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    .layoutCard {
        cursor: pointer;
        background: $white;
        border: 1px solid $background;

        &.selected {
            background: #00BDAB20;
            color: $activeState;
            border: 1px solid $activeState;
        }
    }
}

.categoryCard {
    cursor: pointer;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.01);
    background: $white;
    margin: 0 0 15px 0;
    border: 1px solid $border;

    .categoryCardHeader {

        .removeCategory {
            color: $grey;
        }
    }
}

.subcategoryWrapper {
    display: none;

    &.show {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .subcategory {
        &.selected {
            background: #00BDAB20;
            border: 1px solid $activeState;
        }
    }
}

.categoryWrapper {
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;

    .category {
        cursor: pointer;
        border: 1px solid $border;
        background: $background;

        svg {
            color: $grey;
        }
    }
}

.handle-advance-menuitem{
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.itemTypes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .itemType {
        cursor: pointer;
        background: $white;
        border: 1px solid $background;

        &.is-invalid {
            border: 1px solid $error;
            padding-right: calc(1.5em + 1.5rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23F1416C'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F1416C' stroke='none'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.375rem) center;
            background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
        }

        &.selected {
            background: #00BDAB20;
            color: $activeState;
            border: 1px solid $activeState;
        }
    }
}

.modalButtons {
    .btn {
        width: 200px;
    }
}

.itemsWrapper {
    max-height: 250px;
    height: max-content;
    overflow-y: scroll;

    .itemCard {
        cursor: pointer;
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.04);
        background: $white;
        border: 1px solid $background;
        margin: 0 0 10px 0;
    }
}

.savedItems {

    .savedItem {
        cursor: pointer;
        background: $white;
        border: 1px solid $white;

        &:hover {
            background: #f1f1f1;
            border: 1px solid $border;
        }

        .buttons {
            color: $grey;

            .itemButton {

                &:hover {
                    color: $black;
                }
            }
        }
    }
}

.archivedItems {

    .archivedItem {
        cursor: pointer;
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.04);
        background: $white;
        border: 1px solid $background;
        margin: 0 0 10px 0;

        .buttons {
            color: $grey;
        }
    }
}

.footerWrapper {
    .categoryWrapper {
        height: 300px;
        max-height: 300px;
        overflow-y: scroll;

        .category {
            cursor: pointer;
            border: 1px solid $border;
            background: $background;

            svg {
                color: $grey;
            }
        }
    }

    .megaMenuWrapper {
        .categoryCard {
            cursor: pointer;
            box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.04);
            background: $white;
            margin: 0 0 5px 0;
            border: 1px solid $border;

            .categoryCardHeader {

                .removeCategory {
                    color: $grey;
                }
            }
        }
    }
}

.wrapperBody{
    height: 240px;
}