.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .item {
    padding: 10px;
    background: #ffffff;
    min-height: 100px;
    color: #00BDAB;
    border: 1px solid #eeeeee;
    cursor: pointer;
  }
}

.btn,
label {
  font-weight: 400 !important;
}

.products-wrapper {
  height: max-content;
  max-height: 300px;
  overflow-y: scroll;

  .products-card {

    img {
      height: 60px;
      width: 60px;
    }

  }
}


.sales-heading {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
}

.sales-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;


  .sales-item {
    padding: 10px;
    background: #ffffff;
    min-height: 100px;
    color: #00BDAB;
    border: 1px solid #eeeeee;
    cursor: pointer;
  }
}