.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .item {
    padding: 10px;
    background: #ffffff;
    height: 100px;
    color: #00bdab;
    border: 1px solid #eeeeee;
    cursor: pointer;

    .icon {
      width: max-content;
    }

    &:hover {
      border: 1px solid #9ce2db;
    }
    .title {
      color: #000;
      font-weight: 600;
    }
  }
}
