<div class="coupon-page-container">
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bolder">Activity logs</h1>
        </div>
        <div class="row align-items-center">
            <div class="col d-flex flex-row justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.activityLogs }}">Activity logs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-4 card">
        <div class="card-body">

            <div class="activities">
                <ng-container *ngFor="let activity of activities; let i = index">
                    <div class="shadow p-3 mb-3 b-white rounded">
                        <div>{{activity.createdAt}}, {{activity.time}}</div>
                        <div class="my-2 fs-5 fw-bold text-dark">{{activity.activity}}</div>
                        <div class="text-primary">{{activity.admin.email}}</div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>