<div class="coupon-page-container">
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bold">Activity logs</h1>
        </div>
        <div class="row align-items-center">
            <div class="col d-flex flex-row justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.activityLogs }}">Activity logs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-4 card">
        <div class="card-body">

            <div class="my-3">
                <div class="row d-flex justify-content-end align-items-end">
                    <div class="col-lg-3 form-group">
                        <label for="admin" class="form-label">User</label>
                        <select name="admin" id="admin" [formControl]="admin" class="form-select"
                            (change)="getActivities()">
                            <option value="" disabled>-- Select an option --</option>
                            <option *ngFor="let admin of admins" value="{{admin?._id}}">{{admin?.email}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label for="date" class="form-label">Date</label>
                        <input id="date" name="date" type="text" placeholder="-- Select a date --" class="form-control"
                            bsDatepicker
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"
                            [(ngModel)]="date" (ngModelChange)="getActivities()">
                    </div>
                    <div class="col-lg-2 form-group">
                        <label for="date" class="form-label">&nbsp;</label>
                        <input class="form-control btn btn-secondary" type="button" value="Clear filters"
                            (click)="clearFilters()">
                    </div>
                </div>
            </div>

            <div class="activities my-4">
                <ng-container *ngFor="let activity of activities; let i = index">
                    <div class="p-3 mb-3 b-white rounded activity">
                        <div>
                            <div>{{getLocaleDateString(activity?.date)}} {{getLocaleTimeString(activity?.date)}}</div>
                            <p class="my-2 fs-6 text-muted">{{activity.admin.email}}</p>
                            <div class="fs-5" [innerHTML]="activity.activity"></div>
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="my-8 d-flex flex-column align-items-center justify-content-center"
                *ngIf="activities.length == 0">
                <app-no-results></app-no-results>
            </div>

            <app-pagination [pageSize]="limit" [pageIndex]="page" [totalResults]="totalResults"
                [totalPages]="totalPages" (pageTrigger)="onPageTrigger($event)"></app-pagination>
        </div>
    </div>
</div>