.btn-primary,
.btn-secondary,
label {
  font-weight: 400 !important;
}


.checkbox{
  height: 20px;
  width: 20px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e7e7;
  cursor: pointer;

  .checked{
    position: relative;
    height: 14px;
    width: 14px;
    background-color: #00BDAB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
}