<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title fw-bolder fs-2">
               {{ editMode ? "Update Layouts" : "Add Layouts" }}
            </h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.layout.LAYOUT_LIST }}">Layouts</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.layout.ADD_LAYOUT}}">
                     {{ editMode ? "Update Layouts" : "Add Layouts"}}
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row mt-10">
      <div class="col-sm-12 fs-6">
         <div class="card">
            <div class="card-body">
               <form (ngSubmit)="onSubmit()" [formGroup]="layoutForm" enctype=" multipart/form-data">
                  <div class="row">
                     <div class="col-12">
                        <h3 class="fw-bolder"><span>Layouts Details</span></h3>
                     </div>
                     <div class="col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3 ">Title</label>
                           <input type="text" class="form-control fs-6" formControlName="title"
                              [ngClass]="{'is-invalid': (lf.title.touched || isSubmitted) && lf.title.errors?.required}" />
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3  required">Valid From</label>
                           <input type="date" class="form-control fs-6" formControlName="validFrom"
                              [ngClass]="{'is-invalid': (lf.validFrom.touched || isSubmitted) &&  lf.validFrom.errors?.required}" />
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3  required">Valid To</label>
                           <input type="date" class="form-control fs-6" formControlName="validTo"
                              [ngClass]="{'is-invalid': (lf.validTo.touched || isSubmitted) &&  lf.validTo.errors?.required}" />
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3 ">Status</label>
                           <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
                              formControlName="isActive">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="true">Active</option>
                              <option value="false">Inactive</option>
                           </select>
                        </div>
                     </div>

                     <div class="col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3 ">Grid Count</label>
                           <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
                              formControlName="gridCount">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="4">4</option>
                              <option value="6">6</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3 ">Type</label>
                           <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
                              formControlName="type">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="Slider">Slider</option>
                              <option value="List">List</option>
                           </select>
                        </div>
                     </div>

                     <div class="col-12">
                        <h3 class="fw-bolder">Media files</h3>
                     </div>

                     <div class="col-12">
                        <div class="col-sm-6" >
                           <button type="button" class="btn btn-dark fs-6" data-bs-toggle="modal"
                              data-bs-target="#fileModal" style="width: 200px; border-radius: 50px;">
                              Upload File
                           </button>
                        </div>
                     </div>

                     <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 <div class="col-12">
                                    <div class="col-12">
                                       <h3 class=" required"><span>Media</span></h3>
                                    </div>
                                    <div class="form-group">
                                       <div class="image-upload">
                                          <input type="file" class="form-control fs-6" name="image" accept="image/*"
                                             (change)="handleInputChange($event)" style="height: 100px;" required>
                                          <label class="fs-7 text-disabled">Please upload a Mobile banner with 546px *
                                             390px</label>
                                          <div class="image-upload-div">
                                             <div class="left-img">
                                                <img src="assets/media/svg/files/upload.svg" alt=""
                                                   srcset="">
                                             </div>
                                             <div class="right-text d-flex flex-column">
                                                <span class="right-text-title fs-4 fw-bolder">Click to upload</span>
                                                <div *ngIf="!loadImage">
                                                   <span class="right-text-note text-dark-400">
                                                      No file uploaded
                                                   </span>
                                                </div>
                                                <span class="right-text-note text-dark-400" *ngIf="loadImage">
                                                   File uploaded
                                                </span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <ng-container *ngIf="loadImage">
                                       <div class="col-12 preview-section" style="margin: 50px 0 0 0;">
                                          <div class="crop-image col-sm-6">
                                             <image-cropper class="crop-section" [imageChangedEvent]="imageChangedEvent"
                                                [maintainAspectRatio]="true" [aspectRatio]="2 / 1"
                                                [cropperMaxWidth]="4000" [cropperMaxHeight]="2000" format="png"
                                                (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                                             </image-cropper>
                                             <div class="note">
                                                <i class="bi bi-info-circle"></i> Image will be resized to size 546px *
                                                390px
                                             </div>
                                          </div>
                                          <div class="uploads uploaded col-sm-6">
                                             <div class="close-icon">
                                                <i class="bi bi-x-lg text-white" (click)="removeImage()"></i>
                                             </div>
                                             <img class="preview-img" id="previewImage" [src]="croppedImage">
                                          </div>

                                       </div>
                                    </ng-container>
                                 </div>
                                 <div class="col-12 mt-20">
                                    <div class="form-group">
                                       <label class="fs-6 mb-3">Redirection URL</label>
                                       <input type="text" formControlName="redirectionURL" class="form-control fs-6">
                                    </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary fs-6" style="width: 200px"
                                    data-bs-dismiss="modal">Close</button>
                                 <button type="button" class="btn btn-primary fs-6" style="width: 200px"
                                    (click)="addFile()">Save</button>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-12 upload-layout">
                        <div *ngFor="let layout of dataFiles; let i=index">
                           <div class="uploaded-layouts">
                              <div class="layout-card">
                                 <div class="prod-details-layout fs-6 fw-bold mt-3">
                                    <div class="prod-img-layout mt-3">
                                       <img class="layout-preview" [src]="layout?.url" alt="" srcset="">
                                    </div>
                                 </div>
                                 <div class="prod-url fs-6 fw-bold mt-3">
                                    Redirection URL : {{layout?.redirect}}
                                 </div>
                                 <div class="close-icon" (click)="removeFile(layout?.id)">
                                    <i class="bi bi-x-lg"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 d-flex align-items-center justify-content-end">
                        <a routerLink="{{ appRoute.layout.LAYOUT_LIST}}" class="btn btn-secondary btn-sm fs-6 text-dark"
                           style="width: 200px; margin-right: 20px;">
                           Cancel
                        </a>
                        <button type="submit" class="btn btn-primary btn-sm fs-6" style="width: 200px">
                           Add
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>