<div>
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bold">Vouchers</h1>
        </div>
        <div class="row">
            <div class="col d-flex align-items-start justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.vouchers.list }}">Vouchers</a>
                    </li>
                </ul>
                <button class="btn btn-primary cursor-pointer fs-6" color="primary"
                    routerLink="{{ appRoute.vouchers.add }}">
                    Add voucher
                </button>
            </div>
        </div>
    </div>
</div>