<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">
          {{ editMode ? "Update Offer" : "Add Offer" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.offer.OFFER_LIST }}">Offers</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a
              routerLink="{{ appRoute.offer.UPDATE_OFFER }}"
              [queryParams]="{ offer: offer }"
            >
              {{ editMode ? "Update Offer" : "Add Offer" }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page Header -->
  <!-- Form Start -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="offerForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Offer Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Name</label>
                  <input
                    type="text"
                    class="form-control fs-5"
                    formControlName="name"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Description</label>
                  <input
                    type="text"
                    class="form-control fs-5"
                    formControlName="description"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">From Date</label>
                  <input
                    type="date"
                    class="form-control fs-5"
                    formControlName="fromDate"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Last Date</label>
                  <input
                    type="date"
                    class="form-control fs-5"
                    formControlName="lastDate"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Featured</label>
                  <select
                    class="form-select form-select-lg mb-3"
                    aria-label=".form-select-lg"
                    formControlName="isFeatured"
                  >
                    <option value="true" selected>Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Status</label>
                  <select
                    class="form-select form-select-lg mb-3"
                    aria-label=".form-select-lg"
                    formControlName="isActive"
                  >
                    <option value="true" selected>Active</option>
                    <option value="false">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Offer Image</label>
                  <input type="file" class="form-control fs-5" name="image" accept="image/*"
                    (change)="handleInputChange($event)"
                    onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"
                    required>
                  <div class="uploads uploaded">
                    <img class="plus" src="http://localhost:3000/{{offerData.file}}" style="background-color:#f6f6f6; border: none !important;" id="preview">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary fs-4">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Form End -->
</div>
