$hover: #e3e3e3;
$white: #ffffff;
  
label,
input[type=button],
.btn-secondary,
.btn-primary {
  font-weight: normal !important;
}

button {
  width: 200px;
}

.brandsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .brandCard {
    padding: 10px;
    background: $white;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

    img{
      height: 60px;
      width: 60px;
      object-fit: contain;
      border-radius: 5px;
    }

    .editButton {
      position: absolute;
      right: .625rem;
      top: .625rem;
      width: 2.5rem;
      height: 2.5rem;
      display: grid;
      place-items: center;
      cursor: pointer;
      border-radius: 0.5rem;

      &:hover {
        background: $hover;
      }
    }
  }
}