.brand-card-container {
   display: flex;
   flex-wrap: wrap;
   margin: 10px 0 0 0;
   width: 100%;
 }
 
 .brand-card {
   width: calc(50% - 20px);
   margin: 10px 10px 10px 0;
   height: 200px;
   padding: 10px 30px;
   background: #ffffff;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .brand-details {
   display: flex;
   align-self: center;
   justify-content: start
 }
 
 .brand-details .flex-1 {
   margin: 0 0 0 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 
 .brand-image {
   height: 120px;
   width: 120px;
 }
 
 .brand-image img {
   height: 100%;
   width: 100%;
   border-radius: 10px;
 }
 
 .brand-details {
   margin: 0 0 0 20px;
 }
 
 .brand-name {
   font-size: 1.2rem;
   font-weight: 600;
 }
 
 .brand-status-true {
   width: 150px;
   background: #00bdab;
   color: #ffffff;
   padding: 5px;
   font-size: 1.1rem;
   font-weight: 600;
   margin: 5px 0;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .brand-status-false {
   width: 150px;
   background: #c64a54;
   color: #ffffff;
   padding: 5px;
   font-size: 1.1rem;
   font-weight: 600;
   margin: 5px 0;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .brand-featured-true {
   color: #00bdab;
   font-weight: 600;
   font-size: 1.1rem;
 }
 
 .brand-featured-false {
   color: #0087bd;
   font-weight: 600;
   font-size: 1.1rem;
 }
 