$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primary: #00bdab;
$activeBackground: #00bdab20;
$border: #cccccc;
$hover: #F0F8F7;
$grey: #888888;

.brand-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.brand-card {
  padding: 10px;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  .editButton {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 20px;

    &:hover {
      background: $hover;
    }
  }

  .brand-image {
    height: 60px;
    width: 60px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }

  .brand-details {
    margin: 0 0 0 10px;

    .brand-status-true,
    .brand-featured-true {
      color: #00bdab;
      font-weight: 600;
    }

    .brand-status-false {
      color: #ce1626;
      font-weight: 600;
    }

    .brand-featured-false {
      color: #0087bd;
      font-weight: 600;
    }
  }
}