<div class="printWrapper">
    <div class="a4--frame">
        <div class="storeLogo mb-5 d-flex align-items-center justify-content-between">
            <img src="{{base}}/{{settings?.logo}}" alt="Preview">
            <div class="">
                <div class="d-flex align-items-center justify-content-end storeAddress mt-2" *ngIf="store">
                    {{store?.address?.firstlane}}, {{store?.address?.secondlane}}, {{store?.address?.area}},
                    {{store?.address?.city}}
                </div>
                <div class="d-flex align-items-center justify-content-end storeContact" *ngIf="helpCenter">
                    Contact us: {{helpCenter[0]?.phone}} | {{helpCenter[0]?.email}}
                </div>
            </div>
        </div>
        <div class="orderPreview">
            <div class="orderDetails">
                <h5>Order ID : <span>#{{order}}</span></h5>
            </div>
        </div>
        <div class="addressFlex">
            <div>
                <label>Bill To :</label>
                <h4>
                    {{orderDetails?.address?.firstlane}} {{orderDetails?.address?.secondlane}}
                    {{orderDetails?.address?.area}} {{orderDetails?.address?.city}}
                    {{orderDetails?.address?.landmark}} {{orderDetails?.address?.state}}
                    {{orderDetails?.address?.pincode}}
                </h4>
                <p *ngIf="orderDetails?.gst">For : {{orderDetails?.gst}}</p>
            </div>
            <div>
                <label>Shipped To :</label>
                <h4>
                    {{orderDetails?.address?.firstlane}} {{orderDetails?.address?.secondlane}}
                    {{orderDetails?.address?.area}} {{orderDetails?.address?.city}}
                    {{orderDetails?.address?.landmark}} {{orderDetails?.address?.state}}
                    {{orderDetails?.address?.pincode}}
                </h4>
            </div>
        </div>
        <div class="addressFlex">
            <div>
                <label>Payment Method:</label>
                <h4> {{orderDetails?.paymentMethod}} </h4>
            </div>
            <div>
                <label>Order Date :</label>
                <h4> {{orderDetails?.orderDate}} </h4>
            </div>
        </div>

        <div class="orderSummary">
            <h2>Order Summary</h2>
            <table class="table table-striped table-bordered orderList-Table">
                <thead>
                    <tr>
                        <th> Item </th>
                        <th> Price </th>
                        <th> Quanity </th>
                        <th> Total </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let product of orderDetails?.products">
                        <tr>
                            <td>
                                <img class="me-1 productImage" src="{{base}}/{{product?.productId?.thumbnail}}"
                                    alt="Product">
                                {{product?.productId?.name}}
                            </td>
                            <td>
                                {{settings?.currency}} {{product?.pricePerUnit}}
                            </td>
                            <td>
                                {{product?.quantity}}
                            </td>
                            <td>
                                {{settings?.currency}} {{product?.total}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            Total {{settings?.currency}}
                        </td>
                        <td>
                            {{settings?.currency}} {{orderDetails?.total}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Sub Total
                        </td>
                        <td>
                            {{settings?.currency}} {{orderDetails?.priceBeforeTax}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            VAT 5%
                        </td>
                        <td>
                            {{settings?.currency}} {{orderDetails?.tax}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Delivery Charges
                        </td>
                        <td>
                            {{settings?.currency}} {{orderDetails?.shippingCost}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Additional Charges
                        </td>
                        <td>
                            {{settings?.currency}} {{orderDetails?.additionalCharge}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Total
                        </td>
                        <td>
                            {{settings?.currency}} {{orderDetails?.total}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

</div>

<div id="printBtn" class="noPrint btn btn-info" onclick="print('printWrapper')">Print</div>