.pg-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;

    .pg-card {
        width: 100%;
        height: auto;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        img {
            height: auto;
            aspect-ratio: 1;
            width: 100%;
            object-fit: contain;
        }

        .enabled-pg {
            top: 10px;
            right: 10px;
            padding: 4px;
        }
    }
}


label,
.btn {
    font-weight: 400 !important;
}