<div>
   <div class="page-header d-flex align-items-start justify-content-between">
      <div>
         <div class="page-title">
            <h1 class="fw-bold">Customers</h1>
         </div>
         <ul class="breadcrumb">
            <li class="breadcrumb-item fs-6">
               <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active fs-6">
               <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST}}">Customers</a>
            </li>
         </ul>
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2">
         <button class="btn btn-secondary" routerLink="{{ appRoute.customers.newsletterSubscribers }}">
            Newsletter subscribers
         </button>
         <button class="btn btn-primary" routerLink="{{ appRoute.customers.ADD_CUSTOMERS_LIST }}">
            Add Customers
         </button>
      </div>
   </div>

   <div class="card my-4">
      <div class="card-body">
         <div class="row d-flex justify-content-end align-items-end">
            <div class="col-lg-4">
               <label class="form-label">&nbsp;</label>
               <input type="text" class="form-control" placeholder="Search customers here" [formControl]="keyword">
            </div>
            <div class="col-lg-3">
               <label class="fs-6 mb-1">Status</label>
               <select class="form-select fs-6 text-dark" [formControl]="isActive" (change)="getCustomers()">
                  <option value="" disabled>-- Select an option --</option>
                  <option value=false>Inactive</option>
                  <option value=true>Active</option>
               </select>
            </div>
            <div class="col-lg-3">
               <label class="fs-6 mb-1">Methods</label>
               <select class="form-select fs-6 text-dark" [formControl]="regdType" (change)="getCustomers()">
                  <option value="" disabled>-- Select an option --</option>
                  <option *ngFor="let regdType of regdTypes" value="{{regdType}}">{{regdType}}</option>
               </select>
            </div>
            <div class="col-lg-2">
               <label class="fs-6 mb-1">&nbsp;</label>
               <input type="button" class="btn w-100 btn-secondary" value="Clear filters" (click)="clearFilters()">
            </div>
         </div>
      </div>
   </div>

   <table class="table table-bordered">
      <thead>
         <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Source</th>
            <th>Status</th>
            <th>Created</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         <ng-container *ngFor="let customer of customers; let i =index">
            <tr>
               <td>{{customer?.name}}</td>
               <td>{{customer?.email}}</td>
               <td>{{customer?.countryCode}} {{customer?.mobile}}</td>
               <td>
                  <span class="{{customer?.regdType}} d-flex align-items-center justify-content-center rounded">{{customer?.regdType}}</span>
               </td>
               <td>
                  <span class="alert alert-success p-1 fs-6" [ngClass]="{'alert-danger': !customer?.isActive}">
                     {{customer?.isActive ? 'Active' : 'Inactive'}}
                  </span>
               </td>
               <td>
                  {{formatDate(customer?.createdAt)}}
                  {{formatTime(customer?.createdAt)}}
               </td>
               <td routerLink="{{appRoute.customers.UPDATE_CUSTOMERS_LIST + '/' + customer?.userid}}">
                  <div class="cursor-pointer">
                     <img src="assets/icons/editPen.svg" alt="Icon">
                  </div>
               </td>
            </tr>
         </ng-container>
         <tr *ngIf="customers.length == 0">
            <td colspan="7">
               <app-no-results></app-no-results>
            </td>
         </tr>
      </tbody>
   </table>

   <div class="my-4">
      <app-pagination (pageTrigger)="onPageTriggered($event)" [pageIndex]="page" [pageSize]="limit"
         [totalResults]="totalResults" [totalPages]="totalPages"></app-pagination>
   </div>

</div>