$white: #ffffff;
$black: #000000;
$primary: #00BDAB;
$darkGrey: #333333;
$mediumGrey: #555555;

.btn{
    font-weight: 400 !important;
}

.profilePageContainer {

    .accountHeader {
        margin: 50px 0 0 0;
        background: $white;
        padding: 2rem 2.25rem 0 2.25rem;
        border-radius: 10px;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);

        .accountDetailsHeader {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 0 30px 0;

            .accountPicture {
                i {
                    font-size: 4.25rem;
                }
            }

            .accountDetails {
                margin: 0 0 0 20px;

                .accountName {
                    font-size: 20px;
                    font-weight: 600;
                }

                .accountEmail,
                .accountMobile {
                    font-size: 14px;
                    margin: 5px 0;
                    font-weight: 500;
                }

                .accountCreated {
                    font-size: 13px;
                    color: #999999;
                }
            }
        }
    }

    .accountActivities {
        nav {
            margin: 40px 0 0 0;
        }

        .tab-content {
            margin: 40px 0 0 0;
            padding: 2rem 2.25rem;
            border-radius: 10px;
            background: $white;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);

            .formContainer {
                .editForm {
                    form {
                        .profileText {
                            display: grid;
                            grid-template-columns: 30% 70%;
                            gap: 10px;
                            place-items: baseline;
                            margin-bottom: 1.75rem !important;

                            .title {
                                color: $mediumGrey;
                                font-weight: 600;
                                font-size: 1.075rem;
                            }

                            input {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .formButtons {
                    margin: 30px 0 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    button {
                        width: 150px;
                    }

                    .btn-secondary {
                        margin: 0 10px 0 0;
                    }
                }
            }

            .tabHeader {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 30px 0;
                padding: 0 0 1rem 0;
                height: 100%;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

                .tabTitle {
                    font-weight: 600;
                    font-size: 1.275rem;
                }
            }

            .profileDetails {
                .profileDetailsContainer {
                    display: grid;
                    grid-template-columns: 30% 70%;
                    gap: 10px;

                    .profileDetailsTitles {
                        .profileText {
                            color: $mediumGrey;
                            font-weight: 500;
                        }
                    }

                    .profileDetailsValue {
                        .profileText {
                            color: $black;
                            font-weight: 600;
                        }
                    }

                    .profileText {
                        font-size: 14px;
                        margin-bottom: 1.75rem !important;
                    }
                }
            }

            .signInMethod {
                display: grid;
                grid-template-columns: 30% 70%;
                gap: 10px;

                .signInMethodLeft {
                    .signInMethodText {
                        color: $mediumGrey;
                        font-weight: 600;
                    }
                }

                .signInMethodText {
                    font-size: 1.075rem;
                    margin-bottom: 1.75rem !important;
                }

                .passwordContainer {
                    margin: 1.875rem 0 0 0;

                    .passwordFields {
                        .profileText {
                            margin-bottom: 1.75rem !important;

                            .title {
                                color: $mediumGrey;
                                margin: 0 0 0.3125rem 0;
                                font-weight: 600;
                                font-size: 1.075rem;
                            }
                        }
                    }

                    .passwordButtons {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        .btn-secondary {
                            margin: 0 0.625rem 0 0;
                        }
                    }
                }
            }
        }
    }
}