<div class="profilePageContainer">
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bold">Account Overview</h1>
        </div>
        <div class="row">
            <div class="col d-flex align-items-start justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.account.MY_ACCOUNT }}">My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accountHeader">
        <div class="accountDetailsHeader">
            <div class="accountPicture">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="accountDetails">
                <div class="fs-3">{{adminDetails?.email}}</div>
                <div class="fs-5 my-2">{{adminDetails?.countryCode}} {{adminDetails?.mobile}}</div>
                <div class="fs-6">Account created on {{formatDate(adminDetails?.createdAt)}} at {{formatTime(adminDetails?.createdAt)}}</div>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#overview"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Overview</button>
                <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#edit-details"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Settings</button>
                <!-- <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#product-details"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My Activity
                </button> -->
            </div>
        </nav>
    </div>
    <div class="accountActivities">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade basic-details-container active show" id="overview" role="tabpanel"
                aria-labelledby="nav-home-tab">
                <div class="profileDetails">
                    <div class="tabHeader">
                        <div class="tabTitle">Profile Details</div>
                    </div>
                    <div class="profileDetailsContainer">
                        <div class="profileDetailsTitles">
                            <div class="profileText">
                                Username
                            </div>
                            <div class="profileText">
                                First Name
                            </div>
                            <div class="profileText">
                                Last Name
                            </div>
                            <div class="profileText">
                                Email Address
                            </div>
                            <div class="profileText">
                                Country Code
                            </div>
                            <div class="profileText">
                                Mobile Number
                            </div>
                        </div>
                        <div class="profileDetailsValue">
                            <div class="profileText">
                                {{adminDetails?.username ? adminDetails?.username : '-'}}
                            </div>
                            <div class="profileText">
                                {{adminDetails?.firstname ? adminDetails?.firstname : '-'}}
                            </div>
                            <div class="profileText">
                                {{adminDetails?.lastname ? adminDetails?.lastname : '-'}}
                            </div>
                            <div class="profileText">
                                {{adminDetails?.email ? adminDetails?.email : '-'}}
                            </div>
                            <div class="profileText">
                                {{adminDetails?.countryCode ? adminDetails?.countryCode : '-'}}
                            </div>
                            <div class="profileText">
                                {{adminDetails?.mobile ? adminDetails?.mobile : '-'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade basic-details-container formContainer" id="edit-details" role="tabpanel"
                aria-labelledby="nav-home-tab">
                <div class="tabHeader">
                    <div class="tabTitle">Edit Details</div>
                </div>
                <div class="editForm">
                    <form [formGroup]="form">

                        <div class="profileText">
                            <div class="title required">First Name</div>
                            <input type="email" class="form-control" formControlName="firstname"
                                placeholder="Enter your first name" (click)="touchAction(true)">
                        </div>

                        <div class="profileText">
                            <div class="title">Last Name</div>
                            <input type="email" class="form-control" formControlName="lastname"
                                placeholder="Enter your last name" (click)="touchAction(true)">
                        </div>

                        <div class="profileText">
                            <div class="title">Country Code</div>
                            <input type="email" class="form-control" formControlName="countryCode"
                                placeholder="Enter your country code" (click)="touchAction(true)">
                        </div>

                        <div class="profileText">
                            <div class="title">Mobile Number</div>
                            <input type="email" class="form-control" formControlName="mobile"
                                placeholder="Enter mobile number" (click)="touchAction(true)">
                        </div>
                    </form>
                </div>
                <div class="formButtons" *ngIf="isTouched">
                    <button type="button" class="btn btn-secondary" (click)="touchAction(false)">Discard</button>
                    <button type="button" class="btn btn-primary" (click)="editDetails()">Save Changes</button>
                </div>

                <div class="tabHeader">
                    <div class="tabTitle">Sign-in Method</div>
                </div>

                <div class="signInMethod">
                    <div class="signInMethodLeft">
                        <div class="signInMethodText">
                            Email Address
                        </div>
                        <div class="signInMethodText">
                            Password
                        </div>
                    </div>
                    <div class="signInMethodRight">
                        <div class="signInMethodText">
                            {{adminDetails?.email ? adminDetails?.email : '-'}}
                        </div>
                        <div class="signInMethodText">
                            <button *ngIf="!isResetPassword" type="button" class="btn btn-secondary"
                                (click)="resetPassword(true)">
                                Reset Password
                            </button>

                            <div class="passwordContainer" *ngIf="isResetPassword">
                                <div class="passwordFields">
                                    <form [formGroup]="passwordForm">
                                        <div class="profileText">
                                            <div class="title">Current Password</div>
                                            <input type="password" class="form-control" formControlName="oldPassword"
                                                [ngClass]="{
                                                'is-invalid':
                                                (passwordControls.oldPassword.touched || isPasswordSubmitted) &&
                                                passwordControls.oldPassword.errors?.required
                                              }">
                                        </div>
                                        <div class="profileText">
                                            <div class="title">New Password</div>
                                            <input type="password" class="form-control" formControlName="password"
                                                [ngClass]="{
                                                'is-invalid':
                                                (passwordControls.password.touched || isPasswordSubmitted) &&
                                                passwordControls.password.errors?.required
                                              }">
                                        </div>
                                        <div class="profileText">
                                            <div class="title">Confirm New Password</div>
                                            <input type="password" class="form-control"
                                                formControlName="confirmPassword" [ngClass]="{
                                                    'is-invalid':
                                                    (passwordControls.confirmPassword.touched || isPasswordSubmitted) &&
                                                    passwordControls.confirmPassword.errors?.required
                                                  }">
                                        </div>
                                    </form>
                                </div>

                                <div class="passwordButtons">
                                    <button type="button" class="btn btn-secondary"
                                        (click)="resetPassword(false)">Cancel</button>
                                    <button type="button" class="btn btn-primary" (click)="changePassword()">
                                        Save Changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>