<div>
  <div class="page-header d-flex align-items-center justify-content-between">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">Store popup</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.storePopup }}">Store popup</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">Save changes</button>
  </div>

  <form [formGroup]="form">
    <div class="card my-4">
      <div class="card-body">
        <div class="fs-5 mb-1">Website</div>
        <div class="position-relative">
          <div class="ratio ratio-21x9">
            <app-assets (mediaClicked)="onMediaClicked($event, 'website')"
              [previewDetails]="form.get('website')?.value"></app-assets>
          </div>
          <div class="position-absolute bottom-0 end-0">
            <button class="btn btn-danger m-4" *ngIf="form.get('website')?.value" (click)="onMediaRemoved('website')">Remove popup</button>
          </div>
        </div>
        <div class="mt-2">
          <label for="websiteRedirection" class="fs-6 mb-1">Redirection</label>
          <input type="text" id="websiteRedirection" class="form-control" formControlName="websiteRedirection">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="fs-5 mb-1">Mobile Responsive</div>
        <div class="position-relative">
          <div class="ratio ratio-21x9">
            <app-assets (mediaClicked)="onMediaClicked($event, 'mobile')"
              [previewDetails]="form.get('mobile')?.value"></app-assets>
          </div>
          <div class="position-absolute bottom-0 end-0">
            <button class="btn btn-danger m-4" *ngIf="form.get('mobile')?.value" (click)="onMediaRemoved('mobile')">Remove popup</button>
          </div>
        </div>
        <div class="mt-2">
          <label for="mobileRedirection" class="fs-6 mb-1">Redirection</label>
          <input type="text" id="mobileRedirection" class="form-control" formControlName="mobileRedirection">
        </div>
      </div>
    </div>

    <div class="card my-4">
      <div class="card-body">
        <div class="fs-5 mb-1">Mobile Application</div>
        <div class="position-relative">
          <div class="ratio ratio-21x9 position-relative">
            <app-assets (mediaClicked)="onMediaClicked($event, 'app')"
              [previewDetails]="form.get('app')?.value"></app-assets>
          </div>
          <div class="position-absolute bottom-0 end-0">
            <button class="btn btn-danger m-4" *ngIf="form.get('app')?.value" (click)="onMediaRemoved('app')">Remove popup</button>
          </div>
        </div>
        <div class="mt-2">
          <label for="appRedirection" class="fs-6 mb-1">Redirection</label>
          <input id="appRedirection" type="text" class="form-control" formControlName="appRedirection">
        </div>
      </div>
    </div>
  </form>
</div>