.form-label,
.btn-primary {
    font-weight: 400 !important;
}

.image-container {
    position: relative;
    width: 100%;
    height: 150px;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #edfffc;
        border: 2px dotted #00bdab;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border-radius: 10px;
        pointer-events: none;
        text-align: center;
    }

    input {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
}

.web-popup {
    width: 100%;
    overflow: hidden;
    height: 18.75rem;
    border-radius: 0.9375rem;
    object-fit: cover;
}

.app-popup {
    width: 22.5rem;
    height: 40rem;
    border-radius: 0.9375rem;
    object-fit: cover;
    overflow: hidden;
}

.remove-popup {
    position: absolute;
    top: 1.625rem;
    right: 1.625rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.625rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    background: rgb(201, 44, 44);
}

.remove-app-popup {
    position: absolute;
    top: 1.625rem;
    left: 50%;
    transform: translateX(-50%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.625rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    background: rgb(201, 44, 44);
}

.store-title {
    width: max-content;
}

.modal-body {

    .popup-image {
        height: 18.75rem;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 0.9375rem;
    }

    .app-popup-image {
        width: 19.4375rem;
        height: 30.9375rem;
        object-fit: cover;
        overflow: hidden;
        border-radius: 0.9375rem;
    }
}