<div>
    <div class="page-header d-flex align-items-center justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Menu Navigations</h1>
            </div>
            <div class="row align-items-center">
                <div class="d-flex flex-row justify-content-between">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item fs-6">
                            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active fs-6">
                            <a routerLink="{{ appRoute.menuNavigations }}">Menu Navigations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-end gap-2">
            <div class="form-group">
                <label for="device" class="fs-6 mb-2">Device</label>
                <select class="form-select" [formControl]="deviceType" (change)="onDeviceTypeChange()">
                    <option value="" disabled>-- Select an option --</option>
                    <option *ngFor="let device of devices" [value]="device">{{ device == 'web' ? 'Web' : 'Mobile' }}
                    </option>
                </select>
            </div>
            <button class="btn btn-primary" (click)="open(template)">
                Add Navigation
                <span>
                    <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                    </svg>
                </span>
            </button>
            <button class="btn btn-secondary" (click)="openMenuNavigation(menuModal)">
                Add Styles
                <span>
                    <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42">
                        </path>
                    </svg>
                </span>
            </button>
        </div>
    </div>

    <div class="card my-4" *ngIf="deviceType.value == 'mobile'">
        <div class="card-body">
            <div>
                <div class="alert alert-danger mb-4 fs-5">
                    This action will copy all the menu items from the web to the mobile device. This action is
                    irreversible.
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="fs-5">Copy menu navigations from web</div>
                    <button class="btn btn-danger" (click)="openCopy(copyTemplate)">Copy navigations</button>
                </div>
            </div>
        </div>
    </div>

    <div class="my-4">
        <div cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)" class="example-list">
            <ng-container *ngFor="let menuNavigation of menuNavigations">
                <div class="p-4 rounded bg-white my-2 cursor-move" cdkDrag>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <div class="fs-6 d-flex align-items-center gap-2">
                                <img src="{{base}}{{menuNavigation.icon}}"
                                    onerror="this.src = 'assets/images/default.png'" alt="menu-icon" class="rounded"
                                    style="width: 24px; height: 24px;">
                                <div>{{menuNavigation.title}}</div>
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                            <div class="bg-secondary actionButtons cursor-pointer"
                                *ngIf="menuNavigation.menuItems && menuNavigation.menuItems.length > 0"
                                (click)="toggleAccordion(menuNavigation)">
                                <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true" [class.rotate-180]="menuNavigation.isExpanded">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5">
                                    </path>
                                </svg>
                            </div>
                            <div class="bg-secondary actionButtons"
                                (click)="open(template, menuNavigation._id, 'addMore')">
                                <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15">
                                    </path>
                                </svg>
                            </div>
                            <div class="bg-danger actionButtons text-white"
                                (click)="openDeleteConfirmation(deleteTemplate, menuNavigation)">
                                <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0">
                                    </path>
                                </svg>
                            </div>
                            <div class="bg-secondary actionButtons" (click)="open(template, menuNavigation._id)">
                                <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z">
                                    </path>
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="nested-menu"
                        *ngIf="menuNavigation && menuNavigation.isExpanded && menuNavigation.menuItems && menuNavigation.menuItems.length > 0">
                        <ng-container *ngTemplateOutlet="nestedMenu; context: { $implicit: menuNavigation.menuItems }">
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title">Add Navigation</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="menuType" class="form-label">Redirection Type</label>
                <select class="form-select" formControlName="menuType" (change)="onMenuTypeChange()">
                    <option value="" disabled>-- Select an option --</option>
                    <option *ngFor="let menuType of menuTypes" [value]="menuType.value">{{ menuType.label }}</option>
                </select>
            </div>
            <div class="form-group my-3 d-flex justify-content-between">
                <label for="isImage">Menu Grid type</label>
                <app-switch id="isImage" [switchId]="'isImage'" (switchToggled)="onSwitchTriggered($event)"
                    [isToggledProps]="form.get('isImage')?.value">
                </app-switch>
            </div>
            <div class="form-group my-3" *ngIf="form.get('isImage')?.value">
                <label for="imageColumns" class="form-label">Number of Image Columns</label>
                <input type="number" class="form-control" formControlName="imageColumns" id="imageColumns" min="1"
                    max="6" placeholder="Enter number of columns (1-6)">
                <small class="text-muted">Select between 1-6 columns for image display</small>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'brands'">
                <label for="brands" class="form-label">Brands</label>
                <ng-select [items]="brands" bindLabel="name" bindValue="slug" [(ngModel)]="selectedBrand"
                    [multiple]="false" [searchable]="true" placeholder="Select brands"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('brands')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'categories'">
                <label for="categories" class="form-label">Categories</label>
                <ng-select [items]="categories" bindLabel="name" bindValue="slug" [(ngModel)]="selectedCategory"
                    [multiple]="false" [searchable]="true" placeholder="Select categories"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('categories')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'catalogs'">
                <label for="catalogs" class="form-label">Catalogs</label>
                <ng-select [items]="catalogs" bindLabel="title" bindValue="slug" [(ngModel)]="selectedCatalog"
                    [multiple]="false" [searchable]="true" placeholder="Select catalogs"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('catalogs')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'pages'">
                <label for="pages" class="form-label">Pages</label>
                <ng-select [items]="pages" bindLabel="title" bindValue="slug" [(ngModel)]="selectedPage"
                    [multiple]="false" [searchable]="true" placeholder="Select pages"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('pages')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'blogs'">
                <label for="blogs" class="form-label">Blogs</label>
                <ng-select [items]="blogs" bindLabel="title" bindValue="slug" [(ngModel)]="selectedBlog"
                    [multiple]="false" [searchable]="true" placeholder="Select blogs"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('blogs')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'collections'">
                <label for="collections" class="form-label">Collections</label>
                <ng-select [items]="collections" bindLabel="name" bindValue="slug" [(ngModel)]="selectedCollection"
                    [multiple]="false" [searchable]="true" placeholder="Select collections"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('collections')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" formControlName="title" id="title" placeholder="Enter title">
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType">
                <div class="ratio ratio-1x1 position-relative">
                    <div class="h-100 w-100">
                        <app-assets [previewDetails]="form.value.icon"
                            (mediaClicked)="handleMenuIcon($event)"></app-assets>
                    </div>
                    <div *ngIf="form.value.icon">
                        <button class="btn btn-danger p-2 position-absolute bottom-0 end-0"
                            (click)="onRemoveIcon()">Remove</button>
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="form.value.menuType">
                <label for="redirection" class="form-label">Redirection</label>
                <input type="text" class="form-control" formControlName="redirection" id="redirection"
                    placeholder="Enter redirection">
            </div>
            <div class="form-group my-3">
                <label for="groupName" class="form-label">Add Menu Class Name</label>
                <input type="text" class="form-control" formControlName="groupName" id="groupName"
                    placeholder="Enter class name">
                <small class="text-muted">Custom class names if required</small>
            </div>
        </form>
        <div class="d-flex justify-content-end mt-3 gap-2">
            <button class="btn btn-danger" *ngIf="isEditMode" (click)="deleteMenuNavigation()">Delete</button>
            <button class="btn btn-primary" [disabled]="form.invalid" (click)="saveChanges()">Save Changes</button>
        </div>
    </div>
</ng-template>

<ng-template #copyTemplate>
    <div class="modal-body text-center">
        <div class="fs-3 mb-2 fw-bold">Copy Navigations</div>
        <p>Are you sure you want to proceed?</p>
        <button type="button" class="btn btn-default" (click)="confirmCopy()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="closeCopy()">No</button>
    </div>
</ng-template>

<ng-template #nestedMenu let-items>
    <div class="ms-4 mt-4" cdkDropList cdkDropListOrientation="vertical"
        (cdkDropListDropped)="dropNested($event, items)">
        <div cdkDrag *ngFor="let item of items" class="rounded my-1  nested-list">
            <div>
                <div class="d-flex align-items-center justify-content-between p-2">
                    <div>
                        <div class="fs-6 d-flex align-items-center gap-2">
                            <img src="{{base}}{{item.icon}}" onerror="this.src = 'assets/images/default.png'"
                                alt="menu-icon" class="rounded" style="width: 24px; height: 24px;">
                            <div>{{item.title}}</div>
                        </div>
                    </div>
                    <div class="d-flex gap-2">
                        <div class="bg-secondary actionButtons cursor-pointer"
                            *ngIf="item.menuItems && item.menuItems.length > 0" (click)="toggleAccordion(item)">
                            <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true" [class.rotate-180]="item.isExpanded">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5">
                                </path>
                            </svg>
                        </div>
                        <div class="bg-secondary actionButtons" (click)="open(template, item._id, 'addMore')">
                            <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15">
                                </path>
                            </svg>
                        </div>
                        <div class="bg-danger actionButtons text-white"
                            (click)="openDeleteConfirmation(deleteTemplate, item)">
                            <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0">
                                </path>
                            </svg>
                        </div>
                        <div class="bg-secondary actionButtons" (click)="open(template, item._id)">
                            <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z">
                                </path>
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="nested-menu" *ngIf="item.isExpanded && item.menuItems?.length > 0">
                    <ng-container *ngTemplateOutlet="nestedMenu; context: { $implicit: item.menuItems }">
                    </ng-container>
                </div>
            </div>

        </div>
    </div>
</ng-template>


<ng-template #menuModal>
    <div class="modal-header">
        <h4 class="fs-2 fw-bold">Navigation Menu Styles</h4>
        <button type="button" class="btn-close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="stylesForm" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-column gap-4">
                <div class="form-group">
                    <label for="name" class="fs-6 mb-3">Web Styles</label>
                    <ngx-monaco-editor class="form-control" [options]="editorOptions" formControlName="web">
                    </ngx-monaco-editor>
                </div>

                <div class="form-group">
                    <label for="name" class="fs-6 mb-3">Mobile Styles</label>
                    <ngx-monaco-editor class="form-control" [options]="editorOptions" formControlName="mobile">
                    </ngx-monaco-editor>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-4">
                <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #deleteTemplate>
    <div class="modal-header">
        <h5 class="modal-title text-danger">
            <svg height="20" width="20" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="me-2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z">
                </path>
            </svg>
            Confirm Delete
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteConfirmation()"></button>
    </div>
    <div class="modal-body">
        <div class="text-center">
            <div class="alert alert-danger mb-4">
                <strong>Warning!</strong> This action cannot be undone.
            </div>

            <div class="mb-4" *ngIf="menuToDelete">
                <h6 class="fw-bold mb-3">You are about to delete:</h6>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <img src="{{base}}{{menuToDelete.icon}}" onerror="this.src = 'assets/images/default.png'"
                                alt="menu-icon" class="rounded me-2" style="width: 24px; height: 24px;">
                            <strong class="fs-5">{{ menuToDelete.title }}</strong>
                        </div>

                        <div class="mb-3">
                            <span class="badge bg-info">
                                Total items to be deleted: {{ countTotalMenuItems(menuToDelete) }}
                            </span>
                        </div>

                        <div *ngIf="menuToDelete.menuItems && menuToDelete.menuItems.length > 0">
                            <h6 class="text-muted mb-2">This menu contains the following sub-items:</h6>
                            <div class="list-group text-start">
                                <div class="list-group-item py-1 px-2"
                                    *ngFor="let item of getAllMenuItemsList(menuToDelete).slice(1)">
                                    <small>• {{ item }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p class="fs-6 mb-4">Are you sure you want to proceed with this deletion?</p>

            <div class="d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-secondary" (click)="closeDeleteConfirmation()">
                    Cancel
                </button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete()">
                    <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="me-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0">
                        </path>
                    </svg>
                    Yes, Delete
                </button>
            </div>
        </div>
    </div>
</ng-template>