<div>
    <div class="page-header d-flex align-items-center justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Menu Navigations</h1>
            </div>
            <div class="row align-items-center">
                <div class="d-flex flex-row justify-content-between">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item fs-6">
                            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active fs-6">
                            <a routerLink="{{ appRoute.menuNavigations }}">Menu Navigations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-end gap-2">
            <div class="form-group">
                <label for="device" class="fs-6 mb-2">Device</label>
                <select class="form-select" [formControl]="deviceType" (change)="onDeviceTypeChange()">
                    <option value="" disabled>-- Select an option --</option>
                    <option *ngFor="let device of devices" [value]="device">{{ device == 'web' ? 'Web' : 'Mobile' }}
                    </option>
                </select>
            </div>
            <button class="btn btn-primary" (click)="open(template)">Add Navigation</button>
        </div>
    </div>

    <div class="card my-4" *ngIf="deviceType.value == 'mobile'">
        <div class="card-body">
            <div>
                <div class="alert alert-danger mb-4 fs-5">
                    This action will copy all the menu items from the web to the mobile device. This action is
                    irreversible.
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="fs-5">Copy menu navigations from web</div>
                    <button class="btn btn-danger" (click)="openCopy(copyTemplate)">Copy navigations</button>
                </div>
            </div>
        </div>
    </div>

    <div class="my-4">
        <div cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)" class="example-list">
            <ng-container *ngFor="let menuNavigation of menuNavigations">
                <div class="p-4 rounded bg-white my-2 cursor-move" cdkDrag>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <div class="fs-5">
                                {{menuNavigation.title}}
                                <span class="bg-secondary px-2 py-1 fs-6 rounded-pill menuType">
                                    {{menuNavigation.menuType}}
                                </span>
                            </div>
                            <div class="fs-6 text-muted mt-2">{{menuNavigation.redirection}}</div>
                        </div>
                        <div class="d-flex gap-2">
                            <div class="bg-secondary actionButtons" (click)="open(template, menuNavigation._id, 'addMore')">
                                <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15">
                                    </path>
                                </svg>
                            </div>
                            <div class="bg-danger actionButtons text-white"
                                (click)="deleteMenuNavigation(menuNavigation._id)">
                                <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0">
                                    </path>
                                </svg>
                            </div>
                            <div class="bg-secondary actionButtons" (click)="open(template, menuNavigation._id)">
                                <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z">
                                    </path>
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title">Add Navigation</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="menuType" class="form-label">Redirection Type</label>
                <select class="form-select" formControlName="menuType" (change)="onMenuTypeChange()">
                    <option value="" disabled>-- Select an option --</option>
                    <option *ngFor="let menuType of menuTypes" [value]="menuType.value">{{ menuType.label }}</option>
                </select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'brands'">
                <label for="brands" class="form-label">Brands</label>
                <ng-select [items]="brands" bindLabel="name" bindValue="slug" [(ngModel)]="selectedBrand"
                    [multiple]="false" [searchable]="true" placeholder="Select brands"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('brands')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'categories'">
                <label for="categories" class="form-label">Categories</label>
                <ng-select [items]="categories" bindLabel="name" bindValue="slug" [(ngModel)]="selectedCategory"
                    [multiple]="false" [searchable]="true" placeholder="Select categories"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('categories')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'catalogs'">
                <label for="catalogs" class="form-label">Catalogs</label>
                <ng-select [items]="catalogs" bindLabel="title" bindValue="slug" [(ngModel)]="selectedCatalog"
                    [multiple]="false" [searchable]="true" placeholder="Select catalogs"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('catalogs')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'pages'">
                <label for="pages" class="form-label">Pages</label>
                <ng-select [items]="pages" bindLabel="title" bindValue="slug" [(ngModel)]="selectedPage"
                    [multiple]="false" [searchable]="true" placeholder="Select pages"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('pages')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'blogs'">
                <label for="blogs" class="form-label">Blogs</label>
                <ng-select [items]="blogs" bindLabel="title" bindValue="slug" [(ngModel)]="selectedBlog"
                    [multiple]="false" [searchable]="true" placeholder="Select blogs"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('blogs')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType == 'collections'">
                <label for="collections" class="form-label">Collections</label>
                <ng-select [items]="collections" bindLabel="name" bindValue="slug" [(ngModel)]="selectedCollection"
                    [multiple]="false" [searchable]="true" placeholder="Select collections"
                    [ngModelOptions]="{standalone: true}" (change)="onRedirectionApplied('collections')">
                </ng-select>
            </div>
            <div class="form-group my-3" *ngIf="form.value.menuType">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" formControlName="title" id="title" placeholder="Enter title">
            </div>
            <div class="form-group" *ngIf="form.value.menuType">
                <label for="redirection" class="form-label">Redirection</label>
                <input type="text" class="form-control" formControlName="redirection" id="redirection"
                    placeholder="Enter redirection">
            </div>
        </form>
        <div class="d-flex justify-content-end mt-3 gap-2">
            <button class="btn btn-danger" *ngIf="isEditMode" (click)="deleteMenuNavigation()">Delete</button>
            <button class="btn btn-primary" [disabled]="form.invalid" (click)="saveChanges()">Save Changes</button>
        </div>
    </div>
</ng-template>

<ng-template #copyTemplate>
    <div class="modal-header">
        <h5 class="modal-title">Copy Menu Navigations</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body">

    </div>
</ng-template>