<div>
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Update product</h1>
    </div>
    <div class="row">
      <div class="col d-flex align-items-start justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.product.ALL_PRODUCTS }}">Products</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.product.UPDATE_PRODUCT }}" [queryParams]="{ product: productSlug }">
              Update product
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="card">
      <div class="card-body">


        <tabset type="tabs" [justified]="true" #staticTabs>
          <tab heading="Product Details">
            <div class="my-6">
              <form [formGroup]="form">

                <div class="row">
                  <div class="col-lg-8 mb-3 form-group">
                    <label class="fs-6 mb-3 required">Name</label>
                    <input type="text" class="form-control fs-6" formControlName="name"
                      [ngClass]="{ 'is-invalid': (formControls.name.touched || isSubmitted) && formControls.name.errors?.required }" />
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8 mb-3 form-group">
                    <label class="fs-6 mb-3">Overview</label>
                    <input type="text" class="form-control fs-6" placeholder="Eg. 2 - 3 pieces per 500 gm"
                      formControlName="overview" />
                  </div>
                  <div class="col-lg-4 mb-3 form-group">
                    <label class="fs-6 mb-3">Origin</label>
                    <input type="text" class="form-control fs-6" placeholder="Eg. Australia" formControlName="origin" />
                  </div>
                </div>

                <div class="my-4">
                  <div class="fs-3 fw-bold">Price Details</div>
                  <p class="text-muted">Easily manage price details to showacse your product</p>
                  <div class="row" formGroupName="price">
                    <div class="col-lg-6 mb-3 form-group">
                      <label class="fs-6 mb-3 required">Maximum retail price</label>
                      <input type="text" class="form-control fs-6" formControlName="mrp" placeholder="Eg. 18" />
                    </div>
                    <div class="col-lg-6 mb-3 form-group">
                      <label class="fs-6 mb-3 required">Offer price</label>
                      <input type="text" class="form-control fs-6" formControlName="offer" placeholder="Eg. 10.95" />
                    </div>
                  </div>
                </div>

                <div class="my-4">
                  <div class="fs-3 fw-bold">Product category and attributes</div>
                  <p class="text-muted">Easily manage price details to showacse your product</p>
                  <div class="row mb-3">
                    <div class="col-lg-6 mb-3 form-group">
                      <label class="fs-6 mb-3" for="productCategory">Category</label>
                      <select [formControl]="productCategory" id="productCategory"
                        (change)="toggleProductCategory($event, 'add')" class="form-select">
                        <option value="" disabled>-- Select an option --</option>
                        <option *ngFor="let category of defaultCategories" value="{{category?._id}}">
                          {{category.name}}
                        </option>
                      </select>
                    </div>
                    <ng-container *ngIf="categories.length > 0">
                      <div class="d-flex flex-wrap overflow-hidden align-items-center justify-content-start gap-3">
                        <ng-container *ngFor="let category of categories">
                          <div
                            class="bg-secondary cursor-pointer p-2 rounded d-flex align-items-center justify-content-center gap-2"
                            (click)="toggleProductCategory(category._id, 'remove')">
                            <div>
                              {{category.name}}
                            </div>
                            <div>
                              <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                              </svg>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                  <div class="form-group">
                    <div class="fs-4 fw-bold" for="attributes">Attributes</div>
                    <div id="attributes">
                      <ng-container *ngIf="attributes.length > 0">
                        <div class="my-3">
                          <ng-container *ngFor="let attribute of attributes">
                            <div class="my-3">
                              <div class="fs-5 mb-3 fw-bold">{{attribute.name}}</div>
                              <div *ngIf="attribute.type == 'text'">
                                <div class="d-flex gap-3 align-items-center justify-content-start flex-wrap">
                                  <ng-container *ngFor="let value of attribute?.values">
                                    <div
                                      class="p-2 rounded attribute text cursor-pointer {{attributeExists(attribute, value)}}"
                                      (click)="toggleAttributes(attribute, value)">
                                      {{value.value}}
                                    </div>
                                  </ng-container>
                                </div>
                              </div>
                              <div *ngIf="attribute.type == 'color'">
                                <div class="d-flex gap-3 align-items-center justify-content-start flex-wrap">
                                  <ng-container *ngFor="let value of attribute?.values">
                                    <div class="p-2 color-box rounded {{attributeExists(attribute, value)}}">
                                      <div class="attribute color rounded cursor-pointer"
                                        (click)="toggleAttributes(attribute, value)"
                                        [ngStyle]="{'background': value?.value}">
                                      </div>
                                    </div>
                                  </ng-container>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="attributes.length == 0">
                        <div class="my-2">No attributes found</div>
                      </ng-container>
                    </div>
                  </div>
                </div>

                <div class="my-4">
                  <div class="fs-3 fw-bold">Inventory details</div>
                  <p class="text-muted">Manage your stock levels seamlessly to keep up with customer demand.</p>
                  <div class="row">
                    <div class="col-lg-6 mb-3 form-group">
                      <label class="fs-6 mb-3 required">Stock</label>
                      <input type="text" class="form-control fs-6" formControlName="stock"
                        [ngClass]="{ 'is-invalid': (formControls.stock.touched || isSubmitted) && (formControls.stock.errors?.required || formControls.stock.errors?.pattern)}" />
                    </div>
                    <div class="col-lg-6 mb-3 form-group">
                      <label class="fs-6 mb-3 required">SKU</label>
                      <input type="text" class="form-control fs-6" formControlName="sku" />
                    </div>
                    <div class="col-lg-6 mb-3 form-group">
                      <label class="fs-6 mb-3 required">Minimum order quantity</label>
                      <input type="text" class="form-control fs-6" formControlName="moq"
                        [ngClass]="{ 'is-invalid': (formControls.moq.touched || isSubmitted) && (formControls.moq.errors?.required || formControls.moq.errors?.pattern)}" />
                    </div>
                    <div class="col-lg-6 mb-3 form-group">
                      <label class="fs-6 mb-3 required">Maximum order quantity</label>
                      <input type="text" class="form-control fs-6" formControlName="maxOrderQuantity"
                        [ngClass]="{ 'is-invalid': (formControls.maxOrderQuantity.touched || isSubmitted) && (formControls.maxOrderQuantity.errors?.required || formControls.maxOrderQuantity.errors?.pattern)}" />
                    </div>
                    <div class="col-lg-6 mb-3 form-group">
                      <label class="fs-6 mb-3">Stock warning</label>
                      <input type="text" class="form-control fs-6" formControlName="stockWarning" />
                    </div>
                  </div>
                </div>

                <div class="my-4">
                  <div class="fs-3 fw-bold">Unit and measurement</div>
                  <p class="text-muted">Update the unit of measurement details of the product easily</p>
                  <div class="form-group mb-3 col-lg-6">
                    <label for="weight" class="fs-6 mb-3">Unit</label>
                    <input type="text" id="weight" class="form-control fs-6" formControlName="unit" />
                  </div>
                </div>

                <div class="my-4">
                  <div class="fs-3 fw-bold">Additional details</div>
                  <p class="text-muted">Update the additional details of the product</p>
                  <div class="row" formGroupName="details">
                    <div class="mb-3 form-group">
                      <label class="fs-6 mb-3">Description</label>
                      <angular-editor class="form-control fs-6 about-textarea" formControlName="description"
                        [config]="editorConfig"></angular-editor>
                    </div>
                    <div class="mb-3 form-group">
                      <label class="fs-6 mb-3">Long Description</label>
                      <angular-editor class="form-control fs-6 about-textarea" formControlName="longDescription"
                        [config]="editorConfig"></angular-editor>
                    </div>
                    <div class="form-group">
                      <label class="fs-6 mb-3">Features</label>
                      <angular-editor class="form-control fs-6 about-textarea" formControlName="features"
                        [config]="editorConfig"></angular-editor>
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-lg-6 mb-3 form-group">
                    <label for="searchKeywords" class="fs-6 mb-3">Search keywords</label>
                    <input id="searchKeywords" class="form-control fs-6"
                      (keyup.enter)="toggleSearchKeywords($event, 'add')" [formControl]="searchKeyword" />
                    <ng-container *ngIf="searchKeywords.length > 0">
                      <div class="mt-2 d-flex flex-wrap overflow-hidden align-items-center justify-content-start gap-3">
                        <ng-container *ngFor="let keyword of searchKeywords">
                          <div
                            class="bg-secondary d-flex align-items-center justify-content-center gap-2 cursor-pointer p-2 rounded"
                            (click)="toggleSearchKeywords(keyword, 'remove')">
                            {{keyword}}
                            <svg height="16" width="16" data-slot="icon" fill="none" stroke-width="1.5"
                              stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                              aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                            </svg>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>

                  <div class="col-lg-6 mb-3 form-group">
                    <label for="relatedProducts" class="fs-6 mb-3">Related products</label>
                    <select id="relatedProducts" [formControl]="relatedProduct" class="form-select"
                      (change)="onProductsTriggered()">
                      <option value="" disabled>-- Select an option--</option>
                      <option *ngFor="let activeRelatedProduct of activeRelatedProducts"
                        value="{{activeRelatedProduct?._id}}">{{activeRelatedProduct.name}}
                      </option>
                    </select>
                    <ng-container *ngIf="relatedProducts.length > 0">
                      <div class="mt-2 d-flex flex-wrap align-items-center gap-2 justify-content-start">
                        <ng-container *ngFor="let product of relatedProducts; let i = index">
                          <div class="bg-secondary d-flex align-items-center justify-content-center gap-2 p-2 rounded">
                            {{product.name}}
                            <div (click)="onProductsTriggered(product)">
                              <svg data-slot="icon" height="16" width="16" fill="none" stroke-width="1.5"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                              </svg>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div>
                  <div class="fs-3 fw-bold">SEO Details</div>
                  <p class="text-muted mb-3">Update the seo details of the product</p>
                  <div class="form-group mb-3">
                    <label for="metaTitle" class="fs-6 mb-3">Meta title</label>
                    <input type="text" formControlName="metaTitle" class="form-control">
                  </div>
                  <div class="form-group mb-3">
                    <label for="metaDescription" class="fs-6 mb-3">Meta description</label>
                    <input type="text" formControlName="metaDescription" class="form-control">
                  </div>
                  <div class="form-group mb-3">
                    <label for="metaKeywords" class="fs-6 mb-3">Meta keywords</label>
                    <input type="text" formControlName="metaKeywords" class="form-control">
                  </div>
                </div>

                <div>
                  <div class="fs-3 fw-bold">Store fields</div>
                  <p class="text-muted mb-3">Add dynamic fields to your product which will be shown in PDP pages</p>

                  <div class="mb-3">
                    <div class="row mb-3" *ngFor="let storeField of storeFields; let i = index">
                      <div class="col-lg-4 form-group">
                        <input type="text" class="form-control" value="{{storeField.title}}" disabled>
                      </div>
                      <div class="col-lg-6 form-group">
                        <input type="text" class="form-control" value="{{storeField.description}}" disabled>
                      </div>
                      <div class="col-lg-2 form-group">
                        <button class="btn btn-danger w-100" value="Remove fields"
                          (click)="removeStoreField(i)">Remove</button>
                      </div>
                    </div>
                  </div>
                  <form [formGroup]="storeFieldForm" class="row mb-3">
                    <div class="form-group col-lg-4">
                      <label for="storeTitle" class="fs-6 mb-3">Title</label>
                      <input type="text" id="storeTitle" formControlName="title" class="form-control"
                        [ngClass]="{
                        'is-invalid': (storeFieldControls.title.touched || isStoreSubmitted) && storeFieldControls.title.errors?.required }">
                    </div>
                    <div class="form-group col-lg-6">
                      <label for="storeDescription" class="fs-6 mb-3">Description</label>
                      <input type="text" id="storeDescription" formControlName="description" class="form-control"
                        [ngClass]="{
                        'is-invalid': (storeFieldControls.description.touched || isStoreSubmitted) && storeFieldControls.description.errors?.required }">
                    </div>
                    <div class="form-group col-lg-2">
                      <label for="storeSave" class="fs-6 mb-3">&nbsp;</label>
                      <input type="button" class="btn btn-secondary w-100" (click)="onSaveStoreField()"
                        value="Save fields">
                    </div>
                  </form>
                </div>

                <div class="row">
                  <div class="col-lg-6 mb-3 form-group">
                    <label class="fs-6 mb-3" for="status">Active status</label>
                    <select formControlName="isActive" id="status" class="form-select">
                      <option value="" disabled>-- Select an option --</option>
                      <option *ngFor="let value of [true, false]" value="{{value}}">{{value == true ? 'Yes' : 'No'}}
                      </option>
                    </select>
                  </div>
                  <div class="col-lg-6 mb-3 form-group">
                    <label class="fs-6 mb-3" for="visibility">Visibility</label>
                    <select formControlName="isVisible" id="visibility" class="form-select">
                      <option value="" disabled>-- Select an option --</option>
                      <option *ngFor="let value of [true, false]" value="{{value}}">{{value == true ? 'Visible' :
                        'Hidden'}}</option>
                    </select>
                  </div>
                </div>

              </form>
            </div>
            <div class="d-flex align-items-center justify-content-end gap-2">
              <button class="btn btn-primary" (click)="toggleTab(1)">Continue</button>
            </div>
          </tab>

          <tab heading="Product Medias">
            <div class="my-6">

              <form [formGroup]="form">

                <div class="mb-3 form-group">
                  <label class="fs-6 mb-3" id="video">Video</label>
                  <input type="text" class="form-control" id="video" formControlName="video" />
                </div>

                <div class="mb-3">
                  <label for="images" class="fs-6 mb-3">Product images</label>
                  <div class="row" id="images">
                    <ng-container *ngFor="let image of images">
                      <div class="col-lg-2">
                        <div class="ratio border ratio-1x1 h-auto w-100 rounded position-relative">
                          <div class="close-icon rounded bg-danger text-white" (click)="productMediaClicked(image)">
                            <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5"
                              stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                              aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                            </svg>
                          </div>
                          <img src="{{base}}/{{image.path}}" class="rounded" class="h-100 w-100" alt="{{image.title}}">
                        </div>
                      </div>
                    </ng-container>
                    <div class="col-lg-2">
                      <div class="ratio ratio-1x1 h-auto w-100 rounded">
                        <app-assets (mediaClicked)="productMediaClicked($event)" [image]="'cover'"
                          [previewEnabled]="false"></app-assets>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="thumbnail" class="fs-6 mb-3">Product thumbnail</label>
                  <div class="row" id="thumbnail">
                    <div class="col-lg-2">
                      <div class="ratio ratio-1x1 h-auto w-100 rounded">
                        <app-assets [image]="'cover'" [previewDetails]="thumbnailPreview"
                          (mediaClicked)="productThumbnailClicked($event)"></app-assets>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="tags" class="fs-6 mb-3">Product tags</label>
                  <div class="row" id="tags">

                    <div class="col-lg-6 mb-3">
                      <div class="fs-6 mb-2 text-muted">Top left</div>
                      <div class="w-100 position-relative" style="aspect-ratio: 4/1;">
                        <app-assets (mediaClicked)="onTagsTriggered($event, 'topleft', 'add')"
                          [previewDetails]="productTags?.topLeftTag" [image]="'cover'"
                          [previewEnabled]="true"></app-assets>
                        <div class="position-absolute top-0 end-0 m-2" *ngIf="productTags?.topLeftTag">
                          <button class="btn btn-danger p-2" (click)="onTagsTriggered(null, 'topleft', 'remove')">
                            Remove tag
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                      <div class="fs-6 mb-2 text-muted">Top right</div>
                      <div class="w-100 position-relative" style="aspect-ratio: 4/1;">
                        <app-assets (mediaClicked)="onTagsTriggered($event, 'topright', 'add')"
                          [previewDetails]="productTags?.topRightTag" [image]="'cover'"
                          [previewEnabled]="true"></app-assets>
                        <div class="position-absolute top-0 end-0 m-2" *ngIf="productTags?.topRightTag">
                          <button class="btn btn-danger p-2"
                            (click)="onTagsTriggered(null, 'topright', 'remove')">Remove
                            tag</button>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                      <div class="fs-6 mb-2 text-muted">Bottom left</div>
                      <div class="w-100 position-relative" style="aspect-ratio: 4/1;">
                        <app-assets (mediaClicked)="onTagsTriggered($event, 'bottomleft', 'add')"
                          [previewDetails]="productTags?.bottomLeftTag" [image]="'cover'"
                          [previewEnabled]="true"></app-assets>
                        <div class="position-absolute top-0 end-0 m-2" *ngIf="productTags?.bottomLeftTag">
                          <button class="btn btn-danger p-2"
                            (click)="onTagsTriggered(null, 'bottomleft', 'remove')">Remove tag</button>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                      <div class="fs-6 mb-2 text-muted">Bottom right</div>
                      <div class="w-100 position-relative" style="aspect-ratio: 4/1;">
                        <app-assets (mediaClicked)="onTagsTriggered($event, 'bottomright', 'add')"
                          [previewDetails]="productTags?.bottomRightTag" [image]="'cover'"
                          [previewEnabled]="true"></app-assets>
                        <div class="position-absolute top-0 end-0 m-2" *ngIf="productTags?.bottomRightTag">
                          <button class="btn btn-danger p-2"
                            (click)="onTagsTriggered(null, 'bottomright', 'remove')">Remove tag</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


                <div class="mb-3">
                  <label for="images" class="fs-6 mb-3">Product icons</label>
                  <div class="row" id="images">
                    <ng-container *ngFor="let icon of icons">
                      <div class="col-lg-2">
                        <div class="ratio border ratio-1x1 h-auto w-100 rounded position-relative">
                          <div class="close-icon rounded bg-danger text-white" (click)="productIconClicked(icon)">
                            <svg height="18" width="18" data-slot="icon" fill="none" stroke-width="1.5"
                              stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                              aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                            </svg>
                          </div>
                          <img src="{{base}}/{{icon.path}}" class="rounded object-fit-cover"
                            class="h-100 w-100 object-cover" alt="{{icon.title}}">
                        </div>
                      </div>
                    </ng-container>
                    <div class="col-lg-2">
                      <div class="ratio ratio-1x1 h-auto w-100 rounded">
                        <app-assets (mediaClicked)="productIconClicked($event)" [previewEnabled]="false"></app-assets>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="d-flex align-items-center justify-content-end gap-2">
              <button class="btn border border-primary bg-white text-primary" (click)="toggleTab(0)">Back</button>
              <button class="btn btn-primary" (click)="saveChanges()">Save changes</button>
            </div>
          </tab>
        </tabset>

      </div>
    </div>
  </div>
</div>