<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">
          {{ editMode ? "Update Product" : "Add Product" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.product.PRODUCT_LIST }}">Products</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.product.UPDATE_PRODUCT}}" [queryParams]="{ product: productSlug }">
              {{ editMode ? "Update Product" : "Add Product"
              }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page Header -->

  <!-- Page Content -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Product Details</span></h5>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Product Type</label>
                  <select class="form-select" formControlName="isSingle" (change)="handleProductType()">
                    c
                    <option value="true">Single</option>
                    <option value="false">Configurable</option>
                  </select>
                  <span class="text-danger fs-6" *ngIf="
                      (pf.isSingle.touched || isSubmitted) &&
                      pf.isSingle.errors?.required
                    "><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide a product type</span>
                </div>
              </div>

              <!-- Name -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Name</label>
                  <input type="text" class="form-control fs-5" formControlName="name" />
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.name.touched || isSubmitted) &&
                      pf.name.errors?.required
                    ">Name is required</span>
                </div>
              </div>

              <!-- Store Keeping Unit -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Store Keeping Unit</label>
                  <input type="text" class="form-control fs-5" formControlName="sku" />
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.sku.touched || isSubmitted) && pf.sku.errors?.required
                    ">SKU is required</span>
                </div>
              </div>

              <!-- HSN Number -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">HSN No.</label>
                  <input type="text" class="form-control fs-5" formControlName="hsn" />
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.hsn.touched || isSubmitted) && pf.hsn.errors?.required
                    ">HSN is required</span>
                </div>
              </div>

              <!-- MRP Price -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Price (MRP)</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input type="text" class="form-control" formControlName="mrpPrice" />
                      <span class="input-group-text">.00</span>
                    </div>
                    <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.mrpPrice.touched || isSubmitted) &&
                      pf.mrpPrice.errors?.required
                    ">MRP is required</span>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="isSingle">
                <!-- Offer Price -->
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Offer Price</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input type="text" class="form-control" formControlName="offerPrice" />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- Stock -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Stock</label>
                    <input type="number" class="form-control fs-5" formControlName="stock" />
                    <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.stock.touched || isSubmitted) &&
                      pf.stock.errors?.required
                    ">Stock is required</span>
                  </div>
                </div>
              </ng-container>

              <!-- MOQ -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Minimum Order Quantity</label>
                    <input type="text" class="form-control fs-5" formControlName="moq" />
                    <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.moq.touched || isSubmitted) && pf.moq.errors?.required
                    ">MOQ is required</span>
                  </div>
                </div>
              </ng-container>

              <!-- Stock Warning -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Stock Warning</label>
                    <input type="text" class="form-control fs-5" formControlName="stockWarning" />
                  </div>
                </div>
              </ng-container>

              <!-- Description -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Description</label>
                  <textarea class="form-control fs-5" formControlName="description" style="resize: none"
                    id="productdescription" rows="3"></textarea>
                </div>
              </div>


              <!-- Features -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Features</label>
                  <textarea class="form-control fs-5" formControlName="features" style="resize: none"
                    id="featureddescription" rows="3"></textarea>
                </div>
              </div>

              <!-- Category -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Category</label>
                  <select class="form-select" formControlName="categories" (change)="tagCategoryInput()" [ngClass]="{
                    'is-invalid':
                    (pf.categories.touched || isSubmitted) &&
                    pf.categories.errors?.required
                  }">
                    <option value="example" disabled>
                      -- Select a Category --
                    </option>
                    <option *ngFor="let category of categoryData" value="{{ category?._id }}">
                      {{ category?.name }}
                    </option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.categories.touched || isSubmitted) &&
                      pf.categories.errors?.required
                    ">ategories is required</span>
                </div>
                <div class="tag-inputs col-12">
                  <ng-container *ngFor="let category of categoryNames">
                    <span class="tag-input text-white bg-primary">{{ category }}
                      <i class="bi bi-x" (click)="tagCategoryRemove(category)"></i>
                    </span>
                  </ng-container>
                </div>
              </div>

              <!-- Brand -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Brand</label>
                  <select name="brand" formControlName="brandId" class="form-select" [ngClass]="{
                    'is-invalid':
                    (pf.brandId.touched || isSubmitted) &&
                    pf.brandId.errors?.required
                  }">
                    <option value="example" disabled>
                      -- Select a Brand --
                    </option>
                    <option *ngFor="let brand of brandData" value="{{ brand?._id }}">
                      {{ brand?.name }}
                    </option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.brandId.touched || isSubmitted) &&
                      pf.brandId.errors?.required
                    ">Brand is required</span>
                </div>
              </div>

              <!-- Additional Button Text -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Additional Button Text</label>
                  <input type="text" class="form-control fs-5" formControlName="additionalbutton" />
                </div>
              </div>

              <!-- Button Redirect Url -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Button Redirect URL</label>
                  <input type="text" class="form-control fs-5" formControlName="buttonredireturl" />
                </div>
              </div>

              <!-- Shipping Method -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Shipping Method</label>
                  <select class="form-select" formControlName="shippingMethod" (change)="checkShippingMethod()"
                    [ngClass]="{
                    'is-invalid':
                    (pf.shippingMethod.touched || isSubmitted) &&
                    pf.shippingMethod.errors?.required
                  }">
                    <option value="paid">Paid Shipping</option>
                    <option value="unpaid">Unpaid Shipping</option>
                    <option value="external">External Shipping Service</option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.shippingMethod.touched || isSubmitted) &&
                      pf.shippingMethod.errors?.required
                    ">Shipping method is required</span>
                </div>
              </div>

              <!-- Shipping Cost -->
              <ng-container *ngIf="isShipping">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Shipping Cost </label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input type="text" class="form-control" formControlName="shippingCost" />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Unit</label>
                  <select class="form-select" formControlName="unit" [ngClass]="{
                    'is-invalid':
                    (pf.unit.touched || isSubmitted) &&
                    pf.unit.errors?.required
                  }">
                    <option value="Check" disabled>
                      -- Select an option --
                    </option>
                    <option value="kg">Kilograms</option>
                    <option value="gms">Grams</option>
                    <option value="number">Number of</option>
                    <option value="pack">Pack of</option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.unit.touched || isSubmitted) &&
                      pf.unit.errors?.required
                    ">Unit is required</span>
                </div>
              </div>

              <!-- Weight -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Weight</label>
                  <input type="text" class="form-control" formControlName="weight" [ngClass]="{
                    'is-invalid':
                    (pf.weight.touched || isSubmitted) &&
                    pf.weight.errors?.required
                  }" />
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.weight.touched || isSubmitted) &&
                      pf.weight.errors?.required
                    ">Weight is required</span>
                </div>
              </div>

              <!-- Tax Class -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Tax Class</label>
                  <select class="form-select" formControlName="taxClassId" [ngClass]="{
                    'is-invalid':
                    (pf.taxClassId.touched || isSubmitted) &&
                    pf.taxClassId.errors?.required
                  }">
                    <option value="example" disabled>
                      -- Select a Tax Class --
                    </option>
                    <option *ngFor="let taxClass of taxClassData" value="{{ taxClass?._id }}">
                      {{ taxClass?.name }}
                    </option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.taxClassId.touched || isSubmitted) &&
                      pf.taxClassId.errors?.required
                    ">Tax class is required</span>
                </div>
              </div>

              <!-- Search Keywords -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Search Keywords</label>
                  <input class="form-control fs-5" formControlName="searchKeywords" (keyup.Arrowright)="tagInput()" />
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.searchKeywords.touched || isSubmitted) &&
                      pf.searchKeywords.errors?.required
                    ">Search keywords is required</span>
                  <div class="tag-inputs col-12">
                    <ng-container *ngFor="let value of valueArray">
                      <span class="mb-10 tag-input text-white bg-primary">{{ value }}
                        <i class="bi bi-x" (click)="tagRemove(value)"></i></span>
                    </ng-container>
                  </div>
                </div>
              </div>

              <!-- Related Products -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Related Products</label>
                  <select class="form-select" formControlName="relatedProducts" (change)="tagProductAdd()">
                    <option value="example" disabled>
                      -- Select Related Products --
                    </option>
                    <option *ngFor="let product of productsData" value="{{ product?.name }}">
                      {{ product?.name }}
                    </option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.searchKeywords.touched || isSubmitted) &&
                      pf.searchKeywords.errors?.required
                    ">Related products is required</span>
                  <div class="tag-inputs col-12">
                    <ng-container *ngFor="let value of relProductNames">
                      <span class="mb-10 tag-input bg-primary text-white">{{ value }}
                        <i class="bi bi-x" (click)="tagProductRemove(value)"></i></span>
                    </ng-container>
                  </div>
                </div>
              </div>

              <!-- Postion -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Position</label>
                  <input type="text" class="form-control fs-5" formControlName="position" [ngClass]="{
                    'is-invalid':
                    (pf.position.touched || isSubmitted) &&
                    pf.position.errors?.required
                  }" />
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.position.touched || isSubmitted) &&
                      pf.position.errors?.required
                    ">Position is required</span>
                </div>
              </div>

              <!-- Featured Product -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Featured Product ?</label>
                  <select class="form-select" formControlName="isFeatured" [ngClass]="{
                    'is-invalid':
                    (pf.isFeatured.touched || isSubmitted) &&
                    pf.isFeatured.errors?.required
                  }">
                    <option value="Check" disabled>
                      -- Select an option --
                    </option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.isFeatured.touched || isSubmitted) &&
                      pf.isFeatured.errors?.required
                    ">Featured is required</span>
                </div>
              </div>

              <!-- Featured Product -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Active Product ?</label>
                  <select class="form-select" formControlName="isActive">
                    <option value="Check" disabled>
                      -- Select an option --
                    </option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.isActive.touched || isSubmitted) &&
                      pf.isActive.errors?.required
                    ">Active is required</span>
                </div>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">COD Available ?</label>
                  <select class="form-select" formControlName="cod" (change)="checkCod()">
                    <option value="Check" disabled>
                      -- Select an option --
                    </option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.cod.touched || isSubmitted) &&
                      pf.cod.errors?.required
                    ">COD is required</span>
                </div>
              </div>

              <!-- COD Charge -->
              <ng-container *ngIf="isCod">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3"> COD Charge </label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input type="text" class="form-control" formControlName="codCharge" />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- Returnable Product -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Returnable Product ?</label>
                  <select class="form-select" formControlName="returnable" (change)="checkReturnable()">
                    <option value="Check" disabled>
                      -- Select an option --
                    </option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (pf.returnable.touched || isSubmitted) &&
                      pf.returnable.errors?.required
                    ">Returnable is required</span>
                </div>
              </div>

              <!-- Return Days -->
              <ng-container *ngIf="isReturn">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Return Days</label>
                    <input type="text" class="form-control fs-5" formControlName="returnDays" />
                  </div>
                </div>
              </ng-container>

              <!-- Product Image -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Product Image</label>
                  <input type="file" class="form-control fs-5" name="image" accept="image/*"
                    (change)="handleInputChange($event)"
                    onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"
                    required>
                </div>
                <img id="preview" src="http://localhost:3000/{{productData?.file}}">
              </div>


              <div class="col-12">
                <button type="submit" class="btn btn-primary fs-5">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Page Content -->
  </div>
</div>