<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">
          {{ editMode ? "Update Product" : "Add Product" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.product.PRODUCT_LIST }}">Products</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.product.UPDATE_PRODUCT}}" [queryParams]="{ product: productSlug }">
              {{ editMode ? "Update Product" : "Add Product"
              }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page Header -->
  <!-- Page Content -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-6">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="productForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Product Details</span></h5>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Product Type</label>
                  <select class="form-select" formControlName="isSingle" (change)="handleProductType()">
                    c
                    <option value="true">Single</option>
                    <option value="false">Configurable</option>
                  </select>
                  <span class="text-danger fs-6" *ngIf="
                      (pf.isSingle.touched || isSubmitted) &&
                      pf.isSingle.errors?.required
                    "><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide a product type</span>
                </div>
              </div>

              <!-- Name -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Name</label>
                  <input type="text" class="form-control fs-6" formControlName="name" />
                </div>
              </div>

              <!-- Store Keeping Unit -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Store Keeping Unit</label>
                  <input type="text" class="form-control fs-6" formControlName="sku"/>
                </div>
              </div>

              <!-- HSN Number -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">HSN No.</label>
                  <input type="text" class="form-control fs-6" formControlName="hsn" />
                </div>
              </div>

              <!-- MRP Price -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3 required">Price (MRP)</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input type="text" class="form-control" formControlName="mrpPrice"/>
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- Offer Price -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3">Offer Price</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input type="text" class="form-control" formControlName="offerPrice" />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- Stock -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3 required">Stock</label>
                    <input type="number" class="form-control fs-6" formControlName="stock" />
                  </div>
                </div>
              </ng-container>

              <!-- MOQ -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3 required">Minimum Order Quantity</label>
                    <input type="text" class="form-control fs-6" formControlName="moq" />
                  </div>
                </div>
              </ng-container>

              <!-- Stock Warning -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3">Stock Warning</label>
                    <input type="text" class="form-control fs-6" formControlName="stockWarning" />
                  </div>
                </div>
              </ng-container>

              <!-- Description -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Description</label>
                  <textarea class="form-control fs-6" formControlName="description" style="resize: none"
                    id="productdescription" rows="3"></textarea>
                </div>
              </div>

              <!-- Features -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Features</label>
                  <textarea class="form-control fs-6" formControlName="features" style="resize: none"
                    id="featureddescription" rows="3"></textarea>
                </div>
              </div>

              <!-- Category -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Category</label>
                  <select class="form-select" formControlName="categories" (change)="tagCategoryInput()">
                    <option value="example" disabled>-- Select a Category --</option>
                    <option *ngFor="let category of categoryData" value="{{ category?._id }}">{{ category?.name }}
                    </option>
                  </select>
                </div>
                <div class="tag-inputs col-12">
                  <ng-container *ngFor="let category of categoryNames">
                    <span class="tag-input bg-primary text-white">{{ category }}
                      <i class="bi bi-x" (click)="tagCategoryRemove(category)"></i>
                    </span>
                  </ng-container>
                </div>
              </div>

              <!-- Brand -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Brand</label>
                  <select name="brand" formControlName="brandId" class="form-select">
                    <option value="example" disabled>-- Select a Brand --</option>
                    <option *ngFor="let brand of brandData" value="{{ brand?._id }}">{{ brand?.name }}</option>
                  </select>
                </div>
              </div>

              <!-- Additional Button Text -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Additional Button Text</label>
                  <input type="text" class="form-control fs-6" formControlName="additionalbutton" />
                </div>
              </div>

              <!-- Button Redirect Url -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Button Redirect URL</label>
                  <input type="text" class="form-control fs-6" formControlName="buttonredireturl" />
                </div>
              </div>

              <!-- Shipping Method -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Shipping Method</label>
                  <select class="form-select" formControlName="shippingMethod" (change)="checkShippingMethod()">
                    <option value="paid">Paid Shipping</option>
                    <option value="unpaid">Unpaid Shipping</option>
                    <option value="external">External Shipping Service</option>
                  </select>
                </div>
              </div>

              <!-- Shipping Cost -->
              <ng-container *ngIf="isShipping">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3">Shipping Cost </label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input type="text" class="form-control" formControlName="shippingCost" />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Unit</label>
                  <select class="form-select" formControlName="unit">
                    <option value="Check" disabled>-- Select an option --</option>
                    <option value="kg">Kilograms</option>
                    <option value="gms">Grams</option>
                    <option value="number">Number of</option>
                    <option value="pack">Pack of</option>
                  </select>
                </div>
              </div>

              <!-- Weight -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Value</label>
                  <input type="text" class="form-control" formControlName="value">
                </div>
              </div>

              <!-- Tax Class -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Tax Class</label>
                  <select class="form-select" formControlName="taxClassId">
                    <option value="example" disabled>-- Select a Tax Class --</option>
                    <option *ngFor="let taxClass of taxClassData" value="{{ taxClass?._id }}">{{ taxClass?.name }}
                    </option>
                  </select>
                </div>
              </div>

              <!-- Search Keywords -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Search Keywords</label>
                  <input class="form-control fs-6" formControlName="searchKeywords" (keyup.Arrowright)="tagInput()" />
                  <div class="tag-inputs col-12">
                    <ng-container *ngFor="let value of valueArray">
                      <span class="mb-10 tag-input bg-primary text-white">{{ value }}
                        <i class="bi bi-x" (click)="tagRemove(value)"></i></span>
                    </ng-container>
                  </div>
                </div>
              </div>

              <!-- Related Products -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Related Products</label>
                  <select class="form-select" formControlName="relatedProducts" (change)="tagProductAdd()">
                    <option value="example" disabled>-- Select Related Products --</option>
                    <option *ngFor="let product of productsData" value="{{ product?._id }}">{{ product?.name }}</option>
                  </select>
                  <div class="tag-inputs col-12">
                    <ng-container *ngFor="let value of relProductNames">
                      <span class="tag-input bg-primary text-white">{{ value }}
                        <i class="bi bi-x" (click)="tagProductRemove(value)"></i></span>
                    </ng-container>
                  </div>
                </div>
              </div>

              <!-- Postion -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Position</label>
                  <input type="text" class="form-control fs-6" formControlName="position" />
                </div>
              </div>

              <!-- Featured Product -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Featured Product ?</label>
                  <select class="form-select" formControlName="isFeatured"
                    [ngClass]="{'is-invalid': (pf.isFeatured.touched || isSubmitted) && pf.isFeatured.errors?.required}">
                    <option value="Check" disabled>-- Select an option --</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <!-- Featured Product -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Active Product ?</label>
                  <select class="form-select" formControlName="isActive"
                    [ngClass]="{'is-invalid': (pf.isActive.touched || isSubmitted) && pf.isActive.errors?.required}">
                    <option value="Check" disabled>-- Select an option --</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">COD Available ?</label>
                  <select class="form-select" formControlName="cod" (change)="checkCod()">
                    <option value="Check" disabled>-- Select an option --</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <!-- COD Charge -->
              <ng-container *ngIf="isCod">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3 required"> COD Charge </label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input type="text" class="form-control" formControlName="codCharge" />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- Returnable Product -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Returnable Product ?</label>
                  <select class="form-select" formControlName="returnable" (change)="checkReturnable()">
                    <option value="Check" disabled>-- Select an option --</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <!-- Return Days -->
              <ng-container *ngIf="isReturn">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3 required">Return Days</label>
                    <input type="text" class="form-control fs-6" formControlName="returnDays" />
                  </div>
                </div>
              </ng-container>
            </div>
            <!-- Product Image -->
            <div class="col-12 col-sm-6">
              <div class="col-12">
                <h3 class="form-title required"><span>Media</span></h3>
              </div>
              <div class="form-group">
                <div class="image-upload">
                  <input type="file" class="form-control fs-6" name="image" accept="image/*"
                    (change)="handleInputChange($event)"
                    onchange="document.getElementById('previewImage').src = window.URL.createObjectURL(this.files[0])"
                    style="height: 100px;" required>
                  <div class="image-upload-div">
                    <div class="left-img"><img src="../../../../../assets/media/svg/files/upload.svg" alt="" srcset="">
                    </div>
                    <div class="right-text d-flex flex-column"><span class="right-text-title fs-4 fw-bolder">Click to
                        upload</span> <span class="right-text-note fs-7 text-gray-400" style="font-weight: 500">Upload
                        up to 1
                        file</span></div>
                  </div>
                </div>
                <div class="uploads uploaded">
                  <div class="close-icon bg-dark"
                    onclick="document.getElementById('previewImage').src = '../../../../../assets/media/icons/duotune/files/fil025.svg' ">
                    <i class="bi bi-x-lg text-white"></i>
                  </div>
                  <img id="previewImage" src="{{appRoute.BASE + productData.file}}">
                </div>
              </div>
            </div>

            <div class="col-12">
              <a routerLink="{{ appRoute.product.PRODUCT_LIST}}" class=" btn btn-secondary btn-sm fs-6 text-dark"
                style="width: 200px; margin-right: 20px;">Cancel</a>
              <button type="submit" class="btn btn-primary btn-sm fs-6" style="width: 200px"
                (click)="onSubmit()">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Page Content -->
  </div>
</div>