<div>

    <div class="page-header d-flex align-items-start justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Order Settings</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoute.orderSettings }}">Order Settings</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
            Save Changes
        </button>
    </div>

    <form [formGroup]="form">
        <div class="card my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 fs-5">Cancel Order</div>
                    <div class="col-lg-8">
                        <app-switch [isToggledProps]="form.get('isCancelOrderEnabled')?.value" [switchId]="'isCancelOrderEnabled'"
                            (switchToggled)="onSwitchTriggered($event)"></app-switch>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>