<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">
          {{ editMode ? "Update Category" : "Add Category" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.category.CATEGORY_LIST }}">Categories</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.category.ADD_CATEGORY }}">{{
              editMode ? "Update Category" : "Add Category"
              }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="categoryForm" (keydown.Enter)="$event.preventDefault()">
            <div class="row">
              <div class="col-12">
                <h2 class="form-title" style="font-weight: 600;"><span>Category Details</span></h2>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 required">Category Name</label>
                  <input type="text" placeholder="Category name" class="form-control fs-5" formControlName="name"
                    [ngClass]="{'is-invalid': (bf.name.touched || isSubmitted) && bf.name.errors?.required}" />
                  <div class="fs-7 mt-3">A category name is required and recommended to be unique.</div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 required">Root Category</label>
                  <select class="form-select" aria-label="-- select --" formControlName="isRoot"
                    (change)="handleCheckBox($event.target)"
                    [ngClass]="{ 'is-invalid': (bf.isRoot.touched || isSubmitted) && bf.isRoot.errors?.required}">
                    <option value="" disabled>-- Select an option --</option>
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                  </select>
                  <div class="fs-7 mt-3">Kindly confirm whether this is a root category or not. </div>
                </div>
              </div>
              <ng-container *ngIf="!isChecked">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3 required">Parent Category</label>
                    <select class="form-select" aria-label="-- select --" formControlName="parent"
                      [ngClass]="{'is-invalid':(bf.parent.touched || isSubmitted) && bf.parent.errors?.required}"
                      (change)="getParent($event.target)">
                      <option value="" disabled>-- Select parent category --</option>
                      <option *ngFor="let category of categories" value="{{ category }}">{{ category }}</option>
                    </select>
                  </div>
                </div>
              </ng-container>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Status</label>
                  <select class="form-select form-select-lg mb-3 fs-5" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="false" selected>Inactive</option>
                    <option value="true">Active</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Featured Category?</label>
                  <select class="form-select form-select-lg mb-3 fs-5" aria-label=".form-select-lg"
                    formControlName="isFeatured">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Archive Category?</label>
                  <select class="form-select form-select-lg mb-3 fs-5" aria-label=".form-select-lg"
                    formControlName="isArchive">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>

              <!-- Category styles start -->
              <div class="col-12">
                <h2 class="form-title" style="font-weight: 600;"><span>Category Styles</span></h2>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Background</label>
                  <input type="color" placeholder="Category name" class="form-control fs-5" style="height: 50px;"
                    formControlName="background" (change)="getColors('background', $event.target)" />
                  <span>{{background}}</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Border</label>
                  <input type="color" placeholder="Category name" class="form-control fs-5" formControlName="border"
                    style="height: 50px;" (change)="getColors('border', $event.target)" />
                  <span>{{border}}</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Border Radius</label>
                  <input type="number" placeholder="2" class="form-control fs-5" formControlName="radius" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Color</label>
                  <input type="color" placeholder="Category name" class="form-control fs-5" style="height: 50px;"
                    formControlName="color" (change)="getColors('color', $event.target)" />
                  <span>{{color}}</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Font Weight</label>
                  <input type="number" placeholder="400" class="form-control fs-5" formControlName="fontWeight" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Font Size ( in px )</label>
                  <input type="number" placeholder="14" class="form-control fs-5" formControlName="fontSize" />
                </div>
              </div>
              <!-- Category styles end -->

              <!-- Category attributes start -->
              <div class="col-12 attributes-section">
                <div class="col-12 d-flex justify-content-between align-items-center">
                  <h2 class="form-title" style="font-weight: 600;"><span>Category Attributes</span></h2>
                  <div class="add-attributes-button">
                    <button class="bg-primary btn text-white fs-5" (click)="showAttributeSection()">View
                      Attributes</button>
                  </div>
                </div>
                <div class="attributes-container row" *ngIf="showAttributes">
                  <div class="col-12 col-sm-6"> <!-- Attribute name-->
                    <div class="form-group">
                      <label class="fs-5 mb-3">Attribute Name</label>
                      <input type="text" placeholder="Eg. Size" class="form-control fs-5"
                        formControlName="attributeName" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="fs-5 mb-3">Attribute Status?</label>
                        <select class="form-select form-select-lg mb-3 fs-5" aria-label=".form-select-lg"
                          formControlName="attributeStatus">
                          <option value="false">Inactive</option>
                          <option value="true">Active</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="fs-5 mb-3">Filtered Attribute?</label>
                        <select class="form-select form-select-lg mb-3 fs-5" aria-label=".form-select-lg"
                          formControlName="attributeFiltered">
                          <option value="false">No</option>
                          <option value="true">Yes</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6"> <!-- Attribute type-->
                    <div class="form-group">
                      <label class="fs-5 mb-3">Attribute Type</label>
                      <select class="form-select form-select-lg mb-3 fs-5" aria-label=".form-select-lg"
                        formControlName="attributeType" (change)="handleAttributeType($event.target)">
                        <option value="" selected disabled>-- Select an attribute type --</option>
                        <option value="Color">Color Picker</option>
                        <option value="Text">Text</option>
                        <option value="File">File</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6" *ngIf="showColorPicker"> <!-- Attribute color picker -->
                    <div class="form-group">
                      <label class="fs-5 mb-3">Attribute Color</label>
                      <input type="color" placeholder="Attribute color" class="form-control fs-5" style="height: 50px;"
                        formControlName="attributeColor" (change)="handleAttrributeValues('color', $event.target)" />
                    </div>
                    <div class="col-12 attr-color-preview" *ngIf="attributecolors.length > 0">
                      <ng-container *ngFor="let color of attributecolors">
                        <div class="attr-color-preview-div" [ngStyle]="{'background': color.value}">
                          <div class="attr-color-remove" (click)="removeAttributeValues('color', color.id)"><i
                              class="bi bi-x-lg"></i></div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6" *ngIf="showTextInput"> <!-- Attribute text values -->
                    <div class="form-group">
                      <label class="fs-5 mb-3">Attribute Text</label>
                      <input type="text" placeholder="Eg. Large" class="form-control fs-5" style="height: 50px;"
                        formControlName="attributeText"
                        (keydown.Enter)="handleAttrributeValues('text', $event.target)" />
                      <div class="fs-6 mt-3">*Press Enter to add attribute text</div>
                    </div>
                    <div class="col-12 attr-text-preview" *ngIf="attributetexts.length > 0">
                      <ng-container *ngFor="let text of attributetexts">
                        <div class="attr-text bg-primary text-white">
                          <div class="attr-text-value">{{text.value}}</div>
                          <div class="attr-text-remove-icon" (click)="removeAttributeValues('text', text.id)"><i
                              class="bi bi-x-lg"></i></div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-12" *ngIf="showFileInput"> <!-- Attribute image values -->
                    <div class="form-group col-sm-6">
                      <div class="image-upload">
                        <input type="file" class="form-control fs-5" name="image" accept="image/*"
                          (change)="handleAttrInputChange($event)" style="height: 100px;" required>
                        <div class="image-upload-div">
                          <div class="left-img"><img src="../../../../../assets/media/svg/files/upload.svg" alt=""
                              srcset=""></div>
                          <div class="right-text d-flex flex-column">
                            <span class="right-text-title fs-4 fw-bolder">Click to upload</span>
                            <span class="right-text-note fs-7 text-gray-400" style="font-weight: 500">Upload up to 1
                              file</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="loadAttributeImage">
                      <div class="col-12 preview-section  d-flex align-items-center justify-content-center">
                        <div class="crop-image col-sm-6">
                          <image-cropper class="crop-section" [imageChangedEvent]="attrImageChange"
                            [maintainAspectRatio]="true" [aspectRatio]="3 / 3" [cropperMaxWidth]="1600"
                            [cropperMaxHeight]="1600" format="png" (imageCropped)="attrImageCropped($event)"
                            (imageLoaded)="attrImageLoaded()" (cropperReady)="attrCropperReady()"
                            (loadImageFailed)="loadAttrImageFailed()">
                          </image-cropper>
                        </div>
                        <div class="uploads uploaded col-sm-6">
                          <div class="close-icon">
                            <i class="bi bi-x-lg text-white" (click)="removeAttrImage()"></i>
                          </div>
                          <img class="preview-img" id="previewImage" [src]="attributecroppped">
                          <button class="btn btn-sm fs-5 bg-dark text-white" style="width: 100%; margin: 10px 0 0 0 ;"
                            (click)="handleAttrributeValues('file', '')">Add Image</button>
                        </div>
                      </div>
                    </ng-container>
                    <div class="col-12 attr-image-preview">
                      <ng-container *ngFor="let image of attributeimages">
                        <div class="attr-image">
                          <div class="attr-image-value"><img src="{{image.value}}" alt="attribute-image"></div>
                          <div class="attr-image-remove-icon" (click)="removeAttributeValues('file', image.id)">
                            <i class="bi bi-x-lg"></i>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-12 d-flex align-items-center justify-content-end save-attribute-btn"
                    *ngIf="showSaveButton">
                    <button class="btn bg-primary text-white fs-5" (click)="saveAttribute()">Save
                      Attribute</button>
                  </div>
                  <div class="attr-added-container col-12" *ngIf="attributes.length > 0">
                    <div class="col-12">
                      <h4>Added Attributes</h4>
                    </div>
                    <div class="attr-cards col-12">
                      <ng-container *ngFor="let attribute of attributes">
                        <div class="attribute-card">
                          <div class="attribute-name">{{attribute?.name}}</div>
                          <div class="attribute-type">{{attribute?.type}}</div>
                          <div class="attribute-status published"
                            *ngIf="attribute?.isActive == 'true'; else unpublished">
                            <i class="bi bi-circle-fill"></i> <span>Published</span>
                          </div>
                          <ng-template #unpublished>
                            <div class="attribute-status unpublished"><i class="bi bi-circle-fill"></i>
                              <span>Unpublished</span>
                            </div>
                          </ng-template>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Category attributes end -->
              <div class="col-12">
                <div class="col-12">
                  <h3 class="form-title required"><span>Media</span></h3>
                </div>
                <div class="form-group col-sm-6">
                  <div class="image-upload">
                    <input type="file" class="form-control fs-5" name="image" accept="image/*"
                      (change)="handleInputChange($event)" style="height: 100px;" required>
                    <div class="image-upload-div">
                      <div class="left-img">
                        <img src="../../../../../assets/media/svg/files/upload.svg" alt="" srcset="">
                      </div>
                      <div class="right-text d-flex flex-column">
                        <span class="right-text-title fs-4 fw-bolder">
                          Click to upload
                        </span>
                        <span class="right-text-note fs-7 text-gray-400" style="font-weight: 500">
                          Upload up to 1 file
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container *ngIf=" loadImage">
                <div class="col-12 preview-section">
                  <div class="crop-image col-sm-6">
                    <image-cropper class="crop-section" [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true" [aspectRatio]="3 / 3" [cropperMaxWidth]="1600"
                      [cropperMaxHeight]="1600" format="png" (imageCropped)="imageCropped($event)"
                      (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                      (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                  </div>
                  <div class="uploads uploaded col-sm-6">
                    <div class="close-icon">
                      <i class="bi bi-x-lg text-white" (click)="removeImage()"></i>
                    </div>
                    <img class="preview-img" id="previewImage" [src]="croppedImage">
                  </div>
                </div>
              </ng-container>
              <div class="col-12">
                <a routerLink="{{ appRoute.category.CATEGORY_LIST}}" class=" btn btn-secondary btn-sm fs-5 text-dark"
                  style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button type="submit" class="btn btn-primary btn-sm fs-5" style="width: 200px" (click)="onSubmit()">
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>