<div>

  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Add Category</h1>
    </div>
    <ul class="breadcrumb">
      <li class="breadcrumb-item fs-6">
        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
      </li>
      <li class="breadcrumb-item fs-6">
        <a routerLink="{{ appRoute.category.CATEGORY_LIST }}">Categories</a>
      </li>
      <li class="breadcrumb-item active fs-6">
        <a routerLink="{{ appRoute.category.ADD_CATEGORY }}">Add Category</a>
      </li>
    </ul>
  </div>

  <div class="row mt-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form">

          <div>
            <div>
              <label for="cover" class="fs-6 mb-3">Cover</label>
              <div id="cover" class="ratio ratio-21x9 position-relative">
                <app-assets [previewDetails]="cover" (mediaClicked)="onCoverTriggered($event)"></app-assets>
                <div *ngIf="cover">
                  <div class="position-absolute bottom-0 end-0 m-4">
                    <button class="btn btn-danger" (click)="onRemove('cover')">Remove</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row my-2">
              <div class="col-lg-3">
                <label for="thumbnail" class="fs-6 mb-3">Thumbnail</label>
                <div id="thumbnail" class="ratio ratio-1x1">
                  <app-assets [previewDetails]="thumbnail" (mediaClicked)="onThumbnailTriggered($event)"></app-assets>
                </div>
                <div *ngIf="thumbnail">
                  <button class="btn mt-2 btn-danger w-100" (click)="onRemove('thumbnail')">Remove</button>
                </div>
              </div>

              <div class="col-lg-9">
                <div class="row">
                  <div class="form-group mb-3">
                    <label class="fs-6 mb-3 required">Name</label>
                    <input type="text" placeholder="Category name" class="form-control fs-6" formControlName="name"
                      [ngClass]="{'is-invalid': (formControls.name.touched || isSubmitted) && formControls.name.errors?.required}" />
                  </div>

                  <div class="form-group mb-3">
                    <label class="fs-6 mb-3">Description</label>
                    <textarea type="text" class="form-control fs-6" formControlName="description"></textarea>
                  </div>

                  <div class="mb-3">
                    <div class="form-group mb-3">
                      <label class="fs-6 mb-3">Meta Title</label>
                      <input type="text" class="form-control fs-6" formControlName="metaTitle" />
                    </div>

                    <div class="form-group mb-3">
                      <label class="fs-6 mb-3">Meta Description</label>
                      <textarea type="text" class="form-control fs-6" formControlName="metaDescription"></textarea>
                    </div>

                    <div class="form-group mb-3">
                      <label class="fs-6 mb-3">Meta Keywords</label>
                      <input type="text" class="form-control fs-6" formControlName="metaKeywords" />
                    </div>
                  </div>

                  <div class="col-lg-6 mb-3 form-group">
                    <label class="fs-6 mb-3">Is Root</label>
                    <select class="form-select" formControlName="isRoot">
                      <option value="" disabled>-- Select an option --</option>
                      <option value="false">No</option>
                      <option value="true">Yes</option>
                    </select>
                  </div>

                  <div class="col-lg-6 form-group mb-3" *ngIf="form.get('isRoot')?.value == 'false'">
                    <label class="fs-6 mb-3 required">Parent Category</label>
                    <select class="form-select" formControlName="parent"
                      [ngClass]="{'is-invalid':(formControls.parent.touched || isSubmitted) && formControls.parent.errors?.required}"
                      (change)="getParentDetails($event.target)">
                      <option value="" disabled>-- Select parent category --</option>
                      <option *ngFor="let category of categories" value="{{ category }}">{{ category }}</option>
                    </select>
                  </div>

                  <div class="col-lg-6 form-group mb-3">
                    <label class="fs-6 mb-3">Status</label>
                    <select class="form-select fs-6" formControlName="isActive">
                      <option value="" disabled>-- Select an option --</option>
                      <option value="false">Inactive</option>
                      <option value="true">Active</option>
                    </select>
                  </div>

                  <div class="col-lg-6 form-group mb-3">
                    <label class="fs-6 mb-3">Featured Category?</label>
                    <select class="form-select fs-6" formControlName="isFeatured">
                      <option value="" disabled>-- Select an option --</option>
                      <option value="false">No</option>
                      <option value="true">Yes</option>
                    </select>
                  </div>

                  <div class="col-lg-6 mb-3 form-group">
                    <label class="fs-6 mb-3">Archive Category?</label>
                    <select class="form-select fs-6" formControlName="isArchive">
                      <option value="" disabled>-- Select an option --</option>
                      <option value="false" selected>No</option>
                      <option value="true">Yes</option>
                    </select>
                  </div>

                  <div class="mb-3 form-group col-lg-6">
                    <label class="fs-6 mb-3">Background</label>
                    <input type="color" placeholder="Background" class="form-control fs-6" style="height: 50px;"
                      formControlName="background" />
                  </div>

                  <div class="mb-3 form-group col-lg-6">
                    <label class="fs-6 mb-3">Border</label>
                    <input type="color" placeholder="Border color" class="form-control fs-6" formControlName="border"
                      style="height: 50px;" />
                  </div>

                  <div class="mb-3 form-group col-lg-6">
                    <label class="fs-6 mb-3">Border Radius</label>
                    <input type="number" placeholder="Border radius" class="form-control fs-6"
                      formControlName="radius" />
                  </div>

                  <div class="mb-3 form-group col-lg-6">
                    <label class="fs-6 mb-3">Color</label>
                    <input type="color" placeholder="Text color" class="form-control fs-6" style="height: 50px;"
                      formControlName="color" />
                  </div>

                  <div class="mb-3 form-group col-lg-6">
                    <label class="fs-6 mb-3">Font Weight</label>
                    <input type="number" placeholder="400" class="form-control fs-6" formControlName="fontWeight" />
                  </div>

                  <div class="mb-3 form-group col-lg-6">
                    <label class="fs-6 mb-3">Font Size</label>
                    <input type="number" placeholder="14" class="form-control fs-6" formControlName="fontSize" />
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center gap-2 justify-content-end">
            <button class="btn btn-secondary" routerLink="{{ appRoute.category.CATEGORY_LIST}}">
              Back
            </button>
            <button class="btn btn-primary" (click)="onSubmit()">
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>