<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">
          {{ editMode ? "Update Category" : "Add Category" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.category.CATEGORY_LIST }}">Categories</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.category.ADD_CATEGORY }}">{{
              editMode ? "Update Category" : "Add Category"
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Category Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Name</label>
                  <input
                    type="text"
                    class="form-control fs-5"
                    formControlName="name"
                  />
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (bf.name.touched || isSubmitted) &&
                      bf.name.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide a name</span
                  >
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Root Category</label>
                  <select
                    class="form-select"
                    aria-label="-- select --"
                    formControlName="rootId"
                    (change)="handleCheckBox()"
                  >
                    <option value="check" disabled>
                      -- Select an option --
                    </option>
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                  </select>
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (bf.rootId.touched || isSubmitted) &&
                      bf.rootId.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Confirm
                    whether this is root category or not</span
                  >
                </div>
              </div>
              <ng-container *ngIf="isChecked == false">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Parent Category</label>
                    <select
                      class="form-select"
                      aria-label="-- select --"
                      formControlName="parentId"
                    >
                      <option
                        *ngFor="let category of categoryArray"
                        value="{{ category }}"
                      >
                        {{ category }}
                      </option>
                    </select>
                    <span
                      class="text-danger error-msg fs-6"
                      *ngIf="
                        (bf.parentId.touched || isSubmitted) &&
                        bf.parentId.errors?.required
                      "
                      ><i class="bi bi-exclamation-triangle-fill"></i> Please
                      provide a category</span
                    >
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="isChecked == true">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Parent Category</label>
                    <select
                      class="form-select"
                      aria-label="-- select --"
                      disabled
                    >
                      <option selected>-- Select Parent Category --</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
              </ng-container>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Status</label>
                  <select
                    class="form-select form-select-lg mb-3"
                    aria-label=".form-select-lg"
                    formControlName="isActive"
                  >
                    <option value="false" selected>Inactive</option>
                    <option value="true">Active</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Featured Brand ?</label>
                  <select
                    class="form-select form-select-lg mb-3"
                    aria-label=".form-select-lg"
                    formControlName="isFeatured"
                  >
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6"></div>
              <div class="col-sm-6">
                <div class="form-group col-sm-6">
                  <label class="fs-5">Category Image</label>
                  <div class="preview-img">
                    <img class="preview-image" id="preview" />
                  </div>
                  <button
                    type="button"
                    class="upload-btn"
                    onclick="document.getElementById('getFile').click()"
                  >
                    Upload File
                  </button>
                  <input
                    class="form-control fs-5"
                    type="file"
                    id="getFile"
                    style="display: none"
                    formControlName="file"
                    (change)="handleInputChange($event)"
                    onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"
                  />
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (bf.file.touched || isSubmitted) &&
                      bf.file.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide an image</span
                  >
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary fs-5">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
