<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title fs-1 fw-bolder">
            {{ editMode ? "Update Tax Rules" : "Add Tax Rules" }}
          </h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item fs-5">
              <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item fs-5">
              <a routerLink="{{ appRoute.taxRules.TAX_RULES_LIST}}">Tax Rules</a>
            </li>
            <li class="breadcrumb-item active fs-5">
              <a routerLink="{{ appRoute.taxRules.ADD_TAX_RULES}}">{{
                editMode ? "Update Tax Rules" : "Add Tax Rules"
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row mt-10">
      <div class="col-sm-12 fs-5">
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="taxRulesForm">
              <div class="row">
                <div class="col-12">
                  <h5 class="form-title fs-4"><span>Tax Rules Details</span></h5>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3 fw-bold"> Name</label>
                    <input type="text" class="form-control fs-5" formControlName="name"/>
                    <span class="text-danger fs-6" *ngIf="(tf.name.touched || isSubmitted) && tf.name.errors?.required">Name is required</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="fs-5 mb-3 fw-bold">Type</label>
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" formControlName="type">
                        <option value="Normal" selected>Normal</option>
                        <option value="Combine">Combine</option>
                      </select>
                    </div>
                  </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="fs-5 mb-3 fw-bold"> Rate</label>
                      <div class="input-group">
                        <span class="input-group-text">%</span>
                        <input type="text" class="form-control fs-5" formControlName="rate"/>
                      </div>
                      <span class="text-danger fs-6" *ngIf="(tf.rate.touched || isSubmitted) && tf.rate.errors?.required">Rate is required</span>
                    </div>
                  </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3 fw-bold">Status</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" formControlName="isActive">
                      <option value="Active" selected>Active</option>
                      <option value="Inactive">Inactive</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary fs-4">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  