<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-1 fw-bolder">
          {{ editMode ? "Update Tax Rules" : "Add Tax Rules" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.taxRules.TAX_RULES_LIST}}">Tax Rules</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.taxRules.UPDATE_TAX_RULES}}" [queryParams]="{taxRules: taxRules}">{{
              editMode ? "Update Tax Rules" : "Add Tax Rules"
              }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="taxRulesForm">
            <div class="row">
              <div class="col-12">
                <h3 class="form-title"><span>Tax Rules Details</span></h3>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required"> Name</label>
                  <input type="text" class="form-control fs-5" formControlName="name" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required">Type</label>
                  <select class="form-select form-select-lg mb-3 fs-5" aria-label=".form-select-lg"
                    formControlName="type">
                    <option value="Normal" selected>Normal</option>
                    <option value="Combine">Combine</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required"> Rate</label>
                  <div class="input-group">
                    <span class="input-group-text">%</span>
                    <input type="text" class="form-control fs-5" formControlName="rate" />
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 form-title required">Status</label>
                  <select class="form-select form-select-lg mb-3 fs-5" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="true" selected>Active</option>
                    <option value="false">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <a routerLink="{{ appRoute.taxRules.TAX_RULES_LIST}}" class=" btn btn-secondary btn-sm fs-5 text-dark"
                  style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button type="submit" class="btn btn-primary btn-sm fs-5" style="width: 200px">
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>