:host {
  // height: 100%;
  margin: 0;

  .flex-root {
    // height: 100%;
  }
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}
.statistics-widget-3-chart.card-rounded-bottom {
  height: 100%;
}

.aside, 
.header{
  box-shadow: none !important;
}

.header{
  border-bottom: 1px solid #e4e4e4;
}