<div>
    <div class="page-header d-flex align-items-start justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bolder">SEO Details</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoute.seo.SEO_DETAILS}}">SEO Details</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary" (click)="open(template)">
            Add details
        </button>
    </div>

    <div>
        <ng-container *ngFor="let seoItem of seoDetails; let i = index">
            <div class="p-3 my-4 d-flex align-items-center justify-content-between rounded seo-details">
                <div>
                    <div class="bg-secondary tag rounded-pill px-2">{{seoItem?.page}}</div>
                    <div class="fs-5 my-2">{{seoItem?.title}}</div>
                    <div class="fs-6 text-muted description">{{seoItem?.description}}</div>
                </div>
                <div class="p-2 border border-secondary rounded" (click)="open(template, seoItem?._id)">
                    <svg height="20" width="20" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z">
                        </path>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z">
                        </path>
                    </svg>
                </div>
            </div>
        </ng-container>
    </div>

    <div *ngIf="seoDetails.length == 0">
        <app-no-results></app-no-results>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Cover details</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="my-4">
            <form [formGroup]="form">
                <div class="mb-3 row">
                    <label for="url" class="col-lg-2 required">Page</label>
                    <div class="col-lg-10">
                        <select class="form-select" aria-label="Default select example" formControlName="page"
                            [ngClass]="{
                            'is-invalid':
                            (formControls.page.touched || isSubmitted) &&
                            formControls.page.errors?.required, 'pe-none': isEditMode
                          }">
                            <option value="" disabled>-- Select an option --</option>
                            <option value="Home">Home</option>
                            <option value="About">About</option>
                            <option value="Contact">Contact</option>
                            <option value="Terms-And-Conditions">Terms And Conditions</option>
                            <option value="Privacy-And-Policy">Privacy And Policy</option>
                            <option value="Stores">Stores</option>
                            <option value="FAQs">FAQs</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="url" class="col-lg-2 required">Meta URL</label>
                    <div class="col-lg-10">
                        <input type="text" id="url" class="form-control" formControlName="url" [ngClass]="{
                            'is-invalid':
                            (formControls.url.touched || isSubmitted) &&
                            formControls.url.errors?.required
                          }">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="title" class="col-lg-2 required">Meta Title</label>
                    <div class="col-lg-10">
                        <input type="text" id="title" class="form-control" formControlName="title" [ngClass]="{
                            'is-invalid':
                            (formControls.title.touched || isSubmitted) &&
                            formControls.title.errors?.required
                          }">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="keywords" class="col-lg-2 required">Meta Keywords</label>
                    <div class="col-lg-10">
                        <input type="text" id="keywords" class="form-control" formControlName="keywords" [ngClass]="{
                            'is-invalid':
                            (formControls.keywords.touched || isSubmitted) &&
                            formControls.keywords.errors?.required
                          }">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="description" class="col-lg-2 required">Meta Description</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            formControlName="description" [ngClass]="{
                                'is-invalid':
                                (formControls.description.touched || isSubmitted) &&
                                formControls.description.errors?.required
                              }"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="description" class="col-lg-2 required">Meta Thumbnail</label>
                    <div class="col-lg-10">
                        <div class="w-100 ratio ratio-21x9 position-relative">
                            <app-assets (mediaClicked)="handleThumbnail($event)"
                                [previewDetails]="thumbnail"></app-assets>
                            <div class="position-absolute bottom-0 end-0 m-4" *ngIf="thumbnail">
                                <button class="btn btn-danger" (click)="removeThumbnail()">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <div class="d-flex align-items-center justify-content-between"
                            [ngClass]="{'justify-content-between': isEditMode,   'justify-content-end': !isEditMode}">
                            <button class="btn btn-danger" (click)="delete()" *ngIf="isEditMode">Delete</button>
                            <div class="d-flex align-items-center justify-content-end gap-2">
                                <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
                                <button type="button" class="btn btn-primary" (click)="manageDetails()">Save
                                    changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</ng-template>