.loginContainer {
  height: 100vh;
  width: 100%;
  padding: 5%;
  gap: 124px;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginLeft {
    // flex: 1;

    .login_img {
      img {
        @media (min-width: 1199.98px) {
          height: 437px;
          width: 100%;
          object-fit: cover;
        }
        @media (max-width: 1199.98px) {
          max-width: 400px;
          width: 100%;
        }
      }
    }

    .loginLeftTitle {
      font-size: 3.5rem;
      font-weight: 800;
    }

    .loginLeftSubTitle {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  .loginRight {
    max-width: 490px;
    width: 100%;
    background: #ffffff;
    padding: 35px 40px 40px 40px;
    border-radius: 8px;

    @media (max-width: 1199.98px) {
      max-width: 450px;
    }

    .login-logo {
      margin: 0 0 40px 0;
      height: 40px;
      text-align: center;
    }
    input {
      height: 46px;
    }
  }
}
.login_label {
  color: #3C3C43;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.forgot {
  color: #3C3C43;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: end;
  margin-top: 8px;
  cursor: pointer;
}

.btn-seconday{
  font-weight: 400;
}


.modal-header{
  border-bottom: none !important;
}