.forgot {
  color: #3C3C43;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  margin-top: 8px;
  cursor: pointer;
}

.btn,
label {
  font-weight: 400;
}

.password-icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header {
  border-bottom: none !important;
}