<div>
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bold">Sales analytics</h1>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item fs-6">
                <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active fs-6">
                <a routerLink="{{ appRoute.salesAnalytics }}">Sales analytics</a>
            </li>
        </ul>
    </div>

    <div class="my-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label for="duration" class="form-label">Duration</label>
                        <select [formControl]="duration" id="duration" class="form-select"
                            (change)="getDuration(template)">
                            <option value="" disabled>-- Select an option --</option>
                            <option value="today">Today</option>
                            <option value="yesterday">Yesterday</option>
                            <option value="lastweek">Last week</option>
                            <option value="current">This month</option>
                            <option value="30">Last 30 days</option>
                            <option value="date-range">Date range</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card my-5">
            <div class="card-body">
                <div class="order-cards">
                    <div class="order-card p-4 border border-secondary rounded">
                        <div>
                            <div class="fs-5">{{orderStatusDetails?.accepted?.status}}</div>
                            <div class="fs-1 mt-2 text-primary">{{orderStatusDetails?.accepted?.orders}}</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center order-icon rounded">
                            <svg height="24px" width="24px" data-slot="icon" fill="none" stroke-width="1.5"
                                stroke="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M5.25 14.25h13.5m-13.5 0a3 3 0 0 1-3-3m3 3a3 3 0 1 0 0 6h13.5a3 3 0 1 0 0-6m-16.5-3a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3m-19.5 0a4.5 4.5 0 0 1 .9-2.7L5.737 5.1a3.375 3.375 0 0 1 2.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 0 1 .9 2.7m0 0a3 3 0 0 1-3 3m0 3h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Zm-3 6h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="order-card p-4 border border-secondary rounded">
                        <div>
                            <div class="fs-5">{{orderStatusDetails?.shipped?.status}}</div>
                            <div class="fs-1 mt-2 text-primary">{{orderStatusDetails?.shipped?.orders}}</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center order-icon rounded">
                            <svg height="24px" width="24px" data-slot="icon" fill="none" stroke-width="1.5"
                                stroke="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M5.25 14.25h13.5m-13.5 0a3 3 0 0 1-3-3m3 3a3 3 0 1 0 0 6h13.5a3 3 0 1 0 0-6m-16.5-3a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3m-19.5 0a4.5 4.5 0 0 1 .9-2.7L5.737 5.1a3.375 3.375 0 0 1 2.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 0 1 .9 2.7m0 0a3 3 0 0 1-3 3m0 3h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Zm-3 6h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="order-card p-4 border border-secondary rounded">
                        <div>
                            <div class="fs-5">{{orderStatusDetails?.cancelled?.status}}</div>
                            <div class="fs-1 mt-2 text-primary">{{orderStatusDetails?.cancelled?.orders}}</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center order-icon rounded">
                            <svg height="24px" width="24px" data-slot="icon" fill="none" stroke-width="1.5"
                                stroke="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M5.25 14.25h13.5m-13.5 0a3 3 0 0 1-3-3m3 3a3 3 0 1 0 0 6h13.5a3 3 0 1 0 0-6m-16.5-3a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3m-19.5 0a4.5 4.5 0 0 1 .9-2.7L5.737 5.1a3.375 3.375 0 0 1 2.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 0 1 .9 2.7m0 0a3 3 0 0 1-3 3m0 3h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Zm-3 6h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="order-card p-4 border border-secondary rounded">
                        <div>
                            <div class="fs-5">{{orderStatusDetails?.delivered?.status}}</div>
                            <div class="fs-1 mt-2 text-primary">{{orderStatusDetails?.delivered?.orders}}</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center order-icon rounded">
                            <svg height="24px" width="24px" data-slot="icon" fill="none" stroke-width="1.5"
                                stroke="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M5.25 14.25h13.5m-13.5 0a3 3 0 0 1-3-3m3 3a3 3 0 1 0 0 6h13.5a3 3 0 1 0 0-6m-16.5-3a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3m-19.5 0a4.5 4.5 0 0 1 .9-2.7L5.737 5.1a3.375 3.375 0 0 1 2.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 0 1 .9 2.7m0 0a3 3 0 0 1-3 3m0 3h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Zm-3 6h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="fs-5 mb-1">Total revenue</div>
                            <div class="fs-2 text-primary fw-bold">{{settings?.currency}}
                                {{revenueDetails?.totalRevenue}}
                            </div>
                        </div>
                        <div>
                            <apx-chart [series]="revenueChartOptions?.series" [chart]="revenueChartOptions?.chart"
                                [xaxis]="revenueChartOptions?.xaxis" [stroke]="revenueChartOptions?.stroke"
                                [dataLabels]="revenueChartOptions?.dataLabels" [yaxis]="revenueChartOptions?.yaxis"
                                [labels]="revenueChartOptions?.labels" [legend]="revenueChartOptions?.legend"
                                [title]="revenueChartOptions?.title" [subtitle]="revenueChartOptions?.subtitle">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="fs-5 mb-1">Total orders</div>
                            <div class="fs-2 text-primary fw-bold">
                                {{orderDetails?.totalOrders}}
                            </div>
                        </div>
                        <div>
                            <apx-chart [series]="orderChartOptions?.series" [chart]="orderChartOptions?.chart"
                                [xaxis]="orderChartOptions?.xaxis" [stroke]="orderChartOptions?.stroke"
                                [dataLabels]="orderChartOptions?.dataLabels" [yaxis]="orderChartOptions?.yaxis"
                                [labels]="orderChartOptions?.labels" [legend]="orderChartOptions?.legend"
                                [title]="orderChartOptions?.title" [subtitle]="orderChartOptions?.subtitle">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-5 card">
            <div class="card-body">
                <div class="my-2">
                    <div class="fs-4 fw-bold">Order Summary</div>
                    <p class="text-muted fs-6">Called off orders includes cancelled and returned orders</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-head-custom table-vertical-center table-head-bg table-borderless"
                        *ngIf="salesDetails.length > 0">
                        <thead class="common_thead">
                            <tr class="text-left fs-6 text-gray-400">
                                <th>&nbsp;</th>
                                <th>Date</th>
                                <th class="text-center">Orders</th>
                                <th>Sales</th>
                                <th class="text-center">Called Off Orders</th>
                                <th>Called Off Sales</th>
                                <th>ATV</th>
                            </tr>
                        </thead>
                        <tbody class="fs-6">
                            <ng-container *ngFor="let sale of salesDetails; let i =index">
                                <tr>
                                    <td>{{i + 1}}</td>
                                    <td>{{sale?.date}}</td>
                                    <td class="text-center">{{sale?.totalOrders}}</td>
                                    <td>{{sale?.totalOrdersValue}}</td>
                                    <td class="text-center">{{sale?.calledOffOrders}}</td>
                                    <td>{{sale?.calledOffOrdersValue}}</td>
                                    <td>{{sale?.averageTransactionValue}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="my-5 card">
            <div class="card-body">
                <div class="my-2">
                    <div class="fs-4 fw-bold">Order Status Summary</div>
                </div>
                <div class="table-responsive">
                    <table class="table table-head-custom table-vertical-center table-head-bg table-borderless"
                        *ngIf="salesDetails.length > 0">
                        <thead class="common_thead">
                            <tr class="text-left fs-6 text-gray-400">
                                <th>&nbsp;</th>
                                <th>Date</th>
                                <th>Delivered orders</th>
                                <th>Cancelled orders</th>
                                <th>Returned orders</th>
                            </tr>
                        </thead>
                        <tbody class="fs-6">
                            <ng-container *ngFor="let sale of salesDetails; let i =index">
                                <tr>
                                    <td>{{i + 1}}</td>
                                    <td>{{sale?.date}}</td>
                                    <td>{{sale?.deliveredOrdersValue}}</td>
                                    <td>{{sale?.cancelledOrdersValue}}</td>
                                    <td>{{sale?.returnedOrdersValue}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="fs-2 fw-bold pull-left">Select date range</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group mb-3">
            <input type="text" placeholder="Select date range" [formControl]="date" class="form-control"
                bsDaterangepicker [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'MM/DD/YYYY' }" [ngClass]="{
                    'is-invalid': (date.touched || isRangeSubmitted) && date.errors?.required}">
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-secondary me-1 p-2" (click)="modalRef?.hide()">Cancel</button>
            <button class="btn btn-primary ms-1 p-2" (click)="getDateRange()">Continue</button>
        </div>
    </div>
</ng-template>