.form-label,
.btn-secondary,
.btn-primary {
    font-weight: 400 !important;
}

.order-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;

    .order-card {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .order-icon {
            height: 2.5rem;
            width: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #00bdab;
        }
    }
}

.table-responsive {

    .common_thead {
        background: #20BDAB;

        th {
            font-weight: 600;
            font-size: 14px;
            line-height: 15px;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    }

    tr {
        border-bottom: 1px solid #E8E8E8;
    }

    tbody {
        tr {
            td {
                img {
                    cursor: pointer;
                }
            }
        }
    }
}