<div class="brand-page-container">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Shipping</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoutes.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoutes.shipping.SHIPPING_LIST }}">Shipping</a>
          </li>
        </ul>
        <button class="btn btn-primary cursor-pointer fs-5" color="primary"
          routerLink="{{ appRoutes.shipping.ADD_SHIPPING }}" style="width: 200px"> Add Shipping
        </button>
      </div>
    </div>
  </div>
