<div class="brand-page-container">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bold">Shipping</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex align-items-start justify-content-between">
        <ul class="breadcrumb fw-bold">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoutes.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoutes.shipping.SHIPPING_LIST }}">Shipping</a>
          </li>
        </ul>
        <button class="btn btn-primary cursor-pointer fs-5" color="primary"
          routerLink="{{ appRoutes.shipping.ADD_SHIPPING }}" style="width: 200px"> Add Shipping
        </button>
      </div>
    </div>
    <div class="shipping-card-container view-container col-12">
      <div class="shippingcards">
        <ng-container *ngFor="let shipping of data">
          <div class="shippingCard">
            <div class="shippingCard-top">
              <div class="shipping-image"><img src="{{base}}{{shipping?.file}}" alt="Image"></div>
              <div class="shipping-name cardItem">
                <span class="cardlabel">Name</span>
                <span class="cardvalue">{{shipping?.name}}</span>
              </div>
              <div class="shipping-time cardItem">
                <span class="cardlabel">Delivery days</span>
                <span class="cardvalue">{{shipping?.details?.days}}</span>
              </div>
            </div>
            <div class="shippingCard-bottom">
              <div class="shipping-url cardItem">
                <span class="cardlabel">Tracking URL</span>
                <span class="cardvalue">{{shipping?.details?.url ? shipping?.details?.url :
                  '-'}}</span>
              </div>
              <div class="shipping-transit cardItem">
                <span class="cardlabel">Transit Time</span>
                <span class="cardvalue fs-5">{{shipping?.details?.transitTime ? shipping?.details?.transitTime :
                  '-'}}</span>
              </div>
            </div>
            <div class="card-edit-btn shippingEditBtn">
              <button routerLink="{{ appRoutes.shipping.UPDATE_SHIPPING }}"
                [queryParams]="{ shipping: shipping?.refid }" class="fs-5 cursor-pointer text-darker">
                Edit
              </button>
            </div>
            <div class="shipppingStatus" [ngClass]="{'inactive': !shipping?.isActive}">
              {{shipping?.isActive ? 'Active' : 'Inactive'}}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>