<div class="taxRules-page-container">
    <!-- Page Header -->
    <div class="page-header">
      <div class="page-title">
        <h1 class="fw-bold fs-1">Tax Rules</h1>
      </div>
      <div class="row align-items-center">
        <div class="col d-flex flex-row justify-content-between">
          <ul class="breadcrumb">
            <li class="breadcrumb-item fs-5">
              <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active fs-5">
              <a routerLink="{{ appRoute.taxRules.TAX_RULES_LIST }}">Tax Rules</a>
            </li>
          </ul>
          <button
            class="btn btn-primary cursor-pointer fs-5"
            color="primary"
            routerLink="{{ appRoute.taxRules.ADD_TAX_RULES }}">
            <i class="bi bi-file-earmark-plus fs-2"></i> Add Tax Rules
          </button>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
  
    <!-- Table start -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive" *ngIf="displayTable">
              <table
                datatable
                [dtOptions]="dtOptions"
                class="table table-borderless table-center table-striped mb-0 datatable"
              >
                <thead class="thead">
                  <tr>
                    <th class="text-dark fs-4 col-md-2">Sl No.</th>
                    <th class="text-dark fs-4 col-md-2">Tax Type</th>
                    <th class="text-dark fs-4 col-md-2">Name</th>
                    <th class="text-dark fs-4 col-md-2">Rate ( % )</th>
                    <th class="text-dark fs-4 col-md-2">Status</th>
                    <th class="text-dark fs-4 col-md-2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let taxRules of taxRulesData; let i = index">
                      <td>
                        <h2 class="table-avatar fs-5">{{ i + 1 }}</h2>
                      </td>
                      <td>
                        <h2 class="table-avatar fs-5">{{ taxRules?.type }}</h2>
                      </td>
                      <td>
                        <h2 class="table-avatar fs-5">{{ taxRules?.name }}</h2>
                      </td>
                      <td>
                        <h2 class="table-avatar fs-5">{{ taxRules?.rate }}</h2>
                      </td>
                      <td>
                        <ng-container *ngIf="taxRules?.isActive == true">
                          <h2 class="table-avatar fs-5">Active</h2>
                        </ng-container>
                        <ng-container *ngIf="taxRules?.isActive == false">
                          <h2 class="table-avatar fs-5">Inactive</h2>
                        </ng-container>
                      </td>
                      <td>
                        <a
                          routerLink="{{ appRoute.taxRules.UPDATE_TAX_RULES }}"
                          [queryParams]="{taxRules: taxRules?.slug}"
                          class="fs-5 cursor-pointer text-darker"
                          ><i class="bi bi-pen"></i> Edit
                        </a>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  