<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fw-bolder fs-2">
          {{ editMode ? "Update Brand" : "Add Brand" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.brand.BRAND_LIST }}">Brands</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.brand.ADD_BRAND }}">
              {{editMode ? "Update Brand" : "Add Brand"}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-sm-12 fs-6">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="brandForm">
            <div class="row">
              <div class="col-12\">
                <h3 class="form-title"><span>Brand Details</span></h3>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="required fs-6 mb-3">Brand Name</label>
                  <input type="text" class="form-control fs-6" formControlName="name" placeholder="Brand name"
                    [ngClass]="{
                      'is-invalid':
                      (bf.name.touched || isSubmitted) &&
                      bf.name.errors?.required
                    }" />
                  <div class="fs-7 mt-3">A brand name is required and recommended to be unique.</div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Status</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="false">Inactive</option>
                    <option value="true">Active</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Featured Brand ?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isFeatured">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Brand Styles</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Background</label>
                  <input type="color" placeholder="Category name" class="form-control fs-6" style="height: 50px;"
                    formControlName="background" (change)="getColors('background', $event.target)" />
                  <span>{{background}}</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Border</label>
                  <input type="color" placeholder="Category name" class="form-control fs-6" formControlName="border"
                    style="height: 50px;" (change)="getColors('border', $event.target)" />
                  <span>{{border}}</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Border Radius</label>
                  <input type="number" placeholder="2" class="form-control fs-6" formControlName="radius" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Color</label>
                  <input type="color" placeholder="Category name" class="form-control fs-6" style="height: 50px;"
                    formControlName="color" (change)="getColors('color', $event.target)" />
                  <span>{{color}}</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Font Weight</label>
                  <input type="number" placeholder="400" class="form-control fs-6" formControlName="fontWeight" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Font Size ( in px )</label>
                  <input type="number" placeholder="14" class="form-control fs-6" formControlName="fontSize" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="col-12">
                  <h3 class="form-title required"><span>Media</span></h3>
                </div>
                <div class="form-group">
                  <div class="image-upload">
                    <input type="file" class="form-control fs-6" name="image" accept="image/*"
                      (change)="handleInputChange($event)" style="height: 100px;" required>
                    <div class="image-upload-div">
                      <div class="left-img">
                        <img src="../../../../../assets/media/svg/files/upload.svg" alt="" srcset="">
                      </div>
                      <div class="right-text d-flex flex-column">
                        <span class="right-text-title fs-4 fw-bolder">Click to upload</span>
                        <span class="right-text-note fs-7 text-gray-400" style="font-weight: 500">
                          Upload up to 1 file
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="loadImage">
                <div class="col-12 preview-section">
                  <div class="crop-image col-sm-6">
                    <image-cropper class="crop-section" [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true" [aspectRatio]="3 / 3" [cropperMaxWidth]="1600"
                      [cropperMaxHeight]="1600" format="png" (imageCropped)="imageCropped($event)"
                      (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                      (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                  </div>
                  <div class="uploads uploaded col-sm-6">
                    <div class="close-icon bg-dark">
                      <i class="bi bi-x-lg text-white" (click)="removeImage()"></i>
                    </div>
                    <img class="preview-img" id="previewImage" [src]="croppedImage">
                  </div>
                </div>
              </ng-container>
              <div class="col-12">
                <a routerLink="{{ appRoute.brand.BRAND_LIST}}" class=" btn btn-secondary btn-sm fs-6 text-dark"
                  style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button type="submit" class="btn btn-primary btn-sm fs-6" style="width: 200px">
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>