<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fw-bolder fs-2">
          {{ editMode ? "Update Brand" : "Add Brand" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.brand.BRAND_LIST }}">Brands</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.brand.ADD_BRAND }}">{{
              editMode ? "Update Brand" : "Add Brand"
              }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-6">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="brandForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Brand Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3"> Name</label>
                  <input type="text" class="form-control fs-6" formControlName="name" [ngClass]="{
                      'is-invalid':
                      (bf.name.touched || isSubmitted) &&
                      bf.name.errors?.required
                    }" />
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (bf.name.touched || isSubmitted) &&
                      bf.name.errors?.required
                    ">Name is required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Status</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="false">Inactive</option>
                    <option value="true">Active</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Featured Brand ?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isFeatured">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6"></div>
              <div class="col-sm-6">
                <div class="form-group col-sm-6">
                  <label class="fs-6">Brand Image</label>
                  <div class="preview-img">
                    <img class="preview-image" id="preview" />
                  </div>
                  <button type="button" class="upload-btn" onclick="document.getElementById('getFile').click()">
                    Upload File
                  </button>
                  <input class="form-control fs-6" type="file" id="getFile" style="display: none;" formControlName="file"
                    (change)="handleInputChange($event)" [ngClass]="{ 'is-invalid': (bf.file.touched || isSubmitted) &&
                    bf.file.errors?.required}"
                    onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])" />
                  <span class="text-danger error-msg fs-6" *ngIf="
                      (bf.file.touched || isSubmitted) &&
                      bf.file.errors?.required
                    ">Brand image is required</span>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary fs-4">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>