<div class="brand-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Return Lists</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex flex-row justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-5">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-5">
                  <a routerLink="{{ appRoute.returns.RETURN_LIST }}">Return Lists</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div style="display: none"> {{returnsData.length}}</div>
               <div class="table-responsive">
                  <table datatable [dtOptions]="dtOptions"
                     class="datatable table table-bdataless table-center table-row-dashed mb-0">
                     <thead class="thead mt-100">
                        <tr class="fs-7 text-uppercase">
                           <th class="text-gray-400 col-md-2">Sl No.</th>
                           <th class="text-gray-400 col-md-2">Order No.</th>
                           <th class="text-gray-400 col-md-2">Product Number</th>
                           <th class="text-gray-400 col-md-2">Quantity</th>
                           <th class="text-gray-400 col-md-2">Replace / Refund</th>
                           <th class="text-gray-400 col-md-2">Reason</th>
                           <th class="text-gray-400 col-md-2">Status</th>
                           <th class="text-gray-400 col-md-2">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let data of returnsData; let i = index">
                           <td>
                              <h2 class="table-avatar">{{ i + 1 }}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar">{{ data?.order }}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar">{{ data?.product }}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar">{{data?.quantity}}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar">{{(data?.window).toLowerCase()}}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar">{{data?.reason}}</h2>
                           </td>
                           <td>
                              <h2 class="table-avatar">
                                 <span class="return-status {{(data?.status).toLowerCase()}}">
                                    {{(data?.status).toLowerCase()}}
                                 </span>
                              </h2>
                           </td>
                           <td>
                              <a class="fs-5 h-100 cursor-pointer table-avatar text-gray-400er"
                                 routerLink="{{ appRoute.returns.UPDATE_RETURN }}"
                                 [queryParams]="{ order: data?.order }">
                                 <i class="bi bi-pen"></i> Edit
                              </a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>