<div>
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bold">Update Tax Class</h1>
    </div>
    <ul class="breadcrumb">
      <li class="breadcrumb-item fs-6">
        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
      </li>
      <li class="breadcrumb-item fs-6">
        <a routerLink="{{ appRoute.taxClass.TAX_CLASS_LIST }}">Tax Class</a>
      </li>
      <li class="breadcrumb-item active fs-6">
        <a routerLink="{{ appRoute.taxClass.UPDATE_TAX_CLASS }}" [queryParams]="{ tax: class }">
          Update Tax Class
        </a>
      </li>
    </ul>
  </div>

  <div class="row mt-4">
    <div class="card">
      <div class="card-body">

        <form [formGroup]="form">
          <div class="row">

            <div class="col-lg-6 mb-3">
              <div class="form-group">
                <label class="fs-6 mb-3 required">Name</label>
                <input type="text" class="form-control fs-6" formControlName="name"
                  [ngClass]="{'is-invalid': (formControls.name.touched || isSubmitted) && formControls.name.errors?.required}" />
              </div>
            </div>

            <div class="col-lg-6 mb-3">
              <div class="form-group">
                <label class="fs-6 mb-3">Description</label>
                <input type="text" class="form-control fs-6" formControlName="description" />
              </div>
            </div>

            <div class="col-lg-6 mb-3">
              <div class="form-group">
                <label class="fs-6 mb-3">Status</label>
                <select class="form-select mb-3 fs-6" formControlName="isActive">
                  <option value="" disabled>-- Select an option --</option>
                  <option value="true">Enabled</option>
                  <option value="false">Disabled</option>
                </select>
              </div>
            </div>

            <div class="col-lg-6 mb-3">
              <div class="form-group">
                <label class="fs-6 mb-3 required">Rules</label>
                <select class="form-select mb-3 fs-6" formControlName="rules" (change)="selectRule($event)"
                  [ngClass]="{'is-invalid': (formControls.rules.touched || isSubmitted) && formControls.rules.errors?.required}">
                  <option value="" disabled> -- Select an option -- </option>
                  <option *ngFor="let rule of ruleDetails" value={{rule?._id}}> {{ rule?.name }} </option>
                </select>
              </div>

              <div class="d-flex flex-wrap align-items-center justify-content-start gap-2" *ngIf="rules.length > 0">
                <ng-container *ngFor="let rule of rules; let i = index">
                  <div class="bg-secondary p-2 rounded d-flex align-items-center justify-content-between"
                    (click)="removeRule(i)">
                    <div class="fs-5">{{rule?.name}}</div>
                    <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="d-flex justify-content-end gap-2">
              <a routerLink="{{ appRoute.taxClass.TAX_CLASS_LIST}}" class="btn btn-secondary">
                Cancel
              </a>
              <button type="submit" class="btn btn-primary" (click)="update()">
                Save changes
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>