<div class="contact-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Store Customization</h1>
      </div>
   </div>

   <div class="row">
      <div class="col-lg-6">
         <div class="buttonsWrapper mt-2">
            <div class="buttonCard webApp" routerLink="/app/home-settings/web">
               <img src="assets/images/desktopMockup.png" alt="Image">
               <div class="fs-6">Web</div>
            </div>
            <div class="buttonCard mobileApp" routerLink="/app/home-settings/mobile">
               <img src="assets/images/mobileMockup.png" alt="Image">
               <div class="fs-6">Mobile</div>
            </div>
         </div>

      </div>
   </div>
</div>