.home-settings-container {
   width: 100%;

   .mobile-phone-container {
      height: 100%;
      width: 100%;
      margin: 3.125rem 0 0 0;
      position: relative;
      display: flex;
      justify-content: space-between;


      .mobile-app-dashboard-container {
         height: 100%;
         width: calc(100% - 300px);

         .data-card {

            .data-type {
               font-size: 1.2rem;
            }

            .data-title {
               font-size: 2rem;
               font-weight: 600;
               color: #000000;
               margin: 1.25rem 0;
            }

            .data-container {

               .data-products-card {
                  display: flex;
                  justify-content: start;
                  flex-wrap: wrap;
                  align-items: center;

                  .data-product-card {
                     width: calc(22% - 0.39375rem);
                     height: 280px;
                     background: #ffffff;
                     margin: 0.69375rem 0.69375rem 0 0;
                     padding: 0.625rem;
                     border-radius: 0.625rem;
                     box-shadow: 0 10px 25px rgb(0 0 0 / 5%);

                     .data-img {
                        width: 100%;
                        height: 80%;
                        margin: 0 0 0.625rem 0;

                        img {
                           width: 100%;
                           height: 100%;
                           border-radius: 0.3125rem;
                        }
                     }

                     .data-container-name {
                        font-size: 1.2rem;
                        font-weight: 500;
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                     }

                     .data-container-price {
                        display: flex;
                        align-items: center;
                        justify-content: start;

                        .data-container-actual-price {
                           margin: 0 0 0 0.625rem;
                           text-decoration: line-through;
                           text-decoration-color: #666666;
                           font-size: 1.1rem;
                        }

                        .data-container-offer-price {
                           font-weight: 600;
                           font-size: 1.3rem;
                        }
                     }
                  }
               }

               .data-banner {
                  height: 60%;
                  width: 100%;

                  .data-banner-card {
                     height: 100%;
                     width: 100%;

                     img {
                        height: 100%;
                        width: 100%;
                     }
                  }
               }

               .data-details-card {
                  display: flex;
                  justify-content: start;
                  flex-wrap: wrap;
                  align-items: center;

                  .data-deal-card {
                     width: 140px;
                     height: 200px;
                     margin: 0.69375rem 0.69375rem 0 0;
                     box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
                     background: #ffffff;
                     border-radius: 0.625rem;
                     padding: 0.625rem;

                     .data-detail-img {
                        width: 100%;
                        height: calc(100% - 60px);
                        margin: 0 0 1.25rem 0;

                        img {
                           height: 100%;
                           width: 100%;
                           border-radius: 0.625rem 0.624rem 0 0;
                        }
                     }

                     .data-detail-head {
                        width: 100%;
                        font-size: 1.2rem;
                        font-weight: 600;
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                     }


                     .data-detail-subhead {
                        width: 100%;
                        font-size: 1rem;
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                     }
                  }

                  .data-detail-card {
                     width: 120px;
                     height: 160px;
                     margin: 0.69375rem 0.69375rem 0 0;
                     box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
                     background: #ffffff;
                     border-radius: 0.625rem;

                     .data-detail-img {
                        width: 100%;
                        height: calc(100% - 40px);

                        img {
                           height: 100%;
                           width: 100%;
                           border-radius: 0.625rem 0.624rem 0 0;
                        }
                     }

                     .data-detail-name {
                        height: calc(100% - 120px);
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.2rem;
                     }
                  }
               }
            }
         }
      }

      img {
         height: 600px;
         width: 300px;
         margin: 0 2rem 0 0;
      }

      .content-box {
         position: absolute;
         top: 40px;
         bottom: 40px;
         left: 0;
         overflow-y: auto;
         height: 520px;
         width: 300px;
         padding: 0px 20px;

         .content-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 30px 0;
            border-bottom: 1px solid #efefef;

            .content-name {
               font-size: 1.2rem;
               margin: 0 20px 0 0;
            }

            .content-position {
               font-size: 1.2rem;
               font-weight: 600;
            }
         }
      }
   }

   .content-info {
      width: 100%;
      font-size: 1.1rem;
   }
}

.example-list {
   width: 500px;
   max-width: 100%;
   // border: solid 1px #ccc;
   min-height: 60px;
   display: block;
   background: white;
   border-radius: 4px;
   overflow: scroll;
}

.example-box {
   padding: 20px 10px;
   // border-bottom: solid 1px #ccc;
   background: #f6f6f6;
   color: rgba(0, 0, 0, 0.87);
   margin: 10px 0;
   border-radius: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   cursor: move;
   // background: white;
   font-size: 14px;
}

.cdk-drag-preview {
   box-sizing: border-box;
   border-radius: 10px;
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
   opacity: 0;
}

.cdk-drag-animating {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
   border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.save-btn-container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}