.buttonsWrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;

   .buttonCard {
      cursor: pointer;

      &.mobileApp {

         img {
            width: 100px;
         }
      }

      &.webApp {

         img {
            width: 200px;
         }
      }
   }
}