<div class="brand-page-container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bold fs-1">Tax</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.tax.TAX_LIST }}">Tax</a>
          </li>
        </ul>
        <button
          class="btn btn-primary cursor-pointer fs-5"
          color="primary"
          routerLink="{{ appRoute.brand.ADD_BRAND }}"
        >
        <i class="bi bi-file-earmark-plus fs-2"></i> Add Tax
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="table table-borderless table-center table-striped mb-0 datatable"
            >
              <thead class="thead">
                <tr>
                  <th class="text-dark fs-4 col-md-2">Sl No.</th>
                  <th class="text-dark fs-4 col-md-2">Tax</th>
                  <th class="text-dark fs-4 col-md-2">Description</th>
                  <th class="text-dark fs-4 col-md-2">Status</th>
                  <th class="text-dark fs-4 col-md-2">Action</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
