<div class="card-body">
  <div class="mb-4 d-flex justify-content-end align-items-center">
    <div class="form-group">
      <label class="fs-6 mb-1">Duration</label>
      <select class="form-select fs-6 pt-1 pb-1" name="type" id="type" [formControl]="revenueType"
        (ngModelChange)="getMonthlyRevenue()">
        <option value="3">3 months</option>
        <option value="6">6 months</option>
        <option value="12">1 year</option>
      </select>
    </div>
  </div>

  <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart" [xaxis]="chartOptions?.xaxis"
    [stroke]="chartOptions?.stroke" [dataLabels]="chartOptions?.dataLabels" [yaxis]="chartOptions?.yaxis"
    [labels]="chartOptions?.labels" [legend]="chartOptions?.legend" [title]="chartOptions?.title"
    [subtitle]="chartOptions?.subtitle"></apx-chart>
</div>