<div>
    <div *ngFor="let field of fields; let i = index" class="mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center gap-2 text-muted">
                    <div>
                        <svg height="20" width="20" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z">
                            </path>
                        </svg>
                    </div>
                    <div class="fs-5 ">{{formatIndex(i + 1)}} Field - <span class="text-muted fs-6">{{formatWord(field.fieldMap)}}</span></div>
                </div>

                <div class="row align-items-end mt-3 g-6">
                    <div class="col-sm-12 col-lg-8">
                        <div class="form-group">
                            <label for="fieldLabel{{i}}" class="fs-6 mb-3">Field Label</label>
                            <input id="fieldLabel{{i}}" class="form-control" type="text" [value]="field.title"
                                placeholder="Enter field label" (input)="onLabelChange($event, i)">
                        </div>
                    </div>
                    <div class="col-6 col-lg-2">
                        <div class="form-group d-flex align-items-center gap-2">
                            <label class="fs-6">Required Field</label>
                            <app-switch [switchId]="'isRequired' + i" [isToggledProps]="field.isRequired"
                                (switchToggled)="onSwitchChange($event, i, 'isRequired')">
                            </app-switch>
                        </div>
                    </div>
                    <div class="col-6 col-lg-2">
                        <div class="form-group d-flex align-items-center gap-2">
                            <label class="fs-6">Field Visibility</label>
                            <app-switch [switchId]="'isVisible' + i" [isToggledProps]="field.isVisible"
                                (switchToggled)="onSwitchChange($event, i, 'isVisible')">
                            </app-switch>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>