<div>
  <div class="page-header d-flex flex-row justify-content-between">
    <div>
      <div class="page-title">
        <h1 class="fw-bold">Update order</h1>
      </div>
      <ul class="breadcrumb">
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item fs-6">
          <a routerLink="{{ appRoute.orders.ORDERS_LIST }}">Orders</a>
        </li>
        <li class="breadcrumb-item active fs-6">
          <a routerLink="{{ appRoute.orders.UPDATE_ORDER_LIST }}" [queryParams]="{'order': slug}">Update order</a>
        </li>
      </ul>
    </div>
    <div>
      <div class="d-flex align-items-center justify-content-end gap-3" [ngClass]="{'pe-none opacity-75': isCancelled}">

        <div *ngIf="isCancelEligible" class="btn border bg-white text-danger border-danger"
          (click)="open(confirmation)">
          Cancel Order
        </div>

        <button class="btn btn-primary" (click)="acceptOrderPayment()"
          *ngIf="order?.paymentMethod == 'ONLINE' && order?.paymentStatus == 'PENDING'">
          Accept payment
          <svg height="18" width="18" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </button>

        <a class="btn border bg-white text-primary border-primary" *ngIf="isPackingSlipAvailable"
          (click)="getPackingSlipSignedUrl(orderNumber)">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M19.5 8H17V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v9c0 1.1.9 2 2 2 0 1.66 1.34 3 3 3s3-1.34 3-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3h1c.55 0 1-.45 1-1v-3.33c0-.43-.14-.85-.4-1.2L20.3 8.4c-.19-.25-.49-.4-.8-.4zM6 18c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm13.5-8.5l1.96 2.5H17V9.5h2.5zM18 18c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z" />
          </svg>
          Packing Slip
        </a>

        <button class="btn btn-primary" (click)="getInvoiceSignedUrl(orderNumber)">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M19 8H5c-1.66 0-3 1.34-3 3v4c0 1.1.9 2 2 2h2v2c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2v-2h2c1.1 0 2-.9 2-2v-4c0-1.66-1.34-3-3-3zm-4 11H9c-.55 0-1-.45-1-1v-4h8v4c0 .55-.45 1-1 1zm4-7c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-2-9H7c-.55 0-1 .45-1 1v2c0 .55.45 1 1 1h10c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1z" />
          </svg>
          Generate Invoice
        </button>
      </div>
    </div>
  </div>

  <div class="position-relative mt-4">

    <div class="alert alert-warning fs-6"
      *ngIf="order?.paymentMethod == 'ONLINE' && !isCancelled && order?.paymentStatus == 'PENDING'">
      Please proceed with the payment to facilitate the processing of the order request
    </div>

    <div *ngIf="isCancelled">
      <div class="alert mb-4 alert-danger">
        <div class="fs-3 fw-bold">{{orderNumber}} Order has been cancelled</div>
        <div class="my-3" *ngIf="order?.cancel?.reason">
          <div class="fs-6">Reason for cancellation :</div>
          <div class="fs-5">{{order?.cancel?.reason}}</div>
        </div>
        <div class="fs-6" *ngIf="order?.cancel?.date">
          Cancelled on
          {{getLocaleDateFormat(order?.cancel?.date)}}
          {{getLocaleTimeFormat(order?.cancel?.date)}}
        </div>
      </div>
    </div>

    <div class="row" [ngClass]="{'pe-none opacity-75': isCancelled}">
      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <div class="fs-3 fw-bold">
              Order Details ({{orderNumber}})
              <span class="ms-2 alert alert-success fs-6 fw-normal p-1 m-0">
                {{orderStatus}}
              </span>
            </div>
            <div class="mt-4">
              <table class="table table-bordered fs-5">
                <tr>
                  <th class="p-2 text-muted fw-bold">Date</th>
                  <td class="p-2">
                    {{getLocaleDateFormat(order?.orderDate)}},
                    {{getLocaleTimeFormat(order?.orderDate)}}
                  </td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Method</th>
                  <td class="p-2">
                    {{order?.paymentMethod}}
                  </td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Gateway</th>
                  <td class="p-2">
                    {{order?.paymentGateway}}
                  </td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Gateway Status</th>
                  <td class="p-2">
                    {{order?.gatewayStatus}}
                  </td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Status</th>
                  <td class="p-2">
                    {{order?.paymentStatus}}
                  </td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Invoice Reference</th>
                  <td class="p-2">
                    {{order?.invoiceNo}}
                  </td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Source</th>
                  <td class="p-2">
                    {{order?.source}}
                  </td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Customer Type</th>
                  <td class="p-2">
                    {{order?.customerType}}
                  </td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Order Total</th>
                  <td class="p-2">
                    {{settings?.currency}} {{order?.total}}
                  </td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Delivery</th>
                  <td class="p-2">
                    {{order?.deliveryType == '1' ? 'Click and collect' : 'Home delivery' }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <div class="fs-3 fw-bold">
              Order Amount Details
            </div>
            <div class="mt-4">
              <table class="table table-bordered fs-5">
                <tr>
                  <th class="p-2 text-muted fw-bold">Price Without Tax</th>
                  <td>{{settings?.currency}} {{order?.priceBeforeTax}}</td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Tax</th>
                  <td>{{settings?.currency}} {{order?.tax}}</td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Shipping Charge</th>
                  <td>{{settings?.currency}} {{order?.shippingCost}}</td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">COD</th>
                  <td>{{settings?.currency}} {{order?.codCost}}</td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Additional Charge</th>
                  <td>{{settings?.currency}} {{order?.additionalCharge}}</td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Discount</th>
                  <td class="text-success">{{settings?.currency}} {{order?.discount}}</td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Credit</th>
                  <td>{{settings?.currency}} {{order?.credit?.amount}}</td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Amount Pending</th>
                  <td>{{settings?.currency}} {{order?.amountPending}}</td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Cancelled Items</th>
                  <td class="text-danger">- {{settings?.currency}} {{order?.cancelledAmount}}</td>
                </tr>
                <tr>
                  <th class="p-2 text-muted fw-bold">Total</th>
                  <td>{{settings?.currency}} {{order?.total}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="d-flex gap-3 h-100 justify-content-between flex-column">
          <div class="card">
            <div class="card-body">
              <div class="fs-3 fw-bold">Customer Address</div>
              <div class="mt-4">
                <table class="table table-bordered fs-5">
                  <tr>
                    <th class="p-2 text-muted fw-bold">Name</th>
                    <td class="p-2">{{order?.customerId?.name || order?.guestId?.name}}</td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Mobile</th>
                    <td class="p-2">{{order?.customerId?.mobile || order?.guestId?.mobile}}</td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Email</th>
                    <td class="p-2">{{order?.customerId?.email || order?.guestId?.email}}</td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Address</th>
                    <td class="p-2">
                      {{order?.address?.firstlane}}, {{order?.address?.secondlane}},
                      {{order?.address?.area}}, {{order?.address?.landmark}},
                      {{order?.address?.city}}, {{order?.address?.state}},
                      {{order?.address?.pincode}}
                    </td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Location</th>
                    <td class="p-2">
                      <ng-container
                        *ngIf="order?.address?.coordinates?.latitude && order?.address?.coordinates?.longitude">
                        <div class="d-flex justify-content-between">
                          <a href="https://www.google.com/maps/search/?api=1&query={{order?.address?.coordinates?.latitude}},{{order?.address?.coordinates?.longitude}}"
                            target="_blank" class="text-gray-600 text-hover-primary me-2">
                            Open Location in Map
                          </a>
                          <!-- Copy Button -->
                          <button class="btn btn-light btn-sm d-inline-flex align-items-center gap-1"
                            (click)="copyCoordinates()">
                            <svg width="12px" height="12px" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M16 4C16.93 4 17.395 4 17.7765 4.10222C18.8117 4.37962 19.6204 5.18827 19.8978 6.22354C20 6.60504 20 7.07003 20 8V17.2C20 18.8802 20 19.7202 19.673 20.362C19.3854 20.9265 18.9265 21.3854 18.362 21.673C17.7202 22 16.8802 22 15.2 22H8.8C7.11984 22 6.27976 22 5.63803 21.673C5.07354 21.3854 4.6146 20.9265 4.32698 20.362C4 19.7202 4 18.8802 4 17.2V8C4 7.07003 4 6.60504 4.10222 6.22354C4.37962 5.18827 5.18827 4.37962 6.22354 4.10222C6.60504 4 7.07003 4 8 4M9.6 6H14.4C14.9601 6 15.2401 6 15.454 5.89101C15.6422 5.79513 15.7951 5.64215 15.891 5.45399C16 5.24008 16 4.96005 16 4.4V3.6C16 3.03995 16 2.75992 15.891 2.54601C15.7951 2.35785 15.6422 2.20487 15.454 2.10899C15.2401 2 14.9601 2 14.4 2H9.6C9.03995 2 8.75992 2 8.54601 2.10899C8.35785 2.20487 8.20487 2.35785 8.10899 2.54601C8 2.75992 8 3.03995 8 3.6V4.4C8 4.96005 8 5.24008 8.10899 5.45399C8.20487 5.64215 8.35785 5.79513 8.54601 5.89101C8.75992 6 9.03995 6 9.6 6Z"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                          </button>
                        </div>
                      </ng-container>
                    </td>
                  </tr>

                  <tr>
                    <th class="p-2 text-muted fw-bold">Coordinates</th>
                    <td class="p-2">
                      {{order?.address?.coordinates?.latitude || '-'}}
                      {{order?.address?.coordinates?.longitude}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="fs-3 fw-bold">Shipping Address</div>
              <div class="mt-4">
                <table class="table table-bordered fs-5">
                  <tr>
                    <th class="p-2 text-muted fw-bold">Name</th>
                    <td class="p-2">{{order?.address?.name || order?.guestId?.name}}</td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Mobile</th>
                    <td class="p-2">{{order?.address?.mobile || order?.guestId?.mobile}}</td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Email</th>
                    <td class="p-2">{{order?.customerId?.email || order?.guestId?.email}}</td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Address</th>
                    <td class="p-2">
                      {{order?.address?.firstlane}}, {{order?.address?.secondlane}},
                      {{order?.address?.area}}, {{order?.address?.landmark}},
                      {{order?.address?.city}}, {{order?.address?.state}},
                      {{order?.address?.pincode}}
                    </td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Location</th>
                    <td class="p-2">{{order?.address?.formattedAddress || '-'}}</td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Coordinates</th>
                    <td class="p-2">
                      {{order?.address?.coordinates?.latitude || '-'}}
                      {{order?.address?.coordinates?.longitude}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="card" *ngIf="settings && settings.isPickUp == true">
            <div class="card-body">
              <div class="fs-3 fw-bold">Branch Details</div>
              <div class="mt-4">
                <table class="table table-bordered fs-5">
                  <tr>
                    <th class="p-2">Date</th>
                    <td class="p-2">{{order?.deliveryDate && getLocaleDateFormat(order?.deliveryDate)}}</td>
                  </tr>
                  <tr>
                    <th class="p-2">Store</th>
                    <td class="p-2">
                      {{ order?.clickPoint ? order?.clickPoint?.address?.city :
                      order?.pickUpLocation ? order?.pickUpLocation?.name : '-'}}
                    </td>
                  </tr>
                  <tr>
                    <th class="p-2">Delivery slot</th>
                    <td class="p-2">
                      {{order?.deliverySlot ? order?.deliverySlot?.from + ' to ' + order?.deliverySlot?.to : '-'}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="d-flex gap-3 flex-column h-100 justify-content-between">
          <div class="card h-50">
            <div class="card-body d-flex flex-column">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="fs-3 fw-bold mb-3">Order Notes</div>
                <div>
                  <button class="btn btn-secondary p-2" (click)="openNotes(notesTemplate)">View Notes</button>
                </div>
              </div>

              <div class="form-group">
                <textarea [formControl]="orderNote" (click)="isNoteDetected = true" (keyup.enter)="saveNote()" rows="5"
                  class="form-control" placeholder="Add a new note"></textarea>
              </div>
              <div class="d-flex justify-content-end mt-2">
                <button class="btn btn-primary" (click)="saveNote()" *ngIf="isNoteDetected"
                  [disabled]="!orderNote.value">
                  Save Note
                </button>
              </div>
            </div>
          </div>
          <div class="card h-50">
            <div class="card-body">
              <div class="fs-3 fw-bold mb-3">Shipping Notes</div>
              <div class="form-group">
                <textarea [value]="order?.shippingNote" readonly="true" rows="5" draggable="false"
                  class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div [ngClass]="{'cancelledWrapper': isCancelled}">
        <div>
          <div class="card">
            <div class="card-body">
              <div class="fs-3 fw-bold">
                Product Details
              </div>
              <div class="products my-2">
                <div class="row mb-4">
                  <div class="col-lg-1 d-flex align-items-center">
                    <div class="checkbox"
                      [ngClass]="{'checked': bulkProducts.length == order?.products?.length, 'pe-none' : order?.paymentMethod == 'ONLINE' && order?.paymentStatus == 'PENDING'}"
                      (click)="toggleBulkProduct()"></div>
                  </div>
                  <div class="col-lg-7"> </div>
                  <div class="col-lg-4">
                    <div class="d-flex align-items-center justify-content-end gap-2">
                      <label for="bulkStatus" class="fs-6">Status :</label>
                      <select id="bulkStatus" [formControl]="bulkOrderStatus"
                        [ngClass]="{'pe-none' : order?.paymentMethod == 'ONLINE' && order?.paymentStatus == 'PENDING' || bulkProducts.length == 0}"
                        class="form-select w-50 fs-6" (change)="updateBulkProduct($event)">
                        <option value="" disabled>-- Select a status --</option>
                        <option *ngFor="let status of bulkStatus" value={{status.value}}>{{status.key}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <ng-container *ngFor="let product of order?.products; let i = index">
                  <div class="row mb-8 pb-8 border-secondary"
                    [ngClass]="{'pe-none opacity-50': product?.currentStatus?.status == 'Cancelled', 'border-bottom': i < order?.products?.length - 1}">
                    <div class="col-lg-1">
                      <div class="checkbox"
                        [ngClass]="{'checked': bulkProducts.includes(product), 'pe-none' : order?.paymentMethod == 'ONLINE' && order?.paymentStatus == 'PENDING'}"
                        (click)="toggleBulkProduct(product)"> </div>
                    </div>
                    <div class="col-lg-11">
                      <div class="d-flex flex-wrap align-items-start justify-content-between">
                        <div class="w-50 d-flex fs-6 gap-3 align-items-start justify-content-start">
                          <div class="productThumbnail">
                            <img class="border border-secondary rounded" src="{{base}}{{product?.productId?.thumbnail}}"
                              alt="{{product?.productId?.name}}" onerror="this.src =  'assets/images/default.png'">
                          </div>
                          <div>
                            <div>{{product?.productId?.name}}</div>
                            <div class="d-flex align-items-center justify-content-start gap-2"
                              *ngIf="product?.productId?.attributes?.length > 0">
                              <div *ngFor="let attribute of product?.productId?.attributes">
                                {{attribute?.title}} : {{attribute?.value}}
                              </div>
                            </div>
                            <div class="my-1 w-max">
                              <div class="p-2 rounded productStatusAlert">
                                {{product?.currentStatus?.status}},
                                {{getLocaleDateFormat(product?.currentStatus?.date)}}
                                {{getLocaleTimeFormat(product?.currentStatus?.date)}}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="w-50">
                          <div class="mb-2 d-flex align-items-center fs-6 justify-content-start">
                            <div class="w-25">SKU:</div>
                            <div class="fw-bold">{{product?.productId?.sku}}</div>
                          </div>
                          <div class="mb-2 d-flex fs-6 align-items-center justify-content-start">
                            <div class="w-25">Qty:</div>
                            <div class="fw-bold">{{product?.quantity}}</div>
                          </div>
                          <div class="mb-2 d-flex fs-6 align-items-center justify-content-start">
                            <div class="w-25">Price:</div>
                            <div class="fw-bold">{{settings?.currency}} {{product?.pricePerUnit}}</div>
                          </div>
                          <div class="mb-2 d-flex fs-6 align-items-center justify-content-start">
                            <div class="w-25">Total:</div>
                            <div class="fw-bold">{{settings?.currency}} {{product?.total}}</div>
                          </div>
                          <div class="mb-2 d-flex fs-6 align-items-center justify-content-start">
                            <div class="w-25">Status:</div>
                            <div class="w-75"
                              [ngClass]="{'pe-none' : order?.paymentMethod == 'ONLINE' && order?.paymentStatus == 'PENDING'}">
                              <select class="form-select w-50 p-2" [formControl]="productOrderStatus"
                                (click)="getStatusList(product.currentStatus.status)"
                                (change)="updateOrderStatus($event, product?.productId?._id)">
                                <option value="" disabled>-- Select a option --</option>
                                <option value="CANCELLED">Cancelled</option>
                                <option value="FAILED">Failed</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="w-100 mt-4">
                          <div class="historySwiper">
                            <swiper [config]="swiperConfig">
                              <ng-container *ngFor="let history of product?.history; let i = index">
                                <ng-template swiperSlide>
                                  <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p>
                                      {{history?.status}}
                                      <br>
                                      <span>{{getLocaleDateFormat(history?.date)}}</span>
                                      <br>
                                      <span>{{getLocaleTimeFormat(history?.date)}}</span>
                                    </p>
                                  </div>
                                </ng-template>
                              </ng-container>
                            </swiper>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="card mt-3"
            *ngIf="order && order.paymentMethod == 'ONLINE' && order?.paymentGateway != 'network-international-tokenized'">
            <div class="card-body">
              <div class="fs-3 mb-2 fw-bold">
                Payment Details
              </div>
              <form [formGroup]="form">
                <div class="row">
                  <div class="col-lg-6 mb-3">
                    <div class="form-group">
                      <label for="orderId" class="form-label mb-3">Payment Order</label>
                      <input type="text" placeholder="Order ID" class="form-control" formControlName="orderId">
                    </div>
                  </div>
                  <div class="col-lg-6 mb-3">
                    <div class="form-group">
                      <label for="orderId" class="form-label mb-3">Transaction Reference</label>
                      <input type="text" placeholder="Transaction Reference ID" class="form-control"
                        formControlName="paymentId">
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="orderId" class="form-label mb-3">Payment Message</label>
                    <input type="text" placeholder="Payment Message" class="form-control"
                      formControlName="paymentMessage">
                  </div>
                  <div class="mb-3" *ngIf="form.get('transactionTime')?.value">
                    <label for="transactionTime" class="form-label mb-3">Transaction Time</label>
                    <input type="text" id="transactionTime" readonly class="form-control"
                      value="{{getLocalDate(form.get('transactionTime')?.value)}}">
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card mt-3"
            *ngIf="order && order.paymentMethod == 'ONLINE' && order.paymentGateway == 'network-international-tokenized'">
            <div class="card-body">
              <div class="fs-3 mb-2 fw-bold">Payment Events</div>
              <div class="my-8" *ngFor="let tokenizedItem of order?.tokenizedDetails; let i = index">

                <table class="table table-bordered fs-5">
                  <tr>
                    <th class="p-2 text-muted fw-bold">Date</th>
                    <td>
                      {{ getLocaleDateFormat(tokenizedItem.updateDateTime) }}
                      {{ getLocaleTimeFormat(tokenizedItem.updateDateTime) }}
                    </td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Response</th>
                    <td>{{tokenizedItem.authResponse.resultMessage}}</td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Reference</th>
                    <td>{{tokenizedItem.orderReference}}</td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Status</th>
                    <td>{{tokenizedItem.state}}</td>
                  </tr>
                  <tr>
                    <th class="p-2 text-muted fw-bold">Amount</th>
                    <td>{{tokenizedItem.amount.currencyCode}} {{tokenizedItem.amount.value / 100}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #confirmation>
    <div class="modal-body">
      <div class="fs-5 mb-6">Do you want to cancel this order?</div>
      <div class="form-group mb-4 mt-4">
        <textarea type="text" cols="30" rows="5" autocomplete="off" [formControl]="reason"
          placeholder="Type reason for cancellation" class="form-control">
        </textarea>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <button type="button" class="btn btn-default p-2" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary p-2" (click)="decline()">No</button>
      </div>
    </div>
  </ng-template>

  <ng-template #notesTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Notes</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="noteModalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="order?.orderNote?.length > 0" class="notes-list">
        <div *ngFor="let note of order?.orderNote" class="note-item p-3 mb-3 rounded border">
          <p class="text-dark mb-4">{{ note.message }}</p>
          <div class="text-primary fw-bold fs-5">{{ note.editedBy }}</div>
          <div>{{ getLocaleDateString(note.timeAndDate) }}</div>
        </div>
      </div>
      <div *ngIf="!order?.orderNote?.length" class="text-muted text-center">
        <app-no-results></app-no-results>
      </div>
    </div>
  </ng-template>