.hrLine {
    height: 1px;
    width: 100%;
    background: #f2f2f2;
}

.printButton {
    height: 50px;
    width: 50px;
    background: #f2f2f2;
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.orderHistoryCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 40px 0;

    .orderHistoryItem {
        position: relative;

        .historyStatus {
            font-size: 1.4rem;
            font-weight: 600;
            margin: 0 0 10px 0;
            display: flex;
            align-items: center;

            .historyNumber {
                height: 30px;
                width: 30px;
                background: #999999;
                border-radius: 15px;
                color: #ffffff;
                margin: 0 10px 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .historyBy {
            color: #999999;
            font-weight: 600;
            margin: 10px 0;

            .userDetails {
                display: flex;
                flex-direction: column;
                margin: 0 10px 0 0;
                background: #f2f2f2;
                padding: 10px;
                font-size: 1.3rem;
                border-radius: 10px;
                color: #111111;
            }
        }
    }
}

.page-title {
    margin: 0;
}

td {
    padding: 5px 0 !important;
}

.customerDetails {
    display: flex;
    align-items: center;
    justify-content: start;
}

.orderTopContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    .card-body {
        padding: 0 2rem 0.8rem 2rem;

        .text-muted {
            font-weight: 600;
        }
    }
}