<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-6">
        <h5 class="page-title fw-bolder fs-2">
          {{ editMode ? "Update Order" : "Add Order" }}
        </h5>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.orders.ORDERS_LIST}}">Orders</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.orders.UPDATE_ORDER_LIST }}" [queryParams]="{ order: slug }">
              {{ editMode ? "Update Order" : "Add Order" }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="topButtons d-flex align-items-center justify-content-end" [ngClass]="{'cancelledWrapper': isCancelled}">
    <div class="position-relative btns-sx" *ngIf="isCancelEligible">
      <div class="printButton bg-danger text-white" (click)="open(confirmation)">
        Cancel Order
      </div>
    </div>
    <div class="position-relative btns-sx">
      <div class="printButton bg-secondary">
        <img src="../../../../../../assets/icons/slip.svg" alt="icon" class="iconImage">
        Store Slip
      </div>
      <div class="toolTip">
        Generate store slip
      </div>
    </div>
    <div class="position-relative btns-sx">
      <a class="printButton bg-secondary text-dark" href="/packing-slip?order={{orderNumber?.split('#')[1]}}"
        target="_blank">
        <img src="../../../../../../assets/icons/shippingTruck.svg" alt="icon" class="iconImage">
        Packing Slip
      </a>
      <div class="toolTip">
        Generate packing slip
      </div>
    </div>
    <div class="position-relative btns-sx" *ngIf="isInvoiceAvailable">
      <a class="printButton bg-primary text-white" href="/generate-invoice?order={{orderNumber?.split('#')[1]}}"
        target="_blank">
        <img src="../../../../../../assets/icons/printer.svg" alt="icon" class="iconImage">
        Generate Invoice
      </a>
      <div class="toolTip">
        Generate Invoice
      </div>
    </div>
  </div>

  <div class="pageWrapper mt-4">
    <div class="cancelledOrderDetails shadow" *ngIf="isCancelled">
      <div class="alert m-0 alert-danger">
        <div class="fs-3 mb-3 fw-bolder">Unfortunately this order has been cancelled</div>
        <p>Reason for cancellation : {{order?.cancel?.reason ? order?.cancel?.reason : 'Not available'}}</p>
        <p>Cancelled on {{order?.cancel?.date}}</p>
      </div>
    </div>
    <div [ngClass]="{'cancelledWrapper': isCancelled}">
      <div class="orderDetailsWrapper">
        <div class="card">
          <div class="card-body">
            <h3 class="fs-3 text-dark fw-bolder">
              Order Details ({{orderNumber}})
              <span class="ms-2 alert alert-success fs-6 fw-normal p-1 m-0">
                {{orderStatus}}
              </span>
            </h3>

            <div class="itemDetails">
              <div class="itemTitle">Order Placed on</div>
              <div class="itemResponse">{{order?.orderDate}}, {{order?.orderTime}}</div>
            </div>
            <div class="itemDetails">
              <div class="itemTitle">Payment Method</div>
              <div class="itemResponse">{{order?.paymentMethod}}</div>
            </div>
            <div class="itemDetails" *ngIf="order?.paymentMethod == 'ONLINE'">
              <div class="itemTitle">Gateway Status</div>
              <div class="itemResponse">{{order?.gatewayStatus}}</div>
            </div>
            <div class="itemDetails">
              <div class="itemTitle">Payment Status</div>
              <div class="itemResponse">{{order?.paymentStatus}}</div>
            </div>
            <div class="itemDetails">
              <div class="itemTitle">Invoice Reference</div>
              <div class="itemResponse">{{order?.invoiceNo}}</div>
            </div>
            <div class="itemDetails">
              <div class="itemTitle">Order Source</div>
              <div class="itemResponse">{{order?.source}}
              </div>
            </div>
            <div class="itemDetails">
              <div class="itemTitle">Order Total</div>
              <div class="itemResponse">{{settings?.currency}} {{order?.total}}</div>
            </div>
            <div class="itemDetails">
              <div class="itemTitle">Shipping Method</div>
              <div class="itemResponse">{{order?.shippingMethod ? order?.shippingMethod : '-'}}</div>
            </div>
            <div class="itemDetails">
              <div class="itemTitle">Delivery</div>
              <div class="itemResponse alert alert-success fs-6 fw-normal p-1 m-0">{{order?.deliveryType == '1' ? 'Click
                and collect' : 'Home delivery' }}</div>
            </div>
            <div class="itemDetails">
              <div class="itemTitle">Delivery slot</div>
              <div class="itemResponse">{{order?.deliverySlot ? order?.deliverySlot?.from + ' to ' +
                order?.deliverySlot?.to : '-'}}</div>
            </div>
          </div>
        </div>

        <div class="card addressCard">
          <div class="card-body">
            <div class="mb-4">
              <h3 class="fs-3 text-dark fw-bolder">
                <i class="bi bi-house fs-3 text-dark"></i>
                Customer Address
              </h3>
              <div class="customerDetails fs-5 fw-bolder">
                {{order?.customerId?.name}},
                {{order?.customerId?.mobile}},
                {{order?.customerId?.email}}
              </div>
              <div>
                {{order?.address?.firstlane}},
                {{order?.address?.secondlane}},
                {{order?.address?.area}}, {{order?.address?.landmark}},
                {{order?.address?.city}}, {{order?.address?.state}},
                {{order?.address?.pincode}}
              </div>
            </div>

            <div class="mt-4 mb-4">
              <h3 class="fs-3 text-dark fw-bolder">
                <i class="bi bi-truck fs-3 text-dark"></i> Shipping Address
              </h3>
              <div class="customerDetails fs-5 fw-bolder">
                {{order?.customerId?.name}},
                {{order?.customerId?.mobile}},
                {{order?.customerId?.email}}
              </div>
              <div>
                {{order?.address?.firstlane}},
                {{order?.address?.secondlane}},
                {{order?.address?.area}}, {{order?.address?.landmark}},
                {{order?.address?.city}}, {{order?.address?.state}},
                {{order?.address?.pincode}}
              </div>
            </div>

            <div class="mt-4 orderDeliveryWrapper">
              <h3 class="fw-bolder fs-3 text-dark"><i class="bi bi-truck fs-3 text-dark"></i> Click and Collect Details
              </h3>
              <div class="detailsWrapper">
                <div class=" deliveryDate mb-1 delivery">
                  <span class="title fs-6">Date</span>
                  <span class="fs-6">{{order?.deliveryDate ? order?.deliveryDate : 'Not avaialble'}}</span>
                </div>
                <div class="deliveryTime mb-1 delivery">
                  <span class="title fs-6">Time</span>
                  <span class="fs-6">
                    {{order?.deliveryTime?.from ?
                    order?.deliveryTime?.from + ' -' + order?.deliveryTime?.to : 'Not available'}}
                  </span>
                </div>
                <div class="deliveryTime mb-1 delivery">
                  <span class="title fs-6">Store</span>
                  <span class="fs-6">
                    {{order?.clickPoint ? order?.clickPoint?.name : 'Not available'}}
                  </span>
                </div>
              </div>

              <div class="alert alert-info mt-3" *ngIf="order?.shippingNote">
                <span class="title fs-6">Shipping Note :</span>
                <span class="fs-6">{{order?.shippingNote}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h3 class="fs-3 mt-4 text-dark fw-bolder">
            <i class="bi bi-bag-check fs-1 text-dark"></i>
            Product details
          </h3>
          <div *ngIf="bulkProducts.length > 0">
            <div class="row justify-content-end">
              <div class="col-lg-4">
                <select class="form-select fs-6" (change)="updateBulkProduct($event)">
                  <option disabled selected>-- Select a status --</option>
                  <option *ngFor="let status of bulkStatus" value={{status.value}}>{{status.key}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-vertical-center table-borderless productsTable">
              <thead>
                <tr>
                  <th>
                    <div class="checkbox" [ngClass]="{'checked': bulkProducts.length == order?.products?.length}"
                      (click)="toggleBulkProduct()"></div>
                  </th>
                  <th>Product</th>
                  <th>Qty</th>
                  <th>Price</th>
                  <th>Total</th>
                  <th>Status</th>
                  <th>Payment</th>
                </tr>
              </thead>
              <tbody class="fs-6 text-dark">
                <ng-container *ngFor="let product of order?.products; let i =index">
                  <tr class="productRow">
                    <td>
                      <div class="checkbox" [ngClass]="{'checked': bulkProducts.includes(product)}"
                        (click)="toggleBulkProduct(product)"></div>
                    </td>
                    <td class="d-flex align-items-start justify-content-start" style="margin-bottom: 30px">
                      <img class="me-2 productThumbnail" height="50px" width="50px"
                        src="{{base}}/{{product?.productId?.thumbnail}}" alt="Product">
                      <div>
                        <div class="fw-bolder">{{product?.productId?.name}}</div>
                        <div class="mb-1 text-gray-400 fs-6">SKU - {{product?.productId?.sku}}</div>
                        <div class="px-2 py-0 fw-bold rounded alert" [ngClass]="{'alert-danger': product.currentStatus.status == 'Failed', 
                          'alert-success': product.currentStatus.status != 'Failed' }">
                          {{product.currentStatus.status}},
                          {{product.currentStatus.date}}
                        </div>
                        <ng-container *ngIf="product.currentStatus.status != 'Placed'">
                          <div class="mt-2 d-flex align-items-center">
                            Date expected : {{product?.dateExpected}}
                            <span *ngIf="!orderStatusCheck.includes(product.currentStatus.status)" class="tinyEdit"
                              (click)="openOrderAcceptance(execptedDelivery, product)">
                              <img src="../../../../../../assets/icons/tinyEdit.svg" alt="Icon">
                            </span>
                          </div>
                          <div class="mt-2">
                            <div>Track this order here</div>
                            <div class="d-flex items-center">
                              <a class="ms-1" target="_blank" href="{{product?.trackingURL}}">{{product?.trackingURL ?
                                product?.trackingURL : '-'}}
                              </a>
                              <span *ngIf="!orderStatusCheck.includes(product.currentStatus.status)" class="tinyEdit"
                                (click)="openOrderAcceptance(execptedDelivery, product)">
                                <img src="../../../../../../assets/icons/tinyEdit.svg" alt="Icon">
                              </span>
                            </div>
                          </div>
                          <div class="mt-2 d-flex align-items-center">
                            Tracking Reference : {{product?.trackingNo ? product?.trackingNo : '-'}}
                            <span *ngIf="!orderStatusCheck.includes(product.currentStatus.status)" class="tinyEdit"
                              (click)="openOrderAcceptance(execptedDelivery, product)">
                              <img src="../../../../../../assets/icons/tinyEdit.svg" alt="Icon">
                            </span>
                          </div>
                          <div class="mt-2 d-flex align-items-center">
                            {{product?.deliveryPerson ? 'Assigned to : ' + product?.deliveryPerson : null}}
                            <span *ngIf="product.currentStatus.status == 'Out for delivery'" class="tinyEdit"
                              (click)="openOrderForDelivery(deliveryStaff, product)">
                              <img src="../../../../../../assets/icons/tinyEdit.svg" alt="Icon">
                            </span>
                          </div>
                        </ng-container>
                      </div>
                    </td>
                    <td>{{product?.quantity}}</td>
                    <td>{{product?.pricePerUnit}}</td>
                    <td>{{product?.total}}</td>
                    <td>
                      <select class="form-select fs-6" (click)="getStatusList(product.currentStatus.status)"
                        (change)="updateOrderStatus($event, product?.productId?._id)">
                        <option disabled>-- Select a status --</option>
                        <option selected disabled>{{product.currentStatus.status}}</option>
                        <option *ngFor="let status of statusList" value={{status.value}}>{{status.key}}</option>
                      </select>
                    </td>
                    <td>
                      <select name="payment" class="form-select fs-6" id="payment"
                        (change)="updateProductPayment($event, product)">
                        <option disabled>-- Select an option --</option>
                        <option selected disabled>
                          {{product?.paymentStatus == 'PENDING' ? 'Pending' : 'Paid'}}
                        </option>
                        <option *ngIf="product?.paymentStatus == 'PENDING'" value="PAID">Paid</option>
                        <option *ngIf="product?.paymentStatus == 'PAID'" value="PENDING">Pending</option>
                      </select>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <div class="historyWrapper mt-5">
            <h3 class="fs-3 text-dark fw-bolder">
              <i class="bi bi-bag-check fs-1 text-dark"></i>
              Product history
            </h3>
            <div class="mt-2">
              <ng-container *ngFor="let product of order?.products; let i = index">
                <div class="productHistoryWrapper">
                  <div class="productName text-muted fw-bolder fs-6 mb-2">{{i + 1}} ) {{product?.productId?.name}}</div>
                  <div class="productHistory">
                    <ng-container *ngFor="let history of product?.history">
                      <div class="history">
                        <div class="fs-6 fw-bolder">{{history?.status}}</div>
                        <div class="fs-7">{{history?.date}}</div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="paymentDetails mt-4 mb-4">
            <h3 class="fs-3 mt-4 text-dark fw-bolder">
              <i class="bi bi-credit-card fs-1 text-dark"></i>
              Payment Details
            </h3>
            <form [formGroup]="form">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="orderId" class="form-label mb-3">Payment Order</label>
                    <input type="text" placeholder="Order ID" class="form-control" formControlName="orderId">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="orderId" class="form-label mb-3">Transaction Reference</label>
                    <input type="text" placeholder="Transaction Reference ID" class="form-control"
                      formControlName="paymentId">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirmation>
  <div class="modal-body">
    <div class="fs-5 mb-6">Do you want to cancel this order?</div>
    <div class="form-group mb-4 mt-4">
      <textarea type="text" cols="30" rows="5" autocomplete="off" [formControl]="reason"
        placeholder="Type reason for cancellation" class="form-control">
        </textarea>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <button type="button" class="btn btn-default p-2" (click)="confirm()">Yes</button>
      <button type="button" class="btn btn-primary p-2" (click)="decline()">No</button>
    </div>
  </div>
</ng-template>

<ng-template #execptedDelivery>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Acceptance Details</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="expectedModalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group mb-3">
      <label for="dateExpected" class="form-label">Date expected</label>
      <input type="date" [min]="minimumDate" [formControl]="dateExpected" class="form-control"
        [ngClass]="{'is-invalid': (dateExpected.errors?.['required']  || isDateSubmitted) && dateExpected.touched}">
    </div>
    <div class="form-group mb-3">
      <label for="dateExpected" class="form-label">Tracking Reference</label>
      <input type="text" placeholder="Tracking Reference ID" [formControl]="trackingNo" class="form-control">
    </div>
    <div class="form-group">
      <label for="dateExpected" class="form-label">Tracking URL</label>
      <input type="text" placeholder="Tracking URL" [formControl]="trackingURL" class="form-control">
    </div>
    <div class="mt-4 d-flex align-items-center justify-content-end">
      <button class="btn btn-primary" (click)="updateOrderDetails('accepted')">Continue</button>
    </div>
  </div>
</ng-template>

<ng-template #deliveryStaff>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delivery Person</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="expectedModalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="dateExpected" class="form-label">Who will deliver this order?</label>
      <input type="text" placeholder="Delivery person" [formControl]="deliveryPerson" class="form-control">
    </div>
    <div class="mt-4 d-flex align-items-center justify-content-end">
      <button class="btn btn-primary" (click)="updateOrderDetails('outForDelivery')">Continue</button>
    </div>
  </div>
</ng-template>