<div>
    <div class="page-header d-flex align-items-start justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bold">Dynamic Scripts</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoute.DYNAMIC_SCRIPTS.LIST}}">Dynamic Scripts</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary" (click)="manageScriptDetails()">
            Save Changes
        </button>
    </div>

    <div class="my-4">
        <ngx-monaco-editor [options]="editorOptions" style="height: 370px;" [(ngModel)]="code">
        </ngx-monaco-editor>
    </div>
</div>