<div>
   <div class="page-header d-flex align-items-start justify-content-between">
      <div>
         <div class="page-title">
            <h1 class="fw-bold">Terms And Conditions</h1>
         </div>
         <ul class="breadcrumb">
            <li class="breadcrumb-item">
               <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
               <a routerLink="{{ appRoute.termsconditions.TERMSCONDITIONS }}">Terms And Conditions</a>
            </li>
         </ul>
      </div>
   </div>


   <div class="card my-4">
      <div class="card-body">
         <form [formGroup]="form">
            <div class="form-group">
               <angular-editor class="form-control fs-5 about-textarea" formControlName="description"
                  [config]="editorConfig" (click)="isHidden = false"></angular-editor>
               <div class="text-danger"
                  *ngIf="(formControls.description.touched || isSubmitted) && formControls.description.errors?.required">
                  Terms and Condtions is required
               </div>
            </div>

            <div *ngIf="!isHidden" class="d-flex gap-2 my-2 justify-content-end align-items-center">
               <a (click)="reloadPage()" class="btn btn-secondary">
                  Cancel
               </a>
               <button (click)="onSubmit()" class="btn btn-primary">
                  Save changes
               </button>
            </div>
         </form>
      </div>
   </div>
</div>