<div class="w-100 d-flex align-items-center justify-content-center device-wrapper">
    <div class="desktop" *ngIf="device == 'desktop'">
        <iframe #frame src="https://freshfruitmart.storedada.net/home?type=draft" target="_self" style="width:100%;" frameborder="0">
        </iframe>
    </div>
    <div class="mobile" *ngIf="device == 'mobile'">
        <iframe #frame src="https://freshfruitmart.storedada.net/home?type=draft" style="width:100%;" frameborder="0">
        </iframe>
    </div>
</div>