<div>
    <div class="page-header col d-flex align-items-start justify-content-between">
        <div>
            <div class="page-title">
                <h1 class="fw-bolder">Stores</h1>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item fs-6">
                    <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active fs-6">
                    <a routerLink="{{ appRoute.stores.STORE_LIST}}">Stores</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary" routerLink="{{appRoute.stores.ADD_STORE}}">
            Add New Store
        </button>
    </div>

    <div class="stores my-3">
        <ng-container *ngFor="let store of data">
            <div class="store d-flex flex-column justify-content-between">
                <div class="cursor-pointer" routerLink="{{appRoute.stores.UPDATE_STORE}}"
                    [queryParams]="{'store': store?.refid}">
                    <div class="storeCity fs-5">{{store?.name}}</div>
                    <div class="storeAddress">
                        <img src="assets/icons/location.svg" alt="Icon">
                        <div class="storeValue">
                            <div class="fs-5 mb-2">Address</div>
                            <div>
                                <div>{{store?.address?.firstlane}} {{store?.address?.secondlane}}</div>
                                <div>{{store?.address?.area}}</div>
                                <div>{{store?.address?.landmark}}</div>
                                <div>{{store?.address?.city}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="storeEmail">
                        <img src="assets/icons/email.svg" alt="Icon">
                        <div class="storeValue">
                            <div class="fs-5 mb-2">Email Address</div>
                            <div>{{store?.contact?.email}}</div>
                        </div>
                    </div>
                    <div class="storeMobile">
                        <img src="assets/icons/mobile.svg" alt="Icon">
                        <div class="storeValue">
                            <div class="fs-5 mb-2">Mobile Number</div>
                            <div>Mob: {{store?.contact?.countryCode}} {{store?.contact?.mobile}}</div>
                            <div *ngIf="store?.contact?.tel">Tel: {{store?.contact?.countryCode}}
                                {{store?.contact?.tel}}</div>
                        </div>
                    </div>
                </div>
                <div class="storeDirection">
                    <a class="storeLink" href="{{store?.map}}" target="_blank">
                        <div>Go directions</div> <img src="assets/icons/map.svg" alt="Icon">
                    </a>
                </div>
            </div>
        </ng-container>
    </div>

    <div *ngIf="data.length == 0">
       <app-no-results></app-no-results>
    </div>
</div>