<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">
          {{ editMode ? "Update Product" : "Add Product" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.product.PRODUCT_LIST }}">Product</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.product.ADD_PRODUCT }}">{{
              editMode ? "Update Product" : "Add Product"
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page Header -->

  <!-- Page Content -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Product Details</span></h5>
              </div>

              <!-- Product Type -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Product Type</label>
                  <select
                    class="form-select"
                    formControlName="isSingle"
                    (change)="handleProductType()"
                  >
                    <option value="Check" disabled>
                      -- Select a Product Type --
                    </option>
                    <option value="true">Single</option>
                    <option value="false">Configurable</option>
                  </select>
                  <span
                    class="text-danger fs-6"
                    *ngIf="
                      (pf.isSingle.touched || isSubmitted) &&
                      pf.isSingle.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide a product type</span
                  >
                </div>
              </div>

              <!-- Name -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Name</label>
                  <input
                    type="text"
                    class="form-control fs-5"
                    formControlName="name"
                  />
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.name.touched || isSubmitted) &&
                      pf.name.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide a name</span
                  >
                </div>
              </div>

              <!-- Store Keeping Unit -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Store Keeping Unit</label>
                  <input
                    type="text"
                    class="form-control fs-5"
                    formControlName="sku"
                  />
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.sku.touched || isSubmitted) && pf.sku.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the SKU</span
                  >
                </div>
              </div>

              <!-- HSN Number -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">HSN No.</label>
                  <input
                    type="text"
                    class="form-control fs-5"
                    formControlName="hsn"
                  />
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.hsn.touched || isSubmitted) && pf.hsn.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the HSN</span
                  >
                </div>
              </div>

              <!-- MRP Price -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Price (MRP)</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="mrpPrice"
                      />
                      <span class="input-group-text">.00</span>
                    </div>
                    <span
                      class="text-danger error-msg fs-6"
                      *ngIf="
                        (pf.mrpPrice.touched || isSubmitted) &&
                        pf.mrpPrice.errors?.required
                      "
                      ><i class="bi bi-exclamation-triangle-fill"></i> Please
                      provide the MRP</span
                    >
                  </div>
                </div>
              </ng-container>

              <!-- Offer Price -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Offer Price</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="offerprice"
                      />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- Stock -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Stock</label>
                    <input
                      type="number"
                      class="form-control fs-5"
                      formControlName="stock"
                    />
                    <span
                      class="text-danger error-msg fs-6"
                      *ngIf="
                        (pf.stock.touched || isSubmitted) &&
                        pf.stock.errors?.required
                      "
                      ><i class="bi bi-exclamation-triangle-fill"></i> Please
                      provide the stock</span
                    >
                  </div>
                </div>
              </ng-container>

              <!-- MOQ -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Minimum Order Quantity</label>
                    <input
                      type="text"
                      class="form-control fs-5"
                      formControlName="moq"
                    />
                    <span
                      class="text-danger error-msg fs-6"
                      *ngIf="
                        (pf.moq.touched || isSubmitted) &&
                        pf.moq.errors?.required
                      "
                      ><i class="bi bi-exclamation-triangle-fill"></i> Please
                      provide the MOQ</span
                    >
                  </div>
                </div>
              </ng-container>

              <!-- Stock Warning -->
              <ng-container *ngIf="isSingle">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Stock Warning</label>
                    <input
                      type="text"
                      class="form-control fs-5"
                      formControlName="stockWarning"
                    />
                  </div>
                </div>
              </ng-container>

              <div class="col-12 col-sm-6" *ngIf="isSingle"></div>

              <!-- Description -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Description</label>
                  <textarea
                    class="form-control fs-5"
                    formControlName="description"
                    style="resize: none"
                    id="productdescription"
                    rows="3"
                  ></textarea>
                </div>
              </div>

              <!-- Features -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Features</label>
                  <textarea
                    class="form-control fs-5"
                    formControlName="features"
                    style="resize: none"
                    id="featureddescription"
                    rows="3"
                  ></textarea>
                </div>
              </div>

              <!-- Category -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Category</label>
                  <select
                    class="form-select"
                    formControlName="categories"
                    (change)="tagCategoryInput()"
                  >
                    <option value="example" disabled>
                      -- Select a Category --
                    </option>
                    <option
                      *ngFor="let category of categoryData"
                      value="{{ category?._id }}"
                    >
                      {{ category?.name }}
                    </option>
                  </select>
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.categories.touched || isSubmitted) &&
                      pf.categories.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the categories</span
                  >
                </div>
                <div class="tag-inputs col-12">
                  <ng-container *ngFor="let category of categoryNames">
                    <span class="tag-input"
                      >{{ category }}
                      <i
                        class="bi bi-x"
                        (click)="tagCategoryRemove(category)"
                      ></i>
                    </span>
                  </ng-container>
                </div>
              </div>

              <!-- Brand -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Brand</label>
                  <select
                    name="brand"
                    formControlName="brandId"
                    class="form-select"
                  >
                    <option value="example" disabled>
                      -- Select a Brand --
                    </option>
                    <option
                      *ngFor="let brand of brandData"
                      value="{{ brand?._id }}"
                    >
                      {{ brand?.name }}
                    </option>
                  </select>
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.brandId.touched || isSubmitted) &&
                      pf.brandId.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the brand</span
                  >
                </div>
              </div>

              <!-- Additional Button Text -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Additional Button Text</label>
                  <input
                    type="text"
                    class="form-control fs-5"
                    formControlName="additionalbutton"
                  />
                </div>
              </div>

              <!-- Button Redirect Url -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Button Redirect URL</label>
                  <input
                    type="text"
                    class="form-control fs-5"
                    formControlName="buttonredireturl"
                  />
                </div>
              </div>

              <!-- Featured Product -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3" for="featuredCheck"
                    >Featured Product ?</label
                  >
                  <select class="form-select" formControlName="isFeatured">
                    <option value="Check" disabled>
                      -- Select an option --
                    </option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.isFeatured.touched || isSubmitted) &&
                      pf.isFeatured.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Confirm
                    whether product is featured or not</span
                  >
                </div>
              </div>

              <!-- Returnable Product -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3" for="returnableCheck"
                    >Returnable Product ?</label
                  >
                  <select
                    class="form-select"
                    formControlName="returnable"
                    (change)="checkReturnable()"
                  >
                    <option value="Check" disabled>
                      -- Select an option --
                    </option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.returnable.touched || isSubmitted) &&
                      pf.returnable.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Confirm
                    whether product is returnable or not</span
                  >
                </div>
              </div>

              <!-- Return Days -->
              <ng-container *ngIf="isReturn">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Return Days</label>
                    <input
                      type="text"
                      class="form-control fs-5"
                      formControlName="returnDays"
                    />
                  </div>
                </div>
              </ng-container>

              <!-- Shipping Method -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Shipping Method</label>
                  <select
                    class="form-select"
                    formControlName="shippingMethod"
                    (change)="checkShippingMethod()"
                  >
                    <option value="paid">Paid Shipping</option>
                    <option value="unpaid">Unpaid Shipping</option>
                    <option value="external">External Shipping Service</option>
                  </select>
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.shippingMethod.touched || isSubmitted) &&
                      pf.shippingMethod.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the shipping method</span
                  >
                </div>
              </div>

              <!-- Shipping Cost -->
              <ng-container *ngIf="isShipping">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3">Shipping Cost </label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="shippingCost"
                      />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Unit</label>
                  <select class="form-select" formControlName="unit">
                    <option value="Check" disabled>
                      -- Select an option --
                    </option>
                    <option value="kg">Kilograms</option>
                    <option value="gms">Grams</option>
                    <option value="number">Number of</option>
                    <option value="pack">Pack of</option>
                  </select>
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.unit.touched || isSubmitted) &&
                      pf.unit.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the unit</span
                  >
                </div>
              </div>

              <!-- Weight -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Weight</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="weight"
                  />
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.weight.touched || isSubmitted) &&
                      pf.weight.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the weight</span
                  >
                </div>
              </div>

              <!-- Tax Class -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Tax Class</label>
                  <select class="form-select" formControlName="taxClassId">
                    <option value="example" disabled>
                      -- Select a Tax Class --
                    </option>
                    <option
                      *ngFor="let taxClass of taxClassData"
                      value="{{ taxClass?._id }}"
                    >
                      {{ taxClass?.name }}
                    </option>
                  </select>
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.taxClassId.touched || isSubmitted) &&
                      pf.taxClassId.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the tax class</span
                  >
                </div>
              </div>

              <!-- COD Available -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">COD Available ?</label>
                  <select
                    class="form-select"
                    formControlName="cod"
                    (change)="checkCod()"
                  >
                    <option value="Check" disabled>
                      -- Select an option --
                    </option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.cod.touched || isSubmitted) && pf.cod.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Confirm
                    whether cod is available or not</span
                  >
                </div>
              </div>

              <!-- COD Charge -->
              <ng-container *ngIf="isCod">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-5 mb-3"> COD Charge </label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Rs.</span>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="codCharge"
                      />
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- Search Keywords -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Search Keywords</label>
                  <input
                    class="form-control fs-5"
                    formControlName="searchKeywords"
                    (keyup.Arrowright)="tagInput()"
                  />
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.searchKeywords.touched || isSubmitted) &&
                      pf.searchKeywords.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide search keywords</span
                  >
                  <div class="tag-inputs col-12">
                    <ng-container *ngFor="let value of valueArray">
                      <span class="mb-10 tag-input"
                        >{{ value }}
                        <i class="bi bi-x" (click)="tagRemove(value)"></i
                      ></span>
                    </ng-container>
                  </div>
                </div>
              </div>

              <!-- Related Products -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Related Products</label>
                  <select
                    class="form-select"
                    aria-label="related keywords"
                    formControlName="relatedProducts"
                  >
                    <option value="example" disabled>
                      -- Select Related Products --
                    </option>
                    <option
                      *ngFor="let product of productsData"
                      value="{{ product?.name }}"
                    >
                      {{ product?.name }}
                    </option>
                  </select>
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.searchKeywords.touched || isSubmitted) &&
                      pf.searchKeywords.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the related products</span
                  >
                </div>
              </div>

              <!-- Postion -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Position</label>
                  <input
                    type="text"
                    class="form-control fs-5"
                    formControlName="position"
                  />
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.position.touched || isSubmitted) &&
                      pf.position.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the position</span
                  >
                </div>
              </div>

              <!-- Product Image -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3">Product Image</label>
                  <input
                    type="file"
                    class="form-control fs-5"
                    formControlName="file"
                    (change)="handleInputChange($event)"
                    onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"
                  />
                  <span
                    class="text-danger error-msg fs-6"
                    *ngIf="
                      (pf.file.touched || isSubmitted) &&
                      pf.file.errors?.required
                    "
                    ><i class="bi bi-exclamation-triangle-fill"></i> Please
                    provide the image</span
                  >
                  <span class="uploads uploaded">
                    <img class="preview-image" id="preview" />
                  </span>
                </div>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary fs-5">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Page Content -->
  </div>
</div>
