$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20bdab40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #f1416c;

.btn-secondary {
  font-weight: 400 !important;
}

.product {
  max-width: 300px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

label,
.btn-secondary,
.btn-primary {
  font-weight: 400 !important;
}

//Table designs
.table {
  background: #ffffff;
  font-size: 15px;

  tbody {

    tr {

      td {
        vertical-align: middle;
      }
    }
  }

  thead {

    tr {

      th {
        font-weight: 400 !important;
      }
    }

    background: #E4E7F4;
  }
}
//Table designs

.export {
  display: flex;
  align-items: center;
  gap: 5px;
  background: white;
  border: 1px solid #00bcaa;
  color: #00bcaa;
  border-radius: 10px;
}

.add {
  background: #00bcaa;
  color: white;
  border: none;
  border-radius: 10px;
}

.refunded {
  color: white;
  background: green;
}

.pending {
  color: white;
  background: red;
}