$white: #ffffff;
$border: #E4E6EF;
$text: #333333;
$primary: #00bdab;
$primaryLight: #00bdab30;
$primaryMedium: #00bdab50;


.bulkMediaContainer {
    .bulkUploadHeader {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .backButton {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background: $white;
            border: 1px solid $border;
            border-radius: 10px;
            margin: 0 20px 0 0;
            cursor: pointer;

            img {
                height: 30px;
                width: 30px;
            }
        }

        .bulkUploadTitle {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            h2 {
                margin: 0;
            }
        }
    }

    .bulkUploadContainer {
        margin: 30px 0 0 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .bulkUploadInput {
            position: relative;
            height: 300px;
            width: 300px;

            input {
                height: 100%;
                width: 100%;
                border-radius: 20px;
                cursor: pointer;
            }

            .bulkUploadMask {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: $white;
                border: 3px dotted $primary;
                pointer-events: none;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                border-radius: 20px;
                padding: 30px;
                cursor: pointer;

                img {
                    height: 50%;
                    width: 50%;
                }

                p {
                    margin: 20px 0 0 0;
                    font-size: 16px;
                    text-align: center;
                    font-weight: 600;
                    line-height: 30px;

                    span {
                        color: $primary;
                    }
                }

            }
        }

        .previewContainer {
            margin: 0 0 0 30px;
            width: calc(100% - 330px);

            .uploadedTitle {
                font-size: 16px;
                font-weight: 600;
                color: $text;
            }

            .uploadedFileContainer {
                margin: 15px 0 0 0;
                display: flex;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                font-size: 16px;

                img {
                    cursor: pointer;
                }

                .fileDetails {
                    .fileName {
                        color: $text;
                    }
                }

                .removeContainer {
                    font-size: 14px;
                    font-weight: 600;
                    color: $text;
                    cursor: pointer;
                }
            }
        }

    }

    .processingContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 400px;
        width: 100%;
        height: 400px;

        img {
            width: 300px;
            height: auto;
        }

        .processingText {
            h1 {
                font-weight: 600;
                margin: 0;
            }

            p {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    .buttonsContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .cancelButton {
            padding: 10px 30px;
            border: 1px solid $border;
            background: $white;
            font-weight: 600;
            color: $text;
            font-size: 16px;
            margin: 0 10px 0 0;
            border-radius: 10px;
            cursor: pointer;
        }

        .uploadButton {
            background: $primary;
            padding: 10px 30px;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            font-weight: 600;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}