<app-design-topbar></app-design-topbar>
<app-design-sidebar></app-design-sidebar>

<div class="storedesign-container">
    <div class="row">
        <div class="col-lg-9">
            <iframe src="http://demo.storedada.com" style="width:100%;" frameborder="0">
            </iframe>
        </div>
        <div class="col-lg-3 bg-white rounded p-3">
            <div class="fs-4 fw-bolder">Homepage</div>
            <p class="text-muted">Configure your homepage with widgets for desktop & mobile view.</p>
            <div>
                <button class="btn btn-primary w-100">Add widgets</button>
            </div>
        </div>
    </div>
</div>