<app-design-topbar [page]="'home'" [isDraft]="isDraft" (device)="deviceToggled($event)"></app-design-topbar>
<app-design-sidebar></app-design-sidebar>

<div class="storedesign-container">
    <div class="row mx-0 storedesign-wrapper">
        <div class="col-lg-9 h-100 overflow-auto d-flex align-items-center justify-content-center">
            <div class="desktop" *ngIf="device == 'desktop'">
                <iframe src="https://demo.storedada.com?isPreview=true" style="width:100%;" frameborder="0">
                </iframe>
            </div>
            <div class="mobile" *ngIf="device == 'mobile'">
                <iframe src="https://demo.storedada.com?isPreview=true" style="width:100%;" frameborder="0">
                </iframe>
            </div>
        </div>
        <div class="col-lg-3 h-100 overflow-auto bg-white rounded p-5 widget-container">
            <div class="fs-3 fw-bolder mb-2">Homepage</div>
            <p class="text-muted fs-6">Configure your homepage with widgets for desktop & mobile view.</p>
            <div>
                <button class="d-flex align-items-center justify-content-center btn btn-secondary w-100"
                    (click)="openWidgets(widgetsTemplate)">
                    <svg height="20px" width="20px" data-slot="icon" fill="none" stroke-width="2" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                    </svg>
                    <div class="ms-1">Add new widgets</div>
                </button>
            </div>
            <div class="my-5">
                <div class="mb-2">
                    <div class="fs-3 fw-bolder">Widgets</div>
                    <div class="fs-6 text-muted">Manage section order, design, data.</div>
                </div>
                <div cdkDropList class="widget-items rounded" (cdkDropListDropped)="drop($event)">
                    <div class="widget-item mb-2 pb-2 fs-6 border-bottom border-secondary"
                        *ngFor="let widgetItem of widgetItems; let i = index" cdkDrag>
                        <div class="d-flex justify-content-between mb-2">
                            <div class="text-primary">#{{i+1}}:</div>
                            <div class="d-flex align-items-center justify-content-end">
                                <div class="duplicate" (click)="openDuplication(duplicateTemplate, widgetItem)">
                                    <img src="../../../../assets/widgets/assets/copy.svg" alt="Copy widget">
                                </div>
                                <div class="delete ms-2" (click)="openConfirmation(deleteTemplate, widgetItem)">
                                    <img src="../../../../assets/widgets/assets/delete.svg" alt="Delete widget">
                                </div>
                            </div>
                        </div>
                        <div>{{widgetItem?.widgetName}}</div>
                        <div class="text-muted mt-1">
                            Visible in {{widgetItem?.visibility == 'all' ? 'all devices': widgetItem?.visibility}}
                        </div>
                        <div class="mt-2 d-flex align-items-center justify-content-between">
                            <button (click)="openDesign(designTemplate, widgetItem)"
                                class="btn w-50 bg-white me-2 p-1 border-secondary border d-flex align-items-center justify-content-center"
                                placement="bottom" tooltip="Customize this widget design">
                                <img src="../../../../assets/widgets/assets/design.svg" alt="Design" class="me-1">
                                <div>Design</div>
                                <img src="../../../../assets/widgets/assets/chevron-right.svg" alt="Design"
                                    class="me-1">
                            </button>
                            <button (click)="openUpdate(updateTemplate, widgetItem)"
                                class="btn w-50 bg-white ms-2 p-1 border-secondary border d-flex align-items-center justify-content-center"
                                placement="bottom" tooltip="Upload content which you want to show in this widget">
                                <img src="../../../../assets/widgets/assets/edit.svg" alt="Design" class="me-1">
                                <div>Content</div>
                                <img src="../../../../assets/widgets/assets/chevron-right.svg" alt="Design"
                                    class="me-1">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #widgetsTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add new widget</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeWidgets()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-7">
                <div class="modal-widgets">
                    <ng-container *ngFor="let widget of widgets; let i = index">
                        <div class="modal-widget p-4 rounded border w-100" (click)="focusWidget(widget)"
                            [ngClass]="{'border-primary shadow-sm': focusedWidget.type == widget.type, 'border-secondary border-dotted': focusedWidget.type != widget.type}">
                            <img class="h-auto w-100 ratio ratio-1x1" src="{{widget?.icon}}" alt="{{widget?.title}}">
                            <div class="text-center mt-2 fs-6">{{widget?.title}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="fw-bolder fs-4">{{focusedWidget.title}}</div>
                    <div>
                        <button class="btn btn-secondary py-2 px-3 me-1" (click)="closeWidgets()">Cancel</button>
                        <button class="btn btn-primary py-2 px-3 ms-1" (click)="addWidget(focusedWidget)">Add to
                            page</button>
                    </div>
                </div>
                <div class="my-5">
                    <div class="mb-2 fw-bolder text-muted fs-5">Description</div>
                    <div class="fs-6">{{focusedWidget.description}}</div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteTemplate>
    <div class="modal-body text-center">
        <div class="fs-3 mb-2 fw-bolder">Delete section?</div>
        <p>Are you sure you want to proceed?</p>
        <button type="button" class="btn btn-default" (click)="deleteWidget()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="closeConfirmation()">No</button>
    </div>
</ng-template>

<ng-template #duplicateTemplate>
    <div class="modal-body text-center">
        <div class="fs-3 mb-2 fw-bolder">Duplicate this section? Section will be added in the last.
        </div>
        <p>Are you sure you want to proceed?</p>
        <button type="button" class="btn btn-default" (click)="duplicateWidget()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="closeDuplication()">No</button>
    </div>
</ng-template>

<ng-template #updateTemplate>
    <form [formGroup]="form">
        <div class="modal-header">
            <h4 class="modal-title pull-left">
                Widget details
                <p class="text-muted fs-6 fw-normal">You can update your widget data and images in this section.</p>
            </h4>
            <div class="d-flex align-items-end justify-content-end">
                <div class="form-group me-2">
                    <label for="visibility" class="form-label">Visibility </label>
                    <select formControlName="visibility" id="visibility" class="form-select">
                        <option value="" disabled>-- Select an option --</option>
                        <option *ngFor="let item of ['all', 'mobile', 'web', 'none']" value="{{item}}">
                            {{item == 'all' ? 'Mobile and Desktop' : item == 'web' ? 'Desktop only': item == 'mobile' ?
                            'Mobile only': 'None'}}
                        </option>
                    </select>
                </div>
                <button type="button" class="btn-primary me-2 btn d-flex align-items-center justify-content-center"
                    (click)="updateWidget()">
                    <div class="me-2">Save changes</div>
                    <img src="../../../../assets/widgets/assets/save-light.svg" alt="Save changes">
                </button>
                <button type="button" class="btn-secondary btn d-flex align-items-center justify-content-center"
                    (click)="closeUpdate()">
                    <div class="me-1">Cancel</div>
                    <img src="../../../../assets/widgets/assets/close.svg" alt="Cancel changes">
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="widget-form">
                <div class="mb-2" *ngIf="widgetDetails?.widgetType != 'products'">
                    <div class="accordion" id="header">
                        <div class="accordion-item">
                            <h2 class="accordion-header m-0">
                                <button class="fs-5 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#headerDetails" aria-expanded="false" aria-controls="headerDetails">
                                    Section header details
                                </button>
                            </h2>
                            <div id="headerDetails" class="accordion-collapse collapse" data-bs-parent="#header">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="text" placeholder="Latest arrivals" class="form-control"
                                                    formControlName="title" id="title">
                                                <label for="title">Title</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-floating mb-3">
                                                <input type="text"
                                                    placeholder="Get latest arrival products from our store"
                                                    class="form-control" formControlName="description" id="description">
                                                <label for="description">Description</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="widgetImageTypes.includes(widgetDetails?.widgetType)">
                    <p class="mb-2 text-muted">In this section you can write content and upload images from your
                        computer or
                        can
                        use from variety of images from web.</p>
                    <div class="mb-2 p-4 rounded border border-secondary">
                        <div class="modal-images">
                            <ng-container *ngFor="let image of widgetImages; let i = index">
                                <div class="modal-image w-100 rounded border border-secondary ratio ratio-1x1"
                                    (click)="getWidgetImagePreview(i)">
                                    <img class="h-100 w-100" src="{{base}}{{image?.url?.path}}"
                                        alt="{{image?.url?.title}}">
                                    <div class="position-absolute delete-modal-image bg-dark"
                                        (click)="deleteWidgetImage(i, $event)">
                                        <img src="../../../../assets/widgets/assets/close-light.svg" alt="Close">
                                    </div>
                                </div>
                            </ng-container>
                            <div class="modal-image w-100 ratio ratio-1x1 h-auto">
                                <app-assets (mediaClicked)="addMediaTriggered($event)"
                                    [previewDetails]="widgetPreviewDetails" [previewEnabled]="false"></app-assets>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="widgetImagePreviewIndex >= 0 && widgetImagePreview">
                        <div class="row mx-0">
                            <div class="col-lg-3 px-0">
                                <div class="w-100 ratio ratio-1x1 h-auto">
                                    <app-assets (mediaClicked)="mediaTriggered($event)"
                                        [previewDetails]="previewDetails"></app-assets>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <form [formGroup]="widgetForm">
                                    <div class="row">
                                        <div class="col-lg-6 form-group mb-3">
                                            <label for="title" class="form-label">Title</label>
                                            <input type="text" placeholder="Latest brands" formControlName="title"
                                                class="form-control" (change)="addWidgetDetails()">
                                        </div>
                                        <div class="col-lg-6 form-group mb-3">
                                            <label for="redirectionType" class="form-label">Call to action</label>
                                            <select id="redirectionType" formControlName="redirectionType"
                                                class="form-select">
                                                <option value="" disabled>-- Select an option --</option>
                                                <option *ngFor="let redirectionItem of redirectionItems"
                                                    value="{{redirectionItem?.value}}">{{redirectionItem?.key}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="widgetDetails?.widgetType == 'html'">
                    <p class="text-muted">You can paste/write your widget code and images in this section.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="htmlStyles" class="form-label">Paste Styles</label>
                                <textarea formControlName="htmlStyles" id="htmlStyles" rows="10"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="html" class="form-label">Paste Html</label>
                                <textarea formControlName="html" id="html" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="widgetDetails?.widgetType == 'blogs'">

                </div>

                <div *ngIf="widgetDetails?.widgetType == 'video' || widgetDetails?.widgetType == 'celestial-canvas'">
                    <div class="form-group">
                        <label for="video" class="form-label">Past your video link</label>
                        <input type="text" placeholder="Video" formControlName="video" class="form-control">
                        <p class="text-muted">Kindly incorporate only the embedded URL.</p>
                    </div>
                </div>

                <div *ngIf="widgetDetails?.widgetType == 'products'">
                    <form [formGroup]="productForm">
                        <div class="mb-3 ratio ratio-21x9 h-auto">
                            <app-assets [image]="'cover'" (mediaClicked)="productMediaTriggered($event, 'cover')"
                                [previewDetails]="collectionCoverDetails"></app-assets>
                        </div>
                        <div class="row mx-0">
                            <div class="col-lg-3">
                                <div class="w-100 ratio ratio-1x1 h-auto">
                                    <app-assets (mediaClicked)="productMediaTriggered($event, 'thumbnail')"
                                        [previewDetails]="collectionThumbnailDetails"></app-assets>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="form-group mb-3">
                                    <label for="productTitle" class="form-label required">Title</label>
                                    <input type="text" id="productTitle" class="form-control" formControlName="title">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="productDescription" class="form-label">Description</label>
                                    <input type="text" id="productDescription" class="form-control"
                                        formControlName="description">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 form-group mb-3">
                                        <label for="productView" class="form-label">Type</label>
                                        <select formControlName="type" id="productView" class="form-select">
                                            <option value="" disabled>-- Select an option --</option>
                                            <option *ngFor="let item of ['slider', 'grid']" value="{{item}}">
                                                {{item == 'slider' ? 'Slider': 'Grid'}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 form-group mb-3"
                                        *ngIf="productForm.get('type')?.value == 'grid'">
                                        <label for="productCount" class="form-label required">Count</label>
                                        <input type="text" id="productCount" class="form-control"
                                            formControlName="count"
                                            [ngClass]="{'is-invalid': productForm.get('count')?.errors?.pattern}">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <ng-container *ngIf="widgetProducts.length > 0">
                                        <div class="widget-products mb-5">
                                            <ng-container *ngFor="let product of widgetProducts">
                                                <div class="product border border-secondary p-3 shadow-sm rounded">
                                                    <img class="rounded" height="30px" width="30px"
                                                        src="{{base}}{{product?.thumbnail}}" alt="{{product?.name}}">
                                                    <div class="mt-2 product-name">{{product?.name}}</div>
                                                    <div class="remove-product bg-danger text-white"
                                                        (click)="toggleProducts(product)">
                                                        <svg height="16" width="16" data-slot="icon" fill="none"
                                                            stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24"
                                                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                d="M6 18 18 6M6 6l12 12"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>

                                    <div class="form-group mb-3">
                                        <label for="productKeyword" class="form-label">Search products</label>
                                        <input type="text" id="productKeyword" class="form-control"
                                            [formControl]="productKeyword" (ngModelChange)="getProducts()">
                                    </div>
                                    <ng-container *ngIf="products.length > 0">
                                        <div class="products">
                                            <ng-container *ngFor="let product of products">
                                                <div class="product shadow-sm p-3 rounded mb-3 d-flex align-items-center justify-content-start"
                                                    (click)="toggleProducts(product)"
                                                    [ngClass]="{'border border-primary': isIdInArray(product?._id, widgetProducts)}">
                                                    <img class="rounded" height="30px" width="30px"
                                                        src="{{base}}{{product?.thumbnail}}" alt="{{product?.name}}">
                                                    <div class="ms-2">{{product?.name}}</div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #designTemplate>
    <div class="modal-header">
        <div>
            <h4 class="modal-title pull-left">Widget design</h4>
            <div class="text-muted">Type : {{widgetDetails?.widgetName}}</div>
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn-primary me-2 btn d-flex align-items-center justify-content-center"
                (click)="updateWidget('styles')">
                <div class="me-2">Save changes</div>
                <img src="../../../../assets/widgets/assets/save-light.svg" alt="Save changes">
            </button>
            <button type="button" class="btn-secondary btn d-flex align-items-center justify-content-center"
                (click)="closeDesign()">
                <div class="me-1">Cancel</div>
                <img src="../../../../assets/widgets/assets/close.svg" alt="Cancel changes">
            </button>
        </div>
    </div>
    <form [formGroup]="designForm">
        <div class="modal-body">
            <div class="accordion" id="widgetDesign">
                <div class="accordion-item">
                    <h2 class="accordion-header m-0" id="marginDetails">
                        <button class="accordion-button fs-5 p-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#margin" aria-expanded="true" aria-controls="margin">
                            Margin
                        </button>
                    </h2>
                    <div id="margin" class="accordion-collapse collapse show" aria-labelledby="marginDetails"
                        data-bs-parent="#widgetDesign">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-lg-3 form-group">
                                    <label for="marginTop" class="form-label">Margin top</label>
                                    <div class="d-flex align-items-center">
                                        <img class="me-1" height="32" width="32"
                                            src="../../../../assets/store-designs/MarginTopStyle.png"
                                            alt="WidgetDesigns">
                                        <input type="number" id="marginTop" formControlName="marginTop"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <label for="marginRight" class="form-label">Margin right</label>
                                    <div class="d-flex align-items-center">
                                        <img class="me-1" height="32" width="32"
                                            src="../../../../assets/store-designs/MarginRightStyle.png"
                                            alt="WidgetDesigns">
                                        <input type="number" id="marginRight" formControlName="marginRight"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <label for="marginBottom" class="form-label">Margin bottom</label>
                                    <div class="d-flex align-items-center">
                                        <img class="me-1" height="32" width="32"
                                            src="../../../../assets/store-designs/MarginBottomStyle.png"
                                            alt="WidgetDesigns">
                                        <input type="number" id="marginBottom" formControlName="marginBottom"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <label for="marginLeft" class="form-label">Margin left</label>
                                    <div class="d-flex align-items-center">
                                        <img class="me-1" height="32" width="32"
                                            src="../../../../assets/store-designs/MarginLeftStyle.png"
                                            alt="WidgetDesigns">
                                        <input type="number" id="marginLeft" formControlName="marginLeft"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header m-0" id="paddingDetails">
                        <button class="accordion-button fs-5 collapsed p-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#padding" aria-controls="padding">
                            Padding
                        </button>
                    </h2>
                    <div id="padding" class="accordion-collapse collapse" aria-labelledby="paddingDetails"
                        data-bs-parent="#widgetDesign">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-lg-3 form-group">
                                    <label for="paddingTop" class="form-label">Padding top</label>
                                    <div class="d-flex align-items-center">
                                        <img class="me-1" height="32" width="32"
                                            src="../../../../assets/store-designs/PaddingTopStyle.png"
                                            alt="WidgetDesigns">
                                        <input type="number" id="paddingTop" formControlName="paddingTop"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <label for="paddingRight" class="form-label">Padding right</label>
                                    <div class="d-flex align-items-center">
                                        <img class="me-1" height="32" width="32"
                                            src="../../../../assets/store-designs/PaddingRightStyle.png"
                                            alt="WidgetDesigns">
                                        <input type="number" id="paddingRight" formControlName="paddingRight"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <label for="paddingBottom" class="form-label">Padding bottom</label>
                                    <div class="d-flex align-items-center">
                                        <img class="me-1" height="32" width="32"
                                            src="../../../../assets/store-designs/PaddingBottomStyle.png"
                                            alt="WidgetDesigns">
                                        <input type="number" id="paddingBottom" formControlName="paddingBottom"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <label for="paddingLeft" class="form-label">Padding left</label>
                                    <div class="d-flex align-items-center">
                                        <img class="me-1" height="32" width="32"
                                            src="../../../../assets/store-designs/PaddingLeftStyle.png"
                                            alt="WidgetDesigns">
                                        <input type="number" id="paddingLeft" formControlName="paddingLeft"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header m-0" id="borderDetails">
                        <button class="accordion-button fs-5 collapsed p-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#border" aria-controls="border">
                            Border
                        </button>
                    </h2>
                    <div id="border" class="accordion-collapse collapse" aria-labelledby="borderDetails"
                        data-bs-parent="#widgetDesign">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-lg-4 form-group">
                                    <label for="borderWidth" class="form-label">Border width</label>
                                    <input type="number" id="borderWidth" formControlName="borderWidth"
                                        class="form-control">
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label for="borderRadius" class="form-label">Border radius</label>
                                    <input type="number" id="borderRadius" formControlName="borderRadius"
                                        class="form-control">
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label for="borderColor" class="form-label">Border color</label>
                                    <input type="color" id="borderColor" formControlName="borderColor"
                                        class="form-control" style="height: 46px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header m-0" id="backgroundDetails">
                        <button class="accordion-button fs-5 collapsed p-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#background" aria-controls="background">
                            Background
                        </button>
                    </h2>
                    <div id="background" class="accordion-collapse collapse" aria-labelledby="backgroundDetails"
                        data-bs-parent="#widgetDesign">
                        <div class="accordion-body">
                            <div class="row mb-3">
                                <div class="col-lg-6 form-group">
                                    <label for="backgroundColor" class="form-label">Background</label>
                                    <input type="color" id="backgroundColor" formControlName="backgroundColor"
                                        class="form-control" style="height: 46px;">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label for="elevation" class="form-label">Elevation</label>
                                    <input type="number" id="elevation" formControlName="elevation"
                                        class="form-control">
                                </div>
                            </div>
                            <div>
                                <label for="backgroundImage" class="form-label">Background image</label>
                                <div id="backgroundImage" style="aspect-ratio: 4/1;">
                                    <app-assets (mediaClicked)="onBackgroundTriggered($event)" [image]="'cover'"
                                        [previewDetails]="backgroundDetails"></app-assets>
                                </div>
                                <p class="text-muted mx-2">This image will appear on widget backgrounds.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>