<div class="contact-page-container">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">FAQs</h1>
    </div>
    <div class="row align-items-center">
      <div class="col d-flex flex-row justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.faq.FAQ_LIST}}">FAQs</a>
          </li>
        </ul>
        <button class="btn btn-primary btn-sm cursor-pointer fs-5" color="primary" style="width: 200px"
          routerLink="{{ appRoute.faq.ADD_FAQ }}">
          Add FAQ
        </button>
      </div>
    </div>
  </div>
  <div class="faq-container">
    <ng-container *ngFor="let faq of faqData">
      <div class="faq-card {{faq?.isActive}}">
        <div class="faq-subject"> {{faq?.subject}}</div>
        <div class="faq-question"> {{faq?.question}}</div>
        <div class="faq-answer"> {{faq?.answer}}</div>
        <button class="edit-btn btn btn-secondary btn-sm fs-5 text-dark"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
          routerLink="{{ appRoute.faq.UPDATE_FAQ }}" [queryParams]="{slug: faq?.slug}">Edit</button>
      </div>
    </ng-container>
  </div>
</div>
