$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$inactiveBackground: #ce162610;
$activeState: #00bdab;
$primary: #00bdab;
$activeBackground: #00bdab20;
$border: #eeeeee;
$secondaryText: #888888;

code:not([class*=language-]) {
  background-color: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}

.btn-primary{
  font-weight: 400 !important;
}

.faqWrapper {

  .faqCard {
    background: $white;

    .faqHeader {

      .faqTitle {
        font-size: 16px;

        .disabledFaq {
          background: $inactiveState;
          color: $white;
          border-radius: 5px;
          padding: 0px 5px;
        }
      }

      .faqButtons {
        .faqButton {
          height: 30px;
          width: 30px;
          display: grid;
          place-items: center;
          background: $border;
          border-radius: 6px;
          cursor: pointer;
          color: $secondaryText;

          &.active {
            transform: rotate(180deg);
            color: #000000;
          }
        }
      }
    }

    .faqContent {
      height: 0px;
      display: none;
      padding: 0.75rem;

      &.show {
        display: block;
        min-height: 80px;
        height: max-content;
      }
    }
  }
}