$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$inactiveBackground: #ce162610;
$activeState: var(--brand-primary, #00BDAB);
$primary: var(--brand-primary, #00BDAB);
$activeBackground: var(--brand-primary, #00BDAB)20;
$border: #eeeeee;
$secondaryText: #888888;

code:not([class*=language-]) {
  background-color: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}

.btn-primary {
  font-weight: 400 !important;
}

.faqWrapper {

  .faqCard {
    background: $white;

    .faqHeader {

      .faqTitle {
        font-size: 16px;

        .disabledFaq {
          background: $inactiveState;
          color: $white;
          border-radius: 5px;
          padding: 0px 5px;
        }
      }

      .icon {
        height: 30px;
        width: 30px;
        background: $border;
        cursor: pointer;
      }
    }

    .faqContent {
      height: 0px;
      display: none;
      padding: 0.75rem;

      &.show {
        display: block;
        min-height: 80px;
        height: max-content;
      }
    }
  }
}