<div class="wislist-page-container">
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bold">Wishlist Details</h1>
        </div>
        <div class="row">
            <div class="col d-flex align-items-start justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.wishlist.LIST }}">Wishlist</a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.wishlist.DETAILS }}" [queryParams]="{user: customer}">Wishlist
                            Details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="fs-4 fw-bold mb-2">Customer details</div>
                    <div>
                        <app-module-notification [query]="customerDetails?.customerDetails?.slug"
                            [type]="'wishlist'"></app-module-notification>
                    </div>
                </div>
                <div class="fs-6 mb-2">Name : <span class="fs-5">{{customerDetails?.customerDetails?.name}}</span>
                </div>
                <div class="fs-6 mb-2">Mobile : <span class="fs-5">{{customerDetails?.customerDetails?.mobile}}</span>
                </div>
                <div class="fs-6  mb-2">Email : <span class="fs-5">{{customerDetails?.customerDetails?.email}}</span>
                </div>
                <div class="fs-6">Total : <span class="fs-5">{{customerDetails?.formattedWishlistTotal}}</span></div>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <div class="fs-3 fw-bold mb-4">Wishlisted Products</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>SKU</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of customerDetails?.products">
                            <td>
                                <div class="d-flex align-items-center justify-content-start gap-2">
                                    <img src="{{ product?.thumbnail }}" alt="{{ product?.name }}" height="60" width="60"
                                        class="border border-secondary rounded"
                                        onerror="this.src = 'assets/images/default.png'" />
                                    <div>{{product?.name}}</div>
                                </div>
                            </td>
                            <td>{{ product?.sku }}</td>
                            <td>{{ product?.formattedPrice }}</td>
                        </tr>
                        <tr *ngIf="customerDetails?.products.length == 0">
                            <td colspan="3">
                                <app-no-results></app-no-results>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>