<div>
   <div class="page-header d-flex align-items-start justify-content-between">
      <div>
         <div class="page-title">
            <h1 class="fw-bold">Privacy Policy</h1>
         </div>
         <ul class="breadcrumb">
            <li class="breadcrumb-item">
               <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
               <a routerLink="{{ appRoute.privacypolicy.PRIVACYPOLICY }}">Privacy Policy</a>
            </li>
         </ul>
      </div>
   </div>

   <div class="card my-4">
      <div class="card-body">

         <form [formGroup]="form">
            <div class="form-group">
               <angular-editor (click)="isHidden = false" class="form-control fs-5 about-textarea" formControlName="description"
                  [config]="editorConfig" (click)="showButton()"></angular-editor>
               <div class="text-danger"
                  *ngIf="(formControls.description.touched || isSubmitted) && formControls.description.errors?.required">
                  Privacy policy is required
               </div>
            </div>
            <ng-container *ngIf="!isHidden">
               <div class="d-flex justify-content-end my-2 gap-2 align-items-center">
                  <a (click)="reloadPage()" class=" btn btn-secondary">
                     Cancel
                  </a>
                  <button (click)="onSubmit()" class="btn btn-primary">
                     Save changes
                  </button>
               </div>
            </ng-container>
         </form>

      </div>
   </div>
</div>