<div class="contact-page-container">

   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bold">Contacts</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex align-items-start justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.contacts.CONTACTS_LIST}}">Contacts</a>
               </li>
            </ul>
            <button class="btn btn-primary btn-sm cursor-pointer fs-6" color="primary" style="width: 200px"
               routerLink="{{ appRoute.contacts.ADD_CONTACTS_LIST }}">
               Add Contacts
            </button>
         </div>
      </div>
   </div>

   <div class="mt-4 row d-flex align-items-end justify-content-center">
      <div class="search-input col-lg-4" style="padding: 0;">
         <input type="text" placeholder="Search contacts here..." class="form-control fs-6" [formControl]="keyword"
            (ngModelChange)="getContacts()">
      </div>
   </div>

   <div class="contactsWrapper mt-4">
      <ng-container *ngFor="let contact of contacts; let i = index">
         <div class="contactCard p-3 rounded">

            <div class="editButton">
               <div routerLink="{{ appRoute.contacts.UPDATE_CONTACTS_LIST }}"
                  [queryParams]="{ contact: contact?.refid }">
                  <img src="assets/icons/editPen.svg" alt="Icon">
               </div>
            </div>

            <div class="contactName text-dark mb-1">Name:{{contact?.name}}</div>
            <div class="fs-6 text-muted">Email: {{contact?.email}}</div>
            <div class="fs-6 text-muted">Phone No.: {{contact?.mobile}}</div>
         </div>
      </ng-container>
      <ng-container *ngIf="contacts.length == 0">
         <div class="emptyNote">
            <div class="fs-3 fw-bold">No result found</div>
            <div class="fs-6 note">We couldn't find any item based on your search</div>
         </div>
      </ng-container>
   </div>


   <div class="filteringWrapper d-flex align-items-center justify-content-between col-12">
      <div class="filtering">
         <span class="fs-6 text-dark">Show</span>
         <select [formControl]="limit" (change)="getContacts()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
         </select>
         <span class="fs-6 text-dark">entries</span>
      </div>
      <div class="pagination">
         <div class="paginationBefore" [ngClass]="{'disabled': page == 1}" (click)="getPreviousPage()">
            <img src="assets/icons/navigateBefore.svg" alt="Icon">
         </div>
         <div class="paginationPage">{{page}} of {{totalPages}}</div>
         <div class="paginationNext" [ngClass]="{'disabled': isLastPage}" (click)="getNextPage()">
            <img src="assets/icons/navigateNext.svg" alt="Icon">
         </div>
      </div>
   </div>
</div>