@import "./assets/sass/style";
@import "~ngx-toastr/toastr";

.crop-image {
  height: 350px;
  width: 350px;
  background: #f3f3f3;
  margin: 0 30px 0 0;
  border-radius: 10px;
}

.crop-section {
  height: 100%;
  width: 100%;
}

.preview-section {
  display: flex;
}

.layout-preview {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.upload-layout {
  margin: 40px 0;
  display: grid;
  justify-content: start;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.layout-card {
  height: 200px;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;
  margin: 10px 20px 0 0;
}

.prod-details-layout {
  display: flex;
  flex-direction: column;
}

.layout-card .close-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  background: #f4f4f4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-card .close-icon i {
  font-size: 1.1rem;
  color: #ffffff;
}

.uploaded-attributes {
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 20px 0;
}

.attribute-card {
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 10px;
  background: #ffffff;
  margin: 0 20px;
}

.attribute-card .attribute-image,
.attribute-card .attribute-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.attribute-card .close-icon {
  position: absolute;
  right: -15px;
  top: -15px;
  height: 30px;
  width: 30px;
  background: #f4f4f4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast-container {
  font-size: 14px;
  font-weight: 500;
}

.required::after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: #f1416c;
  padding-left: .25rem;
  font-weight: 700;
}

//Tag inputs
.tag-inputs {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.tag-input {
  width: calc(33% - 20px);
  height: 46px;
  margin: 0 10px 10px 0;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px;
}


.tag-input .tag-name {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  max-width: 85%;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 600;
}

.tag-input .bi-x-lg {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2rem;
  height: 100%;
  width: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
}

.tag-input:nth-child(n) {
  background: #1681bf;
}

.tag-input:nth-child(2n+1) {
  background: #3f8e5f;
}

.tag-input .bi-trash2 {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.8rem;
  background: #e13939;
  height: 100%;
  width: 18%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
}

.close-icon i {
  background: #e13939;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

//Validation text
.text-danger {
  padding: 0 5px;
  color: rgb(235, 19, 58) !important;
  border-radius: 5px;
}

//Form label
label {
  color: #3f4254;
  font-size: 1rem;
  font-weight: 500;
}

.form-check-label {
  margin: 0 0 0 10px;
}

.uploads {
  position: relative;
  height: 160px;
  width: 160px;
  border-radius: 10px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.uploads .close-icon {
  cursor: pointer;
  position: absolute;
  right: -15px;
  top: -15px;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload {
  height: 90px;
  width: 100%;
  position: relative;
}

.image-upload-div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  pointer-events: none;
  border: 1px dashed #009ef7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background: #e1f3ff;
}

#previewImage,
#bannerFile,
#mobileBannerFile {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

//Active text in datatable
.active-text-view {
  height: 25px;
  width: 80px;
  background: #3f8e5f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.active-text {
  color: #ffffff;
  font-size: 1.1rem;
}

.inactive-text-view {
  height: 25px;
  width: 80px;
  background: #c64a54;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.inactive-text {
  color: #ffffff;
  font-size: 1.1rem;
}

.description-textarea {
  resize: none;
}

.description-col {
  overflow: hidden;
}

.btn-submit {
  width: 200px;
}

.table {
  color: #333;
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}

.card-body {
  padding: 2rem;
}

.table-td {
  height: 100%;
  display: flex;
  align-items: center;
}

.card-table {
  margin: 20px 0 0 0;
}

.table> :not(:first-child) {
  border-top: transparent;
}

.table> :not(caption)>*>* {
  box-shadow: unset;
  padding: 0.75rem;
}

.table thead th {
  vertical-align: bottom;
}

.table-striped>tbody>tr:nth-of-type(2n + 1) {
  background-color: #f8f9fa;
}

.table.no-border>tbody>tr>td,
.table>tbody>tr>th,
.table.no-border>tfoot>tr>td,
.table.no-border>tfoot>tr>th,
.table.no-border>thead>tr>td,
.table.no-border>thead>tr>th {
  border-top: 0;
  padding: 10px 8px;
}

.table-nowrap td,
.table-nowrap th {
  white-space: nowrap;
}

.table.dataTable {
  border-collapse: collapse !important;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

table.table td h2 {
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

table.table td h2.table-avatar {
  height: 100%;
  align-items: center;
  display: inline-flex;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: nowrap;
}

table.table td h2 a {
  color: #333;
}

table.table td h2 span {
  color: #888;
  display: block;
  font-size: 12px;
  margin-top: 3px;
}

.table thead tr th {
  font-weight: 600;
}

.table.table-center td,
.table.table-center th {
  vertical-align: middle;
}

.table-striped thead tr {
  border-color: transparent;
}

.table-striped tbody tr {
  border-color: transparent;
}

.table-striped tbody tr:nth-of-type(even) {
  height: 100px !important;
  background-color: rgba(255, 255, 255, 0.3);
}

.table-striped tbody tr:nth-of-type(odd) {
  height: 100px !important;
  background-color: rgba(235, 235, 235, 0.4);
}

.table-bordered {
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.table-bordered th,
.table-bordered td {
  border-color: rgba(0, 0, 0, 0.05);
}

.card-table .card-body .table>thead>tr>th {
  border-top: 0;
}

.card-table .card-body .table tr td:first-child,
.card-table .card-body .table tr th:first-child {
  padding-left: 1.5rem;
}

.card-table .card-body .table tr td:last-child,
.card-table .card-body .table tr th:last-child {
  padding-right: 1.5rem;
}

.card-table .table td,
.card-table .table th {
  padding: 1rem 0.75rem;
  white-space: nowrap;
}

.table .thead-light th {
  color: #495057;
  background-color: #f8f9fa;
  border-color: #eff2f7;
}

.table> :not(:first-child) {
  border: 0;
}

table.table td,
table.table th {
  border-color: #dee2e6;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

.col-12 {
  margin: 20px 0;
}

.dataTables_filter label,
.dataTables_length label {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
}

.dataTables_filter label input,
.dataTables_length label select {
  font-size: 1.1rem;
}

.dataTables_info,
.dataTables_paginate,
.paging_full_numbers {
  margin-top: 20px;
}

.dataTables_paginate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-responsive {
  overflow-x: hidden;
}