<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">{{ editMode ? "Update Offer" : "Add Offer" }}</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.offer.OFFER_LIST }}">Offers</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.offer.ADD_OFFER }}">
              {{ editMode ? "Update Offer" : "Add Offer" }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page Header -->
  <!-- Form Start -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-5">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="offerForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Offer Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Name</label>
                  <input type="text" class="form-control fs-5" formControlName="name"/>
                  <span class="text-danger" *ngIf="(of.name.touched || isSubmitted) && of.name.errors?.required">Name is required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Image</label>
                  <input type="file" class="form-control fs-5" formControlName="file" (change)="handleInputChange($event)"/>
                  <span class="text-danger" *ngIf="(of.file.touched || isSubmitted) && of.file.errors?.required">Offer Image is required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Description</label>
                  <input type="text" class="form-control fs-5" formControlName="description"/>
                  <span class="text-danger" *ngIf="(of.description.touched || isSubmitted) && of.description.errors?.required">Description is required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">From Date</label>
                  <input type="date" class="form-control fs-5" formControlName="fromDate"/>
                  <span class="text-danger" *ngIf="(of.fromDate.touched || isSubmitted) && of.fromDate.errors?.required">From Date is required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Last Date</label>
                  <input type="date" class="form-control fs-5" formControlName="lastDate"/>
                  <span class="text-danger" *ngIf="(of.lastDate.touched || isSubmitted) && of.lastDate.errors?.required">Last Date is required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Featured</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" formControlName="featured">
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-5 mb-3 fw-bold">Status</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" formControlName="status">
                    <option value="Active" selected>Active</option>
                    <option value="Inactive">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary fs-4">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Form End -->
</div>
