<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">
          {{ editMode ? "Update Offer" : "Add Offer" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.offer.OFFER_LIST }}">Offers</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.offer.ADD_OFFER }}">
              {{ editMode ? "Update Offer" : "Add Offer" }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-sm-12 fs-6">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="offerForm">
            <div class="row">
              <div class="col-12">
                <h3 class="form-title"><span>Offer Details</span></h3>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 form-title required">Name</label>
                  <input type="text" class="form-control fs-6" formControlName="name" [ngClass]="{
                    'is-invalid':
                    (of.name.touched || isSubmitted) &&
                    of.name.errors?.required
                  }" />
                  <span class="text-danger fs-7" *ngIf="
                      (of.name.touched || isSubmitted) &&
                      of.name.errors?.required
                    ">Name is required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 form-title required">Description</label>
                  <input type="text" class="form-control fs-6" formControlName="description" [ngClass]="{
                    'is-invalid':
                    (of.description.touched || isSubmitted) &&
                    of.description.errors?.required
                  }" />
                  <span class="text-danger mt-10 fs-7" *ngIf="
                      (of.description.touched || isSubmitted) &&
                      of.description.errors?.required
                    ">Description is required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 form-title required">From Date</label>
                  <input type="date" class="form-control fs-6" formControlName="fromDate" [ngClass]="{
                      'is-invalid':
                        (of.fromDate.touched || isSubmitted) &&
                        of.fromDate.errors?.required
                    }" />
                  <span class="text-danger fs-7" *ngIf="
                      (of.fromDate.touched || isSubmitted) &&
                      of.fromDate.errors?.required
                    ">
                    From date is required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 form-title required">Last Date</label>
                  <input type="date" class="form-control fs-6" formControlName="lastDate"
                    [ngClass]="{ 'is-invalid': (of.lastDate.touched || isSubmitted) && of.lastDate.errors?.required }" />
                  <span class="text-danger fs-7"
                    *ngIf="(of.lastDate.touched || isSubmitted) && of.lastDate.errors?.required">Last date is
                    required</span>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 form-title required">Featured</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isFeatured">
                    <option value="true" selected>Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 form-title required">Status</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="true" selected>Active</option>
                    <option value="false">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="col-12">
                  <h3 class="form-title required"><span>Media</span></h3>
                </div>
                <div class="form-group">
                  <div class="image-upload">
                    <input type="file" class="form-control fs-6" name="image" accept="image/*"
                      (change)="handleInputChange($event)"
                      onchange="document.getElementById('previewImage').src = window.URL.createObjectURL(this.files[0])"
                      style="height: 100px;" required>
                    <div class="image-upload-div">
                      <div class="left-img"><img src="../../../../../assets/media/svg/files/upload.svg" alt=""
                          srcset=""></div>
                      <div class="right-text d-flex flex-column"><span class="right-text-title fs-4 fw-bolder">Click to
                          upload</span> <span class="right-text-note fs-7 text-gray-400" style="font-weight: 500">Upload
                          up to 1
                          file</span></div>
                    </div>
                  </div>
                  <div class="uploads uploaded">
                    <img id="previewImage" src="../../../../../assets/media/icons/duotune/files/fil025.svg">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <a routerLink="{{ appRoute.offer.OFFER_LIST}}" class=" btn btn-secondary btn-sm fs-6 text-dark"
                  style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button type="submit" class="btn btn-primary btn-sm fs-6" style="width: 200px">
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>