<div class="welcomeMessage">
  <!-- <h1> Hello, <span>{{userData.username}}!</span></h1> -->
  <h1>Overview</h1>
</div>

<div class="informationSections">
  <div class="informationLeft">
    <div class="infoFirsrt">
      <!-- <div class="page-title">
        <div class="fs-4 fw-bolder mb-lg-5"><i class="bi bi-receipt fs-4 text-primary"></i> Store Statistics</div>
      </div> -->

      <div class="overviewContainer grid-4">
        <div class="overviewCard">
          <div class="overviewValue">₹ {{ data?.header?.revenue }}</div>
          <div class="overviewTitle">
            <p>Total Revenue</p>
          </div>
        </div>
        <div class="overviewCard">
          <div class="overviewValue">{{ data?.header?.orders }}</div>
          <div class="overviewTitle">
            <p>Total Orders</p>
          </div>
        </div>
        <div class="overviewCard">
          <div class="overviewValue">{{ data?.header?.customers }}</div>
          <div class="overviewTitle">
            <p>Total Customers</p>
          </div>
        </div>
        <div class="overviewCard">
          <div class="overviewValue">{{ data?.header?.products }}</div>
          <div class="overviewTitle">
            <p>Total Products</p>
          </div>
        </div>
      </div>
    </div>

    <div class="infoSecond">
      <div class="page-title">
        <div class="fs-4 fw-bolder info_head">Other Informations</div>
      </div>

      <div class="overviewContainer grid-5">
        <ng-container *ngFor="let info of data?.otherInformations">
          <div class="overviewCard">
            <div class="overviewValue">{{ info?.value }}</div>
            <div class="overviewTitle">
              <p>{{ info?.title }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="info_third">
      <div class="overviewContainerSales grid-3">
        <ng-container>
          <div class="quick_sales_section">
            <div class="sales_content">
              <div class="page-title">
                <div class="fs-4 fw-bolder info_head">sales</div>
              </div>
              <div class="sale_cards">
                <div class="overviewCard">
                  <div class="overviewValue">25</div>
                  <div class="overviewTitle">
                    <p>today's orders</p>
                  </div>
                  <div class="lastDay_orders">
                    <div class="order_lose">
                      <span> 20 </span>
                      <img
                        src="../../../../../assets/icons/downArrow.svg"
                        alt=""
                      />
                    </div>
                    <h6>yesterday’s orders</h6>
                    <a href=""> view orders </a>
                  </div>
                </div>
                <div class="overviewCard">
                  <div class="overviewValue">25</div>
                  <div class="overviewTitle">
                    <p>today's orders</p>
                  </div>
                  <div class="lastDay_orders">
                    <div class="order_lose">
                      <span> 20 </span>
                      <img
                        src="../../../../../assets/icons/downArrow.svg"
                        alt=""
                      />
                    </div>
                    <h6>yesterday’s orders</h6>
                    <a href=""> view orders </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="quick_access_content">
              <div class="page-title">
                <div class="fs-4 fw-bolder info_head">Quick access</div>
              </div>
              <div class="quick_cards">
                <div class="overviewCard quick_flex">
                  <div class="orders">
                    <ul>
                      <li> orders </li>
                      <li> products </li>
                      <li> create coupons </li>
                    </ul>
                  </div>
                  <div class="costumers">
                    <ul>
                      <li>customers</li>
                      <li>collections</li>
                      <li>create sale</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- <div class="informationRight">
    <div class="quickAccess">
      <div class="page-title">
        <div class="fs-4 fw-bolder">
          <i class="bi bi-link fs-4 text-primary"></i>
          Quick Links
        </div>
      </div>
      <div class="linksContainer">
        <ul>
          <li><a routerLink="/app/placed-orders">Orders <i class="bi bi-link-45deg fs-2"></i></a></li>
          <li><a routerLink="/app/product">Products<i class="bi bi-link-45deg fs-2"></i> </a></li>
          <li><a routerLink="/app/category">Category<i class="bi bi-link-45deg fs-2"></i></a></li>
          <li><a routerLink="/app/collection">Collections<i class="bi bi-link-45deg fs-2"></i></a></li>
          <li><a routerLink="/app/coupons">Coupons<i class="bi bi-link-45deg fs-2"></i></a></li>
        </ul>
      </div>
    </div>
  </div> -->
</div>

<div class="row mb-5 mt-10">
  <div class="col-xl-8 apex_chart">
    <div class="stats5Months" *ngIf="monthlyRevenue.length > 0">
      <div class="fs-4 fw-bolder  mb-lg-5 info_head">analytics </div>
      <app-stats-widget4 svgIcon="./assets/media/icons/duotune/general/gen025.svg" class="card card-xl-stretch mb-xl-8"
        color="success" change="₹ {{monthlyRevenue[0]['revenue']}}" description="{{monthlyRevenue[0]['name']}} sales">
      </app-stats-widget4>
    </div>
    <!-- <div class="stats7Days" *ngIf="daysRevenue.length > 0">
      <div class="fs-4 text-primary fw-bolder mb-lg-5"><i class="bi bi-clipboard-data fs-4 text-primary"></i> Last
        {{daysRevenue.length}}
        days sales</div>
      <app-stats-widget3 svgIcon="./assets/media/icons/duotune/general/gen025.svg" class="card card-xl-stretch mb-xl-8"
        color="success" title="Today Sales" change="₹ {{daysRevenue[0]['revenue']}}">
      </app-stats-widget3>
    </div> -->
  </div>

  <!-- <div class="col-xl-8">
    <div class="topSellingProducts  mb-lg-5">
      <div class="fs-4 fw-bolder text-primary mb-lg-5"><i class="bi bi-tags fs-4 text-primary"></i> Top Selling Products
      </div>
      <app-advance-tables-widget4></app-advance-tables-widget4>
    </div>
  </div> -->
  <div class="col-xl-4">
    <div class="fs-4 fw-bolder  mb-lg-5 info_head">top selling products</div>
      <div class="selling_box">
        <div class="selling_products">
          <div class="selling_phoneImg">
            <img src="../../../../../assets/icons/iphone.svg" alt=""/>
          </div>
          <div class="product_details">
            <h2>
              Apple iPhone 13
            </h2>
            <h6>
              <span>1</span> sold <span>11</span> times
            </h6>
          </div>
          <div class="price">
            <h4>
              AED 50
            </h4>
          </div>
        </div>
        <div class="selling_products">
          <div class="selling_phoneImg">
            <img src="../../../../../assets/icons/iphone.svg" alt=""/>
          </div>
          <div class="product_details">
            <h2>
              Apple iPhone 13
            </h2>
            <h6>
              <span>1</span> sold <span>11</span> times
            </h6>
          </div>
          <div class="price">
            <h4>
              AED 50
            </h4>
          </div>
        </div>
        <div class="selling_products">
          <div class="selling_phoneImg">
            <img src="../../../../../assets/icons/iphone.svg" alt=""/>
          </div>
          <div class="product_details">
            <h2>
              Apple iPhone 13
            </h2>
            <h6>
              <span>1</span> sold <span>11</span> times
            </h6>
          </div>
          <div class="price">
            <h4>
              AED 50
            </h4>
          </div>
        </div>
        <div class="selling_products">
          <div class="selling_phoneImg">
            <img src="../../../../../assets/icons/iphone.svg" alt=""/>
          </div>
          <div class="product_details">
            <h2>
              Apple iPhone 13
            </h2>
            <h6>
              <span>1</span> sold <span>11</span> times
            </h6>
          </div>
          <div class="price">
            <h4>
              AED 50
            </h4>
          </div>
        </div>
        <div class="selling_products">
          <div class="selling_phoneImg">
            <img src="../../../../../assets/icons/iphone.svg" alt=""/>
          </div>
          <div class="product_details">
            <h2>
              Apple iPhone 13
            </h2>
            <h6>
              <span>1</span> sold <span>11</span> times
            </h6>
          </div>
          <div class="price">
            <h4>
              AED 50
            </h4>
          </div>
        </div>
        <div class="selling_products">
          <div class="selling_phoneImg">
            <img src="../../../../../assets/icons/iphone.svg" alt=""/>
          </div>
          <div class="product_details">
            <h2>
              Apple iPhone 13
            </h2>
            <h6>
              <span>1</span> sold <span>11</span> times
            </h6>
          </div>
          <div class="price">
            <h4>
              AED 50
            </h4>
          </div>
        </div>
      </div>
      
      
  </div>

</div>

<div class="row mb-5 mt-10">
  <div class="col-xl-8">
    <div class="stats5Months" *ngIf="monthlyRevenue.length > 0">
      <app-stats-widget4 svgIcon="./assets/media/icons/duotune/general/gen025.svg" class="card card-xl-stretch mb-xl-8"
        color="success" change="₹ {{monthlyRevenue[0]['revenue']}}" description="{{monthlyRevenue[0]['name']}} sales">
      </app-stats-widget4>
    </div>
    <!-- <div class="stats7Days" *ngIf="daysRevenue.length > 0">
      <div class="fs-4 text-primary fw-bolder mb-lg-5"><i class="bi bi-clipboard-data fs-4 text-primary"></i> Last
        {{daysRevenue.length}}
        days sales</div>
      <app-stats-widget3 svgIcon="./assets/media/icons/duotune/general/gen025.svg" class="card card-xl-stretch mb-xl-8"
        color="success" title="Today Sales" change="₹ {{daysRevenue[0]['revenue']}}">
      </app-stats-widget3>
    </div> -->
  </div>

  <!-- <div class="col-xl-8">
    <div class="topSellingProducts  mb-lg-5">
      <div class="fs-4 fw-bolder text-primary mb-lg-5"><i class="bi bi-tags fs-4 text-primary"></i> Top Selling Products
      </div>
      <app-advance-tables-widget4></app-advance-tables-widget4>
    </div>
  </div> -->
  <div class="col-xl-4 monthly_chartParent">
    <div class="monthly_comparison_box">
      <h4>
        monthly sales comparison   
      </h4>
      <h6>
        View details comparison of sales and order in detail  
      </h6>
      <a href="">
        View Details
      </a>
    </div>
    <div class="monthly_comparison_box">
      <h4>
        monthly sales comparison   
      </h4>
      <h6>
        View details comparison of sales and order in detail  
      </h6>
      <a href="">
        View Details
      </a>
    </div>
    <div class="monthly_comparison_box">
      <h4>
        monthly sales comparison   
      </h4>
      <h6>
        View details comparison of sales and order in detail  
      </h6>
      <a href="">
        View Details
      </a>
    </div>
  </div>

</div>

<div class="row mb-5">
  <div class="newOrders">
    <div class="fs-4 fw-bolder  mb-lg-5 info_head">top selling products</div>
    <app-advance-tables-widget9></app-advance-tables-widget9>
  </div>
</div> 



      
