<div class="row">
  <div class="row">
    <div class="col-lg-3">
      <app-stats-widget5
        svgIcon="./assets/media/icons/duotune/general/gen032.svg"
        class="card bg-white hoverable card-xl-stretch mb-xl-5"
        color="white"
        iconColor="primary"
        title="7"
        description="Total Vendors"
      ></app-stats-widget5>
    </div>
    <div class="col-lg-3">
      <app-stats-widget5
        svgIcon="./assets/media/icons/duotune/ecommerce/ecm008.svg"
        class="card bg-dark hoverable card-xl-stretch mb-xl-8"
        color="dark"
        iconColor="white"
        title="341"
        description="Total Orders"
      ></app-stats-widget5>
    </div>
    <div class="col-lg-3">
      <app-stats-widget5
        svgIcon="./assets/media/icons/duotune/graphs/gra007.svg"
        class="card bg-info hoverable"
        color="info"
        iconColor="white"
        title="30367"
        description="Total Customers"
      ></app-stats-widget5>
    </div>
    <div class="col-lg-3">
      <app-stats-widget5
        svgIcon="./assets/media/icons/duotune/graphs/gra007.svg"
        class="card bg-info hoverable card-xl-stretch mb-5 mb-xl-8"
        color="info"
        iconColor="white"
        title="43"
        description="Total Products"
      ></app-stats-widget5>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <app-stats-widget4
        svgIcon="./assets/media/icons/duotune/general/gen025.svg"
        class="card card-xl-stretch mb-xl-8"
        color="success"
        change="3,790.00 Rs"
        description="Last Month Sales"
      ></app-stats-widget4>
    </div>
    <div class="col-xl-4">
      <app-stats-widget4
      svgIcon="./assets/media/icons/duotune/general/gen025.svg"
        class="card card-xl-stretch mb-5 mb-xl-8"
        color="primary"
        change="0.00 Rs"
        description="Last 7 Days Sales"
      ></app-stats-widget4>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-8">
      <app-mixed-widget11
        class="card card-xl-stretch mb-xl-8"
        chartColor="info"
        chartHeight="200px"
      ></app-mixed-widget11>
    </div>
  </div>

  <div class="row">
    <app-tables-widget13 class="card mb-5 mb-xl-8"></app-tables-widget13>
  </div>
</div>
  <!-- <div class="col-xxl-4">
    <app-mixed-widget2
      class="card card-xl-stretch mb-xl-8"
      chartColor="danger"
      chartHeight="200px"
      strokeColor="#cb1e46"
    ></app-mixed-widget2>
  </div>
  <div class="col-xxl-4">
    <app-lists-widget5 class="card card-xxl-stretch"></app-lists-widget5>
  </div>
  <div class="col-xxl-4">
    <app-mixed-widget10
      class="card card-xxl-stretch-50 mb-5 mb-xl-8"
      chartColor="primary"
      chartHeight="150px"
    ></app-mixed-widget10>
    <app-mixed-widget11
      class="card card-xxl-stretch-50 mb-5 mb-xl-8"
      chartColor="primary"
      chartHeight="175px"
    ></app-mixed-widget11>
  </div>
</div>

<div class="row gy-5 gx-xl-8">
  <div class="col-xxl-4">
    <app-lists-widget3
      class="card card-xxl-stretch mb-xl-3"
    ></app-lists-widget3>
  </div>
  <div class="col-xl-8">
    <app-tables-widget10
      class="card card-xxl-stretch mb-5 mb-xl-8"
    ></app-tables-widget10>
  </div>
</div>

<div class="row gy-5 g-xl-8">
  <div class="col-xl-4">
    <app-lists-widget2 class="card card-xl-stretch mb-xl-8"></app-lists-widget2>
  </div>
  <div class="col-xl-4">
    <app-lists-widget6 class="card card-xl-stretch mb-xl-8"></app-lists-widget6>
  </div>
  <div class="col-xl-4">
    <app-lists-widget4
      class="card card-xl-stretch mb-5 mb-xl-8"
    ></app-lists-widget4>
  </div>
</div>

<div class="row g-5 gx-xxl-8">
  <div class="col-xxl-4">
    <app-mixed-widget8
      class="card card-xxl-stretch mb-xl-3"
      chartColor="success"
      chartHeight="150px"
    ></app-mixed-widget8>
  </div>
  <div class="col-xxl-8">
    <app-tables-widget5
      class="card card-xxl-stretch mb-5 mb-xxl-8"
    ></app-tables-widget5>
  </div> -->
