<div class="page-title">
  <div class="fs-2 fw-bolder mb-lg-5"><i class="bi bi-bar-chart fs-1 text-dark"></i> Overview</div>
</div>
<div class="row">
  <div class="row">
    <div class="col-lg-3">
      <app-stats-widget5 svgIcon="./assets/media/icons/duotune/finance/fin008.svg"
        class="card bg-success card-xl-stretch mb-xl-5" color="dark" iconColor="white"
        title="₹ {{data?.header?.revenue}}" description="Total Revenue">
      </app-stats-widget5>
    </div>
    <div class="col-lg-3">
      <app-stats-widget5 svgIcon="./assets/media/icons/duotune/ecommerce/ecm008.svg"
        class="card bg-dark card-xl-stretch mb-xl-8" color="dark" iconColor="white" title="{{data?.header?.orders}}"
        description="Total Orders">
      </app-stats-widget5>
    </div>
    <div class="col-lg-3">
      <app-stats-widget5 svgIcon="./assets/media/icons/duotune/graphs/gra007.svg"
        class="card bg-info card-xl-stretch mb-xl-8" color="info" iconColor="white" title="{{data?.header?.customers}}"
        description="Total Customers">
      </app-stats-widget5>
    </div>
    <div class="col-lg-3">
      <app-stats-widget5 svgIcon="./assets/media/icons/duotune/graphs/gra007.svg"
        class="card bg-primary card-xl-stretch mb-5 mb-xl-8" color="info" iconColor="white"
        title="{{data?.header?.products}}" description="Total Products">
      </app-stats-widget5>
    </div>
  </div>
  <div class="page-title">
    <div class="fs-2 fw-bolder mb-lg-5"><i class="bi bi-bar-chart fs-1 text-dark"></i> Other Informations</div>
  </div>
  <div class="row mb-5">
    <ng-container *ngFor="let info of data?.otherInformations">
      <div class="col-lg-3">
        <app-stats-widget5 svgIcon="./assets/media/icons/duotune/general/gen032.svg"
          class="card bg-white card-xl-stretch mb-xl-5" color="white" iconColor="primary" title="{{info?.value}}"
          description="{{info?.title}}">
        </app-stats-widget5>
      </div>
    </ng-container>
  </div>
  <div class="row mb-5">
    <div class="newOrders">
      <div class="fs-2 fw-bolder mb-lg-5"><i class="bi bi-basket fs-1 text-dark"></i> Latest Orders</div>
      <app-advance-tables-widget9></app-advance-tables-widget9>
    </div>
  </div>
  <div class="row mb-5 mt-10">
    <div class="col-xl-4">
      <div class="stats5Months" *ngIf="monthlyRevenue.length > 0">
        <div class="fs-2 fw-bolder mb-lg-5"><i class="bi bi-clipboard-data fs-1 text-dark"></i> Last
          {{monthlyRevenue.length}}
          month sales</div>
        <app-stats-widget4 svgIcon="./assets/media/icons/duotune/general/gen025.svg"
          class="card card-xl-stretch mb-xl-8" color="success" change="₹ {{monthlyRevenue[0]['revenue']}}"
          description="{{monthlyRevenue[0]['name']}} sales">
        </app-stats-widget4>
      </div>
      <div class="stats7Days" *ngIf="daysRevenue.length > 0">
        <div class="fs-2 fw-bolder mb-lg-5"><i class="bi bi-clipboard-data fs-1 text-dark"></i> Last
          {{daysRevenue.length}}
          days sales</div>
        <app-stats-widget3 svgIcon="./assets/media/icons/duotune/general/gen025.svg"
          class="card card-xl-stretch mb-xl-8" color="success" title="Today Sales"
          change="₹ {{daysRevenue[0]['revenue']}}">
        </app-stats-widget3>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="topSellingProducts  mb-lg-5">
        <div class="fs-2 fw-bolder mb-lg-5"><i class="bi bi-tags fs-1 text-dark"></i> Top Selling Products</div>
        <app-advance-tables-widget4></app-advance-tables-widget4>
      </div>
    </div>
  </div>
</div>