<div class="profilePageContainer">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bold">Media details</h1>
    </div>
    <div class="row">
      <div class="col d-flex align-items-start justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.mediaLibrary }}">Medias</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.mediaLibrary + '/' + mediaQuery }}">Media details</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card my-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="media">
              <!-- <img src="{{mediaDetails.path}}" alt="{{mediaDetails.altTitle}}"
                onerror="this.src = 'assets/media/Media_Preview.png'"> -->


                <img
                *ngIf="isImageFile(mediaDetails.path)"
                src="{{ mediaDetails.path }}"
                alt="{{ mediaDetails.altTitle }}"
                onerror="this.src = 'assets/media/Media_Preview.png'"
              />

              <!-- Display video previews for video files -->
              <video *ngIf="isVideoFile(mediaDetails.path)" controls>
                <source
                  src="{{ mediaDetails.path }}"
                  type="video/{{ getFileExtension(mediaDetails.path) }}"
                />
                Your browser does not support the video tag.
              </video>

              <!-- Display default icon for other file types -->
              <div
                *ngIf="!isImageFile(mediaDetails.path) && !isVideoFile(mediaDetails.path)"
                class="default-file-icon"
              >
                <img src="assets/media/Media_Preview.png" alt="Default file" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="media-details fs-6">
              <div class="item d-flex align-items-center justify-content-between">
                <div class="key">Date</div>
                <div class="value">{{mediaDetails?.createdAt}}</div>
              </div>
              <div class="my-4 item d-flex align-items-center justify-content-between">
                <div class="key">User</div>
                <div class="value">
                  <a routerLink="{{appRoute.admin.UPDATE_ADMIN_USERS}}"
                    [queryParams]="{'admin': mediaDetails?.uploadedBy?.slug}">
                    {{mediaDetails?.uploadedBy?.firstname}}
                  </a>
                </div>
              </div>
              <div class="item d-flex align-items-center justify-content-between">
                <div class="key">Description</div>
                <div class="value">{{mediaDetails?.uploadedDescription}}</div>
              </div>
              <div class="my-4 item d-flex align-items-center justify-content-between">
                <div class="key">Name</div>
                <div class="value">{{mediaDetails?.title}}</div>
              </div>
              <div class="my-4 item d-flex align-items-center justify-content-between">
                <div class="key">originalName</div>
                <div class="value">{{mediaDetails?.originalName}}</div>
              </div>
              <div class="item d-flex align-items-center justify-content-between">
                <div class="key">Type</div>
                <div class="value">{{mediaDetails?.type}}</div>
              </div>
              <div class="my-4 item d-flex align-items-center justify-content-between">
                <div class="key">Size</div>
                <div class="value">{{mediaDetails?.size}} MB</div>
              </div>
            </div>
            <div class="my-4 media-form py-6">
              <div class="form-group mb-3">
                <label for="url" class="form-label">File URL</label>
                <input type="text" placeholder="File URL" [formControl]="mediaUrl" class="form-control">
                <button class="btn mt-3 btn-dark btn-sm" (click)="copyToClipboard()">Copy URL</button>
              </div>
              <div class="form-group mb-3">
                <label for="url" class="form-label">Title</label>
                <input type="text" placeholder="File title" [formControl]="title" class="form-control"
                  (change)="saveDetails()"
                  [ngClass]="{'is-invalid': (title.errors?.['required']  || isSubmitted) && title.touched || title.errors?.['pattern']}">
              </div>
              <div class="form-group">
                <label for="url" class="form-label">Alternative Title</label>
                <textarea type="text" placeholder="Alternative title" [formControl]="altTitle" class="form-control"
                  (change)="saveDetails()"></textarea>
              </div>
            </div>
            </div>
            
            <app-media-delete-confirmation
              *ngIf="showDeleteModal"
              [mediaDetails]="mediaDetails"
              [relatedProducts]="relatedProducts"
              [isRelatedFromCheck]="true"
              (confirmDelete)="onConfirmDelete()"
              (cancelDelete)="onCancelDelete()">
            </app-media-delete-confirmation>
            <div class="mt-6 d-flex align-items-center justify-content-between">
              <button class="btn btn-primary me-1" (click)="updateDetails()">Update</button>
              <button class="btn btn-secondary me-1" (click)="downloadImage(mediaDownload)">Download file</button>
              <button class="btn btn-danger ms-1" (click)="deleteMedia()">Delete file</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
