.media-details {

    .item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 .625rem 0;

        .value {
            margin: 0 0 0 .3125rem;
        }
    }
}

label,
.btn-dark,
.btn-secondary,
.btn-primary {
    font-weight: 400 !important;
}

.edit-btn {
    width: 200px;
}

textarea {
    resize: none;
}

.media {
    height: 100%;
    width: 100%;

    img {
        max-height: 400px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.media-form {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
