<div class="brand-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Banners</h1>
      </div>
      <div class="row">
         <div class="col d-flex align-items-start justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.banner.BANNER_LIST}}">Banners</a>
               </li>
            </ul>
            <button class="btn btn-primary cursor-pointer fs-6" color="primary"
               routerLink="{{ appRoute.banner.ADD_BANNER }}">
               Add Banners
            </button>
         </div>
      </div>
   </div>

   <div class="row mt-3 d-flex align-items-center justify-content-end">
      <div class="search-input col-2">
         <label class="fs-6">&nbsp;</label>
         <input type="text" placeholder="Search items here" class="form-control fs-6" [formControl]="title"
            (ngModelChange)="getBanners()">
      </div>
      <div class="search-status col-2">
         <label class="fs-6">Status</label>
         <select class="form-select fs-6" [formControl]="isActive" (change)="getBanners()">
            <option value="" disabled>Select an option</option>
            <option value=true>Active</option>
            <option value=false>Inactive</option>
         </select>
      </div>
      <div class="search-status col-2">
         <label class="fs-6">Type</label>
         <select class="form-select fs-6" [formControl]="type" (change)="getBanners()">
            <option value="" disabled>Select an option</option>
            <option value="1">Full width</option>
            <option value="2">Half width</option>
            <option value="3">One third width</option>
            <option value="4">Quarter width</option>
         </select>
      </div>
      <div class="search-featured col-2">
         <label class="fs-6">Start Date</label>
         <input type="date" class="form-control fs-6" [formControl]="validFrom" (change)="getBanners()">
      </div>
      <div class="search-featured col-2">
         <label class="fs-6">End Date</label>
         <input type="date" class="form-control fs-6" [formControl]="validTo" (change)="getBanners()">
      </div>
      <div class="search-input col-2">
         <label class="fs-6 mb-1">&nbsp;</label>
         <input type="button" class="form-control btn-secondary fs-6 text-dark" value="Clear filters"
            (click)="clearFilters()">
      </div>
   </div>

   <div class="col-12 d-flex justify-content-between">
      <div class="total-count-container col-sm-3 bg-dark">
         <h4 class="text-white fs-6">Total {{banners.length > 0 ? banners.length : 0}} banners</h4>
      </div>
   </div>

   <div class="banner-card-container view-container col-12">
      <ng-container *ngFor="let banner of banners">
         <div class="banner-card card-hover editable-{{banner?.isEditable}}"
            [ngClass]="{'inactive-banner': !banner?.isActive, 'active-banner': banner?.isActive}">

            <div class="editButton">
               <div [routerLink]="appRoute.banner.UPDATE_BANNER" [queryParams]="{banner: banner?.bannerid}">
                  <img src="assets/icons/editPen.svg" alt="Icon">
               </div>
            </div>

            <div class="banner-card-left">
               <div class="wrapperBox">
                  <div>
                     <div class="banner-title fs-4">{{banner?.title ? banner?.title : '-'}}</div>
                     <div class="banner-from fs-6">Valid From {{banner?.validFrom}}</div>
                     <div class="banner-till fs-6">Valid To {{banner?.validTo}}</div>
                  </div>
                  <div class="wrapperLeft">
                     <div class="banner-status fs-6 active" [ngClass]="{'inactive': !banner?.isActive }">
                        {{banner?.isActive ? 'Active' : 'Inactive' }}
                     </div>
                     <div class="bannerType mt-1">
                        Type : <span class="fs-6 fw-bolder">{{banner?.type}}</span>
                     </div>
                  </div>
               </div>
            </div>

            <div class="banner-card-right">
               <ng-container *ngFor="let _banner of banner?.files">
                  <div class="bannerImage" [ngClass]="{'grid': banner?.type == 4 }">
                     <img src="{{base}}/{{_banner?.file}}" alt="banner">
                  </div>
               </ng-container>
            </div>
         </div>
      </ng-container>
      <ng-container *ngIf="banners.length == 0">
         <div class="emptyNote">
            <div class="fs-3 fw-bolder">No result found</div>
            <div class="fs-6 note">We couldn't find any item based on your search</div>
         </div>
      </ng-container>
   </div>

   <div class="filteringWrapper d-flex align-items-center justify-content-between col-12">
      <div class="filtering">
         <span class="fs-6 text-dark">Show</span>
         <select [formControl]="limit" (change)="getBanners()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
         </select>
         <span class="fs-6 text-dark">entries</span>
      </div>
      <div class="pagination">
         <div class="paginationBefore" [ngClass]="{'disabled': page == 1}" (click)="getPreviousPage()">
            <img src="assets/icons/navigateBefore.svg" alt="Icon">
         </div>
         <div class="paginationPage">{{page}}</div>
         <div class="paginationNext" [ngClass]="{'disabled': lastPage}" (click)="getNextPage()">
            <img src="assets/icons/navigateNext.svg" alt="Icon">
         </div>
      </div>
   </div>
</div>