<div>
    <div class="page-header">
        <div class="page-title">
            <h1 class="fw-bolder">Create blog</h1>
        </div>
        <div class="row align-items-center">
            <div class="col d-flex align-items-start justify-content-between">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item fs-6">
                        <a routerLink="{{ appRoute.blogs.list }}">Blogs</a>
                    </li>
                    <li class="breadcrumb-item active fs-6">
                        <a routerLink="{{ appRoute.blogs.create }}">Create blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="my-4 card">
        <div class="card-body">
            <div class="cover w-100 mb-3">
                <app-assets (mediaClicked)="handleCover($event)" [image]="'cover'"></app-assets>
            </div>
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ratio ratio-1x1 h-auto w-100 rounded mb-3">
                            <app-assets (mediaClicked)="handleThumbnail($event)"></app-assets>
                        </div>
                        <div class="form-group mb-3">
                            <label for="category" class="form-label required">Category</label>
                            <input type="text" id="category" formControlName="category" placeholder="Eg. Fashion"
                                class="form-control"
                                [ngClass]="{
                                    'is-invalid':  (formControls.category.touched || isSubmitted) && formControls.category.errors?.required}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="isActive" class="form-label">Status</label>
                            <select formControlName="isActive" class="form-select" id="isActive">
                                <option value="" disabled>-- Select an option--</option>
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group mb-3">
                            <label for="title" class="form-label required">Title</label>
                            <input type="text" id="title" formControlName="title" class="form-control"
                                [ngClass]="{
                                'is-invalid':  (formControls.title.touched || isSubmitted) && formControls.title.errors?.required}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="description" class="form-label required">Description</label>
                            <angular-editor id="description" class="form-control" formControlName="description"
                                [config]="editorConfig"
                                [ngClass]="{
                                    'is-invalid':  (formControls.description.touched || isSubmitted) && formControls.description.errors?.required}"></angular-editor>
                        </div>
                        <div class="p-4 rounded border border-secondary">
                            <div class="fw-bold fs-2 mb-6">SEO details</div>
                            <div class="form-group mb-3">
                                <label for="seoTitle" class="form-label">Title</label>
                                <input type="text" id="seoTitle" formControlName="seoTitle" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="seoDescription" class="form-label">Description</label>
                                <input type="text" id="seoDescription" formControlName="seoDescription"
                                    class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="seoKeywords" class="form-label">Keywords</label>
                                <input type="text" id="seoKeywords" formControlName="seoKeywords" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="canonicalUrl" class="form-label">Canonical URL</label>
                                <input type="text" id="canonicalUrl" formControlName="canonicalUrl"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-end my-4">
                    <a class="btn btn-secondary me-2" routerLink="{{appRoute.blogs.list}}">Cancel</a>
                    <button class="btn btn-primary ms-2" (click)="onSubmit()">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>