<div class="collection-page-container">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Collections</h1>
    </div>
    <div class="row">
      <div class="col d-flex align-items-start justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.collection.COLLECTION_LIST }}">Collections</a>
          </li>
        </ul>
        <button class="btn btn-primary cursor-pointer fs-6" color="primary"
          routerLink="{{ appRoute.collection.ADD_COLLECTION }}" style="width: 200px;">
          Add Collection
        </button>
      </div>
    </div>
  </div>
  <div class="collection-form-container">
    <form [formGroup]="form">
      <div class="row align-items-end justify-content-end">
        <div class="search-input col-sm-4" style="padding: 0;">
          <input type="text" placeholder="Search collections here..." class="form-control fs-6" formControlName="keyword"
            (ngModelChange)="getCollections()">
        </div>
        <div class="search-status col-lg-2">
          <label for="isActive" class="fs-6 mb-1">Status</label>
          <select name="isActive" id="isActive" class="form-select fs-6" formControlName="isActive" (change)="getCollections()">
            <option value="" disabled>--Select an option--</option>
            <option value=true>Active</option>
            <option value=false>Inactive</option>
          </select>
        </div>
        <div class="search-featured col-lg-2">
          <label for="isFeatured" class="fs-6 mb-1">Featured</label>
          <select name="isFeatured" id="isFeatured" class="form-select fs-6" formControlName="isFeatured" (change)="getCollections()">
            <option value="" disabled>--Select an option--</option>
            <option value=true>Featured</option>
            <option value=false>Non featured</option>
          </select>
        </div>
        <div class="search-submit col-lg-2">
          <button type="button" class="form-control fs-6 bg-secondary text-dark" (click)="clearFilters()"
            style="outline: none; border: none;">Clear filters</button>
        </div>
      </div>
    </form>
  </div>

  <div class="mb-3 mt-3 d-flex align-items-center justify-content-between">
    <div class="total-count-container col-lg-3 bg-dark">
      <h4 class="text-white fs-6">Total {{totalResults ? totalResults : 0}} collections</h4>
    </div>
    <div>
      <button class="btn btn-secondary cursor-pointer fs-6" color="primary"
        routerLink="{{ appRoute.collection.ARCHIVED_COLLECTION}}">Archived Collections</button>
    </div>
  </div>

  <div class="collection-card-container view-container">
    <ng-container *ngFor="let collection of collections">
      <div class="collection-card card-hover">
        <div class="editButton">
          <div routerLink="{{ appRoute.collection.UPDATE_COLLECTION }}"
            [queryParams]="{ collection: collection?.slug }">
            <img src="../../../../../assets/icons/editPen.svg" alt="Icon">
          </div>
        </div>

        <div class="collection-image">
          <img src='{{base}}/{{collection?.file}}' alt="Image" />
        </div>

        <div class="collectionDetails">
          <div class="mb-3">
            <div class="collection-name fs-4">{{collection?.name}}</div>
            <div class="collection-subname fs-6">{{collection?.subname ? collection?.subname : '-'}}</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="fs-6 alert alert-success p-1" [ngClass]="{'alert-danger': !collection?.isActive}">
              {{collection?.isActive ? 'Active' : 'Inactive'}}
            </div>
            <div class="fs-6 alert alert-info p-1" *ngIf="collection?.isFeatured">
              {{collection?.isFeatured ? 'Featured' : null}}
            </div>
          </div>
        </div>

      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="collections.length == 0">
    <div class="emptyNote">
      <div class="fs-3 fw-bolder">No result found</div>
      <div class="fs-6 note">We couldn't find any item based on your search</div>
    </div>
  </ng-container>

  <div class="filteringWrapper d-flex align-items-center justify-content-between col-12">
    <div class="filtering">
      <span class="fs-6 text-dark">Show</span>
      <select [formControl]="limit" (change)="getCollections()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="40">40</option>
      </select>
      <span class="fs-6 text-dark">entries</span>
    </div>
    <div class="filteringResultCount fs-6">
      Showing <span class="me-1 ms-1">{{collections.length}}</span> of <span class="ms-1">{{totalResults ?
        totalResults : '0'}}</span>
    </div>
    <div class="pagination">
      <div class="paginationBefore" [ngClass]="{'disabled': page == 1}" (click)="getPreviousPage()">
        <img src="../../../../../assets/icons/navigateBefore.svg" alt="Icon">
      </div>
      <div class="paginationPage">{{page}} of {{totalPages}}</div>
      <div class="paginationNext" [ngClass]="{'disabled': isLastPage}" (click)="getNextPage()">
        <img src="../../../../../assets/icons/navigateNext.svg" alt="Icon">
      </div>
    </div>
  </div>

</div>