$hover: #e3e3e3;
$white: #ffffff;

label,
.btn-secondary,
.btn-primary {
  font-weight: normal !important;
}

.collection-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .collection-card {
    background: $white;
    position: relative;

    img {
      height: 60px;
      width: 60px;
    }

    .editButton {
      position: absolute;
      right: .625rem;
      top: .625rem;
      width: 2.5rem;
      height: 2.5rem;
      display: grid;
      place-items: center;
      cursor: pointer;
      border-radius: 0.5rem;

      &:hover {
        background: $hover;
      }
    }

    .collectionDetails {
      margin: 0 0 0 10px;
      width: calc(100% - 70px);

      .alert {
        width: max-content;
      }
    }
  }
}