.collection-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.collection-card {
  height: 200px;
  padding: 10px 30px;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection-details {
  display: flex;
  align-self: center;
  justify-content: start
}

.collection-details .flex-1 {
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collection-image {
  height: 120px;
  width: 120px;
}

.collection-image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.collection-details {
  margin: 0 0 0 20px;
}

.collection-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.collection-subname {
  font-size: 1rem;
  font-weight: 600;
}

.collection-status-true {
  width: 150px;
  background: #00bdab;
  color: #ffffff;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-status-false {
  width: 150px;
  background: #c64a54;
  color: #ffffff;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-featured-true {
  color: #00bdab;
  font-weight: 600;
  font-size: 1.1rem;
}

.collection-featured-false {
  color: #0087bd;
  font-weight: 600;
  font-size: 1.1rem;
}