<div class="collection-page-container">
  <div class="page-header">
    <div class="page-title">
      <h1 class="fw-bolder">Collections</h1>
    </div>
    <div class="row">
      <div class="col d-flex align-items-start justify-content-between">
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-6">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active fs-6">
            <a routerLink="{{ appRoute.collection.COLLECTION_LIST }}">Collections</a>
          </li>
        </ul>
        <button class="btn btn-primary cursor-pointer fs-6" color="primary"
          routerLink="{{ appRoute.collection.ADD_COLLECTION }}" style="width: 200px;">
          Add Collection
        </button>
      </div>
    </div>
  </div>

  <div class="card p-4 my-4">
    <div class="row">
      <div class="col-lg-6">
        <input type="text" id="keyword" placeholder="Search collections here..." class="form-control"
          [formControl]="keyword" (ngModelChange)="getCollections()">
      </div>
      <div class="col-lg-4">
        <select name="isActive" id="isActive" class="form-select" [formControl]="isActive" (change)="getCollections()">
          <option value="" disabled>--Select an option--</option>
          <option value=true>Active</option>
          <option value=false>Inactive</option>
        </select>
      </div>
      <div class="col-lg-2">
        <button type="button" id="clear" class="w-100 btn bg-secondary" (click)="clearFilters()">Clear
          filters</button>
      </div>
    </div>
  </div>

  <div>
    <div class="collection-cards">
      <ng-container *ngFor="let collection of collections">
        <div class="collection-card">
          <div class="editButton">
            <div routerLink="{{ appRoute.collection.UPDATE_COLLECTION }}"
              [queryParams]="{ collection: collection?.slug }">
              <img src="../../../../../assets/icons/editPen.svg" alt="Icon">
            </div>
          </div>

          <div class="collection-image">
            <img src='{{base}}/{{collection?.thumbnail?.path}}' alt="{{collection?.name}}"
              onerror="this.src = '../../../../../assets/images/default.png'" />
          </div>

          <div class="collectionDetails">
            <div class="fw-bolder fs-4">{{collection?.name}}</div>
            <div class="fs-6 alert my-2 p-1"
              [ngClass]="{'alert-danger': collection?.isActive == false, 'alert-success': collection?.isActive == true}">
              {{collection?.isActive == true ? 'Active' : 'Inactive'}}
            </div>
          </div>

        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="collections.length == 0">
      <div class="emptyNote">
        <div class="fs-3 fw-bolder">No result found</div>
        <div class="fs-6 note">We couldn't find any item based on your search</div>
      </div>
    </ng-container>
  </div>

  <div class="my-4">
    <app-pagination (pageTrigger)="onPageTriggered($event)" [totalResults]="totalResults" [totalPages]="totalPages"
      [pageIndex]="page" [pageSize]="limit"></app-pagination>
  </div>
</div>