$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primary: #00bdab;
$activeBackground: #00bdab20;
$border: #cccccc;
$hover: #F0F8F7;
$grey: #888888;

.collection-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.collection-card {
  padding: 10px;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .editButton {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 20px;

    &:hover {
      background: $hover;
    }
  }

  .collection-image {
    height: 100px;
    width: 100px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }

  .collectionDetails {
    margin: 0 0 0 10px;
  }
}

.collection-name {
  font-weight: 600;
}

.collection-status-true {
  color: #00bdab;
  font-weight: 600;
}

.collection-status-false {
  color: #ce1626;
  font-weight: 600;
}

.collection-featured-true {
  color: #00bdab;
  font-weight: 600;
}

.collection-featured-false {
  color: #0087bd;
  font-weight: 600;
}