<div class="card card-custom card-stretch gutter-b">
  <div class="card-header border-0 py-5 d-flex align-items-center justify-content-end">
    <div class="card-toolbar">
      <a routerLink="{{appRoutes.product.ALL_PRODUCTS}}" class="btn btn-primary fw-bolder font-size-sm mr-3">View All
        Products</a>
    </div>
  </div>
  <div class="card-body pt-3 pb-3">
    <div class="tab-content">
      <div class="table-responsive">
        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
          <thead>
            <tr class="text-left fs-5 text-gray-400">
              <th style="min-width: 250px" class="pl-7">
                <span class="text-dark-75">Products</span>
              </th>
              <th style="min-width: 100px">Earnings</th>
              <th style="min-width: 100px">Stock</th>
              <th style="min-width: 100px">Orders </th>
              <th style="min-width: 120px">Image</th>
              <th style="min-width: 80px">Reviews</th>
            </tr>
          </thead>
          <tbody class="fs-5">
            <tr *ngFor="let product of products">
              <td class="productName"><span routerLink="{{appRoutes.product.UPDATE_PRODUCT}}"
                  [queryParams]="{'id': product?.prodid}">{{product?.name}}</span></td>
              <td>₹ {{product?.earning[0]?.count ? product?.earning[0]?.count : 0}}</td>
              <td>{{product?.stock}}</td>
              <td>{{product?.orders[0]?.count ? product?.orders[0]?.count : 0}}</td>
              <td>
                <img src="{{product?.image}}" alt="" style="height: 50px; width: 50px; border-radius: 10px">
              </td>
              <td>{{product?.reviews[0]?.count ? product?.reviews[0]?.count : 0}}</td>
            </tr>
            <tr *ngIf="products.length == 0">
              <div class="emptyImage">
                <img src="../../../../../../../assets/media/5.png" alt="Image">
              </div>
              <div class="emptyNote">No data available</div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>