.color-picker {
   height: 50px;
 }
 
 .color-div {
   position: relative;
   height: 50px;
   width: 50px;
   margin: 10px 30px 0 0;
   border-radius: 5px;
 }
 
 .close-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: -10px;
   right: -10px;
   height: 25px;
   width: 25px;
   background: #ffffff;
   border: 1px solid #eeeeee;
   border-radius: 50px;
 }
 
 .preview-image-section {
   display: grid;
   grid-template-columns: auto auto auto;
 }
 
 .preview-image {
   margin: 10px 0;
   height: 100px;
   width: 80px;
   object-fit: contain;
 }
 
 .preview-image img {
   border-radius: 5px;
   height: 100%;
   width: 100%;
 }
 
 .color-inputs {
   display: grid;
   grid-auto-flow: column;
   align-content: center;
   justify-content: start;
   align-items: center;
 }