<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title fs-2">
          {{ editMode ? "Update Attribute" : "Add Attribute" }}
        </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.category.CATEGORY_LIST }}">Categories</a>
          </li>
          <li class="breadcrumb-item fs-5">
            <a routerLink="{{ appRoute.attribute.ATTRIBUTE_LIST }}" [queryParams]="{ category: slug }">Attributes</a>
          </li>
          <li class="breadcrumb-item active fs-5">
            <a routerLink="{{ appRoute.attribute.UPDATE_ATTRIBUTE }}"
              [queryParams]="{ category: slug, attribute: attribute }">
              {{ editMode ? "Update Attribute" : "Add Attribute" }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row mt-10">
    <div class="col-sm-12 fs-6">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="attributeForm" enctype="multipart/form-data" (keydown.Enter)="$event.preventDefault()">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title fs-4"><span>Attributes Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Attribute Name</label>
                  <input type="text" class="form-control fs-6" formControlName="name" [ngClass]="{
                    'is-invalid':
                    (af.name.touched || isSubmitted) &&
                    af.name.errors?.required
                  }" />
                  <div class="fs-7 mt-3">A attribute name is required and recommended to be unique.</div>
                </div>
              </div>
              <div class="col-12 col-sm-6"></div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3 required">Value Type</label>
                  <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
                    formControlName="type" (change)="changeValueType()">
                    <option value="check" disabled>
                      -- Select An Option --
                    </option>
                    <option value="text" selected>Text</option>
                    <option value="image">Image</option>
                    <option value="color">Color Picker</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6"></div>
              <ng-container *ngIf="textFlag">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3 required">Text </label>
                    <input class="form-control fs-6 mb-10" formControlName="values" (keyup.Enter)="tagInput()" />
                    <div class="tag-inputs col-12">
                      <ng-container *ngFor="let value of textArray">
                        <span class="tag-input bg-primary">{{ value }}
                          <i class="bi bi-x" (click)="tagRemove(value)"></i></span>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6"></div>
              </ng-container>
              <ng-container *ngIf="colorFlag">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label class="fs-6 mb-3 required"> Colors </label>
                    <input type="color" class="form-control color-picker fs-6 mb-10" formControlName="colorValue"
                      (keyup.Arrowright)="tagInput()" (change)="getColorCode()" />
                  </div>
                  <div class="color-inputs col-12">
                    <ng-container *ngFor="let color of colorArray">
                      <div class="color-div" [ngStyle]="{ backgroundColor: color }">
                        <i class="bi bi-x fs-1 bg-dark text-white close-btn" (click)="colorRemove(color)"></i>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12 col-sm-6"></div>
              </ng-container>
              <ng-container *ngIf="imageFlag">
                <div class="col-12">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#fileModal"
                      style="width: 200px; border-radius: 50px;">
                      Upload File
                    </button>
                  </div>
                </div>

                <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="col-12">
                          <div class="form-group">
                            <label class="fs-6 mb-3 form-title required">Media File</label>
                            <div class="image-upload">
                              <input type="file" class="form-control fs-6" name="multi-files" accept="image/*"
                                (change)="handleInputChange($event)" formControlName="file">
                              <label class="fs-7 text-disabled">Please upload an image of size 546px *
                                390px</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 upload-layout">
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary fs-6" style="width: 200px"
                            data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary fs-6" style="width: 200px"
                            (click)="addFile()">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uploaded-attributes">
                  <div *ngFor="let attribute of localdata; let i=index">
                    <ng-container *ngIf="attribute?.url == '' ">
                      <div class="attribute-card">
                        <div class="attribute-image fs-6 fw-bold mt-3">
                          <img class="attribute-preview" src="http://localhost:3000/{{attribute?.file}}" alt=""
                            srcset="">
                          <div class="close-icon bg-dark" (click)="removeFile(attribute?.id)">
                            <i class="bi bi-x-lg text-white"></i>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="attribute?.url != '' ">
                      <div class="attribute-card">
                        <div class="attribute-image fs-6 fw-bold mt-3">
                          <img class="attribute-preview" [src]="attribute?.url" alt="" srcset="">
                          <div class="close-icon bg-dark" (click)="removeFile(attribute?.id)">
                            <i class="bi bi-x-lg text-white"></i>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <!-- <div class="col-12 col-sm-6"></div> -->
              </ng-container>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Active</label>
                  <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
                    formControlName="isActive">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="fs-6 mb-3">Filtered Attribute ?</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                    formControlName="isFiltered">
                    <option value="false">False</option>
                    <option value="true">True</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <a routerLink="{{ appRoute.attribute.ATTRIBUTE_LIST}}" [queryParams]="{category: slug}"
                  class=" btn btn-secondary btn-sm fs-6 text-dark" style="width: 200px; margin-right: 20px;">
                  Cancel
                </a>
                <button (click)="onSubmit()" class="btn btn-primary btn-sm fs-6" style="width: 200px">
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
</script> -->