<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title fw-bolder fs-2">
               {{ editMode ? "Update Customers" : "Add Customers" }}
            </h3>
            <ul class="breadcrumb fw-bolder">
               <li class="breadcrumb-item fs-5">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item fs-5">
                  <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST }}">Customers</a>
               </li>
               <li class="breadcrumb-item active fs-5">
                  <a routerLink="{{ appRoute.customers.ADD_CUSTOMERS_LIST }}">
                     {{ editMode ? "Update Customers" : "Add Customers"}}
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row mt-10">
      <div class="col-sm-12 fs-5">
         <div class="card">
            <div class="card-body">
               <form [formGroup]="customersForm">
                  <div class="row">
                     <div class="col-12">
                        <h2 class="form-title">Customers Details</h2>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required">First Name</label>
                           <input type="text" class="form-control fs-5" formControlName="name" [ngClass]="{
                              'is-invalid':
                              (cf.name.touched || isSubmitted) &&
                              cf.name.errors?.required
                            }" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required"> Email</label>
                           <input type="email" class="form-control fs-5" formControlName="email" [ngClass]="{
                              'is-invalid':
                              (cf.email.touched || isSubmitted) &&
                              cf.email.errors?.required
                            }" (change)="checkEmail($event.target)" />
                        </div>
                        <div class="text-danger" *ngIf="cf.email.errors?.pattern">Please, Enter Valid Email</div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required">Country Code</label>
                           <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                              formControlName="countryCode">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="+91">+91</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required"> Mobile No.</label>
                           <input type="number" class="form-control fs-5" formControlName="mobile"
                              (change)="validateNumber($event.target)" [ngClass]="{
                              'is-invalid':
                              (cf.mobile.touched || isSubmitted) &&
                              cf.mobile.errors?.required
                            }" />
                        </div>
                        <div class="text-danger" *ngIf="cf.mobile.errors?.pattern">Please, Enter Valid Phone Number
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <label class="fs-5 mb-3 form-title">Wallet Balance</label>
                        <div class="input-group mb-3">
                           <span class="input-group-text">Rs</span>
                           <input type="number" class="form-control" formControlName="walletBalance" [ngClass]="{
                              'is-invalid':
                              (cf.walletBalance.touched || isSubmitted) &&
                              cf.walletBalance.errors?.required
                            }">
                           <span class="input-group-text">.00</span>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required">Status</label>
                           <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                              formControlName="isActive">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="true">Active</option>
                              <option value="false">Inactive</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12">
                        <h5 class="form-title fs-4"><span>Address Details</span></h5>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required">Address Type</label>
                           <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                              formControlName="type" [ngClass]="{
                                 'is-invalid':
                                 (cf.type.touched || isSubmitted) &&
                                 cf.type.errors?.required
                               }">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="Home">Home</option>
                              <option value="Work">Work</option>
                              <option value="Other">Other</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required"> Address Line 1</label>
                           <input type="text" class="form-control fs-5" formControlName="firstline" [ngClass]="{
                              'is-invalid':
                              (cf.firstline.touched || isSubmitted) &&
                              cf.firstline.errors?.required
                            }" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3"> Address Line 2</label>
                           <input type="text" class="form-control fs-5" formControlName="secondline" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3"> Area</label>
                           <input type="text" class="form-control fs-5" formControlName="area" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required"> City</label>
                           <input type="text" class="form-control fs-5" formControlName="city" [ngClass]="{
                              'is-invalid':
                              (cf.city.touched || isSubmitted) &&
                              cf.city.errors?.required
                            }" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required"> Landmark</label>
                           <input type="text" class="form-control fs-5" formControlName="landmark" [ngClass]="{
                              'is-invalid':
                              (cf.landmark.touched || isSubmitted) &&
                              cf.landmark.errors?.required
                            }" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required"> Pincode</label>
                           <input type="number" class="form-control fs-5" formControlName="pincode" [ngClass]="{
                              'is-invalid':
                              (cf.pincode.touched || isSubmitted) &&
                              cf.pincode.errors?.required
                            }" />
                        </div>
                        <div class="text-danger" *ngIf="cf.pincode.errors?.pattern">Please, Enter Valid Pincode</div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title"> Latitude</label>
                           <input type="number" class="form-control fs-5" formControlName="lat" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title"> Longitude</label>
                           <input type="number" class="form-control fs-5" formControlName="lng" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required">State</label>
                           <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                              formControlName="state" [ngClass]="{
                                 'is-invalid':
                                 (cf.state.touched || isSubmitted) &&
                                 cf.state.errors?.required
                               }">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="Kerala">Kerala</option>
                              <option value="Karnataka">Karnataka</option>
                              <option value="Tamilnadu">Tamilnadu</option>
                              <option value="Goa">Goa</option>
                              <option value="Maharastra">Maharastra</option>
                              <option value="Gujarat">Gujarat</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12 d-flex align-items-center justify-content-end">
                        <button class="btn btn-primary btn-sm fs-5" (click)="addAddress()" style="width: 200px">
                           Save Address
                        </button>
                     </div>
                     <div class="col-12" *ngIf="addresses.length > 0">
                        <div class="col-12">
                           <h5 class="form-title fs-4">Select Default Address</h5>
                           <div class="fs-6">
                              If none of them are selected, first address will be selected as default address
                           </div>
                        </div>
                        <ng-container *ngFor="let address of addresses; let i =index">
                           <div class="address-card col-12" *ngIf="selectedID != address?.id">
                              <div class="form-check">
                                 <input class="form-check-input" type="radio" name="flexRadioDefault" id="address"
                                    (click)="selectAddress(i)">
                                 <label class="form-check-label" for="address">
                                    <div class="address-type">{{address?.type}}</div>
                                    <div class="label-address">
                                       {{address?.firstline}},
                                       {{address?.secondline}}
                                       <br>
                                       {{address?.city}},
                                       {{address?.landmark}},
                                       <br>
                                       {{address?.pincode}},
                                       {{address?.state}}
                                    </div>
                                 </label>
                              </div>
                              <div class="delete-address" (click)="removeAddress(i)">
                                 <i class="bi bi-x-lg"></i>
                              </div>
                           </div>
                           <div class="address-card col-12" *ngIf="selectedID == address?.id">
                              <div class="form-check">
                                 <input class="form-check-input" type="radio" name="flexRadioDefault" id="address"
                                    (click)="selectAddress(i)" checked>
                                 <label class="form-check-label" for="address">
                                    <div class="address-type">{{address?.isHome == 'true' ? 'Home' : 'Office'}}</div>
                                    <div class="label-address">
                                       {{address?.firstline}},
                                       {{address?.secondline}}
                                       <br>
                                       {{address?.city}},
                                       {{address?.landmark}},
                                       <br>
                                       {{address?.pincode}},
                                       {{address?.state}}
                                    </div>
                                 </label>
                              </div>
                              <div class="delete-address" (click)="removeAddress(i)">
                                 <i class="bi bi-x-lg"></i>
                              </div>
                           </div>
                        </ng-container>
                     </div>
                     <div class="col-12 d-flex align-items-center justify-content-end">
                        <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST}}"
                           class="btn btn-secondary btn-sm fs-5 text-dark" style="width: 200px; margin-right: 20px;">
                           Cancel
                        </a>
                        <button type="submit" class="btn btn-primary btn-sm fs-5" style="width: 200px"
                           [ngClass]="{'disabled-button': !validBtn}" (click)="onSubmit()">
                           Update
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>