<div class="content container-fluid">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder"> {{ editMode ? "Update Customers" : "Add Customers"}}</h1>
      </div>
      <div class="row align-items-center">
         <div class="col d-flex align-items-start justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST }}">Customers</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.customers.UPDATE_CUSTOMERS_LIST }}" [queryParams]="{'customer': slug}">
                     {{ editMode ? "Update Customers" : "Add Customers"}}
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <div class="row mt-4">
      <div class="col-12 fs-6">
         <div class="card">
            <div class="card-body">
               <form [formGroup]="customersForm">
                  <div class="row">

                     <div class="mb-4">
                        <h2 class="form-title">Customers Details</h2>
                     </div>

                     <div class=" col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3 required">First Name</label>
                           <input type="text" class="form-control fs-6" formControlName="name" [ngClass]="{
                              'is-invalid':
                              (cf.name.touched || isSubmitted) &&
                              cf.name.errors?.required
                            }" />
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3 required"> Email</label>
                           <input type="email" class="form-control fs-6" formControlName="email" [ngClass]="{
                              'is-invalid':
                              (cf.email.touched || isSubmitted) &&
                              cf.email.errors?.required
                            }" (change)="checkEmail($event.target)" />
                        </div>
                        <div class="text-danger" *ngIf="cf.email.errors?.pattern">Please, Enter Valid Email</div>
                     </div>
                     <div class="col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3 required">Country Code</label>
                           <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                              formControlName="countryCode">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="+91">+91</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3 required"> Mobile No.</label>
                           <input type="number" class="form-control fs-6" formControlName="mobile"
                              (change)="validateNumber($event.target)" [ngClass]="{
                              'is-invalid':
                              (cf.mobile.touched || isSubmitted) &&
                              cf.mobile.errors?.required
                            }" />
                        </div>
                        <div class="text-danger" *ngIf="cf.mobile.errors?.pattern">Please, Enter Valid Phone Number
                        </div>
                     </div>
                     <div class="col-6">
                        <label class="fs-6 mb-3">Wallet Balance</label>
                        <div class="input-group mb-3">
                           <span class="input-group-text">Rs</span>
                           <input type="number" class="form-control" formControlName="walletBalance" [ngClass]="{
                              'is-invalid':
                              (cf.walletBalance.touched || isSubmitted) &&
                              cf.walletBalance.errors?.required
                            }">
                           <span class="input-group-text">.00</span>
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="form-group mb-3">
                           <label class="fs-6 mb-3">Status</label>
                           <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                              formControlName="isActive">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="true">Active</option>
                              <option value="false">Inactive</option>
                           </select>
                        </div>
                     </div>

                     <div class="addressWrapper">
                        <h3 class="mb-3 fw-bolder fs-4">Address</h3>
                        <div class="addressCards">
                           <ng-container *ngFor="let address of addresses">
                              <div class="addressCard p-3 rounded"
                                 [ngClass]="{'defaultAddressCard': address?.isDefault}">
                                 <div (click)="setDefaultAddress(address?.refid)">
                                    <div class="contactDetails fs-6">
                                       {{address?.name}}, {{address?.countryCode}} {{address?.mobile}}
                                    </div>
                                    <div class="address">
                                       <div class="type fs-6 mb-1">{{address?.type}}</div>
                                       <div class="fs-6 addressLane"> {{address?.firstlane}}, {{address?.secondlane}}
                                       </div>
                                       <div class="fs-6"> {{address?.landmark}} {{address?.pincode}}</div>
                                       <div class="fs-6"> {{address?.state}}</div>
                                    </div>
                                 </div>

                                 <div class="mt-2 d-flex align-items-center justify-content-start">
                                    <div class="btn w-50 btn-secondary me-2" (click)="editAddress(address?.refid)">
                                       Edit</div>
                                    <div class="btn w-50 btn-danger" (click)="removeAddress(address?.refid)">Delete
                                    </div>
                                 </div>
                              </div>
                           </ng-container>
                        </div>

                        <ng-container *ngIf="addresses.length == 0">
                           <div>No address found</div>
                        </ng-container>
                     </div>

                     <div class="col-12">
                        <h3 class="mb-3 fw-bolder fs-4">Address Details</h3>
                        <form [formGroup]="addressForm">
                           <div class="row">
                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3 required">Address Type</label>
                                    <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
                                       formControlName="type" [ngClass]="{
                                          'is-invalid':
                                          (addressControls.type.touched || isAddressSubmitted) &&
                                          addressControls.type.errors?.required
                                        }">
                                       <option value="" disabled>-- Select an option --</option>
                                       <option value="Home">Home</option>
                                       <option value="Work">Work</option>
                                       <option value="Others">Other</option>
                                    </select>
                                 </div>
                              </div>

                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3">Name</label>
                                    <input type="text" class="form-control fs-6" formControlName="name" />
                                 </div>
                              </div>

                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3">Country Code</label>
                                    <select class="form-select mb-3" formControlName="countryCode">
                                       <option value="" disabled>-- Select an option --</option>
                                       <option value="+91">+91</option>
                                       <option value="+971">+971</option>
                                    </select>
                                 </div>
                              </div>

                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3">Mobile Number</label>
                                    <input type="text" class="form-control fs-6" [ngClass]="{
                                       'is-invalid': addressControls.mobile.errors?.pattern
                                     }" formControlName="mobile" />
                                     <div class="mt-2 p-2 alert alert-danger" *ngIf="addressControls.mobile.errors?.pattern">
                                       Enter a valid mobile number
                                     </div>
                                 </div>
                              </div>

                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3 required">Firstlane</label>
                                    <input type="text" class="form-control fs-6" formControlName="firstlane" [ngClass]="{
                                       'is-invalid':
                                       (addressControls.firstlane.touched || isAddressSubmitted) &&
                                       addressControls.firstlane.errors?.required
                                     }" />
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3">Secondlane</label>
                                    <input type="text" class="form-control fs-6" formControlName="secondlane" />
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3"> Area</label>
                                    <input type="text" class="form-control fs-6" formControlName="area" />
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3 required"> City</label>
                                    <input type="text" class="form-control fs-6" formControlName="city" [ngClass]="{
                                       'is-invalid':
                                       (addressControls.city.touched || isAddressSubmitted) &&
                                       addressControls.city.errors?.required
                                     }" />
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3 required"> Landmark</label>
                                    <input type="text" class="form-control fs-6" formControlName="landmark" [ngClass]="{
                                       'is-invalid':
                                       (addressControls.landmark.touched || isAddressSubmitted) &&
                                       addressControls.landmark.errors?.required
                                     }" />
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3"> Pincode</label>
                                    <input type="number" class="form-control fs-6" formControlName="pincode" [ngClass]="{
                                       'is-invalid':
                                       (addressControls.pincode.touched || isAddressSubmitted) &&
                                       addressControls.pincode.errors?.required
                                     }" />
                                 </div>
                                 <div class="text-danger" *ngIf="addressControls.pincode.errors?.pattern">Please, Enter
                                    Valid Pincode
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3"> Latitude</label>
                                    <input type="number" class="form-control fs-6" formControlName="lat" />
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="form-group mb-3">
                                    <label class="fs-6 mb-3"> Longitude</label>
                                    <input type="number" class="form-control fs-6" formControlName="lng" />
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="form-group mb-3 mb-3">
                                    <label class="fs-6 mb-3 required">State</label>
                                    <select class="form-select form-select-lg mb-3 fs-6" aria-label=".form-select-lg"
                                       formControlName="state" [ngClass]="{
                                          'is-invalid':
                                          (addressControls.state.touched || isAddressSubmitted) &&
                                          addressControls.state.errors?.required
                                        }">
                                       <option value="" disabled>-- Select an option --</option>
                                       <option value="Kerala">Kerala</option>
                                       <option value="Karnataka">Karnataka</option>
                                       <option value="Tamilnadu">Tamilnadu</option>
                                       <option value="Goa">Goa</option>
                                       <option value="Maharastra">Maharastra</option>
                                       <option value="Gujarat">Gujarat</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>

                     <div class="col-12 d-flex align-items-center justify-content-end">
                        <button class="btn btn-primary btn-sm fs-6" (click)="addAddress()" style="width: 200px">
                           Save Address
                        </button>
                     </div>

                     <div class="col-12 d-flex align-items-center justify-content-end">
                        <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST}}"
                           class="btn btn-secondary btn-sm fs-6 text-dark" style="width: 200px; margin-right: 20px;">
                           Cancel
                        </a>
                        <button type="submit" class="btn btn-primary btn-sm fs-6" style="width: 200px"
                           [ngClass]="{'disabled-button': !validBtn}" (click)="onSubmit()">
                           Update
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>