$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.04);
$inactiveState: #ce1626;
$activeState: #00BDAB;
$primaryBackground: #20BDAB05;
$activeBackground: #00BDAB20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

//Table designs
.table {
   background: #ffffff;
   font-size: 14px;

   tbody {

       tr {

           td {
               vertical-align: middle;
           }
       }
   }

   thead {

       tr {

           th {
               font-weight: 400 !important;
           }
       }

       background: #E4E7F4;
   }
}

//Order status designs
.accepted-orders {
   background: #2f6fe5;
   color: #ffffff;
 }
 
 .success-orders {
   background: #2b9e68;
   color: #ffffff
 }
 
 .cancelled-orders {
   background: #bb2b2b;
   color: #ffffff;
 }

.md-local {
   background-color: #009688;
   border-color: #00695C;
   color: #fff;
}

.loyalty-credit {
   color: #009688;
}

.loyalty-debit {
   color: #960000;
}

.type{
   width: max-content;
}

label,
input[type=button],
.btn-secondary,
.btn-primary {
   font-weight: normal !important;
}

.addressWrapper {
   margin: 3rem 0;

   .addressCards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      .addressCard {
         background: $white;
         border: 1px solid #eeeeee;
         cursor: pointer;

         .contactDetails,
         .addressLane {
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
         }

         &.defaultAddressCard {
            border: 1px solid $activeState;
            background: $primaryBackground;
         }
      }
   }
}

.transactions {
   overflow-y: scroll;
   max-height: 200px;
   height: max-content;
}

.modal-body {
   .btn {

      &.btn-default {
         font-weight: 400;
      }
   }
}

.credited {
   color: #268847;
}

.debited {
   color: #c73030;
}