$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.04);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20BDAB05;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

.md-local {
   background-color: #009688;
   border-color: #00695C;
   color: #fff;
 }

label,
input[type=button],
.btn-secondary {
   font-weight: normal !important;
}

.addressWrapper {
   margin: 3rem 0;
   
   .addressCards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      .addressCard {
         background: $white;
         border: 1px solid #eeeeee;
         cursor: pointer;

         .contactDetails,
         .addressLane {
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
         }

         &.defaultAddressCard {
            border: 1px solid $activeState;
            background: $primaryBackground;
         }
      }
   }
}

.transactions{
   overflow-y: scroll;
   max-height: 360px;
   height: max-content;
}

.modal-body {
   .btn {

      &.btn-default {
         font-weight: 400;
      }
   }
}