<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title fw-bolder fs-2">
               {{ editMode ? "Update Customers" : "Add Customers" }}
            </h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST }}">Customers</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.customers.ADD_CUSTOMERS_LIST }}">
                     {{ editMode ? "Update Customers" : "Add Customers"}}
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row mt-10">
      <div class="col-sm-12 fs-6">
         <div class="card">
            <div class="card-body">
               <form (ngSubmit)="onSubmit()" [formGroup]="customersForm">
                  <div class="row">
                     <div class="col-12">
                        <h5 class="form-title fs-4"><span>Customers Details</span></h5>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> First Name</label>
                           <input type="text" class="form-control fs-6" formControlName="firstname" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> Last Name</label>
                           <input type="text" class="form-control fs-6" formControlName="lastname" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> Email</label>
                           <input type="text" class="form-control fs-6" formControlName="email"
                              (change)="checkEmail()" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> Mobile No.</label>
                           <input type="text" class="form-control fs-6" formControlName="mobile" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <label class="fs-6 mb-3">Wallet Balance</label>
                        <div class="input-group mb-3">
                           <span class="input-group-text">Rs</span>
                           <input type="text" class="form-control" formControlName="walletBalance">
                           <span class="input-group-text">.00</span>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3">Status</label>
                           <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                              formControlName="isActive">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="true">Active</option>
                              <option value="false">Inactive</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12">
                        <h5 class="form-title fs-4"><span>Address Details</span></h5>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3">Address Type</label>
                           <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                              formControlName="isHome">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="true">Home</option>
                              <option value="false">Office</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> Address Line 1</label>
                           <input type="text" class="form-control fs-6" formControlName="firstline" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> Address Line 2</label>
                           <input type="text" class="form-control fs-6" formControlName="secondline" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> Area</label>
                           <input type="text" class="form-control fs-6" formControlName="area" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> City</label>
                           <input type="text" class="form-control fs-6" formControlName="city" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> Landmark</label>
                           <input type="text" class="form-control fs-6" formControlName="landmark" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> Pincode</label>
                           <input type="text" class="form-control fs-6" formControlName="pincode" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> Latitude</label>
                           <input type="text" class="form-control fs-6" formControlName="lat" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3"> Longitude</label>
                           <input type="text" class="form-control fs-6" formControlName="lng" />
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-6 mb-3">State</label>
                           <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                              formControlName="state">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="Kerala">Kerala</option>
                              <option value="Karnataka">Karnataka</option>
                              <option value="Tamilnadu">Tamilnadu</option>
                              <option value="Goa">Goa</option>
                              <option value="Maharastra">Maharastra</option>
                              <option value="Gujarat">Gujarat</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12">
                        <a routerLink="{{ appRoute.customers.CUSTOMERS_LIST}}"
                           class="btn btn-secondary btn-sm fs-6 text-dark" style="width: 200px; margin-right: 20px;">
                           Cancel
                        </a>
                        <button type="submit" class="btn btn-primary btn-sm fs-6" style="width: 200px">
                           Update
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>