$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.1);
$inactiveState: #ce1626;
$activeState: #00bdab;
$primaryBackground: #20BDAB40;
$activeBackground: #00bdab20;
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

.orderStatus {
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 0.625rem;
  padding: 5px 10px;
}

.placed {
  background: #2f6fe580;
  color: #ffffff !important;
}

.accepted {
  background: #2fe59080;
}

.delivered {
  background: #662fe580;
  color: #ffffff !important;
}

.cancelled {
  background: #e52f2f80;
  color: #ffffff !important;
}

.refunded {
  background: #e52f8480;
  color: #ffffff !important;
}

.packed {
  background: #2fd3e580;
}

.shipped {
  background: #5177c880;
  color: #ffffff !important;
}

.paymentStatus {
  font-weight: 600;
  border-radius: 0.625rem;
  padding: 5px 10px;
}

.paid {
  background: #28C76F;
  color: white;
}

.unpaid {
  background: #e52f2f;
  color: #ffffff !important;
}

.CustomTooltip {
  position: relative;
  cursor: pointer;

  .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    top: -35px;
    left: 0;
    z-index: 1;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}

.table thead {
  background: #00BDAB;
}

.table thead th {
  color: white;
  font-weight: 700;
  padding: 16px;
}

a.btn.btn-primary.fw-bolder.font-size-sm.mr-3 {
  border: 1px solid #00bdab !important;
  color: #00bdab;
  background: white;
}

tr.text-left.fs-6.text-gray-400 {
  border-bottom: 1px solid #E8E8E8;
}

table.table td {
  padding: 16px 20px;
}

table.table tr {
  border-bottom: 1px solid #E8E8E8;
}

.statistics-widget-3-chart.card-rounded-bottom {
  height: 100%;
}

.paid {
  // background: $activeState;
  padding: 0 5px;
  border-radius: 4px;
  color: $white;
  font-size: 13px !important;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.unpaid {
    background: $inactiveState;
    color: $white;
  }
}


.view_allOrders {
  display: flex;
  justify-content: end;
  padding: 20px 25px 20px 0;

  a {
    border-radius: 4px;
    border: 1px solid #00BDAB;
    max-width: 150px;
    width: 100%;
    height: 37px;
    color: #00BDAB;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
  }
}