<div class="card card-custom" [ngClass]="cssClass">
  <div class="card-body pt-5 pb-3">
    <div class="tab-content">
      <div class="table-responsive">
        <table class="table table-head-custom table-vertical-center table-head-bg table-borderless"
          *ngIf="orders.length > 0">
          <thead class="common_thead">
            <tr class="text-left fs-6 text-gray-400">
              <th style="min-width: 120px">si No.</th>
              <th style="min-width: 120px">Order</th>
              <th style="min-width: 100px">Date</th>
              <th style="min-width: 100px">Customer</th>
              <th style="min-width: 100px">Total</th>
              <th style="min-width: 100px">Source</th>
              <th style="min-width: 100px">Payment method</th>
              <th style="min-width: 100px">Payment status</th>
              <th style="min-width: 100px">Action</th>
            </tr>
          </thead>
          <tbody class="fs-6">
            <ng-container *ngFor="let order of orders">
              <tr>
                <td>1</td>
                <td>{{order?.orderNo}}</td>
                <td>{{order?.orderDate}}</td>
                <td>{{order?.customerId?.name}}</td>
                <td>{{order?.total}}</td>
                <td>{{order?.source}}</td>
                <td>{{order?.paymentMethod}}</td>
                <td>
                  <span class="paid fs-6" [ngClass]="{'unpaid': order?.paymentStatus == 'UNPAID'}">
                    {{order?.paymentStatus == 'PAID' ? 'Paid' : 'Pending'}}
                  </span>
                </td>
                <td routerLink="{{appRoutes.orders.UPDATE_ORDER_LIST}}" [queryParams]="{'order': order?.refid}"> <img
                    src="../../../../../../../assets/icons/Edit2.svg" alt="Icon"></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <ng-container *ngIf="orders.length == 0">
          No new orders
        </ng-container>
      </div>
    </div>
  </div>
</div>