.orderStatus {
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  width: 100%;
  display: flex;
}

.placed {
  background: #2f6fe580;
  color: #ffffff !important;
}

.accepted {
  background: #2fe59080;
}

.delivered {
  background: #662fe580;
  color: #ffffff !important;
}

.cancelled {
  background: #e52f2f80;
  color: #ffffff !important;
}

.refunded {
  background: #e52f8480;
  color: #ffffff !important;
}

.packed {
  background: #2fd3e580;
}

.shipped {
  background: #5177c880;
  color: #ffffff !important;
}

.paymentStatus {
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  width: 100%;
  display: flex;
}

.paid {
  background: #2fe55c80;
}

.unpaid {
  background: #e52f2f80;
  color: #ffffff !important;
}



.CustomTooltip {
  position: relative;
  cursor: pointer;

  .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    top: -35px;
    left: 0;
    z-index: 1;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}