.orderStatus {
  font-weight: 600;
  padding: .625rem 1.25rem;
  border-radius: .625rem;
}

.placed {
  background: #2f6fe580;
}

.accepted {
  background: #2fe59080;
}

.delivered {
  background: #662fe580;
}

.cancelled{
  background: #e52f2f80;
}

.refunded{
  background: #e52f8480;
}

.packed{
  background: #2fd3e580;
}

.shipped{
  background: #5177c880;
}
