<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title fw-bold fs-2">Add Banners</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.banner.BANNER_LIST}}">Banners</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.banner.ADD_BANNER }}">Add Banners</a>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <div class="mt-4 card">
      <div class="card-body">
         <form [formGroup]="form">
            <div class="row">
               <div class="col-lg-6 form-group mb-3">
                  <label class="form-label mb-3 required">Title</label>
                  <input type="text" class="form-control fs-6" formControlName="title" placeholder="Eg. Offer banners"
                     [ngClass]="{'is-invalid': (formControls.title.touched || isSubmitted) && formControls.title.errors?.required}" />
               </div>
               <div class="row">
                  <div class="col-lg-6 form-group mb-3">
                     <label class="form-label mb-3">Valid From</label>
                     <input type="date" [min]="startDate" class="form-control fs-6" formControlName="validFrom"
                        [ngClass]="{'is-invalid': (formControls.validFrom.touched || isSubmitted) &&  formControls.validFrom.errors?.required}" />
                  </div>
                  <div class="col-lg-6 form-group mb-3">
                     <label class="form-label mb-3">Valid To</label>
                     <input type="date" [min]="startDate" class="form-control fs-6" formControlName="validTo"
                        [ngClass]="{ 'is-invalid': (formControls.validTo.touched || isSubmitted) && formControls.validTo.errors?.required}" />
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-4 form-group mb-3">
                     <label for="type" class="form-label mb-3 required">Type</label>
                     <select id="type" formControlName="type" class="form-select">
                        <option value="" disabled>-- Select an option --</option>
                        <option *ngFor="let type of ['1', '2', '3', '4']" value={{type}}>{{type}}</option>
                     </select>
                  </div>
                  <div class="col-lg-4 form-group mb-3" *ngIf="form.get('type')?.value == '1'">
                     <label for="slides" class="form-label mb-3">Slides</label>
                     <select id="slides" formControlName="slides" class="form-select">
                        <option value="" disabled>-- Select an option --</option>
                        <option *ngFor="let type of ['1', '2', '3', '4']" value={{type}}>{{type}}</option>
                     </select>
                  </div>
                  <div class="col-lg-4 form-group mb-3"
                     *ngIf="form.get('type')?.value == '1' && form.get('slides')?.value == '1'">
                     <label class="form-label mb-3">Height constraint?</label>
                     <select class="form-select" formControlName="heightConstraint" (change)="constraintHandler()">
                        <option value="" disabled>-- Select an option --</option>
                        <option value="custom">Custom</option>
                        <option value="slider">Slider</option>
                     </select>
                  </div>
               </div>

               <div class="row">
                  <div class="col-lg-3 mb-3">
                     <div class="h-auto ratio ratio-1x1 w-100" *ngIf="form.get('type')?.value">
                        <app-assets [previewDetails]="preview" [image]="objectFit" (mediaClicked)="mediaHandler($event)"></app-assets>
                     </div>
                  </div>
               </div>

               <ng-container *ngIf="files.length > 0 && form.get('type')?.value == '1'">
                  <div class="my-4">
                     <carousel>
                        <ng-container *ngFor="let file of files; let i = index">
                           <slide>
                              <img class="slide" src="{{base}}{{file?.file?.path}}" alt="Marketing Details">
                           </slide>
                        </ng-container>
                     </carousel>
                  </div>
               </ng-container>

               <ng-container *ngIf="files.length > 0 && form.get('type')?.value == '2'">
                  <div class="my-4">
                     <div class="row twogrids">
                        <ng-container *ngFor="let file of files; let i = index">
                           <div class="col-lg-6 h-100">
                              <img class="w-100" src="{{base}}{{file?.file?.path}}" alt="Marketing Details">
                           </div>
                        </ng-container>
                     </div>
                  </div>
               </ng-container>

               <ng-container *ngIf="files.length > 0 && form.get('type')?.value == '3'">
                  <div class="my-4">
                     <div class="row threegrids">
                        <ng-container *ngFor="let file of files; let i = index">
                           <div class="col-lg-4 h-100">
                              <img class="w-100" src="{{base}}{{file?.file?.path}}" alt="Marketing Details">
                           </div>
                        </ng-container>
                     </div>
                  </div>
               </ng-container>

               <ng-container *ngIf="files.length > 0 && form.get('type')?.value == '4'">
                  <div class="my-4">
                     <div class="row fourgrids">
                        <ng-container *ngFor="let file of files; let i = index">
                           <div class="col-lg-3 h-100">
                              <img class="w-100" src="{{base}}{{file?.file?.path}}" alt="Marketing Details">
                           </div>
                        </ng-container>
                     </div>
                  </div>
               </ng-container>

               <div class="col-lg-4 form-group mb-3">
                  <label class="form-label mb-3">Status</label>
                  <select class="form-select fs-6 mb-3" formControlName="isActive">
                     <option value="" disabled>-- Select an option --</option>
                     <option value="true">Enabled</option>
                     <option value="false">Disabled</option>
                  </select>
               </div>


               <div class="col-12 mb-3">
                  <div class="form-group">
                     <label class="fs-6 required">Banner Type</label>
                     <div class="d-flex align-items-center justify-content-start" style="margin: 20px 0 0 0;">
                        <div class="form-check" style="margin: 0 10px 0 0;">
                           <input class="form-check-input" type="radio" name="type" id="type-1"
                              (click)="getBannerType(1)">
                           <label class="form-check-label fs-6" for="type-2" style="margin: 0;">
                              Full width
                           </label>
                        </div>
                        <div class="form-check" style="margin: 0 10px 0 0;">
                           <input class="form-check-input" type="radio" name="type" id="type-2"
                              (click)="getBannerType(2)">
                           <label class="form-check-label fs-6" for="type-2" style="margin: 0;">
                              Half width
                           </label>
                        </div>
                        <div class="form-check" style="margin: 0 10px 0 0;">
                           <input class="form-check-input" type="radio" name="type" id="type-3"
                              (click)="getBannerType(3)">
                           <label class="form-check-label fs-6" for="type-3" style="margin: 0;">
                              One third width
                           </label>
                        </div>
                        <div class="form-check" style="margin: 0 10px 0 0;">
                           <input class="form-check-input" type="radio" name="type" id="type-4"
                              (click)="getBannerType(4)">
                           <label class="form-check-label fs-6" for="flexRadioDefault2" style="margin: 0;">
                              Quarter width
                           </label>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-6 mb-3" *ngIf="isCarousel">
                  <div class="form-group">
                     <label class="fs-6 mb-3">Type</label>
                     <select class="form-select mb-3 fs-6" [formControl]="count">
                        <option value="" disabled>-- Select an option --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                     </select>
                  </div>
               </div>

               <div class="col-6 mb-3" *ngIf="isCarousel">
                  <div class="form-group">
                     <label class="fs-6 mb-3">Height Constraint</label>
                     <select class="form-select mb-3 fs-6" [formControl]="heightConstraint"
                        (change)="getHeightConstraint()">
                        <option value="" disabled>-- Select an option --</option>
                        <option value="1">Use cropper</option>
                        <option value="2">Upload custom image</option>
                     </select>
                  </div>
               </div>

               <div class="col-12" *ngIf="bannerType">
                  <h3 class="form-title required">Media</h3>
               </div>

               <ng-container *ngIf="files.length > 0">
                  <div class="uploadedBanners">
                     <ng-container *ngFor="let banner of files; let i = index">
                        <div class="bannerCard">
                           <img src="{{banner?.file}}" alt="Banner">
                           <button class="btn btn-secondary" (click)="open(template, banner)">
                              View details
                           </button>
                        </div>
                     </ng-container>
                  </div>
               </ng-container>

               <div class="col-6" *ngIf="isHeightConstraint == '1' && bannerType">
                  <div class="form-group">
                     <div class="image-upload">
                        <input type="file" class="form-control fs-6" name="image" accept="image/*"
                           (change)="handleInputChange($event, 'crop')" required style="height: 100px;">
                        <div class="image-upload-div">
                           <div class="left-img">
                              <img src="assets/media/svg/files/upload.svg" alt="" srcset="">
                           </div>
                           <div class="right-text d-flex flex-column">
                              <span class="right-text-title fs-4 fw-bold">Select Files</span>
                           </div>
                        </div>
                     </div>

                     <ng-container *ngIf="isImage">
                        <div class="preview-section">
                           <div class="crop-image col-6">

                              <image-cropper *ngIf="fullWidth" class="crop-section"
                                 [imageChangedEvent]="imageWebChangedEvent" [maintainAspectRatio]="true"
                                 [aspectRatio]="3 / 1" [cropperMaxWidth]="1370" [cropperMaxHeight]="420" format="png"
                                 (imageCropped)="imageCroppedWeb($event)" (imageLoaded)="imageWebLoaded()"
                                 (cropperReady)="cropperWebReady()" (loadImageFailed)="loadImageWebFailed()">
                              </image-cropper>

                              <image-cropper *ngIf="halfWidth" class="crop-section"
                                 [imageChangedEvent]="imageWebChangedEvent" [maintainAspectRatio]="true"
                                 [aspectRatio]="2 / 1" [cropperMaxWidth]="550" [cropperMaxHeight]="275" format="png"
                                 (imageCropped)="imageCroppedWeb($event)" (imageLoaded)="imageWebLoaded()"
                                 (cropperReady)="cropperWebReady()" (loadImageFailed)="loadImageWebFailed()">
                              </image-cropper>

                              <image-cropper *ngIf="thirdWidth" class="crop-section"
                                 [imageChangedEvent]="imageWebChangedEvent" [maintainAspectRatio]="true"
                                 [aspectRatio]="1.7 / 1" [cropperMaxWidth]="370" [cropperMaxHeight]="210" format="png"
                                 (imageCropped)="imageCroppedWeb($event)" (imageLoaded)="imageWebLoaded()"
                                 (cropperReady)="cropperWebReady()" (loadImageFailed)="loadImageWebFailed()">
                              </image-cropper>

                              <image-cropper *ngIf="quarterWidth" class="crop-section"
                                 [imageChangedEvent]="imageWebChangedEvent" [maintainAspectRatio]="true"
                                 [aspectRatio]="2 / 2" [cropperMaxWidth]="1000" [cropperMaxHeight]="1000" format="png"
                                 (imageCropped)="imageCroppedWeb($event)" (imageLoaded)="imageWebLoaded()"
                                 (cropperReady)="cropperWebReady()" (loadImageFailed)="loadImageWebFailed()">
                              </image-cropper>

                           </div>
                        </div>

                        <div class="col-12">

                           <div class="form-title fs-4">
                              Redirection
                              <span class="fs-7 text-muted">(optional)</span>
                           </div>

                           <div class="form-group mt-4">
                              <label class="fs-6 mb-3">Redirection type?</label>
                              <select class="form-select fs-6" (change)="getRedirectionType($event.target)">
                                 <option value="" selected disabled>-- Select an option --</option>
                                 <option value="category">Products by category</option>
                                 <option value="product">Product details</option>
                                 <option value="external">External</option>
                              </select>
                           </div>

                           <div class="form-group mt-3 col-12" *ngIf="redirectionType == 'product'">
                              <label class="fs-6 mb-2">Products</label>
                              <ng-select [items]="products" bindLabel="name" bindValue="slug" [(ngModel)]="product"
                                 placeholder="-- Select product --" [multiple]=false
                                 [ngModelOptions]="{standalone: true}">
                              </ng-select>
                           </div>

                           <div class="form-group mt-3 col-12" *ngIf="redirectionType == 'category'">
                              <label class="fs-6 mb-2">Catgeory</label>
                              <ng-select [items]="categories" bindLabel="name" bindValue="slug" [(ngModel)]="category"
                                 placeholder="-- Select category --" [multiple]=false
                                 [ngModelOptions]="{standalone: true}">
                              </ng-select>
                           </div>

                           <div class="form-group mt-3 col-12" *ngIf="redirectionType == 'external'">
                              <label class="fs-6 mb-2">External URL</label>
                              <input type="text" class="form-control" [formControl]="external"
                                 placeholder="Enter external url here">
                           </div>
                        </div>

                        <div class="form-group mt-3 col-12">
                           <label class="fs-6 mb-2">Title ( Optional )</label>
                           <input type="text" class="form-control" [formControl]="title"
                              placeholder="Enter banner title here">
                        </div>
                     </ng-container>

                     <div class="uploadBtn d-flex align-items-center justify-content-end" *ngIf="file">
                        <button type="submit" class="btn btn-secondary btn-sm fs-6 mt-5" (click)="addBanner()">
                           Confirm banners
                        </button>
                     </div>

                  </div>
               </div>

               <div class="col-6" *ngIf="isHeightConstraint == '2'">
                  <div class="form-group">
                     <div class="image-upload">
                        <input type="file" class="form-control fs-6" name="image" accept="image/*"
                           (change)="handleInputChange($event, 'custom')" required style="height: 100px;">
                        <div class="image-upload-div">
                           <div class="left-img">
                              <img src="assets/media/svg/files/upload.svg" alt="" srcset="">
                           </div>
                           <div class="right-text d-flex flex-column">
                              <span class="right-text-title fs-4 fw-bold">Select Files</span>
                           </div>
                        </div>
                     </div>

                     <ng-container *ngIf="isImage">
                        <div class="col-12">
                           <div class="form-title fs-4">
                              Redirection
                              <span class="fs-7 text-muted">(optional)</span>
                           </div>
                           <div class="form-group mt-4">
                              <label class="fs-6 mb-3">Redirection type?</label>
                              <select class="form-select fs-6" (change)="getRedirectionType($event.target)">
                                 <option value="" selected disabled>-- Select an option --</option>
                                 <option value="category">Products by category</option>
                                 <option value="product">Product details</option>
                                 <option value="external">External</option>
                              </select>
                           </div>
                           <div class="form-group mt-3 col-12" *ngIf="redirectionType == 'product'">
                              <label class="fs-6 mb-2">Products</label>
                              <ng-select [items]="products" bindLabel="name" bindValue="slug" [(ngModel)]="product"
                                 placeholder="-- Select product --" [multiple]=false
                                 [ngModelOptions]="{standalone: true}">
                              </ng-select>
                           </div>
                           <div class="form-group mt-3 col-12" *ngIf="redirectionType == 'category'">
                              <label class="fs-6 mb-2">Catgeory</label>
                              <ng-select [items]="categories" bindLabel="name" bindValue="slug" [(ngModel)]="category"
                                 placeholder="-- Select category --" [multiple]=false
                                 [ngModelOptions]="{standalone: true}">
                              </ng-select>
                           </div>
                           <div class="form-group mt-3 col-12" *ngIf="redirectionType == 'external'">
                              <label class="fs-6 mb-2">External URL</label>
                              <input type="text" class="form-control" [formControl]="external"
                                 placeholder="Enter external url here">
                           </div>
                        </div>
                     </ng-container>
                     <div class="uploadBtn d-flex align-items-center justify-content-end" *ngIf="file">
                        <button type="submit" class="btn btn-secondary btn-sm fs-6 mt-5" (click)="addBanner()">
                           Confirm banners
                        </button>
                     </div>

                  </div>
               </div>

               <div class="d-flex align-items-center justify-content-end">
                  <a routerLink="{{ appRoute.banner.BANNER_LIST }}" class="me-1 btn btn-secondary">
                     Cancel
                  </a>
                  <button type="submit" class="ms-1 btn btn-primary" (click)="onSubmit()">
                     Add
                  </button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

<ng-template #detailsTemplate>
   <div class="modal-header">
      <h4 class="fs-2 fw-bold pull-left">Banner details</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
         <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form [formGroup]="details">
         <div class="form-group mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Eg. Latest offers" formControlName="title" class="form-control">
         </div>
         <div class="row">
            <div class="col-lg-6 form-group mb-3">
               <label for="title" class="form-label mb-3">Redirection</label>
               <select class="form-select" formControlName="type">
                  <option value="" disabled>-- Select an option --</option>
                  <option *ngFor="let type of ['product', 'category', 'external']" value={{type}}>{{type}}
                  </option>
               </select>
            </div>
            <div class="col-lg-6">
               <div class="form-group mb-3" *ngIf="details.get('type')?.value == 'product'">
                  <label for="products" class="form-label mb-3">Product</label>
                  <select id="products" class="form-select" formControlName="url">
                     <option value="" disabled>-- Select an option --</option>
                     <option *ngFor="let product of products" value={{product?.slug}}>{{product?.name}}</option>
                  </select>
                  <!-- <ng-select [items]="products" bindLabel="name" bindValue="slug" [(ngModel)]="product"
                     placeholder="-- Select product --" [multiple]=false [ngModelOptions]="{standalone: true}">
                  </ng-select> -->
               </div>

               <div class="form-group mb-3" *ngIf="details.get('type')?.value == 'category'">
                  <label for="products" class="form-label mb-3">Category</label>
                  <select id="products" class="form-select" formControlName="url">
                     <option value="" disabled>-- Select an option --</option>
                     <option *ngFor="let category of categories" value={{category?.slug}}>{{category?.name}}</option>
                  </select>
                  <!-- <ng-select [items]="categories" bindLabel="name" bindValue="slug" [(ngModel)]="category"
                     placeholder="-- Select category --" [multiple]=false [ngModelOptions]="{standalone: true}">
                  </ng-select> -->
               </div>

               <div class="form-group mb-3" *ngIf="details.get('type')?.value == 'external'">
                  <label class="fs-6 mb-3">External URL</label>
                  <input type="text" class="form-control" [formControl]="external"
                     placeholder="Enter external url here">
               </div>
            </div>
         </div>
         <div class="d-flex justify-content-end">
            <button class="btn btn-secondary me-1" (click)="decline()">Cancel</button>
            <button class="btn btn-primary ms-1" (click)="confirm()">Continue</button>
         </div>
      </form>
   </div>
</ng-template>

<ng-template #template>
   <div class="modal-header">
      <h4 class="fs-2 fw-bold pull-left">Banner details</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
         <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
   </div>
   <div class="modal-body pt-0">
      <div class="form-title fs-4">
         Redirection
         <span class="fs-7 text-muted">(optional)</span>
      </div>

      <div class="form-group mt-4">
         <label class="fs-6 mb-3">Redirection type?</label>
         <select class="form-select fs-6" (change)="getRedirectionType($event.target)">
            <option value="" selected disabled>-- Select an option --</option>
            <option value="category">Products by category</option>
            <option value="product">Product details</option>
            <option value="external">External</option>
         </select>
      </div>

      <div class="form-group mt-3 col-12" *ngIf="redirectionType == 'product'">
         <label class="fs-6 mb-2">Products</label>
         <ng-select [items]="products" bindLabel="name" bindValue="slug" [(ngModel)]="product"
            placeholder="-- Select product --" [multiple]=false [ngModelOptions]="{standalone: true}">
         </ng-select>
      </div>

      <div class="form-group mt-3 col-12" *ngIf="redirectionType == 'category'">
         <label class="fs-6 mb-2">Catgeory</label>
         <ng-select [items]="categories" bindLabel="name" bindValue="slug" [(ngModel)]="category"
            placeholder="-- Select category --" [multiple]=false [ngModelOptions]="{standalone: true}">
         </ng-select>
      </div>

      <div class="form-group mt-3 col-12" *ngIf="redirectionType == 'external'">
         <label class="fs-6 mb-2">External URL</label>
         <input type="text" class="form-control" [formControl]="external" placeholder="Enter external url here">
      </div>
   </div>

   <div class="form-group mt-3 col-12">
      <label class="fs-6 mb-2">Title ( Optional )</label>
      <input type="text" class="form-control" [formControl]="title" placeholder="Enter banner title here">
   </div>
</ng-template>