<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title fw-bolder fs-2">
               {{ editMode ? "Update Banners" : "Add Banners" }}
            </h3>
            <ul class="breadcrumb fw-bolder">
               <li class="breadcrumb-item fs-5">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item fs-5">
                  <a routerLink="{{ appRoute.banner.BANNER_LIST}}">Banners</a>
               </li>
               <li class="breadcrumb-item active fs-5">
                  <a routerLink="{{ appRoute.banner.ADD_BANNER }}">
                     {{ editMode ? "Update Banners" : "Add Banners"}}
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row mt-10">
      <div class="col-sm-12 fs-5">
         <div class="card">
            <div class="card-body">
               <form [formGroup]="bannerForm" enctype="multipart/form-data">
                  <div class="row">
                     <h2 class="form-title">Banner Details</h2>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title">Title</label>
                           <input type="text" class="form-control fs-5" formControlName="title" [ngClass]="{
                              'is-invalid':
                              (hf.title.touched || isSubmitted) &&
                              hf.title.errors?.required
                            }" />
                        </div>
                     </div>

                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required">Valid From</label>
                           <input type="date" class="form-control fs-5" formControlName="validFrom"
                              [ngClass]="{'is-invalid': (hf.validFrom.touched || isSubmitted) &&  hf.validFrom.errors?.required}" />
                        </div>
                     </div>

                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title required">Valid To</label>
                           <input type="date" class="form-control fs-5" formControlName="validTo"
                              [ngClass]="{ 'is-invalid': (hf.validTo.touched || isSubmitted) && hf.validTo.errors?.required }" />
                        </div>
                     </div>

                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 mb-3 form-title">Active Banner?</label>
                           <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                              formControlName="isActive">
                              <option value="" disabled>-- Select an option --</option>
                              <option value="true">Active</option>
                              <option value="false">Inactive</option>
                           </select>
                        </div>
                     </div>

                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label class="fs-5 form-title">Banner Type</label>
                           <div class="d-flex align-items-center justify-content-start" style="margin: 20px 0 0 0;">
                              <div class="form-check" style="margin: 0 10px 0 0;">
                                 <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" (click)="getBannerType(1)">
                                 <label class="form-check-label" for="flexRadioDefault1" style="margin: 0;">
                                    Full width
                                 </label>
                              </div>
                              <div class="form-check" style="margin: 0 10px 0 0;">
                                 <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" (click)="getBannerType(2)">
                                 <label class="form-check-label" for="flexRadioDefault2" style="margin: 0;">
                                    Half width
                                 </label>
                              </div>
                              <div class="form-check" style="margin: 0 10px 0 0;">
                                 <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" (click)="getBannerType(3)">
                                 <label class="form-check-label" for="flexRadioDefault2" style="margin: 0;">
                                    1/3 grid
                                 </label>
                              </div>
                              <div class="form-check" style="margin: 0 10px 0 0;">
                                 <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" (click)="getBannerType(4)">
                                 <label class="form-check-label" for="flexRadioDefault2" style="margin: 0;">
                                    Quarter grid
                                 </label>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-12">
                        <div class="col-12">
                           <h2 class="form-title required">Media</h2>
                        </div>
                     </div>

                     <div class="bannerUploadImages">
                        <div class="uploadButton">
                           <button type="button" class="btn btn-secondary fs-5 text-dark fw-bolder"
                              data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                              Upload Web Banner
                           </button>
                        </div>
                        <div class="uploadButton">
                           <button type="button" class="btn btn-secondary fs-5 text-dark fw-bolder"
                              data-bs-toggle="modal" data-bs-target="#staticMobileBackdrop">
                              Upload Mobile Banner
                           </button>
                        </div>
                     </div>


                     <div class="draftTitle fs-2 fw-bolder" *ngIf="web_file || mobile_file">
                        Click confirm banners button to upload the banner
                     </div>
                     <div class="draftBanners" *ngIf="web_file || mobile_file">
                        <img class="preview-img" id="previewImage"
                           [src]="web_file ? web_file : '../../../../../assets/media/preview-image.png'">
                        <img class="preview-img" id="previewImage"
                           [src]="mobile_file ? mobile_file : '../../../../../assets/media/preview-image.png'">
                     </div>

                     <!-- <div class="uploadBtn d-flex align-items-center justify-content-end"
                        *ngIf="web_file && mobile_file">
                        <button type="submit" class="fw-bolder btn btn-secondary btn-sm fs-5 mt-10" style="width: 200px"
                           (click)="addBanner()">
                           Confirm Banners
                        </button>
                     </div> -->

                     <div class="col-12 d-flex align-items-center justify-content-end mt-20">
                        <a routerLink="{{ appRoute.banner.BANNER_LIST }}"
                           class=" btn btn-secondary btn-sm fs-5 text-dark fw-bolder"
                           style="width: 200px; margin-right: 20px;">
                           Cancel
                        </a>
                        <button type="submit" class="btn btn-primary btn-sm fs-5" style="width: 200px"
                           (click)="onSubmit()">
                           Add
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Upload Web Banner</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="web-banner-title col-12">
               <div class="form-group">
                  <div class="image-upload">
                     <input type="file" class="form-control fs-5" name="image" accept="image/*"
                        (change)="handleInputChange($event, 'web')" required>
                     <div class="image-upload-div">
                        <div class="left-img">
                           <img src="../../../../../assets/media/svg/files/upload.svg" alt="" srcset="">
                        </div>
                        <div class="right-text d-flex flex-column">
                           <span class="right-text-title fs-4 fw-bolder">Select Files</span>
                        </div>
                     </div>
                  </div>
               </div>
               <ng-container *ngIf="webLoadImage">
                  <div class="col-12 preview-section">
                     <div class="crop-image col-sm-6">
                        <image-cropper *ngIf="!isGrid" class="crop-section" [imageChangedEvent]="imageWebChangedEvent"
                           [maintainAspectRatio]="true" [aspectRatio]="2 / 1" [cropperMaxWidth]="4000"
                           [cropperMaxHeight]="2000" format="png" (imageCropped)="imageCroppedWeb($event)"
                           (imageLoaded)="imageWebLoaded()" (cropperReady)="cropperWebReady()"
                           (loadImageFailed)="loadImageWebFailed()">
                        </image-cropper>

                        <image-cropper *ngIf="isGrid" class="crop-section" [imageChangedEvent]="imageWebChangedEvent"
                           [maintainAspectRatio]="true" [aspectRatio]="2 / 2" [cropperMaxWidth]="4000"
                           [cropperMaxHeight]="4000" format="png" (imageCropped)="imageCroppedWeb($event)"
                           (imageLoaded)="imageWebLoaded()" (cropperReady)="cropperWebReady()"
                           (loadImageFailed)="loadImageWebFailed()">
                        </image-cropper>
                     </div>
                  </div>
               </ng-container>
            </div>

            <div class="dividerNote">Or</div>
            <div class="previousBannersContainer">
               <div class="previousBanners">
                  <ng-container *ngFor="let banner of previousBanners">
                     <div class="previousBannerCard">
                        <img src="{{banner}}" alt="Banner">
                     </div>
                  </ng-container>
                  <ng-container *ngIf="previousBanners.length == 0">
                     <h5 class="fs-2 fw-bolder d-flex align-items-center justify-content-center">No banners found</h5>
                  </ng-container>
               </div>
            </div>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary fw-bolder" data-bs-dismiss="modal">Continue</button>
         </div>
      </div>
   </div>
</div>


<div class="modal fade" id="staticMobileBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Upload Mobile Banner</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="mobile-banner-title">
               <div class="form-group">
                  <div class="image-upload">
                     <input type="file" class="form-control fs-5" name="image" accept="image/*"
                        (change)="handleInputChange($event, 'mobile')" required>
                     <div class="image-upload-div">
                        <div class="left-img">
                           <img src="../../../../../assets/media/svg/files/upload.svg" alt="" srcset="">
                        </div>
                        <div class="right-text d-flex flex-column">
                           <span class="right-text-title fs-4 fw-bolder">Select Files</span>
                        </div>
                     </div>
                  </div>
               </div>
               <ng-container *ngIf="mobileLoadImage">
                  <div class="col-12 preview-section">
                     <div class="crop-image col-sm-6">
                        <image-cropper *ngIf="!isGrid" class="crop-section"
                           [imageChangedEvent]="imageMobileChangedEvent " [maintainAspectRatio]="true"
                           [aspectRatio]="6 / 3" [cropperMaxWidth]="600" [cropperMaxHeight]="300" format="png"
                           (imageCropped)="imageCroppedMobile($event)" (imageLoaded)="imageMobileLoaded()"
                           (cropperReady)="cropperMobileReady()" (loadImageFailed)="loadImageMobileFailed()">
                        </image-cropper>

                        <image-cropper *ngIf="isGrid" class="crop-section"
                           [imageChangedEvent]="imageMobileChangedEvent " [maintainAspectRatio]="true"
                           [aspectRatio]="6 / 6" [cropperMaxWidth]="1000" [cropperMaxHeight]="1000" format="png"
                           (imageCropped)="imageCroppedMobile($event)" (imageLoaded)="imageMobileLoaded()"
                           (cropperReady)="cropperMobileReady()" (loadImageFailed)="loadImageMobileFailed()">
                        </image-cropper>
                     </div>
                  </div>
               </ng-container>
            </div>
            <div class="dividerNote">Or</div>
            <div class="previousBannersContainer">
               <div class="previousBanners">
                  <ng-container *ngFor="let banner of previousBanners">
                     <div class="previousBannerCard">
                        <img src="{{banner}}" alt="Banner">
                     </div>
                  </ng-container>
                  <ng-container *ngIf="previousBanners.length == 0">
                     <h5 class="fs-2 fw-bolder d-flex align-items-center justify-content-center">No banners found</h5>
                  </ng-container>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary fw-bolder" data-bs-dismiss="modal">Continue</button>
         </div>
      </div>
   </div>
</div>