<div class="collection-page-container">
   <div class="page-header">
      <div class="page-title">
         <h1 class="fw-bolder">Collections</h1>
      </div>
      <div class="row">
         <div class="col d-flex  align-items-start justify-content-between">
            <ul class="breadcrumb">
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.DASHBOARD }}">Dashboard</a>
               </li>
               <li class="breadcrumb-item fs-6">
                  <a routerLink="{{ appRoute.collection.COLLECTION_LIST }}">Collections</a>
               </li>
               <li class="breadcrumb-item active fs-6">
                  <a routerLink="{{ appRoute.collection.ARCHIVED_COLLECTION }}">Archived Collections</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="collection-form-container">
      <form [formGroup]="collectionform">
         <div class="col-12 row align-items-end justify-content-end">
            <div class="search-input col-sm-4" style="padding: 0;">
               <input type="text" placeholder="Search for collections here..." class="form-control fs-6"
                  formControlName="name" (ngModelChange)="searchCollection()">
            </div>
            <div class="search-submit col-sm-2">
               <button type="button" class="form-control fs-6 bg-secondary text-dark" (click)="onReload()"
                  style="outline: none; border: none;">Clear</button>
            </div>
         </div>
      </form>
   </div>
   <div class="col-12 d-flex justify-content-between">
      <div class="total-count-container col-sm-3 bg-dark">
         <h4 class="text-white">Total {{totalcount ? totalcount : 0}} collections</h4>
      </div>
   </div>
   <div class="collection-card-container view-container">
      <ng-container *ngFor="let collection of collections">
         <div class="collection-card card-hover">
            <div class="collection-details">
               <div class="collection-image">
                  <img src='{{base}}/{{collection?.file}}' alt="collection image" srcset="" />
               </div>
               <div class="flex-1">
                  <div class="collection-name fs-4">{{collection?.name}}</div>
                  <div class="collection-subname fs-6">{{collection?.subname}}</div>
                  <div class="collection-featured-{{collection?.isFeatured}}">
                     <ng-container *ngIf="collection?.isFeatured == true">Featured</ng-container>
                     <ng-container *ngIf="collection?.isFeatured == false">Not Featured</ng-container>
                  </div>
                  <div class="card-edit-btn">
                     <button routerLink="{{ appRoute.collection.UPDATE_COLLECTION }}"
                        [queryParams]="{ collection: collection?.slug }" class="fs-6 cursor-pointer text-darker">
                        Edit
                     </button>
                  </div>
               </div>
            </div>
            <div class="flex-21">
               <div class="collection-status-{{collection?.isActive}}">
                  <ng-container *ngIf="collection?.isActive == true">Active</ng-container>
                  <ng-container *ngIf="collection?.isActive == false">Inactive</ng-container>
               </div>
            </div>
         </div>
      </ng-container>
      <ng-container *ngIf="count == 0">
         <div class="no-data-container">
            <div class="no-data-image"><img src="../../../../../assets/media/searching.svg" alt="" srcset=""></div>
            <h2 class="fw-bolder">Sorry, we haven't found any data</h2>
         </div>
      </ng-container>
   </div>
   <!-- Pagination start -->
   <nav aria-label="Page navigation example" *ngIf="count != 0">
      <ul class="pagination-container">
         <div class="page-change-icon" *ngIf="selectedpage != 1 &&  selectedpage > 0">
            <a class="page-link" (click)="loadPrevious()" aria-label="Previous">
               <i class="bi bi-arrow-left-circle"></i>
            </a>
         </div>
         <div class="page-change-icon" *ngIf="selectedpage == 1">
            <a class="page-link page-link-disabled" aria-label="Previous">
               <i class="bi bi-arrow-left-circle"></i>
            </a>
         </div>
         <li class="page-item" *ngFor="let key of pages">
            <a *ngIf="selectedpage != key" class="page-link" (click)="fetchCollection(key, limit)">{{key}}</a>
            <a *ngIf="selectedpage == key" class="page-link page-active"
               (click)="fetchCollection(key, limit)">{{key}}</a>
         </li>
         <div class="page-change-icon" *ngIf="selectedpage != totaldata">
            <a class="page-link" (click)="loadNext()" aria-label="Next">
               <i class="bi bi-arrow-right-circle"></i>
            </a>
         </div>
         <div class="page-change-icon" *ngIf="selectedpage == totaldata">
            <a class="page-link page-link-disabled" aria-label="Next">
               <i class="bi bi-arrow-right-circle"></i>
            </a>
         </div>
      </ul>
   </nav>
   <!-- Pagination end -->
</div>