@import "../../../../assets/sass/branding";
$hover: #e3e3e3;
$grey: #888888;
$white: #ffffff;
$boxShadow: rgba(0, 0, 0, 0.05);
$inactiveState: #ce1626;
$activeState: $brand-primary;
$primaryBackground: var(--brand-primary-light, #20BDAB)40;
$activeBackground: rgba($brand-primary, 0.125);
$border: #cccccc;
$background: #e5e5e5;
$error: #F1416C;

label,
.btn-primary {
    font-weight: normal !important;
}

.feedWrapper {
    box-shadow: 0 10px 25px $boxShadow;
    background: $white;
    border-radius: 10px;
    min-height: 160px;
    height: max-content;

    .feedUrl {
        cursor: pointer;
    }

    .feedHeader {
        color: $activeState;
    }
}