<div class="design-topbar">
    <div class="w-100 d-flex align-items-center justify-content-between">
        <div class="fs-3 fw-bolder">Design your store</div>
        <div class="d-flex align-items-center justify-content-end">
            <a class="btn btn-secondary me-2 d-flex align-items-center justify-content-center" placement="bottom"
                target="_blank" tooltip="Preview your store in new tab or on your mobile"
                href="https://demo.storedada.com?isPreview=true">
                <div class="me-2">Preview</div>
                <img src="../../../../assets/widgets/assets/preview.svg" alt="Design" class="ms-1">
            </a>
            <button class="btn btn-secondary me-2 d-flex align-items-center justify-content-center" placement="bottom"
                (click)="saveDraft()" tooltip="Save as draft">
                <div class="me-2">Save as draft</div>
                <img src="../../../../assets/widgets/assets/save-dark.svg" alt="Design" class="ms-1">
            </button>
            <button class="btn btn-primary d-flex align-items-center justify-content-center" placement="bottom"
                (click)="publishWidgets()" tooltip="Publish your draft changes to live">
                <div class="me-2">Publish</div>
                <img src="../../../../assets/widgets/assets/publish.svg" alt="Design" class="ms-1">
            </button>
        </div>
    </div>
</div>