.list-view-container {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.clickable-card {
   cursor: pointer;
   width: 18%;
   display: flex;
   align-items: center;
   margin: 10px 4px;
   justify-content: flex-start;
}

.list-card {
   height: 100%;
   width: 100%;
   display: flex;
   padding: 5px;
   border-radius: 5px;
   align-items: center;
   border: 1px solid #f1f1f1;
}

.list-card-name {
   margin: 0 0 0 10px;
}

.card-selected {
   border: 1px solid #00bdab;
   box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.05);
}